[2014-12-31 13:11] anajuaristi commented on #490
This is a discussion point.
In Odoo, you can have users that are not employees and employees that are not users. So using one or another in any model of system is related to after needs.

In our case, we followed the rules of Odoo standar itself where when assigning people to a task, project, crm case... etc the used model is "user" itself and never employee so we considered better doing like that

[2014-12-31 13:11] #490 closed, assigned to nobody

[2014-12-31 13:14] anajuaristi commented on #491
Preventive maintenance in this versions makes nothing.

We took the machine form from old openerp version and migrated master data to odoo, There is still 3-4 more modules on that old version covering full preventive maintenance cycle for machines, but it was not in our project first phase scope migrating them so, we just did not erase those fields but it's true they are just informative, no opera

[2014-12-31 13:15] #491 closed, assigned to nobody

[2014-12-31 13:18] ybofr opened #492 "Product variants"
1. No automatic variants: Should be positive. Automatic variants and then yes, no, based on category value
2. Field required should be after the attribute. Otherwise, it is not understandable.

[2014-12-31 13:26] anajuaristi commented on #492
1. We can't do it like that, since the standar Odoo option is creating all variants. We are avoiding that creation and user must specify "don't create"... It's conceptual. I don't know how to change to better understanding.
2. I don't see the difference having it before or after. It's just the same.

[2014-12-31 13:27] pedrobaeza commented on #490
It's not even a wishlist. It's simply a different approach, but both are incompatible. As Ana said, we have taken the Odoo approach, and this means that maybe you have to create some "fake" users to reflect some workers, but it's a minor problem, because you can control their login status with active field.

[2014-12-31 13:28] pedrobaeza commented on #491
Ana, is there any link to old modules in case anyone is interested in migrating them?

[2014-12-31 13:34] pedrobaeza commented on #492
I agree with Ana in the concept that by default, variants are created, so what you want is to force not to create them. If you make the contrary, someone can think that the added module is the one that creates variants.

The second change can be considered, but it's not very important, because each one has its own "understandable" standards.

[2014-12-31 13:36] anajuaristi commented on #491
Yes of course. They are published in our old launchpad repository on avanzosc branch

If you want to see functionality you can take a look to this small screencast
http://www.openerpsite.com/wp-content/uploads/Preventive_Maintenance.htm

The modules are all published here:
http://bazaar.launchpad.net/~avanzosc/avanzosc/addons-6.1

And I should verify but I think the one related to preventive in mr

[2014-12-31 13:40] pedrobaeza commented on #491
Ah, OK, then you can give new GitHub references:
- https://github.com/avanzosc/odoo-addons/tree/6.1
- https://github.com/avanzosc/odoo-addons/tree/6.1/avanzosc_preventive_mrp

[2014-12-31 13:40] ybofr opened #493 "Bill of material"
1. Field in active should be: inactive (in one word)
2. When pressing this field, a confirmation should appear
3. What is the difference between the field "active" and setting inactive?
4. The sequence number is valid, even if a BOM is historical. This is unclear for the user. If the sequence number should be unique, than it should appear on the header.
5. Manufacturing efficiency should not be on

[2014-12-31 13:41] pedrobaeza commented on #493
Please, when creating issues, refer to installed modules that affects the corresponding issue.

[2014-12-31 13:41] ybofr commented on #488
Machinery manager, Machines, Analysis Information, Additional Details

[2014-12-31 13:43] ybofr commented on #489
Machinery manager
Machines

Analysis Information
Additional Details
Manufacture Details

[2014-12-31 13:43] pedrobaeza commented on #488
I see that it's a selection between Local, National and International, but now I don't know what is the purpose.

@anajuaristi, do you know it?

[2014-12-31 13:47] pedrobaeza commented on #489
Yeah, it can be included.

These are instructions to our developer:
@Daniel-CA, introduce por favor un campo fabricante (manufacturer) en el modelo machinery y ponlo en la ruta que indica este hombre.

Ahora que he visto el modelo, me doy cuenta que has puesto mal el nombre, y debería ser `machinery.machine`, ya que por convención todo debe llevar un mismo padre que indique el área (por eso por ej

[2014-12-31 13:48] ybofr commented on #492
It is always complicated to have something negative to agree upon. DO NOT CREATE: yes. This is complicated for the user. This is all was referring too. Basically, it does not seem to me like a big change, but from the user point of view more understandable.

The point of having the required before or after is that the user defines first the attribute, then he decides to make it mandatory. It's jus

[2014-12-31 13:50] ybofr commented on #493
Hello Pedro,

As I am testing on the machine given to me by Ana and I do not know what is installed, I will not be able to answer this exactly. But I will do my best to be more descriptive and simplify your work.
At the moment, I am working on odoomrp, using the database noviembre2. If this can help.

And I am not a developer... ;-) So nothing technical coming from my side.

[2014-12-31 13:56] ybofr commented on #492
Another proposal: "block automatic variant creation". This way, you still can let the rest as it is.

[2014-12-31 14:01] pedrobaeza commented on #492
About first point, I don't read it like that, because you don't have a dropdown asking you "Yes or no", but a checkbox to mark "Don't create". If you check it, then you are enabling the verb of the checkbox. You have some examples of this use on Odoo standard, with the checkbox "Don't use sale teams" as a per user selection.

About the second one, I have changed it on https://github.com/odoomrp/od

[2014-12-31 14:02] pedrobaeza commented on #492
What about "Don't create variants automatically"?

[2014-12-31 14:03] pedrobaeza commented on #493
Ah, OK, I didn't know about that. By the way, what is your name to refer to you properly?

[2014-12-31 14:08] ybofr opened #494 "QTY to consume: Field is not clear"
Bill of Material/ Create / header

The field QTY to consume is unclear, especially as it is read only field.

[2014-12-31 14:13] ybofr opened #495 "BOM: Inconsistency in the unit of measure"
Bill of Material / Create / Components

When I enter a component, the unit of measure is not changed. In my example, I have a product that is in g and I can save the quantity in units, even, if there is nowhere a definition how to go from unit to g for my specific product.

I believe, it should automatically take the basic unit of measure of the component and always use this throughout the product

[2014-12-31 14:16] ybofr opened #496 "BOM: Manufacturing efficiency"
Bill of Material / Create / Components

There is the possibility to add the efficiency to the component. I do not understand what it is used for.
Is it used to say that I will get back a certain percentage of the component I have been using?

Thank you for your answer. This is not a Bug, but more a problem of understanding from my side.

[2014-12-31 14:19] ybofr commented on #493
Hi Pedro, my name is Eva.

To the point one concerning in Active. I guess, this is just a translation issue. In english, you will probably have "activate" to say that the draft BOM will be active from now on.

[2014-12-31 14:35] ybofr opened #497 "Routings: Creation of a routing"
Create operation: one field is still in Spanish: Número de Persona

[2014-12-31 14:36] pedrobaeza commented on #497
This is fixed here: https://github.com/odoomrp/odoomrp-wip/pull/486

[2014-12-31 14:36] #497 closed, assigned to nobody

[2014-12-31 14:38] pedrobaeza commented on #496
I think the original purpose for this is to express that some raw material is wasted in the manufacturing process, but I'm not sure if this field is being taken into account. @anajuaristi, do you know it?

[2014-12-31 14:42] ybofr opened #498 "Creation of the routing"
Create routing / workcenter operations / Operation
1. In many productions, to maintain information in hours is not realistic as some operations only take 1 or 2 minutes. So many production managers are used to see the information in minutes and not in hours (But in the end, this is an ideological choice)
2. Many people (like me, user lamda) will be confused by the fact that in the detail of the op

[2014-12-31 14:44] ybofr commented on #492
Pedro, in the version I use, there is no checkbox, but a dropdown list. This is probably the reason I did the remark in the first place. With a check box, there is nothing to change. It's perfect.

[2014-12-31 14:45] anajuaristi commented on #488
No. I think it should be something specific coming from fleet manager. Remember that machine form has been inherited from vehicles form so, in a vehicle makes more sense having ambit local/national/international.
Maybe we should erase or make invisible that field. I don't think it makes any sense on manufacturing machines.

[2014-12-31 14:49] anajuaristi commented on #489
@pedrobaeza
Sorry but I think we could make this requirement a little bit more generic.

We have got pending the task of migrating/including product_manufacturer or product_brand (we could reactivate this theme) so, I think it could be used here.
One machine is related to a product and the product will be related to a manufacturer so we can cover both requirements without modifying machine form

[2014-12-31 14:54] anajuaristi commented on #494
Yes.. this field is specific for chemical companies. It shows the sum of components quantities and allows user to know if formula is right or not.
In chemical companies bill of materials is a formula where each component is a % quantity based on 100.

this is you will have 80% water, 10% component A, 10% component B
If you click the check produce by percentaje you will see that standar quantity fi

[2014-12-31 14:54] #494 closed, assigned to nobody

[2014-12-31 14:59] ybofr commented on #488
it's not so relevant. I will close the issue

[2014-12-31 14:59] #488 closed, assigned to nobody

[2014-12-31 15:01] pedrobaeza commented on #489
You're right, but we should completed creating a related field that shows the manufacturer at machine level.

[2014-12-31 15:02] anajuaristi commented on #495
The onchange when selecting template_id on components list is not taking the right unit.
It's working properly when selecting product_id.

It's a bug. Just assigned to be repared.
Thank you for reporting.

[2014-12-31 15:04] ybofr opened #499 "Workcenter: Pre- & Post-operation costs"
I do not understand why Pre Operation Cost and Post Operation Cost is linked to a material. What is the idea behind it?

[2014-12-31 15:07] anajuaristi commented on #493
Yes.. @ybofr (eva) is reporting here several improvements on BOM version module that it's still WIP (as a few other modules)

We included the workflow and needed fields on bom, but... there is a pending task where we will link active field with status field.

By default bom will be created inactive. It will be activated (check active marked) when pushing button activate, and it will be set inactiv

[2014-12-31 15:10] anajuaristi commented on #493
About questions 3 and 5
1. Inactive boms could not be possible to be selected for manufacturing. That is Draft and historical boms will be not allowed to be used on manufacturing
2. Eficiency factor is standar field provided by odoo itself. We did no changes about it.

[2014-12-31 15:13] anajuaristi commented on #496
Yes, it's a field (that we don't usually use) where you can specify more materials to be consumed when you launch the manufacturing order based on this bom.

As we never use, we didn't test (it's an standar field not added in our project) but I feel that setting efficiency less than 1 would plan more materials to be consumed. As I said, not sure about it.

[2014-12-31 15:29] anajuaristi commented on #498
@pedrobaeza
I think points 1 and 2, it's just field format. Could it be easily changed to show hh:mm:ss instead of only hh:mm ?

@ybofr when you say overview screen on 2, What do you mean? what screen? I see number or hours in hh:mm format in form and tree view on routing. I don't see the difference.

About 3. I don't understand very well what you mean, but, there is a field number of hours direct

[2014-12-31 15:34] anajuaristi commented on #492
It can not be a checkbox because we have got 3 options Yes, no and "take from category"

This 3th option makes no possible having a checkbox. The idea is that you could set by default "take form category" so, you don't need to remember on each product if variants should be created automatically or not, just review categories and it will be same choice for all products inside that category.
About

[2014-12-31 15:37] anajuaristi commented on #489
@pedrobaeza +1.
Manufacturer could be shown related to product on machine. Good point.

About product_manufacturer or product_brand modules. Did we decide wich of them will be migrated?

@ybofr do you know any of them from previous version? Do you have any preference about selecting one or the other?

[2014-12-31 15:46] anajuaristi commented on #499
Preoperation and postoperation time are provided from Odoo standar mrp module. Cost/product fields has been added in odoomrp project.

There is 2 ways of controlling that kind of operations
1. Considering them as part of the route, so they will have got by theirselves all functionality related to an operation in an MO (that is, start, stop, take times, put cost... and so on) On this case, for sure

[2014-12-31 16:11] pedrobaeza commented on #496
OK, we can check it later then.

[2014-12-31 16:11] #496 closed, assigned to nobody

[2014-12-31 16:13] pedrobaeza commented on #489
There is a WIP for porting product_manufacturer here: https://github.com/OCA/product-attribute/pull/29. We can go this direction.

[2014-12-31 17:33] pedrobaeza commented on #498
1. You can also put the time in minutes, because the widget allows it. The only consideration you have to take is to type `:` before the minutes, and the conversion will be done. For example, `:187` will be converted to `3:07`.
2. It's true that for the tree, hours appear as float instead of the time visualization, but this is part of standard Odoo. @anajuaristi, please fill an issue and use maint

[2014-12-31 17:35] ybofr commented on #493
Hi Ana,

There is some confusion about the field active and the status (draft, historical). It's probably from Odoo, but it is confusing for the user. But, if you use the activate workflow, it makes it clearer for the user.

Thanks for the answers.

[2014-12-31 17:40] ybofr commented on #498
@pedrobaeza: ok, I guess, this is what I thought. Did I understand it properly, that for the very routing, you can then define the workcenter by pressing "default".

[2014-12-31 17:45] ybofr commented on #499
Hi Ana,

Pre and post time is a standard concept and it's great to have it there.

My question was related to the product that I have to link as cost. In standard manufacturing language, when you speak about cost, you do not speak about a material. So, this is confusing.

If I understand it properly, you want to assign a product in order to make the link in the costing as there is no other way. In

[2014-12-31 17:48] pedrobaeza commented on #492
I have improved the overall labels and defaults on https://github.com/odoomrp/odoomrp-wip/commit/02ae35a4911e412a6d99cafdca45a70cb9b69699:
- At product level, selection values are now: 'Create them automatically', 'Don't create them automatically', 'Use the category value'
- Label for this selection is 'Variant creation'
- Default value for product selection is to use the category value.
- At cate

[2014-12-31 17:48] #492 closed, assigned to nobody

[2014-12-31 17:53] ybofr commented on #492
This is cool. Thank you very much

[2014-12-31 17:53] pedrobaeza commented on #498
Default is used for pre-selecting that workcenter when making a manufacturing order with that route.

[2014-12-31 18:25] ybofr commented on #489
@anajuaristi I do not have the knowledge of it, so unfortunately, I cannot express any opinion. Thanks for asking.

[2015-01-02 22:05] pedrobaeza commented on #397
Esto ya no aplica con la nueva versión del módulo.

[2015-01-03 15:44] anajuaristi commented on #397
¿Hay una nueva versión del repair_analytics?

[2015-01-03 15:52] anajuaristi commented on #184
¿Lo ponemos disponible en entorno demo para testeo funcional?

[2015-01-03 15:59] anajuaristi commented on #499
Hi:
The use of product to costing purposes is also standar behavior from Odoo.
Employée hour/cost is added using a product, also is used on employées expenses and even machine cost itself.
It don't think so, it's necesary adding a new check on product to mark it. We usually configure cost product as not to sale, no to purchase, service, to_order. That's all.
@pedrobaeza opinion?

[2015-01-03 17:18] pedrobaeza commented on #184
Tiene poco que probar, porque son tres campos en la ficha de producto, y luego una tabla de atributos que no tiene mucho sentido y que colisiona con el estándar, así que de momento no se puede instalar.

[2015-01-03 17:20] pedrobaeza commented on #397
Perdona, he mirado mal el título y creía que era del código de las variantes. Reabro...

[2015-01-03 18:37] pedrobaeza commented on #499
I agree to label this as "Costing product", but enable another check more on product is too much for only this use.

[2015-01-04 09:28] ybofr commented on #499
For me it is ok, just changing the on screen description.

Thanks

[2015-01-04 09:41] ybofr opened #500 "Create a routing: Defaults in work center info line are not mutually exclusive"
Manufacturing/routings/create routing/Create operation
If you select default on two different lines, they are not mutually exclusive. An error message just appears telling that a default already have been chosen.

[2015-01-04 09:44] ybofr opened #501 "Work center: unit of measure for the capacity is missing"
Work center / General information

There is no unit of measure for the capacity. So, it is difficult to know, what this field represents. In some example, it is 200....of what? liter, hours, kg?

I believe there should be a unit of measure. It can be at the work center level, after efficiency factor.

Thanks

[2015-01-04 09:58] anajuaristi commented on #501
Final product defines the uom.
Otherwise it would be complicated. On same workcenter you could mix/process units, kg, L depending on product you are producing
Imho uom is not needed on workcenter

[2015-01-04 10:41] ybofr commented on #501
Then there is a conceptional problem with that. What does it mean, when I put in my work center a capacity of 200?

Does it mean that for product 1, it is 200 l and for product 2, 200 kg?

[2015-01-04 11:36] anajuaristi commented on #501
Yes.
Take cost/configuration parameters on workcenter form as a kind of default values that usually should be changed on every route/Bom. We mantained those fields on that point just because standar Odoo included there but capacity and other parameters will depend totally on final product to produce.

Imagine different kind of workcenters
1. Printer: It will print units per hour, depending on what

[2015-01-04 11:59] anajuaristi commented on #425
Hecho. Cierro

[2015-01-04 11:59] #425 closed, assigned to mikelarre

[2015-01-04 12:00] anajuaristi commented on #436
Cierro

[2015-01-04 12:00] #436 closed, assigned to alfredoavanzosc

[2015-01-04 13:05] ybofr commented on #501
Hello Ana,

When someone defines a capacity for a machine, he must know what type of capacity he defines. if you have an amount, then you need a unit of measure. It cannot depend on the final product and be on the work center. The two concepts do not seem to make sense together.

When you give the capacity of a printer, you define the number of pages of a specific format that he can print. So you

[2015-01-04 13:21] ybofr opened #502 "Work center for subcontracting: The field external should be part of it"
Normally, in order to correctly plan my workers, I need to know, if a task will be done internally or externally. This is perfectly represented in the operation, but unfortunately, if the user forgets to select external in the operation, it will be considered as internal.

I suggest that we add a field "external" in the work center that will be copied to the operation, if selected as default in th

[2015-01-04 13:25] ybofr opened #503 "Project is mandatory in the manufacturing order"
Why is project a mandatory field in the manufacturing order?

[2015-01-04 13:29] ybofr opened #504 "Draft and historical BOM can be selected when creating a MO"
Manufacturing/Manufacturing orders/create

I have created 3 BOMs

One is active, the other is draft and the third is historical.

All three appear and can be selected in the MO.

[2015-01-04 13:32] ybofr opened #505 "Manufacturing order: unit of measure for the product"
In order to have no problems with manufacturing orders, the unit of measure of the product should be taken either from the base unit of measure in the material master or from the unit of measure in the BOM.

At the moment, I can choose any unit of measure in the manufacturing order.

[2015-01-04 13:35] ybofr opened #506 "Short dump when confirming a manufacturing order"
Odoo Server Error

[code]

[2015-01-04 13:40] ybofr opened #507 "Capacity warning during creation of a MO, even if the UOM is not yet entered"
Manufacturing/Manufacturing order/ create

I receive a capacity message after I entered the quantity, even without entering the UOM. This does not seem correct.

![manufacturing_orders_-_odoo](https://cloud.githubusercontent.com/assets/7601880/5606129/16833798-9417-11e4-8d2a-942c429d7d06.png)

[2015-01-04 13:55] ybofr opened #508 "Move final product to stock is only on "standard operations""
Manufacturing/Routings/create

When an operation is defined in the configuration, there is a field allowing to define if the operation will put the product into stock.

This is not available in the routing, so that any manually defined operation cannot be "Move Final Product to Stock".

Of course this can be overcome with creating a standard operation called "Move Final Product to Stock" that the

[2015-01-04 14:28] ybofr opened #509 "Manufacturing order: the attribute value cannot be selected"
Hello,

I have a BOM, and a routing and I try to confirm a production. As the material is not mandatory, I have left it blank.
The system ask for a value of the attribute, but I cannot select any

Picture is included
![manufacturing_orders_attribute values](https://cloud.githubusercontent.com/assets/7601880/5606249/e6d1c026-941d-11e4-97ad-881dd765ef52.png)

[2015-01-04 14:40] ybofr opened #510 "Product unit of measure in the BOM"
Products/BOM
It is possible to choose any unit of measure when adding a BOM component. The problem comes when confirming the manufacturing order.

When selecting the component, the system should automatically change the unit of measure to the base unit of measure of the product. This will prevent many mistakes.

![manufacturing_confirm](https://cloud.githubusercontent.com/assets/7601880/5606279/79

[2015-01-04 14:40] anajuaristi opened #511 "Traceback quality test en producción"
Pasos para reproducir el error:
1. Definir un producto de fabricación con un disparador en fabricación y un test asociado
2. Confirmar orden
3. Iniciar y pulsar directamente desde la of "fabricar"
4. Asignar lotes en los componentes que lo requieran y pulsar aceptar en el asistente, produce este traceback

5.ASIGNANDO EL LOTE del producto a producir a mano en el asistente no da error.

El sistema

[2015-01-04 14:41] ybofr opened #512 "Noviembre 2 destroyed somehow"
Hi,

I cannot test on Noviembre2. Whatever I do I receive short dumps. For instance, I wanted to test something in the BOM and here is what I got.

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 538, in di

[2015-01-04 14:51] ybofr opened #513 "Capacity warning should not appear in the MO"
To have the capacity warning when creating the manufacturing order is by far too specific. For instance, in mechanical industry, this would not be well accepted, as you can produce in batches and move the batches one by one into stock until the total MO quantity is reached.

So, what i would prefer is to have a warning as a configuration for the module manufacturing, so that other industries can u

[2015-01-04 14:54] anajuaristi opened #514 "Errores en la creación del test desde producción"
Ejemplo en la inspección Inspection QC-000008
1. El sistema ha creado 27 bloques de inspección, a pesar de que en las muestras para ese test tiene puestas 2 muestras entre las cantidades 1-999. Tendría que haber creado 6 líneas
2. El campo OF de la inspección, aparece vacío a pesar de que se ha creado desde una OF
3. No hay acceso al test desde la OF, tampoco da ningún aviso ni nada de que se haya

[2015-01-04 15:04] anajuaristi commented on #512
Hi. We just updated environment with a lot of merges so, it could be that we introduced new tracebacks  if some dependencies are not correctly set, or maybe you tried before we restart server.
On this case I could not reproduce the error you are reporting so maybe is solved with server restart

[2015-01-04 15:12] ybofr opened #515 "Domain is missing on routing field on MO. It should be limited to the one selected on bom"
In the manufacturing order, there is no possibility to assign a BOM component to a specific operation. This is a big issue if  the material must be prepared just before the operation as it is the case for many companies.

[2015-01-04 15:16] ybofr commented on #512
ok. I will close the issue

[2015-01-04 15:16] #512 closed, assigned to nobody

[2015-01-04 15:20] anajuaristi opened #516 "Incorrect labels: don't create variants, do create and create variants do not create"
i think new labels are incorrectly set on product form
If you select Don't create them automatically, variants are created and if you select create them automatically, variants are not created.

[2015-01-04 15:25] anajuaristi commented on #502
When we defined functional behavior on subcontracting operations, we thought very much about it and even with our customers and decided that the operation on route was the best place to set it.

Functionally you have got external operations in a route and in this case, there is no workcenter/machine to make the operation. Is independant, so we think is better setting in routing. I close the issue.

[2015-01-04 15:25] #502 closed, assigned to nobody

[2015-01-04 15:29] anajuaristi commented on #503
This is mandatory if you have got installed costs modules.
We collect all estimated and real costs in analytics so we need an account to assing to analytic lines.

Idea is that a project can contain several MOs and collect costs of all OFs.
There is no way to make project not mandatory if users wants to collect costs, otherwise if he doesn't want to collect them just don't install costs modules.

[2015-01-04 15:29] #503 closed, assigned to nobody

[2015-01-04 15:31] anajuaristi commented on #504
Yes. As I told you before there is still a task pending about BOM versions.
They will be created in draft (inactive), when user push activate they would be really activated and again inactivated when they are historical
when tasks is done the issue will be solved.
I close duplicated.

[2015-01-04 15:31] #504 closed, assigned to nobody

[2015-01-04 15:33] anajuaristi commented on #505
UOM/UOS on MO are taken from product form when on_change the template and product.
If user changes it manually system does not control it.

This is an standard Odoo behavior (enhancement) that should be reported to Odoo. It's out of our scope.

[2015-01-04 15:33] #505 closed, assigned to nobody

[2015-01-04 15:36] anajuaristi commented on #507
Yes. It's totally correct.

Let's see if you set a workcenter on route with "limits routing capacity" and verify min and max capacity of that workcenter.
System is advising you that your MO qty is not between both ranges but you could launch the order anyway.

[2015-01-04 15:39] anajuaristi commented on #508
You can have a single operation "move final product to stock" for all routings like you say or, if there is different configuration for same operation in different routings, you can create as many final operations like you need.

[2015-01-04 15:44] anajuaristi commented on #509
i reviewed the MO00089 and there were a couple of errors there.
First, there was no selected final product. I selected one
Second, one of the planned materials "water" was liters on bom but kg on planned materials (someone changed it manually) so, i corrected and could confirm the order without specify memory.

[2015-01-04 15:44] #509 closed, assigned to nobody

[2015-01-04 15:45] anajuaristi commented on #510
As I said before. This is a standar behavior on Odoo. It should be reported to be enhanced / controlled on Odoo core. It's not in our scope.
I close duplicated

[2015-01-04 15:45] #510 closed, assigned to nobody

[2015-01-04 15:49] anajuaristi commented on #513
It's configurable. You will not have the warning if you don't set any workcenter as "limits route capacity".
On the other side, it's added by a module that can be avoided / not installed if not needed.

It's usefull on chemical industries where there is mixing recipes limiting full route capacity, setting quantity by cicle.

[2015-01-04 15:49] #513 closed, assigned to nobody

[2015-01-04 15:51] anajuaristi commented on #515
Yes. There is.
When and where did you try?

You can assign on planned materials before confirming one order
You can assign after confirming the order.

[2015-01-04 15:56] ybofr commented on #503
Hi Ana,
I believe, for you as an Odoo expert, the terminology is clear. If someone is not an Odoo expert, he will not understand why he needs a project to have the costs, so I propose to change the term project to "analytic account". This way, everyone will understand it.

[2015-01-04 15:57] anajuaristi commented on #515
Notice that routing must be assigned on BOM, otherwise system would consider standar manufacturing without operations, so, you are right there will be no possible to assign extra materials to one operation, simply because there is no operations on that production.

Try to just use a bom with routing.

[2015-01-04 15:58] ybofr commented on #508
So, what do you do with the number of persons?

[2015-01-04 16:01] anajuaristi commented on #503
It's not the same and we can not use analytic account on this case.

In Odoo When you create a project, automatically is created an analytic account and that's ok.
But, when you create an analytic account could be that there is no project at all and that's also ok.

In production, we are using all human resources and project tasks wizards to allow manufacturing operators to include their expended

[2015-01-04 16:02] ybofr commented on #505
There is still an issue coming from the OpenMRP. In standard Odoo, the product is mandatory, in OpenMRP, the product is NOT mandatory. So, in your case, you can just choose a BOM. And not check will be done vs the unit of measure in the material.

[2015-01-04 16:03] anajuaristi commented on #508
What do you mean? I see no problem on that. Please explain a little bit.

[2015-01-04 16:05] anajuaristi commented on #505
Product should be mandatory to confirm the MO. I think system would not allow you to lauch the order before the product is created on the moment you use the configurator. It's possible to save it but not confirm it i think. It's made like that.

[2015-01-04 16:08] ybofr commented on #510
I just checked in with the master and there seem to be an update bug in your version. In runbot.odoo.com, when I enter the product, then the unit of measure changes in the line. In noviembre2, the unit of measure is not taken from the product. If it is taken from the product, then there is no problem as the user will not manually change it for no reason.

Can you please check it again?

Thanks

[2015-01-04 16:14] anajuaristi commented on #510
In standar there is no template on bom components, just product_id

I think you are reporting same issue we accepted here: https://github.com/odoomrp/odoomrp-wip/issues/495
So, it has been assigned by now to be repared so we will review.

[2015-01-04 16:16] ybofr commented on #515
In this case, there is some confusion on the screen. I am allowed to choose any BOM and any routing, but in the case I choose the routing, the system does not consider it. This is not really understandable by the end user.
If the concept of Odoo is (wrongly imho) to assign a routing to a BOM, than you should not be allowed to do another assignment in the MO

I will test again with assigned routing

[2015-01-04 16:19] ybofr opened #517 "Short dump when duplicating a BOM"
I'm trying to duplicate my poudre of perlimpinpin in Noiembre2.

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 538, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/v8/core/op

[2015-01-04 16:20] anajuaristi commented on #515
Yes. You are right a domain is missign on routing field in MO. It should be limited to selected bom.
Why do you say it's wrong concept assigning a routing to a bom? Could you please explain your point?
Thank you!!

[2015-01-04 16:29] anajuaristi commented on #517
This is caused due to an enhancement on product_default_code module.
The field default_prefix, has been changed by reference_mask so mrp_bom_catch_product_code must be modified in consecuence.

By the moment I will desinstall mrp_bom_catch_product_code from environment in order to avoid the traceback until module it's upgraded adapted to this new change.

[2015-01-04 16:31] anajuaristi commented on #517
@alfredoavanzosc @pedrobaeza
La modificación en product_default_code donde ahora ya no se incluye solo el prefijo para la creación del código de variantes, sino una máscara para el formateo del campo código, impacta en el módulo mrp_bom_catch_product_code, que usaba el campo antiguo para "nombrar" los boms.

Ya direis cómo lo dejamos porque en principio, no podemos asignar la máscara al nombre del

[2015-01-04 16:33] ybofr commented on #515
If you change the sequence of the operations, you will have a new routing, but not nessarily a new BOM.
You also have the case Make or Buy for one operation of your routing. This does not require a change in the BOM.
And also, you may prepare different BOMs for the same routing (this is covered in standard)

[2015-01-04 16:40] anajuaristi commented on #515
Conceptually this would be a huge change.

I see something like you have got BOMs (materials to consume) and routings (operations to do), Mixing both many to many, (One bom several routes or one route several boms) would give you a kind of super-bom-route to be used on manufacturing.

It would be possible thinking about it in a new OdooMRP project phase but, as I said it would be really a big conc

[2015-01-04 16:48] ybofr commented on #515
Yes, this is a huge change. I guess, the fact that you can easily duplicate a BOM in Odoo makes it less of a problem.
In other systems, they define manufacturing versions as an extra object that combines both. This way, you can choose the manufacturing version only and the system will select both routing and BOM.

The other point is that the manufacturing order is too late to assign the BOM compon

[2015-01-04 17:09] anajuaristi commented on #515
Glad to hear you like it. :)
Just an small point. This version of our project now, is OdooMRP.
OpenMRP was our manufacturing improvements for OpenERP 6.1. It was hundreds of code lines inside a single module. You had to select everything or nothing.

On the contrary, OdooMRP is totally modular. Almost any functionality can be installed or not depending on the customer needs so IMHO we did it much

[2015-01-04 17:44] anajuaristi commented on #423
Igualmente, el issue sigue existiendo. Habría que cambiarlo en nuestro módulo purchase_requisition_display_order_line tal y como está ahora no vale para mucho el botón de cambiar la cantidad

[2015-01-04 17:45] anajuaristi commented on #40
Cierro esto, que en la nueva versión de los módulos de calidad ya se puede utilizar el mismo test para diferentes categorías, templates o productos

[2015-01-04 17:45] #40 closed, assigned to alfredoavanzosc

[2015-01-04 17:46] anajuaristi commented on #72
@pedrobaeza ¿Qué haremos con esto abierto desde hace tiempo?

[2015-01-04 17:54] anajuaristi commented on #296
Esto sigue pasando.
Al modificar el prefijo (ahora máscara) del template y grabar sí que modificar el código de los productos afectados pero si modifico un código de atributo, no hace nada

Igualmente, sigue cogiendo un único dígito en el código de atributo y no 2. El entorno ha sido actualizado hoy.

[2015-01-04 18:04] anajuaristi commented on #350
Perfecto
Solo se ve el proyecto en ventas y fabricación.
Al crear una orden contra pedido, arrastra el proyecto desde el pedido a la OF.
Muestra en SO0061, que ha generado OF MO00102
Cierro :+1:

[2015-01-04 18:04] #350 closed, assigned to oihane

[2015-01-04 18:06] anajuaristi commented on #378
@pedrobaeza
Con la nueva versión de calidad este issue ya no aplicaría pero...
¿Como sería ahora para meter un test en una operación de calidad? Veo un disparador al finalizar OF, pero no veo la creación desde una OT o relacionado con una OT.
¿Qué estoy haciendo mal? ¿Qué me falta?

[2015-01-04 18:07] anajuaristi commented on #380
Cierro. Ya no aplica

[2015-01-04 18:07] #380 closed, assigned to pedrobaeza

[2015-01-04 18:08] anajuaristi commented on #381
Cierro también. Ya no aplica. Es un issue referente a la antigua versión

[2015-01-04 18:08] #381 closed, assigned to nobody

[2015-01-04 18:13] anajuaristi commented on #446
Cierro esto. Ya hemos instalado quality control en todos los entornos

[2015-01-04 18:13] #446 closed, assigned to pedrobaeza

[2015-01-04 18:49] pedrobaeza commented on #72
Es una información que yo no la veo tan útil una vez iniciado el inventario. Mientras se está llenando la lista, pues sí, pero luego, no lo quieres para nada.

Además, vas a marcar en rojo algo que luego puede cambiar. Por ejemplo, un código de barras que no tienes puesto en un producto. Lo pones, pero eso seguirá ahí en rojo.

Pero vamos, si quieres hacerlo...

[2015-01-04 18:50] pedrobaeza commented on #517
Hay que resolver la máscara y ponerla al BoM.

[2015-01-04 20:16] pedrobaeza commented on #516
You're right. Corrected in https://github.com/odoomrp/odoomrp-wip/commit/aa469a03fc5e1070a67cfee65e87618d9239c6cd.

[2015-01-04 20:16] #516 closed, assigned to nobody

[2015-01-04 20:18] pedrobaeza commented on #503
Maybe we can name it 'Production project'?

[2015-01-04 20:24] anajuaristi commented on #517
Quizás haya que ir por la calle de en medio y solo actualizar la referencia en el bom si se trata de un bom con producto específico al que se le haya puesto un valor en default code, sin más.

[2015-01-04 20:26] pedrobaeza commented on #501
I think you both are right. It depends on the kind of abstraction you made over workcenters.

If you think on a workcenter like a machine, Eva is right about the constraint on unit. A reference UoM is needed on workcenter, and should be propagated (and can be changed) to any other UoM from the same UoM type.

But if you think on a workcenter like a production area or a group of workers (line 1, pa

[2015-01-04 20:27] pedrobaeza commented on #517
Vale, se puede ver esa alternativa. @alfredoavanzosc, échale por favor un vistazo.

[2015-01-04 20:30] pedrobaeza commented on #507
This depends on the decission on #501, so I leave it open.

[2015-01-04 20:30] pedrobaeza commented on #504
If you close this issue as duplicated, please refer to the original one for reference.

[2015-01-04 20:37] anajuaristi commented on #501
I vote not to make the effort and close directly the issue. IMHO by the moment we have got other things to fix/improve much more important than this one.

[2015-01-04 20:40] anajuaristi commented on #504
Yes. You are right
It's this one assigned to @Daniel-CA https://github.com/odoomrp/odoomrp-wip/issues/493

[2015-01-04 21:25] ybofr commented on #501
My point was, you can have the unit of measure as an information for the work center capacity. A capacity without any UoM does not make a lot of sense and is not usual in the producing environment.

Most people use the capacity to plan the production, so to give them one without the other will probably be a point most people won't understand. I will discus the point with my friend, who is producti

[2015-01-04 21:27] ybofr commented on #510
I will close this issue, as it is related to the 495.

Thanks

[2015-01-04 21:29] ybofr commented on #508
You have a field called "numero de persona" that is defined in the standard operations. I thought this field would be used for planning (I'm not there yet with testing due to short dumps). So, I was wondering, what happens with this field, if you set it to a specific value, but need another value, depending on the product you are producing.

[2015-01-04 21:30] pedrobaeza commented on #501
Great, and you have made a point: or both or none.

[2015-01-04 21:35] anajuaristi commented on #508
It's possible changing the number of people value on routing/workcenter lines, so even if you set a default value in operation it can be modified on route, for each workcenter

[2015-01-04 23:44] ybofr commented on #508
It's ok. I checked it. In this case, it is only training for the user. I think it's a very good solution.

[2015-01-04 23:44] #508 closed, assigned to nobody

[2015-01-05 02:52] pedrobaeza commented on #398
As this is totally changed, this issue doesn't apply now.

[2015-01-05 02:52] #398 closed, assigned to pedrobaeza

[2015-01-05 02:52] pedrobaeza commented on #382
Esto no aplica ya con la nueva refactorización.

[2015-01-05 02:52] #382 closed, assigned to nobody

[2015-01-05 02:57] pedrobaeza commented on #323
Esto ya no aplica. Cierro.

[2015-01-05 02:57] #323 closed, assigned to alfredoavanzosc

[2015-01-05 02:58] pedrobaeza commented on #392
Entiendo que esto tampoco aplica con los últimos cambios de Ainara/Mikel. Si no es así, se vuelve a abrir.

[2015-01-05 02:58] #392 closed, assigned to mikelarre

[2015-01-05 02:59] pedrobaeza commented on #475
Con la nueva máscara esto tampoco aplica. Cierro.

[2015-01-05 02:59] #475 closed, assigned to alfredoavanzosc

[2015-01-05 03:02] pedrobaeza commented on #249
No lo cerremos. Vamos a darle una vuelta a nivel de core, y ponemos un issue con su PR para resolverlo vía warranty, y en OCB también podemos publicarlo.

[2015-01-05 03:37] pedrobaeza commented on #423
@alfredoavanzosc, revísalo por favor de nuevo cambiando ese módulo.

[2015-01-05 03:40] pedrobaeza commented on #499
Renamed in https://github.com/odoomrp/odoomrp-wip/commit/8876d9ba2d3cb653eef34dec09aec3c48748d8d6

[2015-01-05 03:40] #499 closed, assigned to nobody

[2015-01-05 03:41] pedrobaeza commented on #506
@oihane, parece una cuestión de variantes. Podrías revisarlo?

[2015-01-05 03:45] pedrobaeza commented on #511
Corregido en https://github.com/odoomrp/odoomrp-wip/commit/5ff45e5fa5a1d595f492b2f5d5299c24e9d30ea1

[2015-01-05 03:45] #511 closed, assigned to pedrobaeza

[2015-01-05 04:19] pedrobaeza commented on #514
Solucionados en https://github.com/odoomrp/odoomrp-wip/commit/814d6819f27967acbf84d73e10dfcf11771314f7

[2015-01-05 04:19] #514 closed, assigned to nobody

[2015-01-05 04:25] pedrobaeza commented on #500
I don't see that default option that you mention. Where it is?

[2015-01-05 04:28] pedrobaeza commented on #184
Esto habría que implementarlo entonces cambiando el enfoque many2one a many2many para producto > fabricante, y luego incluir ese fabricante en la línea del pedido de compra para validarlo contra las líneas de homologación.

[2015-01-05 04:35] pedrobaeza commented on #378
Esto es algo a implementar, ya que yo no he tocado el módulo _mrp_operation_with_quality_test_. ¿Quién hizo este módulo originalmente? De todas formas, no puede ir a nivel de producto o categoría, ya que si se da en medio de una fabricación, todavía no se puede considerar es producto. Debe configurarse a nivel de ruta.

[2015-01-05 09:24] oihane opened #519 "[QUALITY_MRP] Smartbutton position"
![quality_mo](https://cloud.githubusercontent.com/assets/2323616/5611272/d693dd6e-94c4-11e4-8e92-94b639841145.png)

@pedrobaeza he visto que has hecho alguna modificación con esto, y he observado la vista que adjunto al issue.

[2015-01-05 09:32] pedrobaeza commented on #519
Buenas, aquí tenemos el mismo caso de otros módulos que añaden la caja de smart-button por su cuenta. Habría que crear una vista común que declararan ambos y heredaran de ella. ¿Puedes por favor hacerlo tú?

[2015-01-05 09:41] oihane commented on #506
Pues algo raro hay, ya que se esta creando un ProductTemplate, y eso el de variantes no lo hace, ya que se basa en que existe el Template.
Y no sé como reproducir el error que se reporta aquí.

@ybofr could you please extend the issue? Tell us which product.template were you using, or which MO is the one giving this error. I was not able to replicate the error. Thanks in advance

[2015-01-05 11:14] ybofr commented on #500
I mean the work center info lines.

[2015-01-05 11:23] anajuaristi commented on #500
Yes, on routing lines / workcenters list there is a check default

Usability on this point can be easily improved. This message should be avoided:
"There is another line set as default, disable it first."

On checking one workcenter by default system should make false the others without having to ask to user.

This issue was reported internally a few weeks ago but it has not been repaired by now.

[2015-01-05 11:48] oihane commented on #519
Hecho, cierro

[2015-01-05 11:48] #519 closed, assigned to pedrobaeza

[2015-01-05 11:57] anajuaristi opened #520 "quality control tolerances small improvements"
Buenas, analizando el módulo quality_control_tolerances y comentado con @pedrobaeza en hangouts, hemos pensado hacerle las siguiente mejoras de usabilidad:
1. En el template añadir 2 campos calculados (no editables) que muestren:
   Min_value - tolerance_below Y
   Max_value + tolerance_above
2. En la inspección / Inspection line / valid values, mostraremos únicamente el valor que marca el límite

[2015-01-05 12:33] ybofr commented on #500
So, I close the issue?

[2015-01-05 15:06] oihane commented on #520
Mergeado, cierro

[2015-01-05 15:06] #520 closed, assigned to oihane

[2015-01-06 11:09] yvaucher commented on #431
As even official module `note` is singular, I think technical name for other modules should also be singular.

Technical name should be as short as possible and as said we already have almost all modules in singular so my vote is for `note`.

[2015-01-06 12:44] jgrandguillaume commented on #431
I also join Yannick here to have note as singular, like original module name

[2015-01-06 12:49] pedrobaeza commented on #431
OK, thanks for your comments. I will rename it ASAP.

Taking the occassion that all of you will receive notifications, we are going to start publishing modules to OCA. One question is where to host quality control modules. I don't see any repo that can host them.

[2015-01-06 19:14] bealdav commented on #431
@pedro and all mrp-wip contributors: thanks for this incredible work of spanish community mainly.
But before to send these module in OCA:
If mrp_production_notes must become mrp_production_note, what is your position about other modules in plural form.
In fact I don't understand why some are in plural other in singular: examples
stock_picking_taxes => stock_purchase_unit
stock_move_purchase_price

[2015-01-07 05:26] ybofr opened #525 "BOM: Create BOM Field Product twice in the line"
The field product appears twice in the line.

[2015-01-07 05:28] ybofr opened #526 "BOM: Field consumed should be named "Operation""
The term "consumed" will not be understandable for the user. Please rename the field consumed in the BOM to "operation". This way, the user will know that it is the way to assign a component to an operation.

[2015-01-07 05:41] ybofr opened #527 "BOM: Activation workflow should warn about missing routing"
Due to the fact that the BOM cannot be changed after becoming active, the activation workflow should give a warning when no routing has been assigned. This is due to the fact that the link between BOM and Routing is done in the BOM and that no change is allowed once the BOM has been activated.

The rule of not being allowed to change anything in the BOM after the activation is very strong. I'm not

[2015-01-07 05:44] ybofr opened #528 "BOM: sequence number should be defaulted automatically"
No two sequence numbers can be used in the BOM. As this only has an impact for ensuring the uniqueness of a BOM, it should be defaulted automatically.

[2015-01-07 05:55] ybofr opened #529 "BOM: Duplicate a BOM and delete a routing, operation assignment is not deleted when saving"
I have duplicated a BOM containing a routing and the assignment of the operations to the component. I then deleted the routing. What I was expecting was:
1. A warning telling me that deleting the routing will delete the assignment of the operations
2. The deletion of the operation assignment when I save.

[2015-01-07 06:16] ybofr commented on #515
Ok, I see that the work order is created for each operation / component. I will investigate this further

[2015-01-07 06:27] ybofr opened #530 "Suggestion: automatic creation of project per MO"
It is quite standard in the manufacturing to track costs per manufacturing order. Pulling many manufacturing orders together should be done at the reporting level and not at the cost level. Otherwise, it will not be possible to know what has happened with one manufacturing order, especially variance analysis becomes impossible.

So here are my suggestions:
1. Add a field "can be used for manufactu

[2015-01-07 06:50] ybofr opened #531 "Field product should be automatically filled when a BOM is chosen"
At the moment, it is possible to choose only a BOM causing many problems as the field product can stay empty. As each BOM is related to a product, entering a BOM should automatically fill the field product with the related value. This would prevent the short dump I get when trying to confirm the order without a product.

[2015-01-07 09:00] oihane commented on #525
The point is that there are two fields with the same string. One of them is linked to _product.product_ and the other is linked to _product.template_
As odoo considers _product.template_ to be **product** that field has that name.

P.D: sorry for my English

[2015-01-07 09:18] pedrobaeza commented on #525
@oihane, please rename the product.product one to 'Variant'.

[2015-01-07 10:18] oihane commented on #481
Esta mergeado y listo para review

[2015-01-07 10:48] oihane commented on #317
Esta es la que te acaba de comentar @anajuaristi

[2015-01-07 11:11] #450 closed, assigned to mikelarre

[2015-01-07 11:16] oihane commented on #480
Mergeado, para que lo revise @anajuaristi

[2015-01-07 11:41] pedrobaeza commented on #526
I prefer 'Consumed in' to indicate that the product is consumed in that operation.

[2015-01-07 11:44] oihane commented on #500
No. We will close when it is fixed.

[2015-01-07 12:52] alfredoavanzosc commented on #317
Ya esta el módulo subido y a pasado los controles de "travis", esta pendiente del MERGE. Para que Ana lo pueda probar, se ha subido este módulo al servidor de Avanzosc.

[2015-01-07 12:59] oihane commented on #531
Could you please copy and paste here the dump you are talking about? Thanks in advance

[2015-01-07 13:24] oihane commented on #525
Done

[2015-01-07 13:24] #525 closed, assigned to nobody

[2015-01-07 13:25] oihane commented on #526
Done

[2015-01-07 13:25] #526 closed, assigned to oihane

[2015-01-08 09:03] alfredoavanzosc commented on #397
Hola buenas, tengo hechos todos los puntos que solicita Ana, excepto el primero. ¿Alguien me puede decir  por favor como debo de coger el diario de materiales?, gracias.

[2015-01-08 10:34] alfredoavanzosc commented on #493
Ya he modificado el módulo "mrp_bom_version", ha pasado travis, y hay que hacer el merge.

[2015-01-08 11:06] alfredoavanzosc commented on #517
Realizado, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/541

[2015-01-08 14:05] oihane commented on #500
@pedrobaeza this was going to be fixed in #538 but I think that it still continues as @ybofr said, I'm going to test again and to try to fix it.

[2015-01-08 15:33] oihane commented on #498
I've made some changes according to this

In tree view now you can see `hh:mm` `widget='float_time'` has been put in the view
And related to the issue #500 and as it is also commented here, when yo push "default" in the line it changes the workcenter, if there are more than one it gives a warning, althought it does not erase the selected default, when you save it, internally it fills the workcente

[2015-01-09 08:24] #517 closed, assigned to alfredoavanzosc

[2015-01-09 09:41] sebastienbeau commented on #431
Hi, thanks @pedro for you're great work ! Long live to odoomrp !
I agree that we should get a consistency and only have singular name in the module. It's easier to remember, are you ok to rename all the following modules (stock_picking_taxes, stock_picking_taxes,  sale_order_types, quality_control_samples, crm_claim_links).
Sorry to bother you with such a detail, but we already make the mistake by

[2015-01-09 10:57] alfredoavanzosc commented on #493
El PR se encuentra en https://github.com/odoomrp/odoomrp-wip/pull/536

[2015-01-09 11:26] pedrobaeza commented on #431
Thanks for your thinkings. In some cases, the name it's going to be weird, but I agree that we need consistency. The only one that I'm going to keep is mrp_operations_*, because upstream core is called that way.

[2015-01-09 17:16] anajuaristi opened #545 "CLM0135 Alta de almacén de producción muestra mensaje de error"
Nuevo almacén
Indicar check de producción
Salta warning, segun pantallazo adjunto y no deja grabar el almacén.

![almacen_produccion](https://cloud.githubusercontent.com/assets/2323616/5703171/30b89e8a-9a63-11e4-8dbb-8a815dd98923.png)

---

La tarea sería averiguar porqué salta el error, qué está intentando buscar y ver si es del core de Odoo.
En runbot no se reproduce. Quizás es un error anterior

[2015-01-09 17:17] anajuaristi commented on #545
@pedrobaeza ¿Alguna idea de esto?

[2015-01-09 22:59] pedrobaeza commented on #545
Lo dicho, ¿cuál es el warning o el pantallazo?

[2015-01-09 23:02] gdgellatly commented on #431
Hi,

David asked me to take a look at this thread.  imo Pretty much what Pedro said above.  Leave operations, singularise the rest.  The only consistency you will ever find in Odoo code is inconsistency.

[2015-01-09 23:19] anajuaristi commented on #545
Creo que puede estar adjunto en el claim. He hecho copy paste del texto durante la sesion sin ver el contenido. Te miro luego.

[2015-01-12 10:22] anajuaristi opened #546 "Traceback al abrir combo de regla tarifaria en línea de pedido de venta"
File "/opt/odoo/v8/core/addons/web/controllers/main.py", line 949, in call_kw
    return self._call_kw(model, method, args, kwargs)
  File "/opt/odoo/v8/core/addons/web/controllers/main.py", line 941, in _call_kw
    return getattr(request.registry.get(model), method)(request.cr, request.uid, _args, *_kwargs)
  File "/opt/odoo/v8/core/openerp/api.py", line 237, in wrapper
    return old_api(self,

[2015-01-12 11:16] oihane commented on #546
@pedrobaeza este error me parece que viene del hecho que en el modulo no se hace esto que me comentabas (https://github.com/odoomrp/odoomrp-almetac/pull/202#discussion_r22712923) que por que lo hacia así...

[2015-01-12 11:27] oihane commented on #546
@anajuaristi has comprobado en compras?

[2015-01-12 12:02] anajuaristi opened #548 "Traceback sale_order_taxes entorno demo"
Meter un pedido y al pulsar actualizar impuestos con el módulo sale_order_taxes instalado sale este traceback

Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 538, in dispatch
    result = self._call_function(*_self.params)

[2015-01-12 12:04] anajuaristi opened #549 "Traceback botón recalcular precios"
Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 538, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/v8/core/openerp/http.py", line 294, in _call_function
    return checked_ca

[2015-01-12 13:34] pedrobaeza commented on #549
Solucionado en https://github.com/odoomrp/odoomrp-wip/commit/4debc94e5fe279e1a3b65946015feefab096d300

[2015-01-12 13:34] #549 closed, assigned to oihane

[2015-01-13 10:56] oihane commented on #548
Corregido en #553 y mergeado, cierro issue

[2015-01-13 10:56] #548 closed, assigned to pedrobaeza

[2015-01-13 10:56] #411 closed, assigned to oihane

[2015-01-13 11:29] oihane commented on #546
Mergeado, cierro

[2015-01-13 11:29] #546 closed, assigned to oihane

[2015-01-13 14:20] oihane commented on #528
Done

[2015-01-13 14:20] #528 closed, assigned to nobody

[2015-01-13 14:21] oihane commented on #531
Done

[2015-01-13 14:21] #531 closed, assigned to nobody

[2015-01-13 14:24] alfredoavanzosc commented on #478
Ya esta hecho el merge

[2015-01-13 14:26] alfredoavanzosc commented on #396
Para cubrir este requerimiento se han realizado los módulos "quality_claim_link", "quality_line_claim_link", y "crm_claim_corrective_nc". El PR es el https://github.com/odoomrp/odoomrp-wip/pull/551

[2015-01-13 19:06] anajuaristi opened #560 "Traceback al pulsar botón de crear un test de calidad en operación"
He actualizado el módulo quality_control_mrp_operations en demo pero al pulsar el botón de crear el test manualmente desde una operación, me da este error.
No sé si está la última versión en el servidor porque sé que habeis estado con este módulo pero por si acaso, levanto el bug para que no se olvide.
Si cuando actualiceis se ha solucionado lo cerramos directo

[code]

[2015-01-14 08:27] anajuaristi opened #561 "No permite marcar un almacén para "producir""
En almacenes hay un check comprar y otro producir.
Si se marca producir y se intenta grabar sale el warning y no deja.
Pasa también en el entorno de Dsn

No se puede encontrar ningún proceso productivo genérico.

En cambio en runbot no lo he podido reproducir. Este error se da desde hace tiempo, antes de navidades y creo que ya lo reporté, pero sigue pasando. ¿Podriais mirar por favor qué es lo qu

[2015-01-14 08:29] oihane commented on #561
duplicado en el Issue #545

[2015-01-14 08:30] #561 closed, assigned to oihane

[2015-01-14 08:37] oihane commented on #545
El código que hace que salte este warning es:

[code]

[2015-01-14 09:37] oihane commented on #545
Lo curioso es que busca una ruta con el nombre **traducido** de 'Manufacture' pero resulta que el campo se define así:
`'name': fields.char('Route Name', required=True),`

¿Has probado a crear el almacén poniendo el idioma del usuario en Inglés? Esta parte de código pertenece al modulo **mrp** de Odoo

La ruta se crea con el código:

[code]

[2015-01-14 10:53] alfredoavanzosc commented on #560
Imposible reproducir el error. ¿Me puedes decir por favor en que Bd estás haciendo las pruebas, y que OF es la que te da el problema?. Gracias.

[2015-01-14 11:23] pedrobaeza commented on #493
Done in https://github.com/odoomrp/odoomrp-wip/commit/5f11c8597f36823b9466d38b9f8fb3e4763a1c1c

[2015-01-14 11:23] #493 closed, assigned to alfredoavanzosc

[2015-01-14 11:25] #498 closed, assigned to oihane

[2015-01-14 11:26] oihane commented on #495
There is now a domain in UoM, so that it is only possible to select one depending on product variant or on product, if variant is not set

[2015-01-14 11:26] #495 closed, assigned to oihane

[2015-01-14 11:27] oihane commented on #560
OF no, workorder

[2015-01-14 11:32] #478 closed, assigned to alfredoavanzosc

[2015-01-14 11:34] anajuaristi opened #563 "Faltan On_changes en tarifas"
Buenas...
En compras -->
.- Al cambiar el producto no cambia la regla tarifaria
.- Reglas tarifarias no tienen domain contra tarifa/versión

En ventas y compras -->
.- Al cambiar la regla tarifaria no recalcula el precio

Al crear una nueva regla tarifaria directamente desde dentro de versión, no coge la tarifa y versión por defecto
Al crear una nueva regla desde cualquier sitio, si pones la versi

[2015-01-14 11:38] pedrobaeza commented on #397
El diario de materiales se define en el módulo de estimación de costes, y se puede obtener el id con la referencia al XML-ID.

[2015-01-14 11:40] pedrobaeza commented on #530
@anajuaristi This is exactly what I say about grouping multiple MO in the same project.

[2015-01-14 11:40] #529 closed, assigned to nobody

[2015-01-14 11:51] pedrobaeza commented on #78
Creo recordar que esto ya lo hace de base, y tiene botones para ello.

[2015-01-14 12:14] oihane commented on #563
Pero los dos últimos puntos aunque no lo muestra si que lo guarda correctamente no?
Me suena que no pude hacer que los mostrase pero que si que lo guardaba como debía, por favor compruebalo.

[2015-01-14 12:42] alfredoavanzosc commented on #560
Bueno.... la workorder estará en una OF, no?

[2015-01-14 13:03] anajuaristi opened #565 "Picking taxes BUG"
Al confirmar el pedido de venta, al albarán está arrastrando el precio coste de la línea y no el precio de venta (en ventas)

[2015-01-14 13:04] anajuaristi commented on #565
@pedrobaeza Me dice Gzlo de Dsn que porfa, cuando esto esté arreglado que le avises.

[2015-01-14 13:24] pedrobaeza commented on #565
Cuando esté arreglado el qué?

[2015-01-14 13:37] anajuaristi commented on #560
En cualquier workorder de cualquier OF en demo_noviembre 2 pulsando el
botón test, como ya se dice en la descripción

2015-01-14 13:42 GMT+01:00 alfredoavanzosc notifications@github.com:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone / Tfono oficina:
(+34) 943 02 69 02
Ana Juaristi Olalde http://www.anajuaristi.com/: Personal phone: 677 93
42 59. User/usuario skype: Avanzosc
www.open

[2015-01-14 13:52] anajuaristi commented on #565
El bug:
Al confirmar el pedido de venta, al albarán está arrastrando el precio coste de la línea y no el precio de venta (en ventas)
En LA TABLA DE IMPUESTOS nueva.
Al calcular, está cogiendo como base (en el picking) el precio de coste, de la línea del pedido de venta y no el precio de venta y entiendo que esto es porque el dato se arrastra mal desde el pedido.

[2015-01-14 13:53] anajuaristi commented on #78
No que yo sepa. ¿Donde están los botones? Por si acaso me he colado yo

[2015-01-14 13:54] anajuaristi commented on #545
En inglés va bien, si.
Por esto no podía reproducir el error en runbot.
Esto habría que reportarlo allí también.

[2015-01-14 14:11] anajuaristi commented on #530
@pedrobaeza grouping multiple MO in the same project is allowed now and it will be also allowed on @ybofr aproach so conceptual/functionally nothing changes from now but...
I like second suggestions since it's giving usability to configuration,
1. Make not mandatory project field on MO during MO is draft status.
2. Confirming the order if previously this field is not set, create a project for that

[2015-01-14 14:13] anajuaristi commented on #563
No. No guarda. Porque da un error de estos de integridad al intentar grabar y si le pones al tarifa a mano ya graba bien.

[2015-01-14 15:56] alfredoavanzosc commented on #560
OK. El caso es que Pedro ha modicado el módulo "quality_control_mrp_operations", y se hace referencia a la función "set_test_template" del objeto "qc.inspection", y esta función no existe en ningún módulo. Estoy intentando ponerme en contacto con él, pero no le veo conectado. Mañana intento ponerme en contacto con él, a ver que me cuenta.

[2015-01-14 16:00] anajuaristi commented on #560
Pero para qué necesitas a Pedro aquí?
¿Qué tiene que hacer el botón? Sin más... es un shorcut a tests de calidad. Por tanto, no tiene que hacer nada más que navegar a los tests asociados a esa workorder y listo.

[2015-01-14 16:07] alfredoavanzosc commented on #560
Ana... no me vuelvas loco por favor. En el issue decías "al pulsar el botón de crear el test manualmente desde una operación, me da este error".
He traido la bd demo_noviembre2 a mi local, he hecho la prueba de crear un test pulsando el botón desde la operación, y me da este error:
  File "/home/alfredo/OdooMRPOficina/quality_control_mrp_operations/models/mrp.py", line 140, in create_quality_test

[2015-01-14 16:09] alfredoavanzosc commented on #397
Entendido, entonces al módulo "mrp_repair", le meto la dependencia del módulo de estimación de costes. Gracias.

[2015-01-14 17:17] clonedagain opened #567 "mrp_operations_extensions blocks MO when routing contains no operation"
mrp_operations_extensions adds a new object "operation" but does not make it required on routing lines.
However if I enter a routing where the field "operation" is blank in all lines, I cannot confirm a manufacturing order and I get this message: `At least one operation must have checked "Move produced quantity to stock"field`.

[2015-01-14 17:18] anajuaristi commented on #560
Bueno pues el shorcut a tests de calidad en operaciones en demo_noviembre2 también da traceback.
En cuanto al error, te digo que no necesitas aquí a Pedro para nada. Que simplemente arreglas el módulo y ya está.
Tiene que hacer lo mismo que hacía antes con la versión anterior de calidad. En los mismos puntos y momentos pero utilizando los objetos y variables de la versión nueva.
Te comenté esto el

[2015-01-14 17:33] anajuaristi commented on #560
Esta mañana @oihane ha actualizado la rama wip y ha ejecutado update=all por lo que he vuelto a probar y verifico que se siguen reproduciendo ambos errores:

[code]

Al pulsar el shorcut

[code]

Hay que arreglar los 2

De momento desistalo módulo en el entorno porque creo que dará igualmente cuando en una ruta hay una operación de calidad y haya que crear el test automáticamente al iniciar la ope

[2015-01-14 19:09] ybofr opened #568 "BOM: Bill of material structure is empty"
manufacturing/products/bill of material then menu more Bill of material structure.

The list is empty as in the picture. system Noviembre2, BOM "Poudre de perlimpimpim draft (copy)"

(https://cloud.githubusercontent.com/assets/7601880/5745430/b117814a-9c20-11e4-9c3a-a147706715d0.png)

[2015-01-15 00:07] anajuaristi commented on #397
:+1: Si. Aparte de que los métodos y demás que debería utilizar reparaciones para crear las líneas analíticas, se podrían perfectamente coger de ese módulo... pero...

@pedrobaeza ... me surge una duda. En la reparación como tal no existen costes "estimados" y "reales" con lo cual, el valor del importe... ¿deberia ir tanto a los campos en analítica que reflejan costes estimados, como al que reflej

[2015-01-15 07:31] ybofr commented on #530
Hi Ana,
A company will generally follow one procedure and they should have the possibility to change it. So, it is not an issue, if someone creates automatically a project and decides to use it multiple times. The person will know exactly what she is doing, by using this very automatically created project.

[2015-01-15 07:35] ybofr commented on #501
Hello,

What is the decision on that point?

[2015-01-15 08:18] pedrobaeza commented on #501
Hi, Eva,

Talking with Ana, we can't afford now a change of this size in the project, although it's interesting. Maybe for a second round.

I keep this open for knowing that it's there.

[2015-01-15 08:25] pedrobaeza commented on #397
Creo recordar que en las reparaciones estándar tú das un presupuesto, y luego haces la reparación y pasas factura, con lo que puede haber una diferencia entre lo presupuestado y lo real. Eso se podría reflejar en estimados y reales.

[2015-01-15 08:43] pedrobaeza commented on #530
@anajuaristi, I think this deserves the effort, because it's something that I don't like it from the beginning, but you tell me.

[2015-01-15 08:46] pedrobaeza commented on #568
That it's because product variant it's not informed. Maybe we can add also template to this view.
@oihane, can you check it?

[2015-01-15 08:48] oihane commented on #568
Yes @pedrobaeza is right, thanks for the point @ybofr

[2015-01-15 08:49] pedrobaeza commented on #567
But why are you putting a routing if the routing doesn't contain any operation? I think that doesn't have any sense, don't you think?

[2015-01-15 09:00] pedrobaeza commented on #78
Ana, me refiero que lo de paquetes a mover es del estándar, y debe ir ahí dentro, ya que sólo se pueden mover paquetes (si no se quiere rehacer todo el código), desde un stock.picking. Si quieres hacer esa operación, crea un nuevo albarán, y reempaquetas en el albarán, sin mover ubicaciones. Yo lo veo correcto.

[2015-01-15 09:01] pedrobaeza commented on #545
Mergeado el módulo que lo corrige mientras llega el parche oficial. Ana, ¿lo reportas en Odoo?

[2015-01-15 09:01] #545 closed, assigned to alfredoavanzosc

[2015-01-15 09:05] oihane commented on #545
ya lo ha hecho https://github.com/odoo/odoo/issues/4697

[2015-01-15 09:05] clonedagain commented on #567
I actually recorded a routing with 4 steps, each with a name, workcenter
etc, but the field "operation" is empty as you can see on the screenshot.

[2015-01-15 11:10] alfredoavanzosc commented on #560
Ya están solucionados los 2 errores, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/570

[2015-01-15 11:27] pedrobaeza commented on #560
Mergeado.

[2015-01-15 11:27] #560 closed, assigned to alfredoavanzosc

[2015-01-15 12:31] oihane commented on #568
Done

[2015-01-15 12:31] #568 closed, assigned to nobody

[2015-01-15 12:35] alfredoavanzosc commented on #397
Solicitado el PR https://github.com/odoomrp/odoomrp-wip/pull/572

[2015-01-15 15:22] clonedagain commented on #567
Huh except that the screenshot was not pulled from my email by github. Here it is :
![operation](https://cloud.githubusercontent.com/assets/391953/5760117/bddc9a84-9cd2-11e4-8c01-b7872d2a9e02.png)

[2015-01-15 23:40] #565 closed, assigned to pedrobaeza

[2015-01-15 23:40] pedrobaeza commented on #565
Solucionado

[2015-01-15 23:59] anajuaristi commented on #78
Para mover desde el albarán debes volver a meter todos los productos que ya tienes empaquetados.
Solo es cuestión de cambiar el paquete de ubicación... no tiene más.
Creo que no estoy pillando la forma que dices

Cuando empaquetas ya no hay productos "sueltos" están dentro de paquetes, por lo que lo único que hay que hacer es cambiar la ubicación del paquete, no es necesario montar movimientos de

[2015-01-16 01:28] anajuaristi opened #573 "instalar en entorno currency_date_update"
Se solicita instalar en el entorno demo y pasar el link de donde se encuentra el módulo currency_rate_update de la  comunidad a GZl y Jm
Asigno a Oihane para que reparta a quien corresponda.

CLM0173 instalar módulo currency_rate_update

[2015-01-16 07:50] pedrobaeza commented on #573
Ese módulo está en account-financial-tools.

[2015-01-16 08:52] anajuaristi opened #575 "Conveniencia de instalar stock_cancel y sale_set_to_draft"
Buenas:

@pedrobaeza
Existen estos módulos de comunidad que permiten cancelar albaranes y pedidos de tirón y volver albaranes al estado inicial.
https://www.odoo.com/apps/modules/7.0/stock_cancel/
https://www.odoo.com/apps/modules/7.0/sale_set_to_draft/
¿conveniencia o inconveniencia de "adoptarlos" y traerlos a la 8?
¿Sabes si existe en OCA algo similar para 8?

[2015-01-16 09:10] pedrobaeza commented on #575
stock_cancel está propuesto aquí: https://github.com/OCA/stock-logistics-workflow/pull/46

El otro no.

[2015-01-16 09:25] oihane commented on #573
Modulo ya disponible en entorno de demo, cierro

[2015-01-16 09:25] #573 closed, assigned to oihane

[2015-01-16 11:18] anajuaristi opened #577 "MPS pequeño bug"
Buenas...
Hemos visto que al importar líneas de pedido con el wizard del MTS, trae siempre el cliente.
SOLO debería traer el cliente, en caso de que sea seleccionado en el wizard, en otro caso no.
Ya que si no, se desvirtúa el listado, al diferenciar las cantidades por cliente, cosa que en la mayoría de los casos no es necesario.

Es decir, si yo digo importar desde tal fecha a tal fecha, simpleme

[2015-01-16 11:31] alfredoavanzosc commented on #296
Realizado, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/576

[2015-01-16 11:32] anajuaristi commented on #575
Ponemos pues stock_cancel? Asigno la tarea?

[2015-01-16 11:44] pedrobaeza commented on #575
Primero hay que probarlo y hacer el review para que pase a ser oficial. Asigna esa tarea de revisión.

[2015-01-16 12:23] pedrobaeza commented on #527
@anajuaristi, se ha prohibido modificar las LdMs una vez activadas? Si es así, Eva lleva razón aquí.

[2015-01-16 12:31] mikelarre commented on #479
me he fijado y aunque le de a fabricar sale el botón de consumir (el check de move products to stock esta activo). He mirado las vistas y aunque hay actions diferentes una de ellas no tiene una referencia explicita a la vista de producir. Este puede ser el error que en realidad no esta fabricando. ¿Me lo confirmas?

[2015-01-16 12:51] agaldona commented on #577
Entendido, el lunes me pongo con ello.

[2015-01-16 14:15] anajuaristi commented on #479
Muy probable que sea eso. Ya que si hay 2 vistas y ambos botones llaman a la misma, al aceptar el wizard no estaría ejecutando el action correcto y por tanto cicla.
El aceptar del botón producir debería llamar al mismo action que ejecuta el movimiento de producción y funcionar de la misma manera que en la propia OF como tal.

[2015-01-16 14:27] anajuaristi commented on #527
Yes. This was a requierement aproved for all customers on our funding.
They don't want allowing changes once BOM has been activated. You can always make a copy and  delete the old bom if you don't need it. It's not restricted and system will allow you deleting if it has not been used.
But I see correct having a warning advicing that after activated changes will not be allowed.

[2015-01-16 14:29] pedrobaeza commented on #527
Odoo doesn't allow to warn, but to raise an Exception that avoids to "activate" it.

[2015-01-16 14:32] anajuaristi commented on #527
Ok. I agree with that.

@ybofr question is that if you want to just use your bom in draft status, having the possibility of modifying like you want. There is no problem since you can have "active" button allowed.
If you don't want people use draft boms but only "active" boms, restricting changes once Bom has been aproved, just activate it.
So both aproches are covered.
1. Allow changing during use

[2015-01-16 14:38] anajuaristi commented on #575
¿A qué te refieres? A que se revise el código y se incluya un :+1:  en OCA para que lo mergeeen?
Si es eso, pues asigno a Oihane pero que lo mire también @mikelarre a ver si le ven alguna cosa.
Supongo que les van a pedir el CLA para contribuir? O pueden sin más dar feedback positivo sin CLA? sabes como va?

[2015-01-16 14:41] pedrobaeza commented on #575
Sí, pero que mire que realmente funciona para lo que queremos.

[2015-01-16 14:48] anajuaristi commented on #575
No lo necesitamos para nada en concreto pero es una funcionalidad interesante. Sobre todo si permite poner el movimiento en estado "nuevo", lo cual podrías borrarlo o reiniciar el ciclo. Tampoco lo veo crítico porque se puede vivir sin ello con otros trucos, pero es más limpio poder cancelar y volver a iniciar el workflow en el movimiento y/o Albarán.

[2015-01-16 14:57] pedrobaeza commented on #575
Que alguien lo pruebe entonces y lo tenemos como comodín.

[2015-01-16 17:31] anajuaristi opened #579 "packaging.operation no tiene grupo de permisos"
Este objeto no tiene grupo de permisos por lo que al acceder desde multicompañía o con un usuario no admin da error de acceso
AccessError

Lo siento, no está autorizado para acceder a este documento. Por favor, contacte con el administrador del sistema si piensa que esto es un error.

(Modelo de documento: packaging.operation)

[2015-01-17 23:38] anajuaristi opened #580 "Pequeño bug en CRM. Campos canal, origen y campaña"
Acabo de ver que hay una cosa rara con los campos canal, campaña y origen (básicos por otro lado para poder hacer segmentaciones o sacar informes de los casos de CRM

[code]

Están incluidos por defecto en las agrupaciones de las vistas tree, lo cual es correcto, pero en el tree y form como tal, se ven parte y no se pueden informar en el form porque están invisibles o no están.

Solicito que los 3

[2015-01-18 12:24] pedrobaeza commented on #567
Hi, Lionel,

I have changed in https://github.com/odoomrp/odoomrp-wip/commit/9e5928731ad1f4bafdcbcd63de07a0fce0e89d02 the location for the check "Produce here" from operation to routing workcenter line, so that you don't need anymore to put an operation. I'm going to debate also the convenience of the model "Operation" with Ana afterwards.

Please check and let me know any problem. I close this fo

[2015-01-18 12:24] #567 closed, assigned to nobody

[2015-01-18 15:06] anajuaristi opened #581 "Revisión funcional nueva versión Operations_extension"
1. Limita capacidad de ruta también sólo debería ser permitido en una única operación. Se controla en producir aquí y en las máquinas "por defecto" de la ruta, pero no en este parámetro.
2. Al validar que sólo haya una máquina por defecto en la ruta, no te dice en qué operación está el error. TIenes que ir abriendo una a una para verlo. Quizás si se puede modificar el texto del warning dando más p

[2015-01-18 15:23] anajuaristi opened #582 "Adaptaciones en módulo de costes estimados, según nuevo enfoque de operations_extension"
Lo que marca los parámetros de coste estimado son los datos que hemos puesto en la ruta para esa operación.
Creo que deberían ser visibles, aunque sea "related" en la propia OT (No sé si de deberían permitir cambiar para una OT determinada. En principio, con un related valdría)

Tarea1: Hacer visibles con un related los campos de tiempos/factores de eficiencia... etc que aparecen en la tabla línea

[2015-01-19 08:37] clonedagain commented on #567
Gracias, ahora parece mejor integrado en el estándar.
`operation` quizás sera útil en nuestro proyecto, ya no sé, estoy estudiando diferentes maneras de entrar las datos. Tenemos mucho productos que producimos quasi de la misma manera, ya no estoy seguro si reutilizar la ruta basta, o si necesitamos varios rutas con modelos de operaciones.

[2015-01-19 08:40] pedrobaeza commented on #567
Sí, hablando con Ana, habla de que las operaciones sean una plantilla, y de momento vamos a dejarlo así. Su uso de todas formas es opcional.

[2015-01-19 10:27] oihane commented on #577
Mergeada solución, cierro

[2015-01-19 10:27] #577 closed, assigned to agaldona

[2015-01-19 14:15] oihane commented on #500
Solution has been merged so I close this issue

[2015-01-19 14:15] #500 closed, assigned to oihane

[2015-01-20 10:29] pedrobaeza commented on #575
Ya he mergeado y revisado yo el módulo. Es limpio y da una utilidad interesante. Se puede instalar en los entornos que lo requieran.

[2015-01-20 10:29] #575 closed, assigned to oihane

[2015-01-20 15:09] anajuaristi commented on #319
Retomamos lo del plan, pero rehaciendo parte.Asigno a @agaldona
No sé si deberiamos cerrar este issue que ya no aplica y abrir uno nuevo o nos vale con este mismo
@pedrobaeza

[2015-01-20 15:14] anajuaristi commented on #184
Esto, al final quedó en que cada EAN era un fabricante por lo que no aplicaba many2many.
Creo que product_manufacturer ya ha sido migrado a V8 y está disponible en esta rama
https://github.com/OCA/product-attribute
@oihane en principio, si ponemos disponible el módulo en demo, lo probamos y si va... cerramos issue please.

[2015-01-20 15:17] anajuaristi commented on #263
Esto lo cierro ya que no hay solicitudes adicionales para la pantalla de imputación de tiempos.
En caso de solicitudes adicionales abrimos otro issue.

[2015-01-20 15:17] #263 closed, assigned to alfredoavanzosc

[2015-01-20 15:23] anajuaristi commented on #273
@oihane, esto sigue pasando.
@pedrobaeza ¿Podeis echarle un vistazo a los onchange de template y producto en la OF?

Tiene que ser:
1. En el onchange de template_id --> Si solo hay una LM asociada al template la trae. Si hay más de una, trae la última versión (la que tenga secuencia más alta)
1. En el onchangede product_id --> Si existe LM específica para product_id, se modifica LM, Si no, se deja

[2015-01-20 15:24] oihane commented on #184
Ups, lo he instalado en demo_noviembre2

[2015-01-20 15:28] oihane commented on #273
Creo que esto estaba también arreglándolo en #587

Cual es exactamente el domain, que hay otro issue #515 pero no he sido capaz de entenderlo. He entendido que falta y algunas otras cosas que nos aconseja Eva, pero no he terminado de tener claro el dominio

[2015-01-20 15:31] anajuaristi commented on #317
@alfredoavanzosc :+1:

Una pequeña cosilla --> El campo validity_date del módulo sale_delivery_date se ha traducido como "fecha de caducidad", sería "fecha de validez". Se ve en la cabecera de pedido y da lugar a confusión. Cuando podáis, lo cambiáis en el módulo.

Por lo demás, está correcto por lo que cierro issue.

[2015-01-20 15:31] #317 closed, assigned to alfredoavanzosc

[2015-01-20 15:36] anajuaristi commented on #378
Cierro este issue ya que con la nueva versión ya no aplica

[2015-01-20 15:36] #378 closed, assigned to alfredoavanzosc

[2015-01-20 15:37] anajuaristi commented on #396
Cierro... ya se ha mergeado

[2015-01-20 15:37] #396 closed, assigned to alfredoavanzosc

[2015-01-20 15:39] anajuaristi commented on #397
Merge realizado. Cierro

[2015-01-20 15:39] #397 closed, assigned to alfredoavanzosc

[2015-01-20 15:42] anajuaristi commented on #184
Pues bien... ¿Donde pues si no?

[2015-01-20 15:43] oihane commented on #184
Te la quería solo poner disponible, no instalada, por si acaso

[2015-01-20 15:47] anajuaristi commented on #273
El domain es en el campo ruta de la OF.
Solo puede seleccionarse la ruta que esté asignada en la LM que haya sido seleccionada. O sea, justo la que asigna en el onchange de la LM. Y no se podría/debería cambiar.

[2015-01-20 15:48] anajuaristi commented on #184
Ahhh...no pasa nada.La tenía que instalar yo.
Cierro Issue entonces.

[2015-01-20 15:48] #184 closed, assigned to nobody

[2015-01-20 15:48] oihane commented on #273
Donde era ya sabia :wink:, voy a ello

[2015-01-20 16:04] anajuaristi commented on #429
@oihane ARREGLADO.

Funciona, siempre y cuando uno se instale el módulo ;P

:+1:  Cierro

[2015-01-20 16:09] oihane commented on #429
Esta instalado, `mrp_packaging_project_link`?

Por que estos autoinstall no se instalan al hacer update=all

[2015-01-20 16:12] #429 closed, assigned to anajuaristi

[2015-01-20 16:17] anajuaristi commented on #506
@ybofr We were not able reproducing the error.
Could you please extend a little bit the information about the product/template or MO number where you obtained the error so we could reproduce and fix it?

If we can not reproduce, we can not solve so maybe could be a punctual issue solved by now.

Please, let us know.

Thank you:
Ana

[2015-01-20 16:22] anajuaristi commented on #480
Cierro. Esto ya se arregló

[2015-01-20 16:22] #480 closed, assigned to anajuaristi

[2015-01-20 16:27] anajuaristi opened #588 "Al menos una órden de trabajo debe tener marcada 'Producir aquí' impide fabricar en OF sin proceso"
Este mensaje debe salir sólo en aquellas OFs, que tengan asignado proceso productivo.
En una fabircación donde no hay operaciones, no tiene sentido controlarlo ya que se fabricará en general por el medio estándar.

[2015-01-20 16:34] pedrobaeza commented on #588
Corregido en https://github.com/odoomrp/odoomrp-wip/commit/437435157a7eca8a34bdec4a03807e4708461aa5.

[2015-01-20 16:34] #588 closed, assigned to nobody

[2015-01-20 16:34] anajuaristi commented on #489
Module product_manufacturere has been migrated to V8 inside project  OCA/product-attribute, so I procceed closing the issue.

[2015-01-20 16:34] #489 closed, assigned to nobody

[2015-01-20 16:42] anajuaristi commented on #527
@pedrobaeza

So.. to fix this issue the solution would be:
.- Advice when activating bom: "Bom without routing is going to be activated" Accept  Cancel
.- Advice when historifying bom: "Bom is going to be historyfied" are you sure? Accept Cancel

Both advices will be includen in Bom version module.
Agree?

[2015-01-20 16:46] agaldona commented on #319
PR subido en #589

[2015-01-20 17:11] anajuaristi commented on #527
@alfredoavanzosc

Es necesario hacer los siguientes cambios en el módulo bom_version
1. Al activar un bom desde borrador, si el bom no tiene una ruta asignada se muestra una ventana con el siguiente aviso
   "Va a activar la LdM. Si no ha puesto ruta, no podrá ya ponerla. ¿Está seguro de que desea proceder?"
2. Al historificar un bom desde activo --> Se muestra una ventana con el siguiente aviso:

[2015-01-20 17:15] pedrobaeza commented on #527
Un par de apuntes:
- No sería "reactivar la LdM", ya que se supone que el estado es Activo y es pasar a borrador. Mejor "Permitir volver a editar la LdM".
- Hay que cambiar el nombre del módulo a _mrp_bom_state_, que refleja mejor lo que hace.

[2015-01-20 17:29] anajuaristi commented on #527
Al final queda pues así:
Es necesario hacer los siguientes cambios en el módulo bom_version
1. Al activar un bom desde borrador, si el bom no tiene una ruta asignada se muestra una ventana con el siguiente aviso
   "Va a activar la LdM. Si no ha puesto ruta, no podrá ya ponerla. ¿Está seguro de que desea proceder?"
2. Al historificar un bom desde activo --> Se muestra una ventana con el siguiente

[2015-01-20 17:37] anajuaristi commented on #530
@agaldona

Sobre esto, haremos los siguientes cambios en el módulo mrp_project_link (creo que se llama así, ya me conoces)
1. El campo proyecto, no será obligatorio mientras la OF esté en estado borrador
2. En la confirmación de la OF, si el campo está vacío --> aviso "Para calcular los costes de la orden debe asignar un proyecto. ¿Desea crear uno para esta OF?
Si el usuario pulsa aceptar --> Crea

[2015-01-21 07:37] oihane opened #590 "Error al hacer update=all en varias bases de datos"
[code]

[2015-01-21 07:38] pedrobaeza commented on #590
Éste es el mismo problema que ya salió una vez, ¿no? Tiene que ver con el stock_preparation_filters.

[2015-01-21 07:40] oihane commented on #590
No lo sé, es que estoy actualizando un monton de db y ya van 4 de 5 que dan ese error

[2015-01-21 07:45] oihane commented on #590
Pues eso parece pero es que no lo entiendo:

[code]

Si me lo puedes aclarar, porfa

[2015-01-21 09:07] alfredoavanzosc commented on #423
Como me ha solicitado Ana, el módulo que se ha modificado ha sido el "purchase_requisition_display_order_line", el PR es el https://github.com/odoomrp/odoomrp-wip/pull/591

[2015-01-21 09:30] pedrobaeza opened #593 "Mejoras en el product_pricelist_rules"
- No mostrar el botón de pricelist rules en producto si no se tiene el permiso de "Usar tarifas para adaptar los precios..."
- Poner al usuario admin con ese permiso al instalar el módulo.

[2015-01-21 09:34] pedrobaeza commented on #593
Añado:
- No mostrar campo descuento en la tarifa si tampoco se tiene esa opción marcada.

[2015-01-21 09:37] oihane commented on #593
perdon? campo descuento en la tarifa???

[2015-01-21 09:47] pedrobaeza commented on #593
Claro, hay dos campos descuento en la línea de tarifa que añade precisamente este módulo. Esos campos sólo deben verse si está activada la opción correspondiente de ver descuentos.

[2015-01-21 09:48] oihane commented on #593
pero cual es esa opcion, ya que por ejemplo en compras no hay grupo y siempre se ve

[2015-01-21 09:52] oihane commented on #593
No encuentro el permiso: **Gestionar múltiples precios a través de tarifas**

[2015-01-21 09:57] pedrobaeza commented on #593
Está dentro de Ventas, y me he equivocado el nombre, pero ya lo he renombrado. Lo que tendríamos que activar es a nivel de usuario la opción " Tarifas de venta".

[2015-01-21 09:57] pedrobaeza commented on #593
El de los descuentos se llama "Descuentos en líneas"

[2015-01-21 10:00] oihane commented on #593
"Descuentos en líneas"  = `sale.group_discount_per_so_line`
Hay "Tarifas de venta" y "Tarifas de compra", lo pongo para ambos?

[2015-01-21 10:01] pedrobaeza commented on #593
De acuerdo

[2015-01-21 10:01] pedrobaeza commented on #593
Aunque cada uno en su correspondiente sale_ y purchase_

[2015-01-21 10:02] oihane commented on #593
El grupo de ventas es del modulo product, el otro... no me acuerdo :wink:

[2015-01-21 10:39] oihane commented on #593
Ahm...
- [x]  Usar tarifas para adaptar los precios a cada cliente = Tarifas de venta
- [x]  Gestionar tarifas por proveedor = Tarifas de compra

Lo que no he conseguido es averiguar como hacer que se activen en la configuración, voy a poner que el admin tenga esos grupos

[2015-01-21 10:42] pedrobaeza commented on #593
Eso sería justamente. Puedes ver ejemplos de esos en sale, purchase, etc, que añade automáticamente al admin como responsable.

[2015-01-22 08:27] oihane commented on #593
Esto ya está hecho, lo cierro

[2015-01-22 08:27] #593 closed, assigned to oihane

[2015-01-22 09:35] anajuaristi commented on #273
Functional review :+1:
Cierro. GRACIAS!!!

[2015-01-22 09:35] #273 closed, assigned to anajuaristi

[2015-01-22 09:50] anajuaristi commented on #481
Pequenos bugs en este PR
Al generar la línea de analítica de operador, está calculando correctamente "coste estándar estimado" pero
.- deja a cero el campo cantidad (debería poner la cantidad de operadores)
.- deja a cero el campo "coste standar manual"/stim_standar_cost (debería poner la misma que coste estándar estimado"/stim_avg_cost)

Arregladas esas 2 asignaciones, validación funcional OK :+1

[2015-01-22 10:16] anajuaristi commented on #506
We noticed that a similar error is produced when you try to confirm an order with product_id null, this is, the product to produce has not been assigned.

We have just added a warning to advice of this circunstance. If you can reproduce again, please reopen.
I close the issue.

[2015-01-22 10:16] #506 closed, assigned to anajuaristi

[2015-01-22 10:17] anajuaristi commented on #515
Functional review :+1:
Closing

[2015-01-22 10:17] #515 closed, assigned to anajuaristi

[2015-01-22 10:18] anajuaristi commented on #563
Hau berriro begiratzeko moduan?
Upssss... ( en castellano... ¿Está para mirar otra vez?)

[2015-01-22 10:20] oihane commented on #563
Si
por eso te he puesto 4review :wink:

[2015-01-22 10:27] anajuaristi commented on #563
Nop... no va
Integrity Error

The operation cannot be completed, probably due to the following:
- deletion: you may be trying to delete a record while other records still reference it
- creation/update: a mandatory field is not correctly set

[object with reference: price_version_id - price.version.id]

Si ocultas tarifa y versión de la regla, ya no se puede dar de alta una nueva, si no es desde d

[2015-01-22 10:29] oihane commented on #563
Exactamente desde donde has entrado?

[2015-01-22 16:32] anajuaristi commented on #581
Cierro esto que ya están incluidos los cambios en la última versión del operations extensions.

Se arrastra correctamente ciclos y horas a la ruta, se han visibles varios campos más en la tabla de routing y en el tree de líneas de ruta, por lo que cierro.

[2015-01-22 16:32] #581 closed, assigned to nobody

[2015-01-22 16:33] anajuaristi commented on #563
Era un tema de permisos de usuario. Fallo mío. el último comentario.

Realizado nuevo Review, en principio la última versión mergeada está :+1:
Cierro

[2015-01-22 16:33] #563 closed, assigned to anajuaristi

[2015-01-22 16:36] anajuaristi commented on #527
@ybofr we just published a new version of bom_version, now renamed to bom_state, where we included several of your suggestions.

Now it's posible navigating from active to draft and active again, and it will show a warning when historifying + another when activating bom without routing

So, I close the issue as it's made.

Thank you!!!

[2015-01-22 16:36] #527 closed, assigned to alfredoavanzosc

[2015-01-22 16:38] anajuaristi commented on #507
@pedrobaeza
18 days without comment, I propose closing this one

[2015-01-22 16:42] anajuaristi commented on #527
[DEL mrp_bom_version, NEW mrp_bom_state] #595

[2015-01-22 16:45] anajuaristi commented on #423
Funcionalmente :+1:
Cierro issue

[2015-01-22 16:45] #423 closed, assigned to alfredoavanzosc

[2015-01-22 18:47] santiarg commented on #575
@pedrobaeza @anajuaristi Ya lo he comentado en el pull request pero por si consideráis usar stock_cancel en producción advertiros de que no se debe usar en absoluto ese módulo tal como está en V8.0 porque al no cambiar los quants el stock quedará totalmente descuadrado.

[2015-01-22 21:44] pedrobaeza commented on #507
Yeah, I think so.

[2015-01-22 21:44] #507 closed, assigned to nobody

[2015-01-22 23:02] pedrobaeza commented on #575
Gracias por avisar, Santi. La verdad es que en mi review no me di cuenta de esa parte, que efectivamente supone el gran cambio en el WMS de la v8. Habrá que revisar el módulo y ver si los quants son deshacibles.

[2015-01-23 00:41] pedrobaeza commented on #78
Vale, revisando la funcionalidad, no hay una forma clara como dices de mover un paquete entero de ubicación. Siempre se mueven productos, no paquetes. Si se quiere llevar el paquete entero de sitio, hay que crear un nuevo paquete en destino.

Lo que se podría hacer es desde el propio menú Almacén > Productos > Paquetes, se puede crear un asistente vía menú Más o como botón para mover el paquete se

[2015-01-23 07:33] anajuaristi commented on #78
Si. Dsn. Esta pedido desde el principio del proyecto

[2015-01-23 07:47] alfredoavanzosc commented on #481
Ana... ya están solucionados los 2 BUGs, junto con el nuevo requisito de las OFs, ficticias. El merge esta hecho, se puede cerrar este issue.

[2015-01-23 14:24] anajuaristi commented on #530
Funcionalmente validado :+1:
Cierro

[2015-01-23 14:24] #530 closed, assigned to agaldona

[2015-01-23 14:40] anajuaristi opened #606 "OFs por defecto ACTIVE = TRUE"
Las Ofs simuladas siguen creándose con Active = False, cuando lo normal será que se creen OFs activas.
No sé si es porque no se ha actualizado. Por si acaso lo apunto para que no se olvide.

[2015-01-23 14:50] anajuaristi opened #607 "Costes estimados (Ultimos ajustes)"
Punto1.
En la versión instalada de simulación de costes de Of me falta aún el shorcut a apuntes analíticos desde la OF, pero ya que sigue aún pendiente, habría que adecuar un poquito el árbol de apuntes a la información necesaria de la OF.

De base, el shorcut navegaría a líneas analíticas, que pertenezcan a esa OF.
Y en el tree correspondiente:
1. Quitar campos "facturable" y cuenta financiera --

[2015-01-23 14:55] anajuaristi opened #608 "Creación de cuenta al confirmar OF y también al "calcular datos"?"
@pedrobaeza
@agaldona
@alfredoavanzosc

Según última mejora subida, al confirmar una OF, si no tiene proyecto le creamos uno, pero... ¿Tendriamos que creárselo también al calcular datos?
Anteriormente, sólo se calculaba estructura de costes al confirmar OF, pero ahora con las Ofs simuladas, al calcular datos, calcula también costes... ¿Deberiamos crearle el proyecto también aquí?
Actualmente se ad

[2015-01-23 15:54] anajuaristi commented on #481
Correcto. Se puede cerrar issue. Funcionalmente validado :+1:
Cierro. Gracias

[2015-01-23 15:54] #481 closed, assigned to alfredoavanzosc

[2015-01-23 16:38] pedrobaeza commented on #607
Yo no cambiaría la vista estándar de cuentas analíticas, aunque esa información no valga en ese tema, pero tampoco molesta.

[2015-01-23 16:41] anajuaristi commented on #607
Molesta porque el campo cuenta hace que la línea baje bastante (el texto es largo) y se ve hueco entre líneas. Es por eso.

[2015-01-23 16:43] pedrobaeza commented on #607
No sé si vamos a ganar mucho, pero puestos así, mejor utilizar la vista tree (la de tipo tree, lo del plan de cuentas) para mostrarlo.

[2015-01-23 16:46] anajuaristi commented on #607
No es mala esa... Como la que hemos puesto en los históricos de costes de en líneas de pedido? que se muestre onthefly directamente desde la OF dices?
Estaría chulo eso no?
y la vista normal, la que usamos ahora, sigue estando disponible en apuntes analíticos, sin tocarla.

+1 :)

[2015-01-23 19:54] pedrobaeza commented on #608
Sí, buena cuestión. Entiendo también que habría que crearlo, trasladando el código que hace esa creación desde la confirmación al calcular datos, pero además, habría que añadir que el proyecto se elimine cuando se elimine la OF (sólo si se ha creado, por lo que habría que añadir una marca de algún tipo que indique que el proyecto se ha creado automáticamente).

[2015-01-26 08:31] alfredoavanzosc commented on #606
Ana... el tema lo entendí de la siguiente manera: Las OFs normales, cuando se crean desde la opción de menú, se crean con active=True. Las OFs simuladas, se crean con active=False.
¿Esto así es correcto?. Si esto es correcto, y el viernes no te lo hacía así, entonces entiendo que es porque no tienes la última versión. Un saludo.

[2015-01-26 08:33] agaldona commented on #608
Entiendo que si se crea el proyecto al dar a calcular datos, no tiene sentido que se crea también al confirmar, al final, siempre tendrá un proyecto asignado.

[2015-01-26 08:34] pedrobaeza commented on #608
Sí, eso es. Lee de nuevo mi último comentario que digo exactamente lo que hay que hacer.

[2015-01-26 08:35] anajuaristi commented on #606
Desde cualquier sitio que creas una OF se crea con active false y sería casi mejor que se cree con active true.
No sé si es por una actualización o porque no esté actualizado. Te digo lo que veo ahora.

[2015-01-26 08:38] agaldona commented on #608
Ok, perdona. Y todo esto, ¿en que módulo habría que hacer?

[2015-01-26 08:39] pedrobaeza commented on #608
En el de costes estimados, claro.

[2015-01-26 08:39] alfredoavanzosc commented on #606
ok, entendido entendido, no te refieres a cuando la creas desde formulario, sino cuando haces una create desde programación. Ahora cambio el módulo.

[2015-01-26 14:59] anajuaristi commented on #606
En cualquier punto del sistema default es false. Debería ser true siempre. Tendría que ser false únicamente si se lanza desde el nuevo menú. En otro caso, siempre true.

[2015-01-26 22:04] anajuaristi opened #612 "Costes estimados traceback al crear OF desde abastecimiento"
Prueba:
Creardo pedido SO100.
Al no tener jit instalado y ser salida en 2 pasos crea abastecimiento output-cliente, correcto
al ejecutar ese abastecimiento crea otro confirmado stock--output, correcto
al ejectuar este último, intenta crear la OF y entiendo que ejecuta "calcular datos" por lo que se obtiene este error:

---

  File "/opt/odoo/v8/core/openerp/api.py", line 235, in wrapper
    return

[2015-01-26 22:06] pedrobaeza commented on #612
No ejecuta calcular datos, sino en el create, pero esto ya no aplica en la última versión mergeada.

[2015-01-26 22:06] #612 closed, assigned to nobody

[2015-01-27 15:10] anajuaristi opened #614 "mrp_product_variant y "calcular datos": Warning debe definir la cuenta...."
If a Ofs, crear una nueva, seleccionar producto: PruebaVariantName

seleccionar en el configurador 16GB,Blanco, Pequ

Pulsar calcular datos --> Se obtiene warning Debe de definir la cuenta de entrada en el producto "False", o en la categoría del producto
Por tanto, no deja continuar la confirmación de OF ni nada.
Tanto el producto como la plantilla como la categoría tienen puestas las cuentas fina

[2015-01-27 15:32] anajuaristi commented on #614
Analizando un poco más, el problema viene de que el configurador permite que los componentes sean a su vez plantillas, que el usuario puede acabar de definir antes de lanzar la OF.

Al calcular costes cada vez que se recalculan datos, pueden existir líneas sin producto en el grid de productos planificados y por tanto, no puede crear línea de coste en analítica para ellos mostrando el warning

Para

[2015-01-28 04:44] ccarly opened #615 "[V8] mrp_operations_extension, error wizard do_consume_produce"
En la vista "Ordenes de Trabajo",  boton "Producir", da un error de cantidad, al fijarme en el codigo de la accion, veo que la llamada es con caltidad "False" y a la accion en MRP le llega cantidad 0.

Por lo tanto emite una ventana que resa
"¡Aviso!
Por favor introduzca una cantidad adecuada."

mrp_operations_extension/wizard/mrp_product_produce.py

[code]

[2015-01-28 18:54] mcassuto opened #618 "Can not install mrp_production_project_estimated_cost"
Hi Team,

on a fresh DB installed from github repositories (OCB and   odoomrp-wip), I got the following mistake when trying to install the module mrp_production_project_estimated_cost:

<pre>
  raise ValueError('External ID not found in the system: %s' % (xmlid))
ParseError: "External ID not found in the system: mrp.mrp_production_buttons" while parsing
/git/odoomrp-wip/mrp_production_project_esti

[2015-01-28 19:11] pedrobaeza commented on #618
Hi, @mcassuto, thanks for reporting the problem. It's fixed in https://github.com/odoomrp/odoomrp-wip/commit/0e8e0c20432a0b99e0d2ff09a7150569cfb8a6b9

[2015-01-28 19:12] #618 closed, assigned to nobody

[2015-01-28 19:50] pedrobaeza commented on #615
@mikelarre, puedes echarle un vistazo?

[2015-01-29 13:51] mikelarre commented on #615
Ese False es porque la información que necesita esta el data ya que se esta ejecutando desde el wizard. Voy a mirar lo del error

[2015-01-29 14:13] ccarly commented on #615
@mikelarre, si requieres mas información me cuentas, te adelanto que en la vista "Ordenes de Produccion", si permite fabricar parcial o totalmente.

[2015-01-29 15:33] mikelarre commented on #615
Pues estaba equivocado. Cuando se consume si que se coge del data pero al producir hay que pasarle el qty donde está el False. Ya he hecho las pruebas y el PR. Gracias @ccarly !!

[2015-01-29 15:35] pedrobaeza commented on #615
¿Dónde está el PR?

[2015-01-29 15:51] anajuaristi commented on #615
@mikelarre ¿el PR?

[2015-01-29 15:53] anajuaristi commented on #479
@mikelarre este issue puede estar de alguna forma relacionado con el que acabas de comentar?
https://github.com/odoomrp/odoomrp-wip/issues/615#issuecomment-72044699

[2015-01-29 15:58] pedrobaeza commented on #615
Ya lo veo #619. @mikelarre, si cuando haces un PR, en el commit pones el nº de issue con la almohadilla, automáticamente los relaciona y además se cierra el issue en el momento en el que se hace el merge.

[2015-01-29 15:58] mikelarre commented on #615
Perdonad me he despistado ya esta el PR

[2015-01-29 15:58] #615 closed, assigned to mikelarre

[2015-01-31 16:46] ccarly opened #621 "[V8] mrp_operations_extension field limited_production_capacity"
El campo limited_production_capacity no existe para el modelo 'mrp.routing.workcenter' y emite su error

  File "/mrp_operations_extension/models/mrp_bom.py", line 57, in _get_workorder_operations
    if wc.limited_production_capacity and not cycle.is_integer():

En realidad el codigo no dice mucho, pero pensaria que sobra la comparacion a este campo

[code]

Propuesta de codigo

[code]

[2015-01-31 17:19] ccarly opened #622 "[V8] mrp_operations_extension vista mrp_routing_view.xml"
En la vista mrp_routing_workcenter_form_view_inh, esta desabilitado el campo workcenter_id
(mrp_operations_extension/views/mrp_routing_view.xml)

Esto no tiene dificultad alguna cuando se instala el modulo y ya existen las rutas de producción, pero en el momento de crearlas desde cero, al momento de grabarlas siempre protesta por la ruta de producción, pensaría que no debería estar invisible el ca

[2015-01-31 17:54] ccarly opened #623 "[V8] mrp_operations_extension accion action_confirm"
Independientemente que las rutas de producción entran o no una al menos que habilite el 'Producir aqui', la accion no las encuentra, debido a que  la variable workcenter_lines en el modulo mrp.production siempre esta vacia.

mrp_operations_extension/models/mrp_production.py Linea 26

Codigo

[code]

Sin embargo en la ruta si esta la información que se requiere.

Propuesta

[code]

[2015-02-01 16:26] pedrobaeza commented on #621
Buenas, Genaro,

He aportado un parche más elegante al problema en https://github.com/odoomrp/odoomrp-wip/commit/dcb3f1d814f7ee3c4b5fc18f798ffd9fdf581c22.

Un saludo.

[2015-02-01 16:26] #621 closed, assigned to nobody

[2015-02-01 16:35] pedrobaeza commented on #622
Buenas, Genaro, esto se ha hecho así a propósito para que el workcenter se coja de la línea de operación por defecto. Si no se define ninguna línea de operación, no debe funcionar. Aunque el mensaje podría mejorarse, el comportamiento es el adecuado.

[2015-02-01 16:35] #622 closed, assigned to nobody

[2015-02-01 16:39] pedrobaeza commented on #623
Genaro, debes revisar el estado de tus datos, porque el flag se traspasa a las líneas de la orden de producción justo aquí: https://github.com/odoomrp/odoomrp-wip/blob/8.0/mrp_operations_extension/models/mrp_bom.py#L66

Por lo que la condición es correcta. Tal vez estás trabajando con una OP antigua antes de que hiciéramos algunos cambios, y por eso los datos que contiene no son los adecuados. Pul

[2015-02-01 16:39] #623 closed, assigned to nobody

[2015-02-02 08:49] ghost opened #624 "machine_manager Terminología confusa"
La clase MachineModel tiene dos campos: name y model_type, que se etiquetan como 'Name' y 'Type', respectivamente. Pero el campo asociado en la clase Machinery (model_type) también se etiqueta como 'Type' y lo que muestra es el campo name del MachineModel.
A su vez, tenemos que "Modelo máquina" no se relaciona con el campo model de la clase Machinery, lo cual puede tener sentido pero resulta confu

[2015-02-02 12:22] anajuaristi commented on #606
Cierro solucionada

[2015-02-02 12:22] #606 closed, assigned to alfredoavanzosc

[2015-02-02 12:23] anajuaristi commented on #607
:+1: probado funcionalmente cierro

[2015-02-02 12:23] #607 closed, assigned to alfredoavanzosc

[2015-02-02 12:23] anajuaristi commented on #582
:+1: Cierro también

[2015-02-02 12:23] #582 closed, assigned to pedrobaeza

[2015-02-02 12:24] anajuaristi commented on #614
:+1: Funcionalmente OK. Cierro

[2015-02-02 12:24] #614 closed, assigned to agaldona

[2015-02-02 12:25] anajuaristi commented on #296
:+1: Cierro

[2015-02-02 12:25] #296 closed, assigned to alfredoavanzosc

[2015-02-02 19:37] ccarly commented on #623
Hola Pedro

El tema esta en any([x.do_production for x in self.workcenter_lines]), siempre da false, o sea no encuentra ningún centro de echo esa variable esta vacia.
Por eso propuse any([x.do_production for x in self.routing_id.workcenter_lines]), que si tiene las rutas

[2015-02-03 04:16] ybofr opened #626 "machinery manager/create machine: manufacturer is missing"
Manufacturer is missing in the view. It should appear before the model
![machines_-_odoo](https://cloud.githubusercontent.com/assets/7601880/6014419/724de0fe-ab5b-11e4-8b3c-dfca9d0c56fa.png)

[2015-02-03 04:20] richard-willdooit opened #627 "Product Price History - Accounting? Quant Values?"
Thanks for a great series of useful modules.

I decided to grab and play with this because we have a client who has vastly different costs for each variant and using a single cost on product.template just doesn't cut it.

I have found an outright bug which I will report separate to this issue, but exactly how the bug should be corrected depends on my issue here.

The client wishes to use standard

[2015-02-03 04:22] ybofr opened #628 "Machinery manager/create machine/preventive maintenance cycles and meters incompatible"
When I change the primary meter to calendar, there is no space to indicate after how many days I need to do a maintenance. I should not be checking the number of cycles, if I want to have the maintenance after a specific period.

![machines_-_odoo](https://cloud.githubusercontent.com/assets/7601880/6014449/f58063a2-ab5b-11e4-81c9-088493486a18.png)

[2015-02-03 04:35] ybofr opened #629 "Create BOM/activate: Confirmation message is not understandable"
"Confirm MRP BoM activation
You will activate the LdM, If you have not set a route, you can not put. Are you sure you want to proceed?"

What is LdM?
What does "you can not put" mean?

[2015-02-03 04:38] richard-willdooit opened #630 "Product Price History Bug - Inventory Valuation"
Further to #627

Running  the "Current Inventory Valuation" with product price history installed calls  _get_inventory_value in stock_account.  This calls product_tmpl_obj.get_history_price, which gets a random variant price, not the template price necessarily, and not the price of the explicit variant.

As stated in #627, my understanding is it should get the explicit product's price.
But if what

[2015-02-03 04:43] ybofr opened #631 "Create BOM: components: Suggestion: Do not allow the inline editing of the routing steps"
It is best practice to edit the routing separately. This way, the user has full visibility over what he is doing. Whilst the inline editing of routing steps when creating a BOM seems to be a practical short cut, the user has too many risks to change the routing. So, I suggest to take the edit function of the routing steps away from the component adding.

[2015-02-03 04:54] ybofr opened #632 "Create routing header: produce here is not understandable by the user"
The field title "produce here" is not understandable. Please change it to "Stock delivery" or "Goods to Stock".

![odoo](https://cloud.githubusercontent.com/assets/7601880/6014622/af4e1c7c-ab5f-11e4-8b82-d7cd5e2a825e.png)

[2015-02-03 07:56] anajuaristi commented on #629
@ybofr for sure that's a new language named spanglish. LM in spanish is BOM.
Yes, message it's wrong. It want mean something like... You are going to activate a bom. If you did not set a route you could not set it after (even this one would be wrong, since on last module version we are allowing to set to draft so you could set anything after activating)

[2015-02-04 11:26] ghost opened #633 "mrp_production_capacity / i18n Traducción incorrecta"
En el es.po, en las líneas 19 y 24, se traduce 2 veces el campo capacity_per_cycle_min y el mensaje de ayuda que se muestra queda incorrecto.

![traducc](https://cloud.githubusercontent.com/assets/8233008/6039548/5b3752a2-ac68-11e4-94a5-1a8c71774a84.png)

Además, en la ayuda del campo capacity_per_cycle coge la ayuda del campo que está sobreescribiendo.

![traducc1](https://cloud.githubusercontent

[2015-02-04 11:31] anajuaristi commented on #633
Aquí el tema es que el estándar tiene un único campo capacidad, que indica la máxima y nosotros hemos añadido otro que indica la mínima.
Se han mezclado los labels y las traducciones de ambos campos.
Gracias por reportar. Lo asigno.

[2015-02-04 16:00] alfredoavanzosc commented on #633
Este es el pr https://github.com/odoomrp/odoomrp-wip/pull/634

[2015-02-04 16:56] #633 closed, assigned to alfredoavanzosc

[2015-02-04 20:21] pedrobaeza commented on #629
Fixed on https://github.com/odoomrp/odoomrp-wip/commit/ed449bb75f9157586a61aa686a5968717e6efdfe

[2015-02-04 20:21] #629 closed, assigned to nobody

[2015-02-04 20:24] pedrobaeza commented on #632
Well, personally I prefer this term, but I can put it as a help text what you are suggesting.

[2015-02-04 20:31] pedrobaeza commented on #631
Well tought!

Done in https://github.com/odoomrp/odoomrp-wip/commit/98a3dcab0497cd5e9fab64d11f66e18d05138b1f

[2015-02-04 20:31] #631 closed, assigned to nobody

[2015-02-04 20:35] pedrobaeza commented on #623
Lo siento, no consigo reproducir el problema que comentas. Ya te digo que debes tener datos antiguos.

[2015-02-04 20:38] pedrobaeza commented on #628
@anajuaristi, please check this one

[2015-02-04 20:48] pedrobaeza commented on #626
Done in https://github.com/odoomrp/odoomrp-wip/commit/59ea85dbe09f6183069c44e700e53bd219fbd625

[2015-02-04 20:48] #626 closed, assigned to nobody

[2015-02-04 20:59] ybofr commented on #632
It is not about loving the term. It is that this is not a term that is understandable  as it is not about the production at that stage, but about the fact that this is a delivery step. Our goal should always be to make it simple for the user. At least this is what I believe.

Sent from my Samsung Mobile on O2

<div>-------- Original message --------</div><div>From: "Pedro M. Baeza" notifications@g

[2015-02-04 21:47] anajuaristi commented on #628
Those fields are not operative on this machine manager version. They are just informative fields about the way the maintenance should be done.

If someday we migrate or refactor full preventive maintenance module, this fields will have "operative" master data and we will be able to configure alarms and operations to be done to machines by calendar or cicles.
I propose mantaining like that until we

[2015-02-04 21:51] anajuaristi commented on #626
@pedrobaeza I don't understand very well the change.
This claim was opened before and we closed because a machine is related to a product that can be related to a manufacturer (including product_manufacturer OCA module)
So... if you include many2one directly to manufacturer it could be inconsistent.

If manufacturer should be shown on machine it should be related to associated product and machine

[2015-02-04 23:09] ybofr commented on #628
Hi Ana,

The view I have on the module is not a technical, but a functional only. For the user, when a field is there, it should have some logic otherwise, he will be asking. So maybe, the fields could be set in a way that people do not believe that it should be working somehow or maybe the selection for the type of maintenance should be taken away and only the cycle maintenance should be left, as

[2015-02-04 23:12] ybofr commented on #626
If the machine needs to be linked to a product, then the product should be mandatory or at least an explanation should appear to explain where the manufacturer comes from.
As a user, I do not understand why I need to create a product in order to create a machine, so I would have the tendency to not create the product. Unless there is a need for it….
Regards

---

Eva P.

Get free Odoo training in

[2015-02-04 23:17] anajuaristi commented on #628
But on this case fields are valid. I say... if you buy for example a second hand machine and you want to set how many cicles it has got by now... you can do it.
You could also set the type of maintenance and even record manually each X month the actual cicles of the machine.
i would not take off. Just explain... if you need use it, if not, don't use. that's all. It's a master table, for sure user

[2015-02-04 23:20] anajuaristi commented on #626
You don't have a machine unless you buy it
If you buy you need a product, so if machine is coming from a purchase record will be automatically created.
Product it's not mandatory at all. You can have machines that you don't buy and... manufacturer is neither mandatory.
IMHO It's right like it is now.

[2015-02-05 00:05] anajuaristi opened #636 "alm_commercial_information"
La tarea era
1) Añadir en la ficha de Cliente, un check "Prospección". Al crear el cliente, por defecto estará activado. Al hacerle la primera factura, se le desa ctivará.
2) Añadir en la ficha del cliente, un check "Distribuidor". Se utilizará al asignar los lotes del pedido, para comprobar la caducidad de producto.

---

Se subió el módulo alm_commercial_information y los campos se han definido

[2015-02-05 00:20] ybofr commented on #626
Ok, let’s say, I already have all the machines when I start Odoo mrp. I will need to create manually a product for each machine, in order to have a manufacturer in it, even, if the manufacturer is only an information field, in my opinion on the machine.

The effort of creating all the products just to had the manufacturer will have almost everyone changing the screen the very first day they will u

[2015-02-05 01:22] anajuaristi commented on #628
Sorry but this case is not about technical or functional.
It's conceptual.
Everybody understands that one product could be produced by a manufacturer
so it's correct that manufacturer is linked to product
On the other side one machine could be or not related to a product /
manufacturer.
If you allow direct link on machine user could configure one
product/manufacturer and different manufacturer on

[2015-02-05 06:59] ybofr commented on #628
Hello Ana,

totally agree with you. If you include a good inline help explaining the usage of the fields.
In this case, I suggeyt to make the field manufacturer “read only” and to add an explanation telling that the manufacturer is to be maintained  in the associated product. This way, it is clear and less development work.

regards

---

Eva P.

Get free Odoo training in our youtube channel http:

[2015-02-05 08:54] anajuaristi commented on #636
@alfredoavanzosc ayer detecté este bug, cuando puedas le echas un vistazo? A ver qué está pasando con la vista almetac_commercial_information?

[2015-02-05 14:44] alfredoavanzosc commented on #636
Realizado, este es el PR https://github.com/odoomrp/odoomrp-almetac/pull/232

[2015-02-05 15:46] oihane commented on #78
Por lo que he podido ver cuando se mueve un paquete lo que se hace es, añadir el primer paquete dentro de otro. Sigo sin averiguar como hacerlo ya que se basa en una función del picking, he pensado en si quieres mover un quant, cambiar el paquete del mismo, y si quieres mover un paquete añadirlo al otro y ya estaría porque no he visto que genere realmente más movimientos o pickings. Pero no me par

[2015-02-05 15:56] anajuaristi commented on #78
Es tan simple tan simple como cambiar la ubicación de todos los quants que tengan asociado ese paquete. Sin más. No hace falta ni un movimiento de almacén.
Si le cambias la ubicación, queda cambiado.

Si lo hacemos por movimiento, también se puede, pero... habría que generar un albarán con todos los productos que contiene el paquete ya que los movimientos se asocian a productos.

Yo probaría con c

[2015-02-05 22:52] anajuaristi opened #638 "Pequeño bug de visibilidad y usabilidad en supplierinfo"
buenas...

Hay varias cosillas inconsistentes en el tree product.supplierinfo

Se puede acceder al tree desde ventas o desde compras
Desde ventas, la relación es cliente/producto en caso de que se tenga instalado el módulo extensión pero en principio, desde compras sigue siendo proveedor /template

La inconsistencia: En el tree en ambos casos se muestra product_id y en caso de que el registro sea

[2015-02-06 11:27] anajuaristi opened #640 "quality control Traceback al crear claim desde test"
Supongo que el traceback es provocado por el módulo que genera claims automáticamente cuando falla un test o una línea de test
quality_control_claim

[code]

[2015-02-06 12:12] pedrobaeza commented on #640
Eso es por que no ese test no tiene referencia a ningún objeto (creado a mano). Habría que controlar esa condición, Alfredo.

[2015-02-06 12:31] alfredoavanzosc commented on #640
Corregido, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/641

[2015-02-07 22:22] anajuaristi opened #642 "purchase_product_price_history no veo cambios en el entorno"
Según este PR
https://github.com/odoomrp/odoomrp-wip/pull/331

En el tree histórico de costes debería verse product_id en vez de template_id
No se ve, por lo que no se puede probar lo que debería hacer el módulo.

[2015-02-08 19:27] oihane commented on #642
Este modulo añade únicamente un menu en compras

[2015-02-08 19:55] anajuaristi commented on #642
Entonces no entiendo. Que modulo es el que da la funcionalidad que se
solicita en el issue?

[2015-02-08 21:05] oihane commented on #642
No he leído el pr pero supongo que el product_price_history, que tiene una vista donde se muestran template y product

[2015-02-08 21:20] anajuaristi commented on #642
@oihane Revisa porfa y si no está hecho, hay que terminar el módulo incluyendo lo que falta y lo que se pide en el issue.

[2015-02-09 08:35] oihane commented on #642
![image](https://cloud.githubusercontent.com/assets/2323616/6102968/b5edae1a-b03e-11e4-8345-befca1c9fc9a.png)

Teniendo en cuenta que se muestran ambos no sé por que dices que hay un bug. Además como se historifican también los cambios en el template, se deben mostrar ambos.

[2015-02-09 08:54] anajuaristi commented on #642
Es que la semana pasada no se veían los 2. Solo se veía template.

[2015-02-09 09:24] pedrobaeza commented on #627
@oihane, can you take a look to this?

[2015-02-09 10:15] #640 closed, assigned to alfredoavanzosc

[2015-02-09 10:15] #636 closed, assigned to alfredoavanzosc

[2015-02-09 10:16] pedrobaeza commented on #636
@anajuaristi cuidado, que lo has publicado en el general con nombre de empresa.

[2015-02-09 10:17] #608 closed, assigned to agaldona

[2015-02-09 10:17] #393 closed, assigned to oihane

[2015-02-09 14:23] anajuaristi commented on #636
Vaya... qué lío llevo encima. Tienes razón. Pero... ya no es evitable no?

[2015-02-09 19:02] pedrobaeza commented on #636
No, no se puede evitar ya, pero bueno, lo dejamos ahí cerrado

[2015-02-10 14:45] JordiBForgeFlow opened #649 "mrp_project_link. Really needed?"
Hello!

I'm reviewing your work, as part as an effort to establish an engineer-to-order process. I don't see why you need to replicate the work orders associated to manufacturing orders to project tasks.

In my opinion they are separate areas. In projects, you normally first define your tasks, then sequence them, estimate the effort and resources. Then execute the project as per the plan.

During

[2015-02-11 09:23] anajuaristi commented on #649
We DO NOT replicate work orders on projects. :)

Let's say our vision is similar to yours. For us, full Manufacturing order is a single taks on project. So... you can have just tasks without being linked to a manufacturing order but you can have a task that it's a manufacturing order per sé.

About work orders --> You are right it's not necesary duplicating them and we are not doing so but... ther

[2015-02-11 09:36] ghost opened #652 "account_treasury_forecast Botón "Get Data""
Al crear una previsión de tesorería, hay un botón en la parte inferior que indica "Get Data", pero al pulsarlo lo único que hace es eliminar todas las líneas, no se ve otra funcionalidad o por lo menos por pantalla no genera ninguna información. ¿Eso es lo que debería ocurrir?

[2015-02-11 10:45] ghost opened #656 "Sugerencia mrp_operations_extension models: mrp_workcenter.py"
Podría ser útil añadir dos campos para el "Coste pre-operación" y el "Coste post-operación" que muestren por pantalla los valores de esos costes (¿y se puedan modificar?), al igual que lo hace el campo costs_hour para el "Coste por hora"

[2015-02-11 12:53] JordiBForgeFlow commented on #649
Thanks Ana,

In case of operations in manufacturing orders where you want to keep track of hours by each operator, I was thinking of introducing more fine-grained work centers (for example, 1 WC per operator), and then having more operations in the routing. If 1 WC = 1 operator, then you would not require to create a child task in Projects.

What I have in mind are two possible scenarios to integr

[2015-02-11 13:24] anajuaristi commented on #649
Again, your vision is not incompatible with ours
If you want to define a WC by operator and include more steps on routing you can do it, just creating them as you want and marking "operators needed = cero on workcenter operator". This would avoid creating tasks on projects for operators, so you don't need making any aditional development to configure this case.

About materials... I think both apr

[2015-02-11 13:37] JordiBForgeFlow commented on #649
Thanks Ana. I'm trying to understand it, so as to attempt to contribute where possible. Best if we join forces to make a better product!

When I referred to "engineering BOM" I was referring to the breakdown of parts only (excluding the task to complete). I'm not too familiar for now with dynamic and specific BOMs, but I've seen the videos and it looks very powerful!

I will continue to review you

[2015-02-11 13:37] #649 closed, assigned to nobody

[2015-02-11 14:24] anajuaristi commented on #649
Yes!! engineering BOM can include only breakdown parts... but also you can configure the process using routing. And... the great thing is that you don't need knowing exactly the product you are goint to use in a BOM level but you need know it just before launching the order. Meantime you can go configuring different levels, with templates (generic templates) and you could even create one draft MO

[2015-02-11 15:59] oihane commented on #638
Vista tree accedida desde menu en compras:
![image](https://cloud.githubusercontent.com/assets/2323616/6150354/20dda370-b20f-11e4-936b-c39358635252.png)

Vista tree desde producto (product.template)
![image](https://cloud.githubusercontent.com/assets/2323616/6150368/4649e9de-b20f-11e4-9b95-b3dc1af700b1.png)

[2015-02-11 16:03] oihane commented on #638
Por cierto en los módulos de WIP no hay enlace directo entre `product.product` y `product.supplierinfo`

[2015-02-11 16:03] anajuaristi commented on #638
Eso está pedido en una reclamación. Lo comentaron el otro día.

[2015-02-11 16:11] oihane commented on #590
Parece que era por tener el core desactualizado, cierro

[2015-02-11 16:11] #590 closed, assigned to nobody

[2015-02-11 17:55] StefanRijnhart opened #658 "Subcontracting - usability suggestions and questions"
Hi,

first of all, thanks for the great work!

I have an interest in MRP subcontracting. I watched the Spanish video on http://odoomrp.com/blog/blog-noticias-1/post/nueva-herramienta-para-la-gestion-de-operaciones-de-subcontratacion-en-procesos-industriales-6 and was able to reproduce the results.

Except in my configuration, I have one problem with the subcontracting product. I think the video me

[2015-02-11 18:04] clonedagain commented on #567
@pedrobaeza todavía hay un problema: tengo el error cada vez porque le test es sobre los workcenters del MO pero esos workcenters no existen si no se ha llamado super() antes.
Pienso que https://github.com/odoomrp/odoomrp-wip/pull/659 le corrige.

[2015-02-11 19:24] anajuaristi commented on #658
Hi @StefanRijnhart

It's a pleasure to see you here in OdooMRP project!!

I will try to explain your questions

When you say: "this best be a service type product". Yes, usually the subcontracting product is a service so we need having purchase order (service) incoming picking(semielaborated) so... as we need also semielaborated product to controll reception from supplier we can do single step and

[2015-02-11 20:01] pedrobaeza commented on #567
@clonedagain llevas toda la razón. Yo siempre probaba pulsando primero en el botón "Calcular datos", pero si no se pulsa, el action_confirm() simula esa pulsación, y aparece el error que comentas. Gracias por reportarlo.

[2015-02-11 22:48] anajuaristi commented on #580
@alfredoavanzosc me puedes mirar esto porfa, que me lo han vuelto a comentar hoy... y lo teniamos ahí sin asignar.

[2015-02-12 10:06] alfredoavanzosc commented on #580
Subido módulo en PR https://github.com/odoomrp/odoomrp-utils/pull/25

[2015-02-12 10:20] ghost opened #660 "mrp_operations_extension / i18n / es.po Tilde de más"
La traducción del campo work_order tiene una tilde de más

![image](https://cloud.githubusercontent.com/assets/8233008/6165515/ecc50304-b2a8-11e4-9b1f-004ed54b3403.png)

[2015-02-12 14:38] #660 closed, assigned to nobody

[2015-02-12 14:53] pedrobaeza commented on #660
Arreglado!

[2015-02-12 15:23] agaldona commented on #652
Buenas tardes,
El botón get_data de la previsión, se divide en tres pasos o funcionalidades.

Por una parte, elimina todas las líneas que tengamos de antes. Por lo que veo, esto os hace bien.

La segunda fase o funcionalidad consta en traer las facturas correspondientes a la previsión, hay varios factores que condicionan la carga de las facturas. Uno de ellos es la fecha, es decir, la fecha de la

[2015-02-12 15:41] pedrobaeza commented on #652
Ainara, estaría bien que todo esto que comentas aquí, lo pongas en un asistente que lo abra ese botón, y así el usuario lo sepa, y además decida si continúa o no.

[2015-02-12 15:59] oihane opened #662 "[CLM0215] Asignar los test para que sean visibles solo a cierta gente por dpto"
Para cubrir este requerimiento surgido en la última sesión, la propuesta es simplemente relacionar dpto del usuario asignado en las inspecciones de calidad. De esta forma se podrían replicar los mismos mecanismos de permisos que tienen otros objetos en el sistema como oportunidades o claims en el CRM.

El enfoque técnico sería:

Nuevo módulo **quality_control_hr**
- Añadir dpto en tree inspección,

[2015-02-12 16:05] oihane commented on #662
@pedrobaeza y @anajuaristi tengo varias dudas, que me han surgido al revisar los modulos de quality_control para preparar lo que se pide.
- Por lo que he podido ver el objeto `qc.inspection` no tiene usuario asignado, por lo que la duda es si debo añadirlo en el modulo **quality_control** o en este nuevo modulo que voy a crear yo. Y supongo que como mencionas, debe ser usuario y no empleado.
- El

[2015-02-12 16:09] oihane commented on #662
Y por cierto, un `res.users` puede pertenecer a varios `hr.employee`, por lo que el `qc.inspection` podría pertenecer a varios `hr.department`.

[2015-02-12 16:47] pedrobaeza commented on #662
Asumimos el primero de los empleados encontrados.

[2015-02-12 17:00] pedrobaeza commented on #662
A la segunda cuestión que queda por contestar es eso, se crean tres grupos en lugar de dos. El user se puede considerar el básico.

[2015-02-12 17:28] ghost commented on #652
Muchas gracias por la explicación, todo aclarado y funcionando.

Por nuestra parte cerraríamos el issue.

[2015-02-12 17:30] pedrobaeza commented on #652
Lo dejamos abierto para que Ainara haga lo otro que he comentado, que servirá de bastante.

[2015-02-12 17:30] agaldona commented on #652
Ok! :+1:

[2015-02-12 17:39] ccarly commented on #623
Hola Pedro

Volviendo al tema, intentare recreartelo.

1.- Creo una ruta de producción con dos operaciones y una de ellas le habilito "Producir aqui"
2.- Creo una LdM, para un producto X con materias primas Y1 (Operacion 1) y Y2 (Operacion 2), cuyo Proceso productivo, es la ruta creada anteriormente.
3.- Creo una orden de producción del Producto X
4.- Confirmar Produccion.

Odoo Warning: Al menos

[2015-02-12 17:42] pedrobaeza commented on #623
Ya sé lo que ocurría, Genaro. El tema es que no pulsabas "Calcular datos" y yo sí. Por eso no lo reproducía. La comprobación era correcta, pero se tenía que hacer después de llamar al super para que si no lo habías pulsado, se simule su pulsación.

Ya está corregido en la última versión.

[2015-02-12 17:44] ccarly commented on #623
Corroborado

[2015-02-12 18:04] ccarly commented on #622
Regresando

En el momento de crear las Operaciones del Centro de Produccion, el 1er campo "Operación", debería ser obligatorio, así como en la vista Oparaciones, tener al menos un Centro de Produccion. esto eliminaría cualquier tipo de dudas.

[2015-02-13 00:52] pedrobaeza commented on #622
Genaro, la operación no es obligatoria porque tú puedes definir una línea sin ese dato. Piensa la operación como la plantilla de la que se copian los datos maestros, que luego se pueden cambiar.

Sobre el otro tema, he puesto que si no hay líneas en las operaciones, aparezca el campo de centro de trabajo.

[2015-02-13 09:49] anajuaristi commented on #580
Gracias!!

[2015-02-13 10:07] #580 closed, assigned to alfredoavanzosc

[2015-02-13 11:59] anajuaristi opened #664 "modificaciones en mrp_production_traceability"
Este issue incluye la reparación del módulo (actualmente no registra nada en mrp.track.lot ) y un par de mejoras.

Modificaciones a realizar:
1. En el wizard mrp.product,produce cada vez que se pulse do_produce, se registrará una línea en la tabla por cada tupla, número de lote producto final que se muestra en cabecera y los números de lote seleccionados en los componentes.
Se inserta una línea po

[2015-02-13 12:00] pedrobaeza commented on #664
:+1:

[2015-02-13 12:00] oihane commented on #662
He creado 4 grupos:
- See own inspections = user (renonmbrado)
- See department inspections
- See all inspections (tendrá permisos para acceder a inspections pero no a tests)
- Manager

[2015-02-13 12:02] anajuaristi commented on #664
Ahhhh... una pequeña cosa

Quizás harían falta 2 módulos.
El punto1, funcionaría sólo con dependencia MRP. ES decir, alguien que no fabrique por operaciones podría usar este módulo tranquilamente.

Los puntos 2 y 3 deberían tener dependencia con mrp_operations_extension.

Quizás deberiamos tener mrp_production_traceability y mrp_production_traceability_by_operations o algo así.

[2015-02-13 12:03] pedrobaeza commented on #662
No sé si el tercero tiene mucha utilidad, pero bueno, no viene mal.

[2015-02-13 12:05] pedrobaeza commented on #664
Vaya tela con los nombres... cuándo vais a coger la regla de nombrarlos: `mrp_operations_traceability`

[2015-02-13 12:05] anajuaristi commented on #662
Y si ponemos manager que pueda definir plantillas y configurar rangos y eso? Y el resto que sean las restricciones sobre las inspecciones?
#my2cents

[2015-02-13 12:07] anajuaristi commented on #664
Ahhh.. pues genial

mrp_production_traceability
y
mrp_operations_traceability

Así queda pues.
P.D: Pedro... lo de los nombres... a mí también se me hace complicado de atinar con el correcto!!!

[2015-02-13 12:08] pedrobaeza commented on #662
Eso se supone que ya está, Ana.

[2015-02-13 12:11] pedrobaeza commented on #664
No, si por ti lo digo. Pero ya con la de módulos de operaciones que llevamos que han sido mrp_operations_lo_que_sea...

[2015-02-13 12:13] anajuaristi commented on #664
okokokokokokokok

[2015-02-13 12:19] anajuaristi commented on #662
ok.

[2015-02-13 21:57] anajuaristi opened #666 "sale_packaging_info campos incorrectos en tree y form"
Tal y como hemos comentado en la solicitud, en el tree se mostrarían solo cantidades y en el form cantidad y tipo de envase. Se han metido justo al revés
En el tree se ven
Nº de env. 1
Env. 1
Nº de env.2
Env. 2

Y en el form solo los Nº

Por otro lado, las etiquetas siguen sin gustarme. Siguen ocupando demasiado. En la línea quedan tropecientos campos largos. Propongo.
# Pq1

Pq1
# Pq2

Pq2

[2015-02-13 22:02] anajuaristi opened #667 "Etiquetas descuentos adicionales"
Tenemos un pequeño error en las etiquetas de los descuentos adicionales.
En el pedido de venta se ve la misma para los 2 campos.
Descuento (%)
Descuento (%)

Aparte, que el nombre es demasiado largo, ocupa mucho.
Propongo renombrar los descuentos en nuestro módulo a Dto1, Dto2 y dado que ahora estamos añadiendo el tercero Dto3, en todos los sitios que salgan, tanto en forms como en trees.

[2015-02-13 22:14] anajuaristi opened #668 "Etiquetas descuentos adicionales"
Tenemos un pequeño error en las etiquetas de los descuentos adicionales.
En el pedido de venta se ve la misma para los 2 campos.
Descuento (%)
Descuento (%)

Aparte, que el nombre es demasiado largo, ocupa mucho.
Propongo renombrar los descuentos en nuestro módulo a Dto1, Dto2 y dado que ahora estamos añadiendo el tercero Dto3, en todos los sitios que salgan, tanto en forms como en trees.

[2015-02-13 22:15] anajuaristi opened #669 "crm_claim_ref_search no funciona"
instalado en demo_noviembre2

Aunque existen claims donde se ha asignado algo en el campo referencia, en la vista tree aparece vacío tanto el campo modelo, como el id del objeto en sí.
La búsqueda por id en el omnisearch tampoco funciona.

[2015-02-13 22:37] anajuaristi opened #670 "Manufacturer on machine, related to product"
Se solicita que el nuevo campo "fabricante" incluido en la ficha de máquina sea un "related" al producto asociado a la máquina.

El tema viene de:
https://github.com/odoomrp/odoomrp-wip/issues/626

Y los dos últimos comentarios sobre el tema que están en el hilo equivocado y reproduzco abajo, están:
https://github.com/odoomrp/odoomrp-wip/issues/628

---

Yo:
Sorry but this case is not about techni

[2015-02-13 23:01] anajuaristi opened #671 "sale_order_allowed_product no ejecuta el filtro ni en compra ni en venta"
Siempre carga todos los productos. Pasa de si el check del pedido está clickado o no está.
No está montando bien el domain en el combo de productos

Es posible que se esté pegando con los domains que monta @oihane en el configurador
O bien que se esté intentando filtrar por producto cuando es plantilla, o al revés.
Pero en demo_noviembre2 no hace nada el módulo. Solo añade los checks en partner y

[2015-02-13 23:17] anajuaristi commented on #668
Se ha duplicado de la anterior. Cierro.

[2015-02-13 23:17] #668 closed, assigned to nobody

[2015-02-13 23:33] anajuaristi opened #672 "Bom_state pequeño error en etiqueta y en permisos de modificación de campos"
En el parámetro de configuración pone:
Permitir la re-editar la lista de lista de materiales

El campo "activo" se permite modificar en cualquier estado. SOLO debe poder cambiarse cuando el bom está en estado borrador.
Si el bom está en estado activo, el campo activo debe estar a  true y no se debe poder cambiar
Si el bom está en estado histórico, el campo activo debe estar a false y no se debe po

[2015-02-13 23:48] anajuaristi commented on #78
Probando esto... lo que ha montado @oihane funciona estupendamente... pero... (tenía que haber un pero)...Una vez visto veo que SI es necesario crear los movimientos de almacén para los productos incluidos en el pack.

La cuestión es que el paquete queda bien movido y sus productos bien ubicados. El stock del producto en la nueva ubicación es correcto. Pero al ir al historial del quant, de los pro

[2015-02-14 00:13] anajuaristi opened #673 "Error en stock_picking_taxes"
[code]

[2015-02-14 00:15] anajuaristi commented on #673
@pedrobaeza te asigno a tí porque es el módulo de picking taxes que lo refactorizaste tú, pero asigna a quien creas conveniente

[2015-02-14 12:59] pedrobaeza commented on #671
Ana, el _sale_order_allowed_products_ no está pensado para convivir con todos los desarrollos de variantes (sale_order_product_variants y demás), y por eso el campo nuevo que añade este módulo (el de plantilla) no restringe nada. En cambio, el de producto sí que aparece restringido.

Habría que hacer un módulo puente, o expresar su incompatibilidad.

[2015-02-14 13:05] anajuaristi commented on #671
Ya. Me imaginaba que fuese eso ya que al establecer una plantilla se monta el domain sobre el campo product en funcion de dicha plantilla

El modulo puente tendria que montar un filtro sobre el campo template. No se. Como veas. Yo creo que si merece la pena contemplarlo. Pero si va a ser complejo lo dejamos como To-do... Para mas adelante. A

[2015-02-16 08:08] agaldona commented on #667
Este cambio está en el PR que subí el viernes, que aún está sin mergear. Me di cuenta de que no ponía el Descuento 2, y se lo añadí. También Pedro me sugirió poner Desc. 2 en vez de Descuento 2. Y ese cambio también está añadido. Si aún así, preferís cambiarlo a Dto me comentáis, y lo cambio.

[2015-02-16 09:00] pedrobaeza commented on #667
La verdad es que casi puede ser mejor, porque revisando referencias, desc puede hacer mención a "descendente/descendant". Dto. queda más claro. En inglés sería Disc., eso sí.

[2015-02-16 13:06] alfredoavanzosc commented on #664
"mrp_production_traceability" modificado, PR https://github.com/odoomrp/odoomrp-wip/pull/655

[2015-02-16 13:41] oihane commented on #662
Pregunta... los grupos con restricción a los tests (qc.test) que serían todos menos manager.. tienen que poder acceder a las líneas de inspecciones? porque estas no tienen departamento y entiendo que deberían de estar limitadas igual que las inspecciones.

[2015-02-16 13:49] oihane commented on #78
La ubicación de un paquete depende de los quants que lo componen, todos los quants se encuentran en la misma ubicación. Al mover un paquete lo que se hace es mover todos los quants que lo componen a la nueva ubicación.
De manera que lo que entiendo que habría que hacer es generar un nuevo movimiento de stock por cada quant. Pero lo verdad es que no sé si esto hace que el quant se cambie de ubicaci

[2015-02-16 13:57] pedrobaeza commented on #78
De acuerdo, pon ese movimiento para seguimiento, aunque técnicamente lo que manda en el stock.pack.operation

[2015-02-16 13:57] pedrobaeza commented on #662
Sí, pon un related y le aplicas las mismas normas.

[2015-02-16 14:11] #667 closed, assigned to agaldona

[2015-02-16 14:13] anajuaristi commented on #78
Estoooooo...@oihane  ¿Que había puesto yo exactamente aquí, antes del comentario? Incluso comento qué campos por defecto hay que llevarse al movimiento desde el quant. Recordemos... Hay que leer --> Copy pasteo lo anterior.

La primera parte de mover el paquete a otra ubicación estaría correcta
Pero es necesario modificar la parte en que se asigna la nueva ubicación a los productos y en su lugar:

[2015-02-16 14:17] anajuaristi commented on #78
Y sobre esto:
La ubicación de un paquete depende de los quants que lo componen, todos los quants se encuentran en la misma ubicación. Al mover un paquete lo que se hace es mover todos los quants que lo componen a la nueva ubicación.

Se puede interpretar al revés... Los quants están siempre en la ubicación donde se encuentre el paquete. Si muevo el paquete, debo mover sus quants relacionados por l

[2015-02-16 14:17] oihane commented on #78
La ubicación del paquete es un campo calculado que se basa en los quants que lo componen.

[2015-02-16 14:21] anajuaristi commented on #78
Ahhh.. pues si no hay onchange, nada, no hace falta tenerlo en cuenta que pudiesen cambiar a mano en el propio paquete.

[2015-02-16 15:05] pedrobaeza commented on #666
Esa nomenclatura no la entiende nadie, Ana. Aunque tenga que ser un poco más largo, lo adecuado es: `Env. 1`, `Ctd. env. 1`, `Env. 2` y `Ctd. env. 2`.

[2015-02-16 15:13] anajuaristi commented on #666
Y que tal sin espacios?
Env.1,  NºEnv.1, Env.2 y NºEnv.2.

Se entiende igual y ocupa menos. Pero bueno, como veais. Si al final los tipos solo aparecen en el form, estamos hablando de un par de caracteres más en el tree. El problema es el tree, en el form puede ser el nombre tan largo como uno quiera

[2015-02-16 15:14] pedrobaeza commented on #666
Entre el punto y el número puede valer, pero entre º y E queda muy raro.

[2015-02-16 15:15] anajuaristi commented on #666
jajaja... vale. Aceptamos barco.
Env.1, Nº Env.1, Env.2 y Nº Env.2.

[2015-02-16 15:17] #670 closed, assigned to oihane

[2015-02-16 15:40] #666 closed, assigned to oihane

[2015-02-16 16:17] alfredoavanzosc commented on #669
Como me ha dicho Pedro, he desinstalado el módulo, lo he vuelto a instalar, y ya han cogido valores los campos.

[2015-02-16 16:19] anajuaristi commented on #669
Perfecto
 Ya funciona!!
Cierro

[2015-02-16 16:19] #669 closed, assigned to alfredoavanzosc

[2015-02-17 18:55] #664 closed, assigned to nobody

[2015-02-18 15:35] ghost opened #677 "mrp_production_project_estimated_cost Cálculo del coste operario"
Para realizar la estimación de coste de los operarios en una orden de fabricación se utiliza el siguiente código:

![image](https://cloud.githubusercontent.com/assets/8233008/6249866/72a4e206-b78a-11e4-9c5f-125d25bc532a.png)

En la línea 229 se establece que el coste por operario será la multiplicación del nº de operarios asignados a la operación (op_number) por el coste medio por operario (op_avg

[2015-02-18 15:49] pedrobaeza commented on #677
Efectivamente, no es lo correcto. @agaldona, puedes echarle un vistazo?

[2015-02-18 16:14] agaldona commented on #677
Buenas tardes,
Por una parte, están los costes estimados de una orden de fabricación, y por otra, los costes reales.
Las imputaciones exactas de un operario se tienen en cuenta en la segunda parte, puesto que en la primera todavía no sabemos cual es el tiempo que va a pasar en una operación en concreto.
La parte de las imputaciones reales, se hacen desde tareas, manteniendo la operativa general de

[2015-02-18 16:19] anajuaristi commented on #677
Si, pero tiene razón @ingenieriaanubia en este caso ya que NO estamos teniendo en cuenta el tiempo de operación. por operario.
Si hay 3 operadores y su coste es X, está haciendo 3*X pero si la operación dura 2 horas tiene que hacer 2 \* 3 *X

Nos falta de meter eso en la fórmula de costes estimados. Sí que sería un bug a arreglar.

[2015-02-18 16:23] anajuaristi commented on #677
@agaldona
Bueno... la solución sería que cuando metemos la línea analítica el campo cantidad de la línea debería ser el número de horas ya que en el campo importe metemos el valor número de operadores \* Coste unitario

[2015-02-18 16:25] pedrobaeza commented on #677
Aún así, @agaldona y @anajuaristi, hay que multiplicar el importe por la cantidad, ya que el campo cantidad es sólo informativo en el apunte analítico.

[2015-02-18 17:06] anajuaristi commented on #677
@pedrobaeza correcto también. Si. Es una pena que apuntes analíticos no tenga un campo coste "unitario" como en todo el resto de sitios. Siempre me olvido de eso.

[2015-02-18 18:16] anajuaristi commented on #656
En principio. se hizo así porque consideramos que el dato de tiempo pre-operación y post-operación es más inherente a la máquina que a la ruta... pero sí. Podría ser una extensión perfectamente aceptable porque pueden existir casos en los que dichos tiempos sean inherentes al proceso de producción en que esté la máquina.

¿Os animais a hacernos un PR?
Ahora mismo nosotros vamos a tope de trabajo y

[2015-02-20 09:01] ghost commented on #656
En este momento también está nuestro equipo técnico hasta los topes, pero intentaré que alguno le eche un ojo.

Tampoco me parece algo ni urgente ni "importante" (mientras nadie lo reclame), pero informativamente parece razonable que aparezca por pantalla sin tener que entrar en el Producto asociado.

[2015-02-23 16:27] ghost commented on #677
Después de echarle una pensada el fin de semana, el planteamiento inicial (sin tener en cuenta el tiempo dedicado por el operador) podría ser válido en un caso como el siguiente: un operador inicia varias operaciones que se realizan en máquinas automáticas y simplemente hace una "tarea" de supervisión y control sobre dichas máquinas. En este caso no se le podría imputar al operador todo el tiempo

[2015-02-23 21:14] pedrobaeza commented on #677
Ya, puede haber muchos casos diferentes de paralelismos, pero no deben ser los generales. Eso, cuando algún cliente los subvencione, pensamos cómo implementarlos :wink:

[2015-02-24 08:10] pedrobaeza commented on #673
Pero haciendo qué?

[2015-02-24 08:27] anajuaristi commented on #673
Al pulsar botón calcular en el albarán

[2015-02-24 08:29] ghost commented on #677
Ok! ¿cierro el issue entonces?

[2015-02-24 08:34] pedrobaeza commented on #677
Sí, lo cerramos

[2015-02-24 08:34] #677 closed, assigned to agaldona

[2015-02-24 09:17] pedrobaeza commented on #673
Solucionado en https://github.com/odoomrp/odoomrp-wip/commit/305bcefce8f4d7cb5727de62b7825a9093fb2f68

[2015-02-24 09:17] #673 closed, assigned to pedrobaeza

[2015-02-24 16:23] anajuaristi opened #683 "Traceback al abrir pedidos /presupuestos de compras"
Al ir desde menú a presupuestos de compra, en demo_noviembre2, y abrir uno, se obtiene este error

Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 567, in dispatch
    result = self._call_function(*_self.params)
  File "/opt

[2015-02-24 22:31] #683 closed, assigned to oihane

[2015-02-25 22:50] anajuaristi commented on #652
@agaldona esta es una de las que se pueden cerrar ya...
A continuación, igual que este, te iré pasando recordatorio de temas para cerrar, que me has comentado hoy.

[2015-02-25 22:58] anajuaristi commented on #642
Funciona pero... hay que darle un poco más de usabilidad en la ficha de producto
En el producto se ven los campos de coste de plantilla y de producto (este último sin etiqueta ni nada). Deberían ser visibles en ficha de producto solo el del producto y en ficha de plantilla solo el campo de plantilla.

Además, hay otro issue, que al incluirse los campos nuevos de costes se mueven de sitio en el for

[2015-02-25 23:04] pedrobaeza commented on #652
Se han hecho los cambios de textos pedidos?

[2015-02-25 23:07] anajuaristi commented on #630
Yes... this is due Odoo core is not including cost_price on specific variants. Field is stored on template so with this aproach all variants from a template should have same price.

This causes several lateral efects on product cost history, inventory valuation, manufacturing orders cost an so on.

To minimize a little bit those efects we added the field cost price on specific variant product form

[2015-02-25 23:19] anajuaristi commented on #627
@pedrobaeza I change @oihane and assign @agaldona everything related to costs.
I think there is several related issues that are caused by same thing. So I think it's better centralizing all of them and trying to find all impacts and solve all together.

Opinion?

[2015-02-25 23:24] pedrobaeza commented on #627
OK, no problem

[2015-02-26 03:58] richard-willdooit commented on #630
Yes, that is what I am getting at.  We installed the module to test the possibility of using it to value stock differently for each variant.  But this sort of depends on the other issue posted.

[2015-02-26 08:26] alfredoavanzosc commented on #671
Ana tu dirás porque me dices que hay un BUG, yo defino clientes, voy a un producto, le meto un cliente, y en los PV solo veo los productos de ese cliente.
Si hay un BUG, es por otros módulos instalados, así que tu dirás, porque los módulos tanto de compra como de venta, para mostrar productos permitidos, funciona perfectamente.

[2015-02-26 08:56] pedrobaeza commented on #671
Alfredo, yo he explicado el por qué (los otros módulos instalados), que añaden el campo template. Ese campo no aparece pre-filtrado.

[2015-02-26 11:59] agaldona opened #688 "Error al calcular costes reales porque no tiene cuenta analitica asociada."
Hoy nos ha dado error al crear los costes reales de una OF porque no tenía el proyecto asociado.
Cambiamos el control de si una OF tenía proyecto o no, para que cuando se calculaban los costes estimados, si no tenía ninguno asociado, creara uno, y se lo asociara.
Pero hemos visto, que si produces sin haber calculado los costes estimados, y sin asignar el proyecto, da error al crear las líneas anal

[2015-02-26 12:05] pedrobaeza commented on #688
Sí, debería ser lo mismo, pero, ¿no deberían crearse los estimados al confirmar la OF? Si es así, no haría falta el control, ya que lo haría el de costes estimados.

[2015-02-26 13:01] agaldona commented on #688
Tienes razón. He ido a hacer de nuevo la prueba, y he visto que no tenemos la última versión. Por lo que este issue, no aplica. Gracias!

[2015-02-26 13:01] #688 closed, assigned to nobody

[2015-02-28 22:22] anajuaristi opened #691 "Actualizar entorno Odoo Core"
Buenas...
Sería necesario actualizar Odoo core en el entorno demo ya que no puedo lanzar ningún wizard, ni por tanto probar algunos de los últimos desarrollos que se han hecho.

[2015-03-02 08:27] #691 closed, assigned to oihane

[2015-03-02 11:59] ghost opened #692 "Sale_order_type Error al instalar"
Hola.

He obtenido el siguiente error al tratar de instalar el módulo:

[code]

![image](https://cloud.githubusercontent.com/assets/8233008/6440676/c642c384-c0df-11e4-8ee5-050bd4033206.png)

¿Podría sobrarle una "s" a "account.sales_journal? No se si será fallo de nuestra instalación.

[2015-03-02 12:01] pedrobaeza commented on #692
Buenas, Eduardo, creo que se debe a una instalación no actualizada. ¿Puedes revisar a ver?

[2015-03-02 12:35] ghost commented on #692
La instalación del módulo es del día 16 de febrero, hace 14 días, y el módulo no se actualiza en Github desde hace 1 mes. Si te refieres a la instalación inicial de Odoo, ésta es de principios de enero si no recuerdo mal. Quizá esté ahí el problema.

El jueves-viernes tenemos programado hacer otro pull, así que miraremos de actualizar todo y revisamos este módulo.

[2015-03-02 12:45] anajuaristi opened #693 "Granularización de quants"
En el sistema existe un problema con los quants y es que cada vez que se hace una asignación y posteriormente se desasignan, se van quedado "rotos" en cachos

Tanto en listados, como si quieres verificar que tienes cantidad suficiente de un lote, es complicado ya que para que salga el lote único hay que empezar a lanzar agrupaciones y demás.
Es decir puedes tener el mismo lote 4 veces porque el qu

[2015-03-02 14:47] pedrobaeza commented on #692
Me refiero a la de Odoo. Luego me cuentas.

[2015-03-02 16:21] anajuaristi opened #695 "Traceback al confirmar orden de fabricación"
Módulo de costes estimados está dando este error al confirmar la OF

[code]

[2015-03-02 20:05] anajuaristi opened #696 "Campos de paquetes añadidos a los quants. Hay que quitarlos de la vista general."
Buenas...
He visto que los campos retaled a un pack, se han añadido a un quant. No tendría sentido. Hay que quitarlos de las vistas tree y form del quant cuando se abre desde menú!! SOLO DEL MENU, o ponerlas al final del todo... porque es bastante molesto que salgan en todas las vistas.

Weight
Peso total
Net Weight
Total peso neto
Volume
Total volumen

La vista quant que está dentro del paquete e

[2015-03-02 20:39] anajuaristi commented on #696
De paso, comentar un problema que he visto en el cálculo de pesos y volúmenes...

Total peso bruto estimado 44,00
Total peso neto estimado 38,80
Volumen permitido 1200000,00
Volumen total carga  0,00 ---> DA CERO cuando los productos sí que tienen volumen

Sumatorios de los productos: ESTAN CORRECTOS
Peso total bruto    12,00
Peso total neto     9,40
Volumen                  81,00

Total peso brut

[2015-03-03 01:07] pedrobaeza opened #697 "Implementar carga/capacidad"
Pongo este issue como referencia para cuando implementemos esta funcionalidad.

[2015-03-03 01:07] pedrobaeza commented on #697
Comienzo con dos módulos que me ha apuntado David Beal de Akretion:

https://github.com/akretion/manufacturing/tree/7.0/mrp_workcenter_load
https://github.com/akretion/manufacturing/tree/7.0/mrp_load_by_schedule_state

[2015-03-03 10:10] alfredoavanzosc commented on #696
Realizado, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/698

[2015-03-03 10:14] Daniel-CA opened #699 "product_variants_no_automatic_creation Bug al asignar variantes de producto en BOM"
Revisando un bug que ha reportado Ana en los BOM he encontrado otro a la hora de asignar una variante de producto en los componentes del BOM.
La vista de las lineas del BOM coge las variantes segun los `product.product` creados para ese producto, por lo que al limitar la creación de los `product.product` no asigna correctamente las variantes disponibles.
Voy a crear un módulo llamado mrp_product_v

[2015-03-03 10:15] Daniel-CA commented on #699
Si no veis ningun problema me pongo con ello. @anajuaristi , @pedrobaeza

[2015-03-03 10:18] pedrobaeza commented on #699
Dani, es que si no hay variantes creadas, no hay product.product. No entiendo qué quieres hacer. Poner atributos y valores?

[2015-03-03 10:23] Daniel-CA commented on #699
Correcto, a la hora de elegir los componentes que pueda elegir las variantes del producto a producir si dicho componente es especifico para esa variante, pero sin tener que definir el `product.product` de esa plantilla de producto.

[2015-03-03 10:31] pedrobaeza commented on #699
Uf, eso es bastante trabajo y luego hay que cambiar todo el bom_explode. Creo que de momento no lo vamos a hacer, ya que no es un requisito de ningún cliente.

[2015-03-03 10:37] Daniel-CA commented on #699
Ok, lo dejamos pendiente y sigo con el que estaba.

[2015-03-03 10:39] #699 closed, assigned to nobody

[2015-03-03 12:51] #672 closed, assigned to alfredoavanzosc

[2015-03-04 09:53] #693 closed, assigned to oihane

[2015-03-04 11:14] anajuaristi opened #702 "mrp_packaging issue en cantidad de envases vacíos"
Al generar las OFs de envasado, la cantidad de paquetes vacíos SIEMPRE es la casilla qty y no la de fill.

Está cogiendo la de fill.

[2015-03-04 13:20] #696 closed, assigned to alfredoavanzosc

[2015-03-04 19:10] #695 closed, assigned to agaldona

[2015-03-05 00:39] #702 closed, assigned to mikelarre

[2015-03-05 11:56] #642 closed, assigned to oihane

[2015-03-05 12:06] #78 closed, assigned to oihane

[2015-03-08 18:14] JordiBForgeFlow opened #706 "Planificación de la producción por capacidad finita"
Hola! Estoy buscando una herramienta para programar las órdenes de fabricación teniendo en cuenta las limitaciones impuestas por la capacidad de los recursos / niveles de stock, y por la carga impuesta por órdenes de fabricación ya planificadas. Es decir, planificación de la producción por capacidad finita. Hasta qué punto llega OdooMRP a implementar este tipo de requerimiento?  Tenéis pensado inc

[2015-03-08 18:23] anajuaristi commented on #706
Hola Jordi:
No está implementado.
El warning solo avisa de que una máquina de la ruta marca el número máximo de unidades que puedes lanzar en una única orden de fabricación. Por ejemplo, una cuba en una fabricación de granel pero hasta ahí llegamos.

Lo de frepple, vi en directo la demo el año pasado en Bélgica y según mi opinión está muy bien pero no lo recomiendo para nada.
El asunto es que para

[2015-03-08 18:36] JordiBForgeFlow commented on #706
Hola Ana, segun leo en la página de frepple, los datos se leen en Odoo directamente, se computa en Frepple la planificación y se escribe directamente en Odoo. Parece que frepple es, entonces, un motor de cálculo para Odoo.

Por otro lado yo he comenzado a usar TaskJuggler como motor de calculo de planificacion de tareas en proyectos, y del mismo modo el numero de variables a integrar es grande, pe

[2015-03-08 18:49] anajuaristi commented on #706
Jordi.. como tú mejor veas pero yo después de haber lidiado con conectores durante varios años, directamente los odio.
Eso de que "coge los datos directamente" ... no me lo creo. Si no, sería un interfaz contra Odoo y eso no es. Tiene sus propios datos maestros y es un sistema independiente por lo que existe un conector sí o sí.
Pruébalo y nos cuentas.
Yo por mi parte, creo que no es el camino per

[2015-03-08 19:00] JordiBForgeFlow commented on #706
Voy a echar un vistazo y os digo.. Y te doy la razon 100% que integrar bases de datos con modelos de datos diferentes es morir.....

Gracias!!!
Un besote

[2015-03-08 20:06] #706 closed, assigned to nobody

[2015-03-09 11:03] oihane commented on #692
Por lo que he visto el `sales_journal` está aquí:
https://github.com/odoo/odoo/blob/8.0/addons/account/demo/account_minimal.xml#L311

Que se encuentra en los datos demo.

[2015-03-09 12:25] anajuaristi opened #707 "CLM0246 No permite cambiar la unidad de medida en el producto"
Eliminar la constraint en el producto, siempre y cuando NO EXISTAN movimientos de stock relacionados con dicho producto.
Si existen, es correcto que no deje cambiar la unidad de medida.

[2015-03-09 12:59] oihane commented on #692
Buscando en odoo he descubierto que los diarios se crean aquí:
https://github.com/odoo/odoo/blob/8.0/addons/account/account.py#L3141

[2015-03-09 15:19] #692 closed, assigned to nobody

[2015-03-09 16:14] jaronemo opened #710 "Install MRP - stock location route fix Module --create new warehouse failed"
Install this module
when create warehouse failed ....
Language is Chinese type ..

[2015-03-09 16:20] anajuaristi commented on #710
Sorry @jaronemo, could you please explain a little bit more what you mean or what is this issue?

We deleted the module since issue has been fixed in Odoo Core.

Thank you:

Ana
cc: @pedrobaeza

[2015-03-09 16:27] pedrobaeza commented on #710
This module is no longer valid, because Odoo has fixed the issue. Please remove this module and update your installation.

[2015-03-09 16:27] #710 closed, assigned to nobody

[2015-03-09 22:21] anajuaristi commented on #638
Cierro esto

[2015-03-09 22:21] #638 closed, assigned to oihane

[2015-03-09 22:24] anajuaristi commented on #72
creo que lo dejamos como está. Además, nadie ha pedido funcionalidad adicional al respecto, ni hay claim asociado por lo que cierro. Si necesitan más ya lo pedirán.

[2015-03-09 22:24] #72 closed, assigned to oihane

[2015-03-09 22:26] anajuaristi commented on #394
Cierro esto. Resuelto en principio hace tiempo.

[2015-03-09 22:26] #394 closed, assigned to anajuaristi

[2015-03-09 22:30] anajuaristi commented on #479
Cierro. Ya se ha hecho merge del fix

[2015-03-09 22:30] #479 closed, assigned to mikelarre

[2015-03-09 22:30] anajuaristi commented on #579
@mikelarre retomamos esto?

[2015-03-09 22:36] anajuaristi commented on #671
@pedrobaeza
Se me ocurre que una forma sencilla sería meter un domain en el campo template_id de la línea de pedido de venta que incluya todos los diferentes templates de los productos asociados al cliente en supplierinfo.

De esta forma funcionarían las 2 cosas.
Los módulos de @alfredoavanzosc para el caso de productos sin más (para order.lines sin template, ni configurador, solo productos) y est

[2015-03-09 22:39] anajuaristi commented on #697
@pedrobaeza entiendo que la primera tarea es migrar esos 2 módulos a la V8.
Si es eso asigno a @Daniel-CA para que vaya migrándolos. Sino, coméntanos más específicamente lo que quieres que se haga...

[2015-03-10 06:08] pedrobaeza commented on #697
No, la primera tarea es probarlos en v7 y ver qué parte interesa.

[2015-03-10 07:29] alfredoavanzosc commented on #671
Hice 2 módulos nuevos para tener en cuenta las plantillas, falta que los revise Pedro, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/690.

[2015-03-10 08:56] clonedagain commented on #706
Just my 2 cents: last year the authors of Frepple said they may eventually consider making a library out of the Frepple scheduling engine, that could be used directly in Odoo instead of using a connector.

[2015-03-10 09:06] JordiBForgeFlow commented on #706
@clonedagain It makes sense, because Frepple seems to be designed as a substitute of traditional excel spreadsheets used by manufacturing managers. And how you produce this 'spreadsheet', either dynamically from an external system such as Odoo or a XLS file is irrelevant.

I'm finding something similar with the TaskJuggler integration.

In contrast to separate systems requiring connectors and repl

[2015-03-10 17:33] jdetaeye commented on #706
As author of frePPLe (and therefore not completely unbiased...), here are my comments:
- @anajuaristi: Since the presentation on the odoo opendays last year, the connector has been refactored.
  At that point the connector copied the data into the frePPLe database, then frePPLe runs the plan and exports the results into its database, and in a final step the results are brought to odoo.

  As descr

[2015-03-11 17:06] anajuaristi opened #713 "CLM0135(ALM) Posible Bug en módulo Warning"
Nos han reportado que no consiguen mostrar warnings ni en albaranes, ni en facturas.

Hay que verificar si es cierto que pasa y si  es así, es probable que sea por el tema de que está buscando un warning en el partner_id, cuando en realidad debería buscarlo en el partner_id y en el partner_id.parent_id.
Es decir, avisos en albaranes y facturas deberían salir, tanto si el warning es específico de u

[2015-03-11 17:10] anajuaristi opened #714 "CLM0134 (ALM) Eliminar acceso al botón Forzar Disponibilidad"
Esta también la posteo aquí porque es una solicitud que aunque no nos la han registrado como issue sí que me lo han comentado varios, varias veces.

El botón "forzar disponibilidad" debería estar restringido únicamente a perfiles concretos, administradores o managers de fabricación o logística. Un usuario "normal" no debería poder pulsar el botón, incluso debería estar oculto.

Se solicita que se

[2015-03-12 08:45] JordiBForgeFlow commented on #706
Thanks @jdetaeye!

[2015-03-12 08:53] alfredoavanzosc commented on #671
Ana.... esto ya esta hecho, y Pedro ya ha realizado el merge. Para solucionar este problema tanto en compras, como en ventas, se han realizado los módulos "sale_order_allowed_product_template", y "purchase_order_allowed_product_template"

[2015-03-12 08:54] pedrobaeza commented on #671
Sí, Ana, lo que planteabas no terminaba de verlo, así que hemos seguido con este enfoque. Cierro.

[2015-03-12 08:54] #671 closed, assigned to alfredoavanzosc

[2015-03-13 17:52] anajuaristi opened #718 "Nuevo módulo enlace stock_picking_package_preparation con picking Wave"
Buenas...

El módulo stock_picking_package_preparation permite meter todos los productos de N pickings en un único paquete, en un único paso. Lo que hace es crear el nuevo packing y asignarlo en la tabla operaciones.

Se solicita una extensión de ese módulo que enlace con waves. Para ello, se añade un botón que se denomine "send to wave" ( @pedrobaeza needed new name ;P)

Al pulsar se muestra un w

[2015-03-13 21:10] anajuaristi opened #719 "stock_quant_merge problema permiso eliminación"
Buenas...
Cuando un usuario (No admin) desasigna un quant y por tanto se ejecuta la eliminacion del quant fusionado, salta un error de permisos, que que el usuario no tiene permiso para eliminar el quant

El error es fácilmente subsanable por pantalla activando el permiso de eliminación en stock.quant pero esto abre una vía a tener un agujero en el sistema ya que en un caso enrevesado se les podrí

[2015-03-14 07:07] pedrobaeza commented on #719
Simplemente hay que hacer la operación ésa en concreto con `.sudo()`.

[2015-03-14 07:08] pedrobaeza commented on #718
Me parece bien. Sólo que lo llamamos "Add to wave" como el estándar.

[2015-03-14 15:19] cuijartija opened #720 "Control de calidad antes del movimiento de almacén."
Estimados todos los colaboradores y seguidores de este proyecto, gracias por la labor.

¿Existe algún módulo o configuración para poder forzar a realizar el test antes que de el producto llegue a almacén?

O en su defecto, ¿Es posible deshacer el movimiento si el control de calidad falló?

O como ustedes manejan los test fallidos, teórícamente so no pasa el control de calidad se debería hacer algo

[2015-03-16 02:58] #662 closed, assigned to oihane

[2015-03-16 08:10] anajuaristi commented on #720
Activa el almacén para que recepción sea realizada en 2 pasos. De esta forma recepcionas la mercancía en una ubicación. Si está correcto pasará a la siguiente, si no está correcto la devuelves a proveedor.

Requeriríais un poco de formación en la configuración de logística.
Cierro issue, ya que no es tal. Es más bien una duda funcional.

Cordiales saludos!

[2015-03-16 08:10] #720 closed, assigned to nobody

[2015-03-16 11:28] #719 closed, assigned to oihane

[2015-03-17 17:43] RamiTHelal opened #724 "How to configure advanced routes for manufacturing?"
I want to create a warehouse route, that picks the BOM components of product A (let's say these components are B, C, and D) from the raw materials warehouse RWH, to the manufacturing warehouse MWH to begin the manufacturing of product A.

I tried the pull rule and it gets the desired flow but it picks the finished product itself not its components!

Any help will be highly appreciated.

[2015-03-17 17:45] pedrobaeza commented on #724
This query is out of the scope of the project. Please post it on help.odoo.com.

[2015-03-17 17:45] #724 closed, assigned to nobody

[2015-03-18 14:51] juanfe opened #726 "Error en mrp_stock_location_route_fix"
Hola, encontré un error en el módulo mrp_stock_location_route_fix, al ingresar registros en stock.warehouse, el error es:

Traceback (most recent call last):
  File "/opt/odootest/odoo/openerp/http.py", line 530, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odootest/odoo/openerp/http.py", line 567, in dispatch
    result = self._call_function(*

[2015-03-18 14:53] pedrobaeza commented on #726
Buenas, Juan,

Eso es porque tienes una versión antigua del mismo. Está reparado en https://github.com/odoomrp/odoomrp-wip/commit/d842b91253ae9dc7f4c928b68f8bfd90c5437712

De todas formas, actualiza Odoo, porque ya no hace falta este módulo.

Un saludo.

[2015-03-18 14:53] #726 closed, assigned to nobody

[2015-03-20 11:29] clonedagain opened #728 "Clarification needed on MPA and sale plans"
@anajuaristi, @pedrobaeza
I'm trying to understand how the planning features are implemented in OdooMRP, because there is a pressing requirement for production forcecasting from my users.

On one hand there is a sales forecast, which can generate procurements based on past sales, right?

On the other hand there is a group of modules to group procurements in procurement plans, but it's not connecte

[2015-03-23 07:59] pedrobaeza commented on #728
Hi, @clonedagain,

The procurement plan is a quick and dirty solution that I don't like too much, but Ana proposed for solving one existing problem: all procurements are solved in the moment without time frame or any planning date consideration. This leads that orders planned in a year are inmediately procured.

With this "plan", you can group the procurements manually to avoid the execution of th

[2015-03-24 11:34] oihane commented on #714
Hecho en https://github.com/odoomrp/odoomrp-utils/pull/33
Mergeado en https://github.com/odoomrp/odoomrp-utils/commit/b8052fcc5c64b0d55f0e338f1e86350b8f90ddf0

Cierro

[2015-03-24 11:34] #714 closed, assigned to oihane

[2015-03-25 14:52] anajuaristi opened #737 "stock quant merge y manual quants"
Buenas...

Un par de cosillas que hemos detectado con estos 2 módulos instalados.

stock quant merge SOLO se ejecuta si pulsas la acción do_unreserve.
Si pulsas manual quants, asignas a mano y vuelves a pulsar seleccionando otros quants, los anteriores no se mergean.

Para evitar el tema, creo que al pulsar manual quants debería ejecutarse do_unreserve a fin de que los quants antiguos vuelvan a ju

[2015-03-25 15:08] oihane commented on #737
Si cuando seleccionas el quant de forma manual no seleccionas la cantidad completa tendrás que volver a seleccionar, por lo que si hicieses el unreserve, todo lo que ya hubieses seleccionado se deshace. Lo que pasa al seleccionar el quant manualmente, es que lo divide cuando se asigna, es decir es un error que comete el usuario. No sería más correcto que mergease aquellos quants que ha asignado? S

[2015-03-25 18:08] anajuaristi commented on #737
Si por eso, se deshace pero no lo veo problema porque ahora tampoco te deja seleccionados los quants que había, sino que les tienes que volver a dar click otra vez en el asistente.

Ejemplo: tienes un quant "1" de 20 unidades y un quant "2" de 20 unidades, necesitas 25 unidades

Tanto manual como automáticamente supongamos que asignas los 20 del "1" y 5 del "2", si vuelves a pulsar manual quants..

[2015-03-25 18:20] pedrobaeza commented on #737
Sin profundizar demasiado, como norma general diría que hacer un unreserve automático es MALA IDEA.

[2015-03-25 19:02] pedrobaeza opened #738 "Mejora en los módulos de packaging"
@alfredoavanzosc, estoy viendo un método de ORM llamado `read_group`, que permite obtener datos agregados por cualquier agrupación. Creo que eso puede ser mejor solución para obtener los totales de los paquetes y demás. ¿Lo miras?

[2015-03-30 11:44] anajuaristi opened #742 "Mejora de usabilidad en Abastecimientos en excepción"
Actualmente si un abastecimiento está en excepción y se "arregla" el problema que causa la excepción, es necesario ir manualmente y uno a uno "ejecutando" el resto de abastecimientos que se encuentran en la misma situación

Ejemplo --> Un producto no tiene proveedor, lo vendo, se crea abastecimiento que al ser ejecutado va a excepción. Así, lo vendo 10 veces, se crean 10 abastecimientos en excepci

[2015-03-30 11:47] pedrobaeza commented on #742
Se supone que cuando lanzas de nuevo el planificador, revisa esos abastecimientos en excepción. De todas formas, es tan fácil como seleccionar todas las excepciones desde la vista lista y darle a volver a ejecutar. No le veo utilidad a eso que propones.

[2015-03-30 11:47] anajuaristi commented on #742
Es que no hace ni uno ni otro.
Es decir... en la vista de lista no puedes reejecutar, tienes que ir uno a uno y el planificador no recalcula. Es decir, el planificador pasa olímpicamente de las órdenes en excepción. Se quedan ahí.

[2015-03-30 11:51] pedrobaeza commented on #742
Pues veo más lógico entonces tener la acción a nivel de vista que hacer esa operación oculta al usuario.

[2015-03-30 11:53] anajuaristi commented on #742
@pedrobaeza
Comentando con Alfredo... igual de la misma deberiamos añadir en menú esas 3 acciones, para que se pueda seleccionar y ejecutar dicha acción con los abastecimientos seleccionados:

.- Ejecutar (pasa de confirmado a en ejecución)
.- Cancelar
.- Volver a confirmado

Sería quizás lo más sencillo, crear las 3 acciones desde menú.

[2015-03-30 11:55] pedrobaeza commented on #742
OK

[2015-03-30 11:55] anajuaristi commented on #742
@alfredoavanzosc adelante con ello pues.
@pedrobaeza va a utils? O lo ves con enjundia suficiente para wip?

[2015-03-30 11:59] pedrobaeza commented on #742
utils de cabeza

[2015-03-30 14:49] lmurta opened #743 "Translations of forms and views"
I created and translated a .po file for my language (pt_BR).
After importing the .po file some terms are translate and other not:
![screenshot from 2015-03-30 11 47 40](https://cloud.githubusercontent.com/assets/605261/6898807/a0bcbf58-d6d2-11e4-82e1-b91616251c1b.png)

[2015-03-31 10:47] alfredoavanzosc commented on #742
El PR  es el https://github.com/odoomrp/odoomrp-utils/pull/36#issuecomment-88016587

[2015-04-03 17:55] pedrobaeza commented on #743
Maybe you haven't overwritten correctly the terms, but this is not something about OdooMRP itself, but Odoo. Please export again pot file and import on a fresh DB, or choose to load language overwriting translations.

[2015-04-03 17:55] #743 closed, assigned to nobody

[2015-04-06 14:43] pedrobaeza commented on #410
Solucionado y mejorado en https://github.com/odoomrp/odoomrp-wip/commit/afb89d0cdc54773d6e68c1e4a1d1b77c3f4aa7b0.

_ADVERTENCIA:_ Para que el precio de coste del producto se actualice, hay que tener precio medio puesto (como es lógico). Antes, se machacaba el valor sin más.

[2015-04-06 14:43] #410 closed, assigned to pedrobaeza

[2015-04-06 17:34] anajuaristi commented on #410
Sobre esto y segun vimos con dsn... En V8 se incorpora en core un nuevo
metodo de calculo en la ficha de producto y es el calculo real.
La diferencia es que el precio medio actua sobre todos los quants
existentes del producto asignando el precio medio a todos igual.
Si el metodo seleccionado es real solo modifica el quant afectado
No se como impactaria esto en el modulo landed cost, ni siquiera si

[2015-04-06 17:38] pedrobaeza commented on #410
No tiene nada que ver. El cálculo del precio medio/real sólo afecta al campo standard_price, no a los quants.

[2015-04-06 17:47] anajuaristi commented on #410
Si. Si que afecta. Lo que valora inventario es el quant y al realizar
movimiento de entrada se valora el quant en funcion del metodo elegido en
el producto.
Y como digo si es a medio se modifican todos y si es a real solo el quant
afectado.
Verificado con dsn hace unos dias que tuvimos que probar por un tema suyo
El 06/04/2015 19:38, "Pedro M. Baeza" notifications@github.com escribió:

[2015-04-06 17:53] pedrobaeza commented on #410
No, cada quant entra con su valor de price_unit del stock.move o del producto en caso de que no exista éste.

[2015-04-06 19:01] anajuaristi commented on #410
Si es real si pero si es a medio se recalcula el valor de todos los quants
existentes
Al menos con productos trazables funciona asi.
El 06/04/2015 19:53, "Pedro M. Baeza" notifications@github.com escribió:

[2015-04-06 19:04] anajuaristi commented on #410
De todas formas no tiene sentido discutir. Dejame mañana probar todos los
casos en runbot y a partir de eso vemos si hace falta retocar algo o no
El 06/04/2015 21:01, "Ana Juaristi" ajuaristio@gmail.com escribió:

[2015-04-06 19:07] pedrobaeza commented on #410
Bueno, no hace eso, mira:
- Éste es el código que se llama para actualizar el precio del quant:
  https://github.com/odoo/odoo/blob/8.0/addons/stock_account/stock_account.py#L77
  A este mismo método lo llamo yo, por lo que cualquier cosa que haga éste o heredados, lo replico.
- Este método actualiza el precio del producto:
  https://github.com/odoo/odoo/blob/8.0/addons/stock_account/stock_account

[2015-04-08 14:42] anajuaristi opened #750 "Issues con Fechas en OFs y OTs"
Hemos detectado los siguientes problemas (posiblemente problemas de core de odoo, a probar en runbot)

.- Si se confirma un OF, no permite editar fecha planificada. Pero sí permite mover la orden en el calendario, por lo tanto, en una vista sí permite mover y en la otra no. Mientra la orden no se inicia debería permitir modificar esta fecha
.- Al modificar la fecha de la OF, no impacta en las fech

[2015-04-08 21:45] ybofr opened #752 "Product variant sales: Button copy does not respect the status of the order"
The new button right from the product on the sales order line allows copying a position.

The problems are:
1. When an order is confirmed, the button should not be active. It is, so I can continue to duplicate lines that are created in the status draft, even if the order has the status confirmed.
2. When not in edit mode, the button should not be active. I can just press the button, even if I am n

[2015-04-08 21:59] anajuaristi commented on #752
About point 1: I agree... it's a bug and should be solved
About point2: I'm not so sure because you may want duplicate the line and open to change something. I don't see big issue on it and even I consider it may help user to avoid edit/save buttons sometimes.

anyway @pedrobaeza opinion?

[2015-04-08 22:52] ybofr commented on #752
Ana,

The issue I have is that, only the sales order gets changed, no other document. So, if I press the duplicate button, I change the sales order, but the delivery order is not changed and I do not notice that there is a discrepancy between sales order/delivery order/invoice.
As long as the order is NOT confirmed, i find it cool to just press the button without going to edit. But as soon as it i

[2015-04-09 20:28] #752 closed, assigned to nobody

[2015-04-09 20:29] pedrobaeza commented on #752
First point is fixed.

About second point, I agree with Ana: we may want to click in edit or view mode. Indeed, this is just as the regular buttons in the header.

[2015-04-09 20:33] ybofr commented on #752
Thanks Pedro for the quick fix.

[2015-04-10 09:17] ybofr commented on #752
We tested it and it still copies when I have confirmed the order.

[2015-04-10 10:01] ghost opened #753 "mrp_operations_extension: Dependencia con "hr""
Hola.

Si intento añadir un Usuario en la pestaña Operadores de un Centro de producción, sin tener instalado el módulo de Recursos Humanos, me da el siguiente error:

[code]

Supongo que faltaría o añadir una dependencia al módulo "hr_timesheet" o capturar el error.

[2015-04-10 10:30] anajuaristi commented on #753
Correcto.
El coste de operador está en el correspondiente producto de la ficha de empleado y por tanto la dependencia es requerida.
Gracias por reportarlo!!

[2015-04-10 10:31] anajuaristi commented on #753
@agaldona para tenerlo en cuenta cuando revisemos el módulo de costes.

[2015-04-11 08:12] pedrobaeza commented on #752
Sorry, I have discovered that state field on lines is not the same as state field for the header.

It's amended here: https://github.com/odoomrp/odoomrp-wip/commit/ca0c0bac4d90367908b50ba561e15af03d2d64c6.

[2015-04-12 15:57] anajuaristi opened #754 "CLM0272 Chequeo de valor válido en atributos tipo Rango en la OF"
En una OF con configurador, al introducir los valores de los atributos, en los tipo rango NO comprueba que el valor introducido esté dentro del rango y No da ningún aviso.

[2015-04-12 16:06] anajuaristi opened #755 "CLM0273 En OF con configurador, error "unidad de medida incorrecta""
Cuando se seleccionan valores en el configurador pero no existe producto creado ( es decir, el campo product_id queda vacío todavía) No permite grabar la OF por "unidad de medida incorrecta". El campo UDM queda sin informar.

Si el parámetro de configuración "varias unidades de medida" no está activado, el campo no se ve en la OF y por tanto puede confundir al usuario porque no se puede informar n

[2015-04-12 20:31] pedrobaeza commented on #755
Justamente es ése el problema.

[2015-04-12 20:34] pedrobaeza commented on #754
Esto debería tener un constraint, sí, porque si no, ¿qué sentido tiene el rango?

[2015-04-12 20:53] pedrobaeza opened #756 "Error de Travis"
El error se debe a una búsqueda, domain o similar que se hace en algún módulo con un campo x2many (one2many o many2many), que no está soportado por el actual estándar.

Este PR (https://github.com/odoo/odoo/pull/5898) lo arregla para el estándar, y éste para OCB (https://github.com/OCA/OCB/pull/181), pero mientras no lo integren, va a seguir dando error.

Hay dos opciones:
- Localizar dónde está e

[2015-04-13 13:06] alfredoavanzosc commented on #742
Esto ya está realizado, Pedro ya realizó el merge en su día, el módulo se llama "procurement_manager", y se encuentra en odoomrp-utils

[2015-04-13 13:08] #742 closed, assigned to alfredoavanzosc

[2015-04-13 15:53] oihane commented on #755
Uhm... parece que con lo que dice Ana no se soluciona, https://github.com/odoomrp/odoomrp-wip/blob/8.0/mrp_product_variants/models/mrp_production.py#L106

[2015-04-14 07:50] oihane commented on #754
Creo que esto se hizo para ventas pero no para compras y para fabricación. @anajuaristi lo tienes probado en compras?

[2015-04-14 07:54] oihane commented on #754
veo que lo que pides estaría hecho, puedes decirme donde has visto que no lo hace, porque parece que no se haya instalado el modulo mrp_product_variants_types

[2015-04-14 20:23] ybofr opened #761 "The internal reference is created for the first variant and added to the product template"
Hello,

I created the following: 1 product template, 1 sales order based on the product template.
Then, I confirmed the sales order and the product variants were created. Then, the field internal reference was set on the product template, using the mask. This is wrong. I do not want to have an internal reference, that refers to the first variant, saved in the product template.
Then, I created a se

[2015-04-14 20:25] ybofr opened #762 "Product attributes were deleted when changing the quantity in the sales order"
I created a sales order with the quantity one. Before saving it, I decided to change the quantity. Suddenly, many attributes were deleted and then, the system would of course not allow to confirm because attributes were missing.

This is a mistake that was on the last version. We reversed to an earlier version and this bug was not present.

Regards

[2015-04-15 00:51] spadae22 opened #763 "purchase landed cost not update cost"
Helllo,
I set up the product with ave cost and created a new PO, DO. Then used added the landed cost. The calculation is correct, but the update product cost does not update?

[2015-04-15 02:35] spadae22 commented on #763
OK, I really like this module. The issue in _product_price_update I see is when qty <=0, it sets the price to move.price_unit which is the cost on the PO. Not the landed cost. If existing stock moves exist, then the calculation is correct since it used the other calculation.

The calculation works if:
if product_avail <= 0:
                new_std_price = new_price

I am not sure if the cancel wil

[2015-04-15 11:17] ybofr opened #766 "Cannot manually create any product variant"
Hi,

The module is great, and it works perfectly to create product variants based on confirmed orders. The issue is that I need to create a certain number of variants manually, but this is not possible. The creation does not allow me edit the variant attribute.

Any help possible on that?

Thanks
Eva P.

[2015-04-15 11:21] pedrobaeza commented on #766
You have two ways:
- Go to product variants, and create it there.
- Go to products (templates), click create, and on variants tab, unmark check "Don't create variants automatically", and continue creating the attributes the regular way.

[2015-04-15 11:21] #766 closed, assigned to nobody

[2015-04-15 11:36] ybofr commented on #766
The first way does not work...I would not have asked you such a trivial question ;-). I am not able to choose the attributes values, when I go to create variants.

I do not have a checkbox Don't create variant automatically. I have a list. But, if I now select to create the variant automatically, I will have 4000 variants created immediately, what I do not want.

So, I do not see how to create thi

[2015-04-15 11:43] pedrobaeza commented on #766
Ah, OK, you want to create a specific variant for a general template. That can't be achieved, because it's not a use case, but you can do a trick with another module:
- Create a single product variant, that creates its template.
- Install _product_template_reassign_ module.
- Go to the template with attributes.
- Select More > Product template reassign (or something similar).
- For the specific va

[2015-04-15 13:00] ybofr commented on #766
Thanks Pedro. I will try it.

## Regards

Eva P.

Affordable high quality training on Odoo-training.com http://odoo-training.com/

[2015-04-15 20:57] anajuaristi commented on #754
Ahhh... aquí ya sé lo que está pasando.
El valor del atributo se está evaluando al grabar el pedido. ¿No debería ser en el onchange del campo custom en el configurador? Si no, da la sensación de que no evalúa. El otro día no llegamos a grabar el dato, creo. Simplemente anduvimos "jugando" con diferentes valores del configurador.

Ya direis si cambiamos la evaluación de la constraint o sabiéndolo s

[2015-04-15 21:31] anajuaristi commented on #345
Al final no se hace. Cierro

[2015-04-15 21:31] #345 closed, assigned to nobody

[2015-04-15 22:45] anajuaristi opened #768 "CLM0245 Los valores por defecto en atributos deberían aparecer ya al crear un producto"
Asigno por defecto al atributo Memoria el valor 16GB y en el pedido de venta, no trae ese valor al configurador para el atributo Memoria

[2015-04-16 07:52] pedrobaeza commented on #768
Qué entiendes por asignar por defecto?

[2015-04-16 08:57] oihane commented on #768
Yo entiendo que en la primera carga del configurador cogerá esos valores

[2015-04-16 09:20] oihane commented on #768
@anajuaristi @tomasherrero @pedrobaeza
El módulo que carga los por defecto es `product_variants_types` puedes comprobar que este instalado, si no deberás instalarlo ya que toda la lógica que hace la carga de atributo se encuentra ahí

[2015-04-16 09:50] anajuaristi commented on #768
Pero es que ese ya estaba instalado. Me lo dijiste ayer y lo verifiqué. Por eso levanté el issue para confirmarte que seguía sin coger los valores.

[2015-04-16 09:53] oihane commented on #768
en demo_noviembre2 lo he instalado yo hace un momento y ahora mismo en odoomrp_marzo

No se quien te lo dijo ayer porque yo lo acabo de comprobar y decirtelo...

[2015-04-16 23:57] pedrobaeza commented on #754
Sí, es cierto que la advertencia sale demasiado tarde. La forma de hacerla "instantánea" es con el onchange del valor, que lance un raise exceptions.Warning en caso de que no sea correcta, o devolver el warning simplemente en el onchange, porque no sé si lo primero causaría alguna inconsistencia (en principio, creo que no).

[2015-04-17 00:11] pedrobaeza commented on #762
We cannot reproduce the problem in our installations. Can you provide the installed module list and a step by step flow that gets to the error?

[2015-04-17 00:16] pedrobaeza commented on #755
Resuelto en https://github.com/odoomrp/odoomrp-wip/commit/aca051f935e51606f4043e91234eb4a2bc5cba53.

@oihane, acostúmbrate por favor a dos cosas:
- Incluir el nombre del módulo en cada commit. Así, me ha sido difícil localizarlo. No sirve de nada que en el commit inicial lo pongas, porque luego en la lista de commits eso no se ve.
- Incluir en uno de los commits (normalmente el inicial), el texto

[2015-04-17 00:16] #755 closed, assigned to oihane

[2015-04-17 00:20] #753 closed, assigned to agaldona

[2015-04-17 00:21] pedrobaeza commented on #753
Ya la he añadido yo. Gracias por reportarlo.

[2015-04-17 02:37] ybofr commented on #762
Hi Pedro,

We rolled back the update of the module as we had to go live with the system, so I do not have the possibility to reproduce or inform further about it. You may close the issue and we will check later, if this happens again.

## thanks

Eva P.

Affordable high quality training on Odoo-training.com http://odoo-training.com/

[2015-04-17 05:01] #762 closed, assigned to nobody

[2015-04-17 07:26] oihane commented on #754
Entonces... se lo pongo?

[2015-04-17 07:30] pedrobaeza commented on #754
Sí

[2015-04-17 10:07] ghost opened #774 "Issue con la Fecha final de las Órdenes de Trabajo"
Hola.

A ver si me explico correctamente.

Fijándome en cómo gestiona Odoo la programación de Órdenes de trabajo me he encontrado con que al generar una Orden de producción y elegir su "Fecha programada", Odoo calcula la "Fecha final" (date_planned_end) de la Orden ignorando la parte de los minutos y segundos. Me explico:
- Tengo un Producto para fabricar y su Ruta de producción con dos Operacione

[2015-04-17 12:28] pedrobaeza commented on #774
Buenas, Eduardo, efectivamente, ese comportamiento es erróneo, pero hay que corregirlo en el propio Odoo, y es por lo que hay que luchar. Voy a suscribirme al issue para seguirlo.

Cierro aquí.

[2015-04-17 12:28] #774 closed, assigned to nobody

[2015-04-17 12:28] pedrobaeza commented on #774
Aclaro que no es lo mismo que #750, porque lo otro tiene que ver directamente con la gestión de operaciones.

[2015-04-17 12:39] ghost commented on #774
Correcto correcto, no es lo mismo. Me refería a que también es un comportamiento erróneo del core.

[2015-04-20 13:03] alfredoavanzosc commented on #718
Nuevo módulo realizado y subido

[2015-04-20 18:20] alfredoavanzosc commented on #718
El PR es el https://github.com/odoomrp/odoomrp-utils/pull/42

[2015-04-21 15:20] ybofr opened #781 "copy of position copies only the first line and not the selected line"
The attribute values are taken from the first line while the description is taken from the copied line.

[2015-04-21 15:26] pedrobaeza commented on #781
Please specify a little more. Where? Which copy? Which model?

[2015-04-21 15:38] ybofr commented on #781
Sorry, was in my own world: sales order copy with your variant module. So, I created one line and copied it and it worked. Then I changed the second line and I copied it. The description was taken from the second line, but the attributes values were all taken from the first line.

[2015-04-22 19:55] ccarly opened #786 "mrp_manufacturing_order_sale_line"
Me quede fuera, que paso con este modulo?

[2015-04-23 14:49] anajuaristi opened #789 "mrp_packaging al comprobar disponibilidad debería coger lote del padre"
Hemos detectado lo siguiente:

Orden de fabricación de producto base
Crear órdenes de envasado
Confirmar orden de envasado

Si en el movimiento del producto base (producido en el padre) hay más lotes creados por otras OFs, o restos que no se hayan utilizado, al comprobar disponibilidad le asigna esos lotes
En este caso, SOLO debería asignar el lote del "padre" en las órdenes de envasado hijas.

Es

[2015-04-24 08:27] oihane commented on #756
Arreglado cierro

[2015-04-24 08:27] #756 closed, assigned to nobody

[2015-04-24 08:30] oihane commented on #579
Hecho en https://github.com/odoomrp/odoomrp-wip/commit/2e09c674fd3ed23d7d914bdf82b1b8aa62c5a54c

[2015-04-24 08:30] #579 closed, assigned to mikelarre

[2015-04-24 19:55] oihane commented on #786
Que se ha integrado esto mismo dentro del siguiente modulo https://github.com/odoomrp/odoomrp-wip/tree/8.0/mrp_production_sale_info

Ya que el objeto del **manufacturing_order** es realmente `mrp.production`

Saludos

[2015-04-25 04:11] #786 closed, assigned to nobody

[2015-04-27 10:35] oihane commented on #707
Hecho en https://github.com/odoomrp/odoomrp-utils/commit/a08240f22cd7f5a19addf7299f6f9cb00ae4c3eb

[2015-04-27 10:35] #707 closed, assigned to Daniel-CA

[2015-04-29 14:23] slevenhagen opened #797 "Trace Error when Starting Operations with "Required Test" is Set (Quality Control - MRP operations)"
File "/opt/odoo/8.0/addons-extra-links/mrp_project_link/models/mrp_production.py", line 92, in action_start_working
    res = super(MrpProductionWorkcenterLine, self).action_start_working()
  File "/opt/odoo/8.0/odoo/openerp/api.py", line 239, in wrapper
    return new_api(self, _args, *_kwargs)
  File "/opt/odoo/8.0/odoo/openerp/api.py", line 397, in new_api
    result = [method(rec, _args, *_kwa

[2015-04-29 16:51] #797 closed, assigned to nobody

[2015-04-29 18:29] slevenhagen opened #798 "When Opening a Inspection Test from Work Order on Manufacturing order Can not edit Question Values"
I have set Manufacturing Order to edit mode, then clicked on Work order Tabs, then click to "Quality Test" page then open the actual inspection  in pop up window neither the Work order or the quality test can be edited or have button to enter  edit mode .  instead need to close Manufacturing order and go to Quality COntrol>>Inspections and  open there to edit.

[2015-04-29 19:51] anajuaristi commented on #798
Take in mind inspections are created in draft status. You need to advance step fordward to set values.
Try to push todo button left up side on inspection and let us now

[2015-04-29 20:54] slevenhagen commented on #798
Yes I have changed the Status and clicked the todo button I have tested  this flow works  when opening the inspection from the Quality Control Menu and it works fine, but when attempting same step from Work order on manufacturing order is when I have this issue, Let me show steps I'm using.

Open Production Order in edit mode and Select Work Orders page tab.
![step1](https://cloud.githubuserconten

[2015-05-04 12:31] anajuaristi opened #801 "Pequeños ajustes en el nuevo módulo de plan"
Mejoras de usabilidad
1. Sacar a la vista los botones individuales de los abastecimientos al tree
2. Hacer visible en el tree el método de abastecimiento ( rule_id del propio procurement)
3. Meter un shorcut que me permita navegar a los abastecimientos incluidos en un plan
4. La descripción, en la creación del abastecimiento en vez de llevar un texto fijo "generated from plan" ponerle la secuencia

[2015-05-05 11:02] #754 closed, assigned to oihane

[2015-05-05 11:08] oihane commented on #789
Resuelto en https://github.com/odoomrp/odoomrp-wip/commit/12746d8f7aeb24744d9c729815877f746236d028 pendiente de validar por @anajuaristi

[2015-05-05 12:13] ghost opened #803 "Coste real Pre y Post operación"
Hola.

Intentaré explicarme por partes, ya que hablo de dos módulos:
- El módulo mrp_production_project_estimated_cost genera las líneas analíticas para los costes de pre y post operación. Pero además, también les asigna directamente el coste real a través del campo "amount", con un valor igual al del Precio de coste del Producto asociado al Centro de producción para el coste de pre o post operaci

[2015-05-06 21:41] anajuaristi commented on #801
Testeado en ofi... por mi parte y a falta de alguna prueba más :+1: RTM

[2015-05-06 21:42] anajuaristi commented on #801
Bueno.. una pequeña chorradilla...
El botón de shorcut del plan a los abastecimientos se va de línea...

[2015-05-06 21:53] anajuaristi commented on #801
Otra pequeña cosa...
En los puntos 4 y 5 había pedido que se asigne el número de secuencia del plan y no el nombre. Se está asignando nombre en ambos. Podemos dejar en la descripción el nombre y en origen la secuencia por ejemplo
Secuencia PPLAN-000013 iría al campo origen del abastecimiento
Nombre Mayo1 iría al campo descripción

@alfredoavanzosc @pedrobaeza

[2015-05-07 12:18] ghost opened #804 "Orden de producción usando una Plantilla que no crea automáticamente variantes"
Tras instalar los módulos product_variants_no_automatic_creation, mrp_product_variants y mrp_product_variants_operations; no me deja crear una Orden de producción de una Plantilla de producto que tiene 0 variantes. De hecho, ni me aparece la Plantilla de producto en el campo correspondiente ni me aparece la opción de "Buscar más" en el campo product_template del modelo mrp.operations.

![image](ht

[2015-05-08 07:52] anajuaristi commented on #801
Otro pequeño bug
Al hacer la explosión del BOM, no propaga cantidades a siguientes niveles

[2015-05-08 10:31] alfredoavanzosc commented on #801
Todo lo solicitado por Ana esta corregido, pendiente de que Pedro revise los módulos, y realice el Merge. El PR es el https://github.com/odoomrp/odoomrp-wip/pull/799.

[2015-05-08 23:20] pedrobaeza commented on #798
This is probably an error on the handling of edit context of the web client, not the module itself, but you should click on the smartbutton "1 Created inspections" instead to get the associated inspections, which are open on background, and you can edit them.

[2015-05-08 23:20] #798 closed, assigned to nobody

[2015-05-09 00:00] #804 closed, assigned to nobody

[2015-05-09 00:04] pedrobaeza commented on #804
Buenas, Eduardo,

En realidad, no es una cuestión de los módulos de OdooMRP, si no del método de búsqueda estándar del _product_template_, que busca las plantillas de los productos que cumplen ese criterio (https://github.com/odoo/odoo/blob/8.0/addons/product/product.py#L818). Como no hay ningún producto, no puede buscar su plantilla asociada. Si no tecleas nada, entonces sí que podrías encontrar

[2015-05-11 00:27] anajuaristi opened #805 "Plan y listas de materiales - Múltiples cuestiones"
Buenas...
En el módulo de plan, si en la lista de materiales existe alguna línea donde no se haya especificado product_id y sí template_id, da un traceback
Creo que sería necesario hacer un módulo enlace o algo.
Si la lista de materiales corresponde a un producto genérico, NO SE PUEDE hacer un plan, puesto que no se conoce el producto específico con el que hay que fabricar.
La solución no es simpl

[2015-05-11 07:34] pedrobaeza commented on #805
Supongo que lo que querrán los usuarios de este sistema es "que se planifique hasta donde se pueda", pero entonces habrá que:
- Ser tolerante a esos errores (chequeando que tenga valor en el campo)
- Informar al finalizar el proceso de los mismos (preparando un diccionario de un TransientModel que actúe como registro, o puedes utilizar el módulo existente https://github.com/OCA/web/tree/8.0/web_ir