[2015-05-11 10:01] cubells opened #806 "[8.0] Falta de dependencias en el módulo mrp_packaging_project_link"
He instalado el módulo en la versión 8, y una vez instalado, si intentas instalar el módulo purchase_analytic_plans, no se puede porque existe un error en la vista.

Error details:
El elemento '<xpath expr="//field[@name='order_line']//field[@name='account_analytic_id']">' no puede ser localizado en la vista padre

[code]

Si instalo al revés, primero purchase_analytic_plans y después el mrp_packa

[2015-05-11 10:35] anajuaristi commented on #806
Puf... el módulo no está preparado para funcionar con analytic_plans
De hecho yo creo que NO debe instalarse el analytic_plans tal y como está
montado ahora porque desmonta bastante todo.

Se necesitaría un glue module o un mrp_project_analytics_package_link
autoinstalable en caso de tener los 2
@pedrobaeza

El 11 de mayo de 2015, 12:01, cubells notifications@github.com escribió:

##

CEO Avanzosc

[2015-05-11 13:49] alfredoavanzosc commented on #805
Pedro... usando el módulo "web_ir_actions_act_window_message", es como si me cortara el proceso, me muestra el error, pero no me muestra los abastecimientos generados.

[2015-05-11 13:52] alfredoavanzosc commented on #805
Sin el módulo "web_ir_actions_act_window_message", si que veo los abastecmientos generados, pero no veo el WARNING. Lógicamente no veo el warning, porque no vengo de un onchage, sino de un botón.
NO SE COMO HACER ESTO, mostrar los abastecimientos generados, y el mensaje.

[2015-05-11 13:53] pedrobaeza commented on #805
Claro, eso sí, porque ése se supone que es el "último" paso. Si quieres después mostrar algo, tendrás que poner un TransientModel que te muestre el log, y al pulsar en un botón, ya te abra lo otro.

[2015-05-11 13:56] alfredoavanzosc commented on #805
¿Último paso?, ya esta puesto como el último paso. ¿Mostrar después algo?, si ya tengo grabados los abastecimientos. ¿Poner un TrasientModel que me muestre el log, y luego pulsar en un botón, y que abra lo otro?, ¿entonces para que uso el módulo que me dices?, sin usar ese módulo, puedo yo directamente crearme un wizard, donde muestro los errores, y que le den aceptar.

[2015-05-11 14:08] pedrobaeza commented on #805
Claro, eso es lo que te estoy diciendo que hagas. Lo otro es porque creía que no tenías que mostrar después nada.

[2015-05-11 14:15] anajuaristi commented on #805
¿Y porqué un wizard? porque no vais concatenando en un campo texto los errores y que los vean ahí y ya está?
Que pasa si cierran el wizard? ya no verían más los errores y no puedo volver a ejecutar no?
No es mejor en un texto o incluso en un objeto nuevo?
My2cents

[2015-05-11 14:17] pedrobaeza commented on #805
Otra estrategia es poner esos errores en el chatter como comentarios.

[2015-05-11 14:23] anajuaristi commented on #805
Me gusta más.
Lo que no tenemos es chatter en el plan. Habría que meterlo.

2015-05-11 16:17 GMT+02:00 Pedro M. Baeza notifications@github.com:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone / Tfono oficina:
(+34) 943 02 69 02
Ana Juaristi Olalde http://www.anajuaristi.com/: Personal phone: 677 93
42 59. User/usuario skype: Avanzosc
www.openerpsite.com

_El contenido de esta comunica

[2015-05-11 14:23] alfredoavanzosc commented on #805
Ana... decirme como queréis, yo esto lo tengo que terminar si o si. Yo tengo que preparar las sesiones de los cursos, y me está llevando mucho tiempo el preparar solo una sesión.

[2015-05-11 14:25] anajuaristi commented on #805
Pues así va...
Mete un chatter al plan y vas escribiendo ahí los errores.
Quitamos el transient model y líos varios. Aparte de que queda todo ahí reflejado y si a futuro se nos ocurren otros tipos de error podemos tirar también

[2015-05-11 17:20] alfredoavanzosc commented on #805
Arreglado el BUG tál y como se ha solicitado. Última subida en PR https://github.com/odoomrp/odoomrp-wip/pull/799.
Respecto al tercer punto comentado por Pedro: "Incorporar mecanismo para relanzar esa parte (@alfredoavanzosc, ¿eso se puede tal como está ahora mismo el módulo?)". Habría que pensarlo para realizar esta parte, de momento no hace nada.

[2015-05-11 17:29] anajuaristi commented on #805
Sería complicado intentar reejecutar solo los que han fallado, pero relanzarlo entero sería tan sencillo como esto:

Actualmente hacemos --> Navegar a los abastecimientos desde el shorcut, borrar todos, volver al plan y relanzar.
Quizás se podría incluir un "metaboton" junto con el resto que haga justamente esto: Borrar todos los abastecimientos asociados al plan (los que se puedan borrar según wo

[2015-05-11 17:36] alfredoavanzosc commented on #805
Borrar según "workflow" no se puede borrar, como mucho "cancelar".

[2015-05-11 18:32] anajuaristi commented on #805
Pues eso... primero cancelar los que puedan cancelarse y luego borrar.
El botón de cancelar ya lo tenemos en el plan

[2015-05-11 19:17] alfredoavanzosc commented on #805
OK. Esperando el "ok" de Pedro para realizar esto.

[2015-05-11 20:30] anajuaristi commented on #805
Buenas @alfredoavanzosc

Acabamos de tener Pedro y yo una reunión donde hemos pensado extender bastante el módulo de plan (no asustarse porfa)

Los cambios que queremos hacer:
1. Boton "importar" : Permitirá importar cualquier abastecimiento que cumpla las siguientes condiciones:
   .- NIVEL = 0 (pondremos como valor por defecto el cero al crearse los abastecimiento, o sea todos se crean con nivel

[2015-05-11 20:36] anajuaristi opened #807 "Extensión 2: Generar por nivel y borrar rama en abastecimientos de plan"
1. Permitir generar la explosión por niveles

Añadiremos un botón en líneas de abastecimiento que sea: Generar abastecimientos solo para este nivel.
El botón genera todos los abastecimientos del siguiente nivel en la lista de materiales y no desglosa todo el árbol.
2. Permitir borrar una rama del árbol
Añadiremos un botón en líneas de abastecimiento que sea: Borrar árbol de abastecimientos de esta

[2015-05-11 20:45] anajuaristi opened #808 "Extensión3: fusión de módulo MPS con Plan"
Vamos a simplificar y fusionar el módulo MPS con el módulo de plan.
Para ello:

Vamos a llevar los botones y sus correspondientes wizards: Importar desde ventas e importar desde compras al plan
En vez de crear el producto intermedio del mps y desde ahí un abastecimiento, se creará directamente el abastecimiento dentro del plan
Los cálculos del wizard y sus campos se harán exactamente igual que se

[2015-05-12 03:37] jeffery9 opened #809 "[8.0] mrp_operation_extension module not calculate the WO schdule"
after install mrp_operation_extension, found that it does not calculate WO schedule time, instead just use the `hour_nbr` multiple with cycle, this is wrong logic.  `hour_nbr` is the time use to to get the operation of the routing to be ready to work, not the total time to finish this operation.

as the hours is wrong, so the planing calculate is wrong too.

[2015-05-12 04:42] jeffery9 commented on #809
in  class `MrpRoutingWorkcenter(models.Model):`

defined

[code]

routing operation `cycle_nbr` and `hour_nbr` is totally different with the original mrp module.

this method overwrite the logic of mrp_operation, the is incompatible

[2015-05-12 04:46] jeffery9 commented on #809
i think that should add  field `cycle_nbr` and `hour_nbr`  to model `mrp.operation.workcenter`

[2015-05-12 06:38] alfredoavanzosc commented on #805
Vosotros diréis donde se realiza toda esta programación. El módulo "mrp_procurements_plan", tiene un móntón de botones en la cabecera. Así que decirme por favor donde hago esto, en "mrp_procurements_plan", o en otro módulo.

[2015-05-12 06:47] pedrobaeza commented on #805
Sí, seria en ese módulo. Enfoque correcto.

[2015-05-12 06:49] pedrobaeza commented on #808
:+1:

[2015-05-12 06:51] pedrobaeza commented on #807
Esto nos permite borrar alguno de los botones que estaban en cabecera.

Además, se añade un botón que sea desplegar el siguiente nivel, que hace justamente eso (en lugar de desplegar todos los niveles). Para ello, cambia el método recursivo a uno que sólo examine un nivel y devuelva lo obtenido en ese nivel, y cuando hagas la explosión de todos los niveles, simplemente llamas iterativamente a expl

[2015-05-12 06:55] alfredoavanzosc commented on #805
Contesto a los puntos que pide Ana.
Punto 1 --> Haré un botón nuevo llamado "Importar Abastecimientos Internos". Si modifico el botón "Importar abastecimientos" que existe en la actualidad, quitaríamos funcionalidad que pusimos en su día, es decir el poder importar cualquier tipo de abastecimiento y tratarlo desde ahi.
Punto 2 --> Se pide que ahora el botón de "Generar abastecimientos " ejecute so

[2015-05-12 06:56] alfredoavanzosc commented on #805
Pedro... antes de empezar yo con todo esto, valida el código que subí ayer, así eso que me quito de encima, porque si no se juntará lo hecho, con lo nuevo.

[2015-05-12 06:59] pedrobaeza commented on #805
Alfredo, en el punto 1 no tienes que cambiar nada. El botón vale tal cual. Tienes que poder importar lo que quieras. La clave está en que tú harás despliegue si el método es fabricar y tiene LdM. Si no, no harás ningún despliegue.

[2015-05-12 07:00] pedrobaeza commented on #805
Sobre lo de validar no tiene sentido, porque vas a modificar gran parte de ese código, así que considéralo como bueno con las cosas que te dije ya, y sobre lo que hagas ahora, ya te lo valido en su estado final.

[2015-05-12 07:01] pedrobaeza commented on #805
Punto 2. "Generar abastecimientos" sigue funcionando exactamente igual. Lo que cambia es que ahora es para cualquier de las líneas de nivel 0 que cumpla lo que te he dicho antes, no sobre el campo que existía en cabecera.

[2015-05-12 07:01] pedrobaeza commented on #805
¿Entendido ahora?

[2015-05-12 07:02] alfredoavanzosc commented on #805
Si que se me piden un cambio en punto número 1, porque ahora se restringe a que los abastecimientos tienen que ser te tipo "interno", cuando antes se podía importar cualquier tipo de abastecimiento, para poder tratarlo. Igual habría que separar en 2 opciones de menú, una para plan de abastecimientos, y otra para plan de abastecimientos para MRP.

[2015-05-12 07:02] pedrobaeza commented on #809
Hi @jeffery9, we have reused that field to avoid propagating more data between all the structure because is a dead field with no use except to display the information.

[2015-05-12 07:05] pedrobaeza commented on #805
Vale, pues esa parte no me he dado cuenta. Quita esa restricción. Da igual. Lo que te digo en el punto 2 es lo que limita la "explosión de materiales"

[2015-05-12 07:09] anajuaristi commented on #805
No. No existen abastecimientos de tipo interno.
Lo que se pide es abastecimientos cuya ubicacion sea de tipo interno.
Efectivamente no hay que añadir ningun boton. Basta con el que hay. Es cambiarle las condiciones de importacion

[2015-05-12 07:11] pedrobaeza commented on #805
Por qué limitar a internos, Ana? Déjalo que sea de lo que quiera.

[2015-05-12 07:16] alfredoavanzosc commented on #805
Bueno... perdón, me he equivocado, de tipo interno no, con ubicación interna. Hago un menú para el módulo "procurement_plan" llamado plan de abastecimientos, donde dejaría el "Importar abastecimientos de siempre", y creo otra opción de menú "Plan de abastecimientos MRP", donde el botón "importar abastecimientos" tenga la restricción de ubicación interna?.
¿Que os parece?

[2015-05-12 07:19] alfredoavanzosc commented on #805
Ahhh. ahora me estoy dando cuenta, que si los separamos por 2 opciónes de menú, igual habría que crear otro objeto nuevo "mrp.procurement.plan", para el plan de abastecimientos de MRP.

[2015-05-12 07:23] pedrobaeza commented on #805
No, Alfredo, no los separes. Es el mismo menú y el mismo botón. No te hagas lío. Vuelve a leer las especificaciones y los comentarios anteriores.

[2015-05-12 07:24] alfredoavanzosc commented on #805
Pedro... me encuentro entre 2 aguas, tu me dices de no poner restricción, y Ana que sí. Así que haré un botón para importar abastecimientos con ubicación interna. Gracias.

[2015-05-12 07:27] pedrobaeza commented on #805
Para poner la restricción siempre se está tiempo. Le he pedido aclaración a Ana de por qué esa restricción, pero no hagas un botón alegremente porque sí. Déjalo como está. Si el botón no tienes que tocarlo ahora mismo.

[2015-05-12 08:25] jeffery9 commented on #809
for the original design,  BOM explode calculate  2 result, one is materials requirement, and another is time requirement.  for time calculation, compute the cycle need to complete the production first, then use cycle multiple with  total time consumed in the work centers and the preparation time for the routing operation, formula is  `wc_use.hour_nbr * mult + ((wc.time_start or 0.0) + (wc.time_sto

[2015-05-12 11:22] pedrobaeza commented on #809
We have changed that to acommodate to the new semantic. Have you seen it?

[2015-05-12 14:11] jeffery9 commented on #809
yes, have see you guy have changed a lot of things, but it very hard to
understand those.  have one question is you override bom_explode result to
add `time_start` and `time_stop`, but those two properties has not beed
defined in `mrp.routing.workcenter`.

are there have any document for how to use it. thanks.

On Tue, May 12, 2015 at 7:22 PM, Pedro M. Baeza notifications@github.com
wrote:

##

Je

[2015-05-12 17:18] pedrobaeza commented on #809
Sorry, but we don't have. The funding we have is only for development.

[2015-05-12 17:56] alfredoavanzosc commented on #805
Realizado en PR https://github.com/odoomrp/odoomrp-wip/pull/799

[2015-05-12 17:56] alfredoavanzosc commented on #807
Realizado en PR https://github.com/odoomrp/odoomrp-wip/pull/799

[2015-05-12 21:15] anajuaristi commented on #718
Hola @pedrobaeza
Para instalar estos módulos que tienen dependencia con el stock_picking_package_preparation, necesito que se instale este en el server demo.
Gracias!!

[2015-05-12 21:48] anajuaristi opened #811 "Costes reales ajustes y cambios"
Buenas... Hay algunas cosillas en costes reales que debemos ajustar... pongo las que he visto de entrada y según vaya haciendo más pruebas iré añadiendo más si hace falta.
1. En la pantalla de costes que se hizo que se lanza desde la OF, no se visualiza el producto
   Además, aunque se lance cuando la orden está en progreso o realizada, no contempla las líneas analíticas de imputación de los coste

[2015-05-12 21:54] anajuaristi commented on #811
@agaldona si hay dudas me preguntas porfa.
@pedrobaeza validar los cambios

[2015-05-13 20:04] anajuaristi opened #812 "Cambiar la fecha prevista de una OF deja tal cual las fechas de las workorders."
Buenas.. he detectado y reportado este error a Odoo pero es bastante bloqueante para planificar por lo que lo levanto aquí en Wip para que no se nos olvide y si es necesario hacer nosotros mismos el parche:
https://github.com/odoo/odoo/issues/6694

[2015-05-14 00:03] pedrobaeza commented on #811
Sólo comentar que ya no tiene sentido actualizar el precio estándar del template.

[2015-05-14 14:10] alfredoavanzosc commented on #808
Realizado, se encuentra en la última subida del PR https://github.com/odoomrp/odoomrp-wip/pull/799

[2015-05-17 14:22] pedrobaeza commented on #806
El problema viene de que los módulos estándar *_plans hacen un position="replace" sobre los campos analytic_account_id, lo que es fatal, ya que eso nunca debería hacerse, porque cualquier posicionamiento siguiente sobre esos campos de como consecuencia un error como éste. Lo suyo es poner un issue a Odoo para que utilice position="attributes" y poner el campo como invisible.

[2015-05-17 14:22] #806 closed, assigned to nobody

[2015-05-17 15:45] anajuaristi commented on #804
Otro "truco" para saltarte este comportamiento del standar, es crear manualmente un producto "sin atributos" asociados. Para ello, vas a la plantilla, navegas a variantes y pulsas el botón "crear" a mano. Esto crea un producto vacío y ya te permite buscarlo por plantilla

[2015-05-17 15:47] pedrobaeza commented on #804
Ana, eso ya no hace falta. Está parcheado en nuestro módulo el error del estándar.

[2015-05-17 15:58] anajuaristi commented on #804
Si, pero sucede también en otros puntos... y con el truquillo que escribo se "arregla" en todos ellos.
Quizás el parche que deberíamos pensar es crear al menos un product_id en todos los casos, aunque pongamos no crear atributos. No sé. Conceptualmente es correcto no crear ninguno, pero en algunos sitios el sistema va a "buscar" al menos uno.

[2015-05-17 16:01] pedrobaeza commented on #804
Está solucionado en todas partes: https://github.com/odoomrp/odoomrp-wip/blob/8.0/product_variants_no_automatic_creation/models/product.py#L111

[2015-05-17 17:33] anajuaristi opened #823 "CLM0305: Ampliación lista "estructura de lista de materiales""
Actualmente se lanza la estructura en árbol de una lista de materiales desde el menú de cabecera de la propia lista. Es correcto ya que despliega la estructura de la lista con todas las listas que contiene.

Funcionalidad básica faltante:
.- NO enseña las cantidades de producto (cuidado, ya que no debe realizar la suma de cantidad en cabecera)
.- Al clickar en una de las listas de cualquier nivel,

[2015-05-17 17:45] pedrobaeza commented on #823
:+1:

Lo de la suma no sé si se podrá hacer.

[2015-05-17 17:55] anajuaristi opened #824 "Issues nueva versión "plan""
1. Al crear abastecimientos desde "crear ventas", se crean sin regla asociada
2. Al pulsar el botón "ejecutar" abastecimiento, da un traceback max recursion...

[code]

[2015-05-18 07:06] alfredoavanzosc commented on #824
Solucionados estos 2 BUGs en la última subida. https://github.com/odoomrp/odoomrp-wip/pull/799

[2015-05-18 08:09] elicoidal opened #825 "[mrp_bom_through_attributes] Products without BoM cannot be selected in MO"
The module works fine when the product has a BoM (it adds the requested attribute) but does not allow to select a product in the MO not linked to BoM (default Odoo behavior).
This is more an enhancement than a bug and it would require to remove the domain control at MO level which is not be desirable as is

[2015-05-18 08:16] elicoidal opened #826 "[mrp_bom_state] it should not be able to add by_product to Active BoM"
Currently you can edit/add by_products to active BoM.
It should not be possible if I understood well the logic of the module

[2015-05-18 08:38] elicoidal opened #827 "[mrp_bom_state] ACL logic explanation"
There is line in the user ACL for BoM state. I cannot understand the logic behind it.
If user admin, checkbox not ticked, I can see the states in the BoM. I do not see the change when ticked.
Additional help in description would be helpful

[2015-05-18 08:41] elicoidal opened #828 "[mrp_bom_state] mrp_bom_by_percentage is not compatible with status logic"
It is possible to modify the BoM percentage even if historical/active is false.

Actually quite a tricky one as there might be several modification for the BoM added by multiple modules.

[2015-05-18 09:10] jaronemo opened #829 "Confirm unable to complete manufacturing orders---use MRP Subcontracting"
ValueError: "null value in column "product_uom" violates not-null constraint
DETAIL:  Failing row contains (38, \u58ae\u8f2a-2101(\u52a0\u5de5) - \u58ae\u8f2a-2101(\u52a0\u5de5), 2015-05-18 09:06:43.531258, null, null, 1, 2015-05-18 09:06:43.531258, 10.000, null, null, 1, \u58ae\u8f2a-2101(\u52a0\u5de5) - \u58ae\u8f2a-2101(\u52a0\u5de5), 2015-05-18 09:06:44, null, 1, 1, confirmed, null, null, null

[2015-05-18 09:20] elicoidal opened #830 "[mrp_operations_extension] Not compatible with by_product"
Scenario:
I create a BoM with by_product.
When I want to Produce the finished product I receive the following message:
"Missing materials to start the production".
It seems that the move line for by_product is not in the right state (which is logical as it is not produced yet) and should be excluded from the check.

[2015-05-18 09:25] elicoidal opened #831 "[mrp_final_product_lot] It should not be possible to modify Manual Production Lot when production is finished"
After the MO is in status done, field should be set as read only.

Actually it could even be that it is set as readonly after the product is confirmed (maybe too strict)

[2015-05-18 09:28] elicoidal opened #832 "[mrp_final_product_lot] No view associated to Concatenate Lots Components field"
This field is not visible in the MO as there is no view defined with it.

[2015-05-18 10:06] elicoidal opened #833 "[mrp_final_product_lot] Serial Number assignation standard behavior is overriden"
When selecting a SN at production confirmation, the MO still creates a new SN and ignore the selected SN.

Expected behavior would be: if no SN is selected the specific rules apply. If SN is selected standard Odoo behavior should apply.

[2015-05-18 10:22] elicoidal opened #834 "[mrp_machine_relation] Cannot install the module (depends on machine_manager/product_manufacturer)"
besides, I would suggest mrp_machine_link as name.

[2015-05-18 10:23] clonedagain opened #835 "mrp_operations_extensions losing separation of concern?"
As noticed in #753, `operation_extension` now depends on `hr`.
It's not obvious to me what `hr` is used for here ; it looks like a costing feature but the README of the module doesn't announce anything of the sort.
Maybe the module has overgrown and we could split some features out of it ? Modules named `*_extension` often tend to get bloated as time goes, so we should strive to keep it under cont

[2015-05-18 10:24] clonedagain commented on #835
I'll probably be able to help with cleanly separating concerns here, but guidance would be of great value.
Can someone please review/update the README first ?

[2015-05-18 12:34] clonedagain commented on #835
@pedrobaeza @anajuaristi would you accept to split operation_extension in smaller bits?

[2015-05-19 07:10] elicoidal opened #837 "[mrp_operations_traceability] clicking on "full traceability" has no effect"
create a MO and assign the SN.
Go to serial number and click on "full traceability"
There is a blink but no new menu open

[2015-05-19 07:58] elicoidal opened #838 "[mrp_final_product_lot] does not automatically assign SN in WO"
When declaring the production inside the WO instead the MO, a message claims a missing SN for the produced product.

[2015-05-20 00:18] pedrobaeza commented on #825
Well, this means to change a lot of things in the standard. The original idea behind this module was to allow to add some raw materials depending on the selected attributes, but when treating with all our *_variants modules that inhibits the creation of product variants.

[2015-05-20 00:19] pedrobaeza commented on #826
We are actively changing this module in https://github.com/odoomrp/odoomrp-wip/pull/814, so the result is going to change a lot. I keep the issue open to see if this also happens on new version.

[2015-05-20 00:21] pedrobaeza commented on #829
Please provide the full log concerning this issue, and also the data that leads to this error.

[2015-05-20 00:22] pedrobaeza commented on #830
We haven't tried any of the modules with by_product (because we also understand this module useless with our current approach), so it can be. There's no plan for now to make it compatible.

[2015-05-20 00:22] #830 closed, assigned to nobody

[2015-05-20 00:30] #831 closed, assigned to nobody

[2015-05-20 00:32] #832 closed, assigned to nobody

[2015-05-20 01:10] elicoidal commented on #825
I understand indeed it might imply a deep change.
It could be a module allowing to have MO for product without BoM (we
published that in 7).
This module can be used in your case but as well for companies who wants
to generate the MO but are not ready to handle the BOM.

[2015-05-20 07:47] pedrobaeza commented on #825
I have improved the README to expose this known issue then.

[2015-05-20 07:47] #825 closed, assigned to nobody

[2015-05-20 07:53] anajuaristi commented on #825
Just to solve the issue... You could try to create an emply bom for the products. I think it would work on this case without touching the code or refactoring anything.
For user it would be just an small configuration. Just add an emply bom (only header without lines) and  that's all.

@elicoidal  May you try it and tell us if it works?

Thank you

[2015-05-20 07:55] pedrobaeza commented on #825
@anajuaristi, that's exactly the workaround I put on README (https://github.com/odoomrp/odoomrp-wip/blob/8.0/mrp_bom_through_attributes/README.rst), but it would be better to not need that.

[2015-05-20 08:00] anajuaristi commented on #825
upsss... @pedrobaeza sorry I did not read README.

I don't know if it would be better. Having a BOM is a clear concept to see if product must to be produced. I don't know what is the impact allowing to have products to produce without a bom but just creating the empty bom the blocking point is solved so issue becames no critical. Back door found.
:)

[2015-05-20 08:39] elicoidal commented on #825
There is no specific impact (at least in 7.0) actually having Product
without BoM. There is no incoming move for raw material as expected but
that is all.
Having empty bom is OK but not ideal, the point being to simplify the
set up for starting project.

[2015-05-20 10:01] elicoidal commented on #825
Tested with empty bom and it does the trick for the moment.

[2015-05-20 17:47] pedrobaeza commented on #658
Hi, @StefanRijnhart,

Fixed in https://github.com/odoomrp/odoomrp-wip/commit/b4b3fc9bd2b101ef2e2e4ee880446da19ac3a88a

Fixed in https://github.com/odoomrp/odoomrp-wip/commit/612210a96251ee528dc406e1a04c3d0d5ebaaad3

[2015-05-20 17:48] pedrobaeza commented on #658
The last point is in progress.

[2015-05-20 19:04] StefanRijnhart commented on #658
Thanks ;-)

[2015-05-25 12:21] anajuaristi commented on #824
Al importar desde una venta da este traceback

[code]

[2015-05-26 07:04] alfredoavanzosc commented on #824
Ana... estoy ya esta hecho, lo puedes probar.

[2015-05-26 16:26] anajuaristi commented on #319
Cierro ya no aplica por haberse rehecho el plan entero

[2015-05-26 16:26] #319 closed, assigned to agaldona

[2015-05-26 16:50] anajuaristi commented on #627
@agaldona
This is related to the meeting we had this morning.
I think this is made and we could close but not sure.
Please review --> Onchange price on product template should historify from template cost field
                            Onchange price on product product should historify from product cost field.

Reviewing we are making like that should be enough to close the issue.
About account

[2015-05-26 16:52] anajuaristi commented on #630
We decided to include a new field on inventory valuation form and quants where we will calculate the cost using cost field on product.product form.
We will not erase not rewrite the standar calculation valuation methods.
@agaldona

[2015-05-27 08:00] Daniel-CA commented on #834
Hello @elicoidal, yo can download the module from OCA at https://github.com/OCA/product-attribute

[2015-05-27 08:01] #834 closed, assigned to nobody

[2015-05-27 10:33] anajuaristi commented on #837
That is not an OdooMRP related issue but Odoo core.
It should be reported to odoo if I'm not mistaken

@pedrobaeza Agree?

[2015-05-27 10:36] anajuaristi commented on #835
IMHO split is not necesary

If you want people including hours / time and costs on operations you would need HR
Dependency is just with HR employée master table so i don't think so is a very big issue having it installed.

@pedrobaeza I vote not to split since we have got enormous quantity of small modules by now. But, I let you take decision.

Thank you @clonedagain

[2015-05-28 11:45] ghost opened #844 "quality_control_samples Falta de permisos"
Hola.

No se pueden añadir líneas (qc_sample_line) en un Rango de muestras (qc_sample) por falta de permisos:
https://github.com/odoomrp/odoomrp-wip/blob/8.0/quality_control_samples/security/ir.model.access.csv

[2015-05-28 22:41] #844 closed, assigned to nobody

[2015-05-28 22:42] pedrobaeza commented on #844
Ajustados. Sólo el manager debe poder modificarlos.

Gracias por reportarlo.

[2015-05-29 12:38] anajuaristi opened #847 "Descuento de material en las reparaciones"
Lo apunto aquí para que no se olvide
Hay que probar si pasa en runbot y si es así, sería un bug de Odoo

En el entorno odoo_demo crear reparación, añadir materiales, iniciar y finalizar reparación.

Los movimientos de consumo de material, tienen como ubicación origen y destino la de la reparación (ERROR), deben tener las de línea de movimiento

No hay movimiento de salida para el producto reparado

[2015-05-29 12:47] anajuaristi commented on #249
@pedrobaeza retomamos este tema, relacionado con otro issue que he abierto recientemente y asigno a @Daniel-CA

[2015-05-29 23:26] pedrobaeza commented on #837
The serial number is assigned when you produce the element, not before, so maybe that's the problem. Can you confirm, @elicoidal?

[2015-06-01 08:40] ghost opened #848 "sale_documents_comments Comentario en factura"
Si una factura se crea desde un pedido de venta, el comentario configurado en el partner no aparece en la factura (campo "invoice_comment"). Sí aparece el comentario propagado del pedido de ventas.

[2015-06-01 13:18] max3903 opened #850 "Migration to OCA"
Moved to https://github.com/odoomrp/odoomrp-wip/wiki/Migration-to-OCA

[2015-06-01 13:35] #850 closed, assigned to nobody

[2015-06-01 13:44] anajuaristi commented on #850
@max3903 Why do you closed the issue? it was a very good idea

I was building the full list of modules to be pasted here

[2015-06-01 13:45] rdeheele commented on #850
@anajuaristi @max3903 has just transfer it on the wiki: https://github.com/odoomrp/odoomrp-wip/wiki/Migration-to-OCA

[2015-06-01 15:20] elicoidal opened #851 "[mrp_operations_traceability] Cannot create MO"
In blank demo database, install mrp_operations_traceability.
Go to MO. Click create and the following popup is displayed:
Field mrp.production.created_mrp_track_lot is accessed before being computed.

It is not possible to create a MO.

[2015-06-01 15:25] elicoidal commented on #837
Cannot test it right now (see #851)

[2015-06-01 16:14] oihane commented on #848
Puedes explicarme los pasos que has seguido, por favor.

[2015-06-01 16:43] ghost commented on #848
Sí, perdona.
1. En el partner "Cliente 0" rellené en la pestaña "Observaciones de venta", en el epígrafe "Facturas", el campo "Comentarios" (invoice_comment).
   ![image](https://cloud.githubusercontent.com/assets/8233008/7917805/3807c920-088d-11e5-8f30-b081f0212725.png)
2. Hice un pedido de venta a este "Cliente 0", del cual creo la factura desde el propio pedido pulsando en "Crear factura" y des

[2015-06-02 08:24] oihane commented on #848
Estas en lo cierto, ya he puesto el PR para solucionar esto, además de que hace algo de limpieza en el código.

[2015-06-02 09:14] #848 closed, assigned to nobody

[2015-06-03 10:02] zbik2607 opened #854 "Missing module procurement_manager"
Module procurement_plan depends procurement_manager but ...where find this module?

[2015-06-03 11:21] zbik2607 commented on #854
Ok, I found module in https://github.com/odoomrp/odoomrp-utils

[2015-06-03 11:22] #854 closed, assigned to nobody

[2015-06-03 12:53] ghost opened #855 "quality_control_samples Duda con muestras tomadas"
Hola.

Este módulo trata, si entendí bien, de solo crear una inspección para un número limitado de muestras si la cantidad a testear está entre una cantidad mínima y una máxima (solo para movimientos de existencias). La duda que tengo es si la línea 23 de esta parte del código (https://github.com/odoomrp/odoomrp-wip/blob/8.0/quality_control_samples/models/qc_sample.py) es correcta:

![image](https

[2015-06-03 16:36] oihane commented on #851
Hi @elicoidal
I've installed mrp_operations_traceability in a database with only spanish localization, and I've tried to create a manufacturing order without any problem, could you please try again and if it continues failing please let us know all the modules installed and the steps you follow.

Thanks

[2015-06-04 06:45] #855 closed, assigned to nobody

[2015-06-04 06:45] pedrobaeza commented on #855
Efectivamente, estaba cambiado el signo. Gracias por reportarlo.

[2015-06-05 07:59] Daniel-CA commented on #847
Tal y como esta montado el módulo actualmente el movimiento al que se refiere @anajuaristi es el movimiento de Salida del producto. En el campo Ubicación de entrega se define la ubicación final del producto una vez realizada la reparación faltaría añadir el albarán de salida del producto tal y como estaba en 6.1.
Por lo que veo lógico que el movimiento de consumo de material tenga como destino la

[2015-06-05 09:13] anajuaristi commented on #847
Exacto. Es un issue del core
Los movimientos del listado de materiales de consumo deben llevar las ubicaciones origen y destino de la linea y no de cabecera
La del albaran de entrega del producto reparado debe llevar las de cabecera
Y el albaran solo se crea si esta clickado el check de envio. Sino no

[2015-06-06 09:57] antespi opened #858 "[8.0] Dropship - Customer in product appears as supplier in purchase order"
When this addons installed:
- product_supplierinfo_for_customer
- purchase_product_supplierinfo

If we configure a product with a supplier and a customer, then this issue could appears:
When creating a Dropship sale order for this product, the purchase order created automatically appears with wrong partner (customer instead of supplier).

This is because sequence of both partners (supplier and cus

[2015-06-06 21:08] apesquero opened #860 "[8.0.1] sale_product_variants_types"
Hola, he detectado que con este módulo da error al procesar un pedido web. No sé si estoy haciendo esto correctamente. Disculparme si no es así.

Un saludo.

Error
Mensaje de error:

product_id_change() got an unexpected keyword argument 'product'

Traza
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/addons/website/models/ir_http.py", line 199, in _handle_excep

[2015-06-06 21:45] apesquero opened #861 "[8.0.1] sale_order_recalculate_prices_variants"
Hola, este módulo junto con sale_product_variants_types da el siguiente error al recalcular la tarifa.

Odoo Server Error
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 536, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/openerp/http.py", line 573, in dispatch
    res

[2015-06-08 19:45] zbik2607 opened #863 "Mrp properties not included."
Module sale_mrp (mrp.property) is incompatible with procurement_plan_mrp.
property_ids are not tested when bom is exploded.

[2015-06-09 10:41] zbik2607 opened #864 "Stock quant manual assign - move state when all unreserved"
When all quants will be unreserved and the list move.reserved_quant_ids is empty move should change state form 'assigned' to 'confirmed'.

[2015-06-10 09:11] Daniel-CA commented on #624
El campo `model_type` que se relaciona con la clase `MachineModel` es un modelo de máquina genérico, como puede ser fresadoras o electro-erosión, mientras que el campo de texto `model` sería algo mas concreto como Fresadora Yasda YBM o Danobat Ni-750.

[2015-06-11 18:33] #858 closed, assigned to nobody

[2015-06-11 19:31] apesquero opened #870 "[8.0.1] product_variant_cost"
Hola, creo que el módulo product_variant_cost crea un conflicto con el módulo sale_product_variants_types:

[code]

Un saludo.

[2015-06-12 08:47] anajuaristi opened #871 "Ajustes stock plan"
Buenas... probado el módulo en local hemos visto las siguientes cosillas
1. Incluir filtro para mostrar únicamente los que incremento requerido sea > 0
2. Agrupación por semana
3. Action para navegar a abastecimientos (Shorcut)
4. Help en campos del wizard
5. Filtro y agrupación por categoría de producto
6. Filtro por producto, ubicación, cía y almacén

[2015-06-12 12:08] anajuaristi commented on #871
Cierro y te lo abro en utils que es donde está el módulo para no liar

[2015-06-12 12:08] #871 closed, assigned to alfredoavanzosc

[2015-06-12 12:40] anajuaristi opened #872 "Tareas y workorders"
Actualmente está cogiendo el número de operadores del master de operación.
Debe coger la cantidad desde la operación de ruta y en su defecto desde el workcenter.

[2015-06-15 15:08] jaronemo opened #873 "quality_control Module ~~ Unable to install odoo saas-6 version of! Error message as follows:"
Traceback (most recent call last):
  File "D:\odoo-saas-6\openerp\http.py", line 538, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "D:\odoo-saas-6\openerp\http.py", line 575, in dispatch
    result = self._call_function(*_self.params)
  File "D:\odoo-saas-6\openerp\http.py", line 311, in _call_function
    return checked_call(self.db, *args, *_kwargs

[2015-06-16 08:18] pedrobaeza commented on #873
These modules are for v8, not saas-6, so they are not going to work in it.

[2015-06-16 08:18] #873 closed, assigned to nobody

[2015-06-23 07:51] agaldona commented on #872
https://github.com/odoomrp/odoomrp-wip/pull/879

[2015-06-23 07:51] #872 closed, assigned to agaldona

[2015-06-24 08:28] anajuaristi opened #881 "Bom_version hemos perdido la opción de volver una lista a borrador"
Importante

Al pasar de bom_state a bom_version, hemos perdido la posibilidad de reeditar la lista de materiales.
Aunque se active el check en los parámetros de configuración de producción, el botón de pasar a borrador no aparece. Obliga a hacer una nueva versión.
Necesitamos que vuelva la funcionalidad perdida

[2015-06-24 13:09] #881 closed, assigned to Daniel-CA

[2015-06-24 16:25] slevenhagen opened #885 "mrp_production_project_estimated_cost Cost estimated prices are Negative Values"
When Calculating "Create Estimated Cost"  on Production order all Project costs Estimated Standard and Estimated Average are now as negative Values.

I've found is related to new cost calculations from changes in Commit  542d219

[ADD] product_variant_cost: nuevo modulo que añade campo coste para l…

https://github.com/odoomrp/odoomrp-wip/commit/542d219981f3bb85a9460c449a30d63964625093#diff-8e587d

[2015-06-24 17:29] pedrobaeza commented on #885
Yeah, that's to be consistent with the full analytic semantic, having costs as negative amounts, and incomes as positive ones.

[2015-06-24 17:29] #885 closed, assigned to nobody

[2015-06-25 14:21] anajuaristi opened #886 "Wizard de creación de Ofs ficticias, no asigna cuenta analítica la OF"
Buenas... este módulo crea bien la OF, asigna correctamente el proyecto pero no asigna el campo oculto cuenta analítica por lo que las OFs se crean pero su estimación de costes no.
El wizard no muestra ningún error.

Para replicar el problema_:
Ir a listado de productos
Ejecutar el wizard con un par de ellos
Ir a la OF ficticia
Ir al árbol de costes y está vacío

Pulsar el botón cálculo de coste y

[2015-06-25 22:26] matt454357 opened #887 "Rules/Constraints for mrp_product_variants"
I need constraints to prevent users selecting incompatible options.  I am interested in contributing some code that would possibly implement the AC-3 algorithm.  That would be called on change of attribute value in form mrp.mrp_production_form_view, and apply a domain to restrict selectable values.  Any interest out there for this enhancement?  Anyone have a reason this would be very difficult?

[2015-06-26 10:12] #886 closed, assigned to Daniel-CA

[2015-06-28 02:54] pedrobaeza commented on #887
Hi, Matt, we are already developing this module with some kind of AC-3 algorithm, but adapted for usability with attributes. I'll tell the developer to publish the WIP module in this repo for you to preview.

[2015-06-30 15:06] #811 closed, assigned to agaldona

[2015-07-02 23:04] pedrobaeza commented on #803
@agaldona, esto está ya resuelto?

[2015-07-02 23:10] anajuaristi commented on #803
Esto... lo que ha pasado es que inicialmente imputabamos en positivo y luego unificamos para que fuese como el estandar imputando los costes en negativo y se nos debio escapar cambiarlo tambien en este punto de pre y post operacion.
Gracias por reportarlo!

[2015-07-02 23:12] anajuaristi commented on #803
En cuanto al primer punto. es correcto que se deberia tbien multiplicar. Por tanto, es un bug

[2015-07-03 08:32] agaldona commented on #803
Acabo de revisar la última versión del código, y realmente, toda esta parte está modificada. Tanto en costes reales como en estimados, el coste se multiplica por las horas y se imputa en negativo.

[code]

De todas formas, si veis cualquier cosa que no sea correcto me lo hacéis saber.
Gracias!

[2015-07-03 08:32] ghost commented on #803
A día de hoy se que habéis modificado un poco ambos módulos, así que la verdad no se si sigue aplicando este issue. Trataré de revisarlo

[2015-07-03 12:31] #847 closed, assigned to Daniel-CA

[2015-07-03 23:21] pedrobaeza commented on #803
Cierro entonces

[2015-07-03 23:21] #803 closed, assigned to nobody

[2015-07-04 18:32] matt454357 commented on #887
Thank You Pedro.  Can you tell me the name of the module, so I will be able to find it when it is pushed?

[2015-07-06 10:31] anajuaristi opened #896 "Traceback al pulsar el botón crear niveles del plan"
Pasos:
Hemos vendido un producto MTO / manufacture
Se ha creado el abastecimiento pero NO lo hemos ejecutado
Hemos llevado el abastecimiento al plan
Pulsamos botón desglose por niveles y nos ha dado el traceback

[code]

[2015-07-06 13:09] alfredoavanzosc commented on #896
Realizado, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/897

[2015-07-06 13:21] alfredoavanzosc commented on #896
Pedro ya ha realizado el MERGE

[2015-07-08 10:43] #896 closed, assigned to alfredoavanzosc

[2015-07-09 21:32] anajuaristi commented on #630
@agaldona
After improving the stimated and real cost modules, we should finish also this one.

As we said, we should add a new field on inventory valuation, without rewriting the standar calculation, where we show exactly same functionality but using the product.product form value when it's set to medium or standar price.

---

@agaldona
Tal y como comentamos más arriba, la idea es incluir un nuev

[2015-07-09 21:44] anajuaristi commented on #627
@richard-willowit @agaldona @pedrobaeza

I realize that even including all the changes we made including cost price on product.product and changing product price history, the bug reported by @richard-willowit will not be solved yet.

The problem is that in Spain we are not using real valuation method, related to create account moves. Usually as our law allows us to not generate accounting moves fo

[2015-07-10 08:12] pedrobaeza commented on #630
Yo no añadiría campos, si no que sustituiría cómo lo hacen los actuales. Tú tienes productos en los quants, no plantillas, por lo que no tiene sentido la valoración en precio plantilla.

[2015-07-10 08:18] anajuaristi commented on #630
Entonces sí que sobreescribimos la forma standar en la que lo hace Odoo y dejamos solo la nuestra
Si dejamos las 2 mantenemos lo que viene de base y se puede comparar.
A mí me da un poco igual.

[2015-07-10 10:21] ybofr opened #902 "Purchasing: Is it possible to use the variant configurator in purchasing?"
Hi,
The functionality is really great to create the products using variant configurator. But does it work in purchasing?

Thanks for the help

[2015-07-10 10:25] pedrobaeza commented on #902
https://github.com/odoomrp/odoomrp-wip/tree/8.0/purchase_product_variants

[2015-07-10 10:25] #902 closed, assigned to nobody

[2015-07-10 11:08] ybofr commented on #902
Thank you Pedro

Eva P.

[2015-07-10 11:23] pedrobaeza commented on #887
Here you have: https://github.com/odoomrp/odoomrp-wip/pull/904

[2015-07-10 15:27] pedrobaeza commented on #630
Yo prefiero sobreescribir para ser coherentes. Es además menos código, porque sólo es cambiar los métodos de cálculo. En pantalla no hay que poner nada más.

[2015-07-10 15:29] pedrobaeza commented on #627
Yeah, the solution is that, @anajuaristi

[2015-07-10 19:10] anajuaristi commented on #630
Adelante asi entonces.
Como ves lo de mostrar related el metodo de calculo del producto en el tree
sin ir a ciegas?
El 10/07/2015 17:27, "Pedro M. Baeza" notifications@github.com escribió:

[2015-07-11 09:16] pedrobaeza commented on #630
No entiendo qué quieres hacer

[2015-07-11 09:26] anajuaristi commented on #630
Nada... al lado del producto mostrar si el método de cálculo seleccionado
en la ficha de producto es estándar, medio o real. De esa forma puedes ver
cómo está calculando el total. Campo related, sin más. Y quizás meter un
filtro/agrupación por ese campo, pero tampoco sería imprescindible. Verlo
en la lista sí.
 Y mostrar el campo cost del quant, para que se vea el valor unitario
también.

2015-07-

[2015-07-11 09:35] pedrobaeza commented on #630
No lo veo necesario, ya que se supone que tu método de cálculo va a ser homogéneo. Lo llevo diciendo mucho tiempo, que lo suyo sería mantener todos los tipos de precio en una tabla. dentro del producto.

[2015-07-11 14:45] SBollatti opened #905 "Error en los notes"
Estimados
Luego de actualizar ayer me encuentro con este error:

AttributeError: El campo `mrp_notes` no existe

Error de contexto:
Vista `res.partner.form`
[view_id: 126, xml_id: base.view_partner_form, model: res.partner, parent_id: n/a]

y me sucede al querer abrir cualquier partner o contacto

[2015-07-11 17:36] anajuaristi commented on #630
No es homogeneo. Se define en cada producto.

[2015-07-12 13:14] SBollatti commented on #905
Desinstalé el modulo mrp_partner_note y mrp_production_note, al intentar intentar instalar nuevamente estos módulos, no fue posible

[2015-07-12 23:07] pedrobaeza commented on #905
El módulo _mrp_production_note_ ahora está alojado en OCA: https://github.com/OCA/manufacture/tree/8.0/mrp_production_note, y el módulo _mrp_partner_note_ sigue alojado en https://github.com/odoomrp/odoomrp-utils

[2015-07-12 23:07] #905 closed, assigned to nobody

[2015-07-14 02:07] pedrobaeza commented on #630
Digo que es homogéneo porque la contabilidad española exige que sea precio medio para cualquier valoración de inventario. Si tú colocas cualquier otro método, estás incumpliendo esa norma. De ahí mi insistencia continua de tener una tabla de precios de coste, parametrizable, no añadiendo campos...

[2015-07-15 20:06] anajuaristi commented on #824
Esto está arreglado, cierro

[2015-07-15 20:06] #824 closed, assigned to alfredoavanzosc

[2015-07-15 20:09] anajuaristi commented on #628
@ybofr I'm closing this issue since we migrated by now the preventive_maintenance module from previous version.
It's published just on this branch

[2015-07-15 20:09] #628 closed, assigned to nobody

[2015-07-15 20:10] anajuaristi commented on #431
I'm closing this issue, since modules has been renamed

[2015-07-15 20:10] #431 closed, assigned to nobody

[2015-07-15 20:13] anajuaristi commented on #632
This is not objective but subjective opinion.
I think it could not be considered even an issue, so if you both agree I'm closing

[2015-07-15 20:13] #632 closed, assigned to nobody

[2015-07-15 20:18] anajuaristi commented on #652
veo que sí esta hecho @pedrobaeza o sea que cierro
@agaldona

[2015-07-15 20:18] #652 closed, assigned to agaldona

[2015-07-15 20:19] anajuaristi commented on #656
@pedrobaeza  Cierro pues el issue.
Si en algún momento abordais el desarrollo, nos haceis un PR @erc-anubia

[2015-07-15 20:19] #656 closed, assigned to nobody

[2015-07-15 20:24] anajuaristi commented on #658
Just to let you now:
Recently we published a module that allows service type products to create a procurement.

I'm closing the issue, since the 3th point is not an issue but enhancement. If it's really needed we will  open a new one.
Thank you!!

[2015-07-15 20:24] #658 closed, assigned to nobody

[2015-07-15 20:29] anajuaristi commented on #713
Cierro esto ya que el issue no es por lo que yo comento, sino que el warning salta en el onchange del partner en cada objeto. Y esto funciona
El tema es que los albaranes y facturas al ser creados automáticamente no se ejecuta onchange por lo que no se muestra warning, pero esto no tiene una posible solución. Cierro

[2015-07-15 20:29] #713 closed, assigned to Daniel-CA

[2015-07-15 20:29] bealdav commented on #431
@anajuaristi @pedrobaeza thanks for the rename campaign. It brings homogeneous convention.
But it seems some other modules are in plural form: base_partner_references, crm_claim_links, mrp_bom_through_attributes, mrp_product_variants_... (3 modules), mrp_product_real_costs, mrp_product_type_views, ....

Is these module should becomes OCA modules ?

Thanks

[2015-07-15 20:29] anajuaristi commented on #718
Esto está hecho, probado y funcionando en producción.
Cierro

[2015-07-15 20:29] #718 closed, assigned to alfredoavanzosc

[2015-07-15 20:33] anajuaristi commented on #728
The plan module changed so much from march that I think we could close this issue.

@clonedagain please try again. It has been heavily improved.
You can also test the new stock_planning module. Both are complementary. If I can take some time during next weeks I will make a new video to show how both modules work together

Thank you

[2015-07-15 20:33] #728 closed, assigned to nobody

[2015-07-15 20:35] anajuaristi commented on #737
@oihane @pedrobaeza cierro esto
Al final, hay otro PR por ahí que nos mantiene los quants previamente asignados. Aparte de que esto también ha habido que tocarlo varias veces desde marzo por el tema ese del do_prepare_partial.
Ya no aplica el issue

[2015-07-15 20:35] #737 closed, assigned to oihane

[2015-07-15 20:35] anajuaristi commented on #738
@alfredoavanzosc @pedrobaeza
Esto también ya se hizo hace varias semanas.
Cierro

[2015-07-15 20:35] #738 closed, assigned to nobody

[2015-07-15 20:40] anajuaristi commented on #763
@spadae22
Could you test again please?
I think we solved all the possible issues related to this module so, if it still happens, please reopen the issue.
Thank you

[2015-07-15 20:40] #763 closed, assigned to pedrobaeza

[2015-07-15 20:42] anajuaristi commented on #781
@oihane
Could you please take a look to this issue?
Sorry @ybofr I just missed it. You reported so longtime ago..

[2015-07-15 20:44] anajuaristi commented on #789
Cierro pues

[2015-07-15 20:44] #789 closed, assigned to anajuaristi

[2015-07-15 20:44] anajuaristi commented on #801
esto está hecho hace varias semanas.
Cierro issue

[2015-07-15 20:44] #801 closed, assigned to alfredoavanzosc

[2015-07-15 20:48] anajuaristi commented on #805
El módulo de plan está acabado y validado
Cierro issue

[2015-07-15 20:48] #805 closed, assigned to alfredoavanzosc

[2015-07-15 20:48] anajuaristi commented on #808
Hecho. Cierro

[2015-07-15 20:48] #808 closed, assigned to nobody

[2015-07-15 21:11] anajuaristi commented on #809
@jeffery9

I'll try to explain what we are trying to do
in our case the operation can be done in a workcenter and the time cost could change if you make in one workcenter or in another
wc_hour field is related to operation on standar Odoo and we are mantaining this field but the value for operation will depend on machine cost configuration
This cost could be different depending on cycles by hour,

[2015-07-15 21:11] #809 closed, assigned to nobody

[2015-07-15 21:30] anajuaristi commented on #812
Resulto en parte por el fix proporcionado por Odoo
https://github.com/odoo/odoo/issues/6694

La cosa es que ahora, las OTs no se pueden planificar. Solo las OFs se pueden planificar.
Al mover una OF, el sistema calcula fecha planificada de las OTs, pero si intentas cambiar la fecha de una OT, al grabar, le vuelve a poner la que había calculado previamente.

Este funcionamiento no tiene ningún sent

[2015-07-15 21:42] anajuaristi commented on #750
@agaldona ¿Se hizo algo con este issue?

Si no, deberiamos retomarlo. Está muy relacionado con este otro
https://github.com/odoomrp/odoomrp-wip/issues/812

Incluyo resumen de lo que hay que hacer, tomando info de ambos 2 issues:

.- Si se confirma un OF, no permite editar fecha planificada. Pero sí permite mover la orden en el calendario, por lo tanto, en una vista sí permite mover y en la otra no

[2015-07-15 21:43] anajuaristi commented on #807
Cierro

[2015-07-15 21:43] #807 closed, assigned to nobody

[2015-07-15 21:45] anajuaristi commented on #823
Alfredo, esto ya estaría incluido en algún PR tuyo más reciente. ¿Se puede cerrar?

[2015-07-15 21:48] anajuaristi commented on #826
@elicoidal
We did not work very much on the by_product module. We made an small development to add by_products materials on each operation but none of our customers needs to use it so we did not strongly test.
On the other side, we modified the bom_version module including more restrictions and so on, so please test again.
I'm closing the issue.

[2015-07-15 21:48] #826 closed, assigned to nobody

[2015-07-15 21:50] anajuaristi commented on #827
@elicoidal Sorry, i don't understand what you mean. Could you please explain a litlle bit more?
We just have now improved bom_version so please check again.

[2015-07-15 21:54] anajuaristi commented on #828
mrp_bom_by_percentage check is just a help tool that allows people who build chemical formulas to know if the quantities they included on bom sum is 100 (that is 100%). System will not allow saving the formula if the sum is different from 100.
Even if you can check or uncheck the field on historical state is not impacting to the formula itself or any other data, so... quite small bug.
I'm closing

[2015-07-15 21:54] #828 closed, assigned to nobody

[2015-07-15 21:55] anajuaristi commented on #829
We had no comments from @jaronemo and we did not reproduced the error. So I'm closing

[2015-07-15 21:55] #829 closed, assigned to nobody

[2015-07-15 21:57] anajuaristi commented on #835
No comment, so I'm closing

[2015-07-15 21:57] #835 closed, assigned to nobody

[2015-07-15 22:08] anajuaristi commented on #851
Hi @elicoidal
Tested again, I could perfectly create an MO with module mrp_operations_traceability installed
Button full traceability will launch you to a list of produced materials serial number related to consumed materials serial numbers

The full traceability button in a lot, will launch you to same screen than the one you obtain if you push the button "lot traceability" on MO
Closing issue

[2015-07-15 22:08] #851 closed, assigned to nobody

[2015-07-15 22:11] anajuaristi commented on #860
sale_product_variants_types no aparece en ningún punto de la traza si estoy leyendo bien.
cierro

[2015-07-15 22:11] #860 closed, assigned to nobody

[2015-07-15 22:13] anajuaristi commented on #861
@oihane se reproduce en demo bbdd marzo.
Pasos:
Creas un presupuesto
Cambias la tarifa
Pulsas recalcular

[2015-07-15 22:15] anajuaristi commented on #863
Yes, we don't use properties but attributes and values, so procurement_plan_mrp is not considering properties.
If you want to affort this development, we will be glad of considering your contribution to the project.

by the moment, I'm closing the issue

[2015-07-15 22:15] #863 closed, assigned to nobody

[2015-07-15 22:17] anajuaristi commented on #864
That's not an @odoomrp functionality but Odoo core functionality so it should be reported on odoo branches. Anyway, we are using this functionality in production and there is no issue or error on standar way of working.
I'm closing. Thank you

[2015-07-15 22:17] #864 closed, assigned to nobody

[2015-07-15 22:18] anajuaristi commented on #870
Por favor, @apesquero  indica los pasos para llegar al error. Si no, es imposible reproducirlo.

[2015-07-15 22:19] anajuaristi commented on #887
Answered. So I'm closing

[2015-07-15 22:19] #887 closed, assigned to nobody

[2015-07-15 22:20] anajuaristi commented on #837
Answered on #851
I'm closing

[2015-07-15 22:20] #837 closed, assigned to nobody

[2015-07-15 22:21] anajuaristi commented on #624
Contestado. Cierro

[2015-07-15 22:21] #624 closed, assigned to nobody

[2015-07-15 22:22] anajuaristi commented on #249
Hecho. Cierro.
Si apareciese algo, ya lo reportamos en nuevo issue.

[2015-07-15 22:22] #249 closed, assigned to Daniel-CA

[2015-07-15 22:38] anajuaristi commented on #431
@bealdav
Yes if OCA accepts them.
By now we can not afford the task of renaming all that modules. Just renaming all "notes" modules has been a really headache.because some of our customers are using them in production environments
Maybe on the moment they are published on the OCA we could go one by one renaming them but not during the time they are on OdooMRP branch

[2015-07-15 22:41] anajuaristi commented on #431
@bealdav About the modules you are mentioning
Most of them must be plural.

base_partner_references: it's adding several references on partners form
crm_claim_links: it¡s creating several links on claims/pickings
mrp_bom_through_attributes: Bom is looping though all attributes of a product.

The name must be plural on this cases...

[2015-07-16 03:03] apesquero commented on #870
Hola @anajuaristi
1. Creamos un tipo de precio variante con el campo de producto "Variant cost price"
2. Creamos tarifa de venta basada en precio coste variante
3. Tenemos instalado sale_product_variants_types
4. Creamos un presupuesto con la tarifa anteriormente creada.
5. En la linea de pedido, asignamos un producto que contenga variantes...
6. Ahí produce el error.

Muchas gracias.

[2015-07-16 07:05] alfredoavanzosc commented on #823
Que hay Ana. Eso lo hicieron hace tiempo los becarios. El módulo es el "mrp_bom_structure_show_child". Yo he modificado este módulo la semana pasada para que muestre el precio de coste.
Pedro ya realizó el MERGE de este módulo la semana pasada.

[2015-07-16 07:05] #823 closed, assigned to alfredoavanzosc

[2015-07-16 07:49] bealdav commented on #431
@pedrobaeza @anajuaristi, you're right, rename is an headache without this tool https://github.com/bealdav/erp_rename.
Avoid plural is just to win time when you write dependency on other modules.
Developers are not spell and semantic perfectionist and make a lot of errors with plural. Some of us, like me, have small memory brain and remember where 's' is a nightmare.
The name in the **openerp**.py

[2015-07-16 07:53] anajuaristi commented on #431
@bealdav I agree with you but.. believe me. Sometimes perfectionism is figthing directly with productivity.
There is another opinion for developers: If something works, please don't touch it :)
Thank you for the debate. It has been very interesting.

[2015-07-16 08:07] yvaucher commented on #431
@anajuaristi I disagree, inconsistencies is often a pain when you are developing. And the spirit in open source is if I find an issue I report it and improve it. Contrary to proprietary software we do have resources to fix little things and I think it's worth it instead of letting more and more little things raised.

[2015-07-16 09:48] bealdav commented on #431
sorry @anajuaristi but +100 @yvaucher
I learned since 3 years at akretion and with OCA contributions to become perfectionist on code: myself, with my 15 past years as only functionnal guy (not on code). It's possible for developers to become perfectionist on code.
But it's impossible for developers to become good at spelling and writing (some of them are killer in code but poor in spelling, that's

[2015-07-16 10:22] anajuaristi commented on #431
Inside me I agree with you but sometimes, we (functional people) are the
ones that stay in front of the customer
And... even if you heavily test any change is a risk when they are in
production. It's quite hard to explain... your proccess is not working
because developpers changed something just to be easier to mantain.
Developpers ask us to understand it's easier for them but they also should
und

[2015-07-16 11:26] zbik2607 commented on #864
However, it's probably a problem @odoomrp functionality. Quants are removed from relationship reserved_quant_ids in method assign_quants (in assign_manual_quants.py). In the last line (this method) should be added:
        if not move.reserved_quant_ids:
            move.write({'state': 'confirmed'})

[2015-07-16 12:10] anajuaristi commented on #864
do_unreserve is odoo core function
We did not change it and it is working

The correct way to manual assign would be --> first do_unreserve if you want to start again, after click manual quants
The usual way is just click manual quants.

In that case our module is just moving from confirmed to assign, but not inverse way.

I say again, do_unreserve is standard and it's working properly

[2015-07-16 12:49] zbik2607 commented on #864
Thank you, now I understand your way. But in the case of my way, when I change quants without do_unreserved. Other issue is open?

[2015-07-17 20:05] slevenhagen opened #913 "Task Name created in MRP Project link Shows [False] when No Internal Reference set on Product Master"
At Line 143 in mrp_project_link/models/mrp_production.py

Need Change
                task_name = ("%s:: [%s]%s") % (record.name,
                                               record.product_id.default_code,
                                               record.product_id.name)
To
                task_name = ("%s:: [%s]%s") % (record.name,
                                               record.pro

[2015-07-21 10:31] anhdv1979 opened #914 "mrp_production_estimated_cost sequence issues"
When I sucessfully install  mrp_production_estimated_cost (mrp_operation_extension, mrp_operation_project, mrp_production_project_estimated_cost, mrp_project_link, product_variant_cost), I find that it doesn't install sequence and it make production order sequence of manufacturing order is not automatically created.
Pls help me check. Many thanks for your help!

[2015-07-21 13:53] anajuaristi commented on #914
This is not odoomrp issue but odoo core issue
If you are using multicompany only first company mo sequence is created so
you must configure manually the rest of them
El 21/07/2015 12:31, "anhdv1979" notifications@github.com escribió:

[2015-07-21 13:54] #914 closed, assigned to nobody

[2015-07-21 13:59] anhdv1979 commented on #914
Sorry but I have already manually configured but it still could not. To be frank, very supprisedDinh Vuong AnhThe Post & Telecommunication Joint Stock Company61 Tranphu road, Badinh, Hanoi, VietnamTel: (+84) 4 3 845 5946Fax: (+84) 4 3823 4128Mobile: (+84) 904237572 Email: anhdv@postef.com.vn; anhdv08121979@gmail.comWebsite: www.postef.com.vn

-------- Original Message --------
Subject: Re: [odoomr

[2015-07-22 01:02] anhdv1979 opened #915 "production capacity error"
I have install production_estimated_cost & production_capacity. However when creating MO, it shows error like
![production_capacity](https://cloud.githubusercontent.com/assets/7521909/8815759/ce2613f8-3047-11e5-92ec-8dd444826686.jpg)
(I have already set min, max capacity of work center

Thanks alot for your help

[2015-07-22 15:18] anajuaristi opened #918 "subcontracting, incorrect destiny location"
Adding a product manually in a subcontracting operation, assing destiny location from MO and not from subcontracting picking type

Steps to reproduce:
1. Create a BOM, asigned a route including external operation
2. use "add raw material" button on MO to add several materials to MO, taking care or selecting  external WO
3. Start external operation
4. Confirm subcontracting PO
5. Open Outgoing pick

[2015-07-23 07:49] mlopezgaldon opened #919 "Error en líneas fantasma de lista de materiales"
Cuando una lista de materiales contiene 2 posiciones fantasma consecutivas, al ser ésta utilizada en una orden de fabricación, todos los materiales posteriores al segundo fantasma son asignados con la misma operación, la del padre.

[2015-07-23 07:50] mlopezgaldon opened #920 "Forzado de reservas al iniciar operación"
En una orden de producción, al iniciar una operación se fuerzan las reservas de todos los productos planificados.

[2015-07-23 07:52] mlopezgaldon opened #921 "Poder iniciar operaciones sin disponibilidad de materias primas"
En Pls interesaría poder iniciar operaciones cuyas materias primas no estén del todo disponibles, la solución propuesta añadiría un check a la operación que indique si ésta puede iniciar o no con carencias de material.

[2015-07-23 08:12] anajuaristi commented on #919
@pedrobaeza nos reportan este issue que en principio, se suponía arreglado pero parece que hay alguna casuistica que se nos escapa.
Te asigno a tí, aunque por si acaso pongo en copia a @oihane y @Daniel-CA por si pueden también echarle un vistazo

[2015-07-23 08:16] anajuaristi commented on #920
@mlopezgaldon ¿Porqué cierras los issues y los vuelves a abrir?
Simplemente escribiendo algo de recordatorio es suficiente.

@Daniel-CA tiene pinta de que esto sea provocado por el standar de Odoo.
El inicio de una operación NO DEBE forzar disponibilidad en ningún caso.

Por otro lado, solicitaban que el control de la existencia de material en una operación fuese configurable desde la categoría de

[2015-07-23 08:21] mlopezgaldon commented on #920
Perdona Ana, es que sin darme cuenta las he abierto en odoomrp-utils y me ha parecido que en odoomrp-wip iban a estar mejor.

[2015-07-23 08:26] anajuaristi commented on #920
ahhh... vale

[2015-07-28 09:22] alfredoavanzosc commented on #918
Se ha modificado el módulo "mrp_subcontracting", el PR es el https://github.com/odoomrp/odoomrp-wip/pull/925

[2015-07-28 22:09] anajuaristi opened #929 "Botón calcular datos no asigna operaciones"
@oihane @Daniel-CA @pedrobaeza
Buenas...
Me acaba de pasar una cosa rara en demo marzo.
MO00116
producto "ordenador variantes" usado en otras muchas Ofs de muestra.

El botón calcular datos, no asigna materiales a las workorders.
Por favor, mirar qué cambios se han hecho recientemente a este botón, ya que hasta hace nada iba perfectamente.

[2015-07-28 22:36] anajuaristi commented on #929
El problema viene del módulo mrp_product_variants_configurable_timing @agaldona
Si desinstalo ese módulo, la asignación de las workorders a los materiales, en el botón "calcular datos" se realiza correctamente.

[2015-07-30 15:40] pedrobaeza commented on #921
En PR https://github.com/odoomrp/odoomrp-wip/pull/931

[2015-07-30 15:43] #921 closed, assigned to Daniel-CA

[2015-07-30 15:49] #920 closed, assigned to Daniel-CA

[2015-07-30 17:14] pedrobaeza commented on #915
This should be fixed by now. Please check with last version.

[2015-07-30 17:14] #915 closed, assigned to nobody

[2015-07-30 18:00] pedrobaeza commented on #913
@agaldona, please take this into account

[2015-07-30 20:28] pedrobaeza commented on #864
This should be reported as an issue to Odoo itself, not here

[2015-07-31 00:43] pedrobaeza commented on #833
@anajuaristi, can you reproduce this?

[2015-07-31 00:44] pedrobaeza commented on #838
@anajuaristi, please check this

[2015-07-31 00:46] pedrobaeza commented on #761
I think this is part of the standard behaviour to write back the internal reference to the template, but @anajuaristi should confirm it

[2015-07-31 17:16] ybofr commented on #761
I do not think so. I have used internal reference for other customers and it would not write it back to the template.

Regards
Eva P.

[2015-08-02 19:46] pedrobaeza commented on #812
Creo que cuando dices padre, deberías hablar de OT antecesora u OT sucesora. Por lo demás, me parece correcto rectificar el comportamiento a lo debido.

[2015-08-05 09:50] alfredoavanzosc commented on #918
Esto ya esta hecho, los módulos modificados son "mrp_subcontracting", y "mrp_operation_extension". Pedro ya ha realizado el merge, cierro el issue.

[2015-08-05 09:50] #918 closed, assigned to alfredoavanzosc

[2015-08-05 13:51] mlopezgaldon commented on #919
@pedrobaeza Podrías mirar esto por favor? Muchas gracias!

[2015-08-05 14:42] mlopezgaldon opened #944 "[BUG] mrp_operations_start_without_material: No traslada el valor a la MO"
Al confirmar una MO, aunque en la ruta haya operaciones marcadas como "iniciar sin materiales", éstas aparecen en la MO con el campo sin marcar.

[2015-08-05 14:55] anajuaristi commented on #944
@Daniel-CA porfa, mira a ver porqué el valor del campo no se arrastra de la línea de ruta a la workorder.

Gracias

[2015-08-06 16:11] #944 closed, assigned to Daniel-CA

[2015-08-07 11:21] #913 closed, assigned to nobody

[2015-08-10 10:18] JordiBForgeFlow opened #949 "[mrp_byproduct_operations] Subproduct not being produced when operation is finished"
I am documenting this module, but found an inconsistency in the behavior.
The current module description states: "This module allows to add the operation on BoM where the secondary products will be produced".

However when you complete the operation the subproduct is not really completed, and remains as a product to manufacture, until the manufacturing order is completed.

IMHO when the operation

[2015-08-10 10:27] pedrobaeza commented on #949
This module hasn't been worked since the beginning and, as marginal, probably now it's not working. @Daniel-CA, did you do this module? Can you check it?

[2015-08-10 11:40] anajuaristi commented on #949
@jbeficent @pedrobaeza
No. It's not being used by our customers and probably it's not working fine. So we should remove from odoomrp branch to another place

[2015-08-10 13:30] oihane commented on #861
En runbot no da ningun error, cierro

[2015-08-10 13:30] #861 closed, assigned to oihane

[2015-08-10 14:52] JordiBForgeFlow commented on #949
Thanks @anajuaristi. Can your team prepare a priority list of the modules that require further documentation? Perhaps setting up this list as a wiki page in Github could be convenient.

Doing this @jsoroa and me will be more effective.

Thanks!!!

[2015-08-10 14:52] #949 closed, assigned to nobody

[2015-08-11 13:04] oihane opened #951 "When opening a workcenter in demo.odoomrp.com"
[code]

[2015-08-11 13:06] oihane commented on #951
@pedrobaeza is it possible just to fix this issue to put in https://github.com/odoomrp/odoomrp-wip/blob/8.0/mrp_operations_extension/models/mrp_workcenter.py#L32 the `[:1]`

[code]

[2015-08-12 15:03] pedrobaeza commented on #951
Yeah, please fix it this way.

[2015-08-12 15:11] #951 closed, assigned to nobody

[2015-08-26 11:42] oihane commented on #781
@ybofr could you please check it again, because I think we fixed but we forgot to tell you

https://runbot.odoo-community.org/runbot/188/8.0

[2015-08-26 13:28] ybofr commented on #781
Ana,

I believe we corrected it. Let me check if we can publish it.

regards

[2015-09-01 09:08] anajuaristi opened #964 "mrp_production_manual_close realiza movimientos de fabricación y consumo"
Según parece el módulo mrp_operations de Odoo, interpreta que si se realiza una OF, se dan por realizados todos los movimientos de consumo y producción, incluso cuando la realización de la OF fuese parcial.

Esto está causando un bug grave en el módulo mrp_production_manual_close, ya que al cerrar la OF en vez de cancelar los movimientos pendientes tanto de consumo como de producción, las realiza.

[2015-09-01 09:14] anajuaristi opened #965 "mrp_final_product_lot, pequeña mejora"
En producciones que se realiza la fabricación por partes, la primera vez que se ejecuta la fabricación se crea el lote manual. En las siguientes veces, dicho lote ya está creado por lo que perfectamente se puede asignar en el wizard de producción, sin dejarlo vacío.

Se propone por tanto incluir la siguiente mejora al lanzar el wizard de producción:

Si el lote indicado en el campo "lote manual" d

[2015-09-01 16:00] Daniel-CA commented on #964
Al final hemos decidido hacer un cambio en el mrp_operations_extension en vez de ejecutar la señal de cancelar.
El módulo de `mrp_production_manual_close` fallaba debido a que al finalizar una orden de trabajo si esta tenía movimientos pendientes los finalizaba en vez de cancelarlos, lo que generaba el descuadre de productos.
Hay que tener en cuenta que ahora el botón de finalizar una operación no

[2015-09-02 16:00] maljac opened #967 "[ERROR] procurement_purchase_no_grouping: No line grouping / JIT procurement"
Hi,

I get a error in the following scenario when using  the module `procurement_purchase_no_grouping` in combination with `procurement_jit`:

**Scenario**

_Install_
Install the modules `sale, purchase, procurement_jit, procurement_purchase_no_grouping`

_Steps to reproduce_
1. Set the procurement purchase grouping in the product category `All Products` to `No line grouping`
2. Create a new produ

[2015-09-03 11:47] #965 closed, assigned to Daniel-CA

[2015-09-03 13:19] pedrobaeza commented on #967
Solved in https://github.com/odoomrp/odoomrp-wip/commit/99e523fbc14eea4b0c3d8baf8661110d47ddfb35

[2015-09-03 13:19] #967 closed, assigned to nobody

[2015-09-04 09:54] maljac commented on #967
thanks! :+1:

[2015-09-05 18:14] cvinh opened #971 "[purchase_landed_cost] new_std_price is not taken from total cost (including landed costs)"
Steps to reproduce :
- start with a new product (stock=0)
- buy and receive products normally (purchase + stock)
- in purchase_cost_distribution, apply landed costs normally
- When Updating Cost, the new standard price is taken from the cost price without landed costs

Expected behaviour :
When updating cost the new standard price should be taken from the cost price including landed costs

[2015-09-05 18:22] cvinh commented on #971
checkout https://github.com/odoomrp/odoomrp-wip/pull/972

[2015-09-05 18:28] cvinh opened #973 "[purchase_landed_cost] if previous incoming picking have been split, cost price is wrong"
Steps to reproduce :
- start with a new product (stock=0)
- buy products normally (purchase)
- when receiving product, split the picking line (for exemple tracability for 2 different products lots)
- do another purchase and receive it normally (no need to split that one)
- in purchase_cost_distribution, apply landed costs normally
- When Updating Cost, the new standard price is wrong as the read_g

[2015-09-05 18:33] cvinh commented on #973
checkout https://github.com/odoomrp/odoomrp-wip/pull/974

[2015-09-05 18:44] cvinh opened #975 "[purchase_landed_cost] importing pickings that has already used in a purchase_cost_distribution should not be available again"
Steps to reproduce :
- do a new purchase_cost_distribution, click on "Import incoming shipment"
- choose a supplier and click on "add an element"
- in the list, we should not have the shipment that have already been imported in another purchase_cost_distribution

Expected behaviour :
- incoming shipment that has already been used in a purchase_cost_distribution should not be available

[2015-09-07 02:18] pedrobaeza commented on #971
Fixed in https://github.com/odoomrp/odoomrp-wip/commit/8af8799ea0bd1c69f6fc0d77db390c15f45f16cc

[2015-09-07 02:18] #971 closed, assigned to nobody

[2015-09-07 02:24] pedrobaeza commented on #975
You should be able to put the same stock move as many times as you want in a cost distribution, because they can have multiple costs to be applier. For example:
- A direct transport cost that you add when receiving the goods.
- A monthly insurance that you charge to all the pickings received that month.
- ...

If the management of this multiple distributions is not correct, then we should fix it,

[2015-09-09 16:19] pauloneda opened #981 "Error on web_site_sale"
module: sale_product_variants
version: 8.0

**Steps to reproduce**
- Create product variant

**Current behavior**
    Web Site Sale
     TypeError: product_id_change() got an unexpected keyword argument 'product'

**Expected behavior**
  cart_update

Traceback (most recent call last):
  File "/srv/openerp/instances/openerp-oca-runbot/parts/odoo-extra/runbot/static/build/3114711-8-0-1869af/openerp/

[2015-09-10 14:41] jmoderp opened #987 "Error en producción "got an unexpected keyword argument 'amount'""
Hola @pedrobaeza:

Tras la actualización de anoche no puedo “cerrar” las órdenes de producción. Te detallo el error  que me ha salido y la secuencia de pasos dada hasta su aparición.

Como ya tengo creada la lista de materiales y la ruta de producción o proceso productivo, ya que las uso continuamente en las pruebas, voy a reproducir el error con los mínimos  pasos:

Creo una orden desde producció

[2015-09-10 14:46] pedrobaeza commented on #987
Actualiza a la última versión (en concreto, el commit https://github.com/odoomrp/odoomrp-wip/commit/cc7ac1b31b0825d10d4b49fa60a5b0088749d959), que lo resuelve.

[2015-09-10 14:46] #987 closed, assigned to nobody

[2015-09-10 15:34] jmoderp commented on #987
@antespi Por favor Antonio, la incidencia de producción ya está resuelta puedes  actualizar donde proceda.

Gracias.

[2015-09-10 16:51] spadae22 commented on #975
The issue I see is that when you do the first distribution, apply cost. Then do a second one, supplier cost was wrong on invoice, I imported the picking again, but the old invoice cost appeared so the new cost was not correct if I updated.

[2015-09-10 16:54] spadae22 commented on #763
Fixed in 8af8799

[2015-09-13 06:10] ybofr opened #991 "Sales_forecast: Does not support multiple warehouse"
Hi
The sales forecast module is so closely linked with procurement that it does not allow to create a sales forecast without a warehouse. This means that a company cannot use it to create a company wide sales forecast if they have multiple warehouses.

Any thoughts?

[2015-09-13 06:20] ybofr opened #992 "odooMRP test in github: menu for attributes has disappeared"
I was using
http://3115012-8-0-4bf732.runbot2.odoo-community.org/web?db=3115012-8-0-4bf732-all
The latest merge for OdooMRP. I could not find the menu for attributes. Picture is attached

Regards
Eva P.
<img width="327" alt="customers_-_odoo" src="https://cloud.githubusercontent.com/assets/7601880/9835527/ea51f136-59e7-11e5-8c6d-226ba1326311.png">

[2015-09-13 11:26] anajuaristi commented on #991
Hi @ybofr
This module is creating procurements and the field warehouse / location is mandatory on procurements, so it's not possible to make a "global" sales forecast for the company.
For this case I would create a "global" generic warehouse and I would create the forecast for it. When procurement is executed it will create purchase orders. The warehouse to receive goods will be also "global" on t

[2015-09-13 11:50] sluggogle opened #993 "Quality Control - Stock Picking View for Saleman"
Hi,
Thx again for your modules, it really helps build a coherent system for a company.

I have an issue with access rights regarding the module: quality_control_stock
My saleman can no longer access to delivery orders because the system requires him to have qc.inspection/User rights.

QC buttons should be hidden when the user isn't part of the security group
Hope you could fix this.
Thank you

[2015-09-13 12:36] diiman2000 opened #994 "Quality Control - No Triggers"
Hi, Your app is great, but there is one issue am having
There are no triggers to define under the product template, when you click on the dropdwon nothing shows up. Please is there something i need to do to enable the triggers show just like in your youtube video (https://www.youtube.com/watch?v=FmGkwtgSVww).
Thanks.
Note. I have followed all the due process in the video but still no triggers to s

[2015-09-13 12:42] pedrobaeza commented on #994
You need to install quality_control_stock or quality_control_mrp to have these triggers.

[2015-09-13 12:42] #994 closed, assigned to nobody

[2015-09-13 13:05] diiman2000 commented on #994
Thanks for you fast reply. I just want to ask a question. can the triggers be made before transfering the products to stock. so for example if there is something wrong, you wont have already transfered the product.
Thanks

[2015-09-13 13:47] diiman2000 opened #995 "Quality Control - Error On Set Test"
Hi,
There is an error when set test is clicked, After following the youtube video.
I get the error below.

Traceback (most recent call last):
  File "/opt/odoo1/odoo1-server/openerp/http.py", line 500, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo1/odoo1-server/openerp/http.py", line 517, in dispatch
    result = self._call_function(*_self.

[2015-09-13 14:58] anajuaristi commented on #994
Define reception in 2 steps, so you will receive on first "temporal" location, as "quality" or "input" location before moving to stock but conceptually at less one move has to be done, since it's mandatory you receive somewhere the material before you can test it,

[2015-09-13 15:22] diiman2000 commented on #994
Hi,
There is an error when set test is clicked, After following the youtube video ( https://www.youtube.com/watch?v=FmGkwtgSVww).
I get the error below.

Traceback (most recent call last):
File "/opt/odoo1/odoo1-server/openerp/http.py", line 500, in handle_exception
return super(JsonRequest, self).handle_exception(exception)
File "/opt/odoo1/odoo1-server/openerp/http.py", line 517, in dispatch
res

[2015-09-13 20:42] pedrobaeza commented on #992
You should activate proper permissions to see this kind of things. Please don't open more issues about these questions without seeing better.

[2015-09-13 20:42] #992 closed, assigned to nobody

[2015-09-13 20:47] pedrobaeza commented on #995
That error is due to your Odoo/OCB installation that contains a problem in code, so check latest version of code, and if not, please put an issue on Odoo, not here.

[2015-09-13 20:47] #995 closed, assigned to nobody

[2015-09-13 23:49] ybofr commented on #992
Hi Pedro,

There is no way for me to know what to activate and especially as a functional consultant, I do not deal with authorizations. If as Admin, it does not work, then this is for me an issue.

best regards

[2015-09-13 23:53] ybofr commented on #991
Hi Ana,

In that case, I believe, there should be an extra field in the warehouse to mark it as planning warehouse. Then, probably need some functionality to spread the  planning onto real warehouses. This way, we could keep the standard Odoo behavior and the automatic procurement geeration that is a very cool high end feature.

[2015-09-13 23:55] pedrobaeza commented on #992
As an Odoo consultant, you should know security groups as part of the parametrization of the system to allow users (including admin) to see some menus/options. admin doesn't have "Technical features" by default, and you has asked for the same thing several times.

[2015-09-14 08:28] ybofr commented on #992
Hi Pedro 
As a matter if fact. I believe some of the things did not work properly. I assigned technical feature to the admin but it did not help. It is impossible for me to know exactly which group must be authorized for a module if this is not documented in the readme.
If we want more functional people supporting the system and testing the support, everyone should go from the technically oriented

[2015-09-14 08:34] pedrobaeza commented on #992
That's not something of our module, but Odoo itself that hides by default that menu.

[2015-09-14 09:36] ybofr commented on #992
Ok. Thank you. I have now understood that some settings require the person to log out and log again in for them to be active and some do not. I believe this was the reason of my confusion. I added the technical features, but was not relogging, so the system still had the old settings.

We can now close the issue.

Best regards
Eva P.

[2015-09-14 09:38] pedrobaeza commented on #992
You don't need to logout. Only refresh browser page (F5) to reload menus, because they're cached.

[2015-09-15 09:15] anajuaristi opened #996 "product_supplierinfo_for_customer doesn't calculate price correctly"
Hi:

We were testing this module and a kind of bug has been introduced from short-time ago.

Tested on runbot: http://3115098-8-0-21bd39.runbot2.odoo-community.org/web?db=3115098-8-0-21bd39-all#menu_id=110&action=100

Tested CASE:
Used product to test: Apple In-Ear Headphones
Configure prices 1 single unit for suppliers (asustek: 5€, delta PC:6€)

Configure prices 1 single unit for customers (agro

[2015-09-15 09:54] pedrobaeza commented on #996
This is not something derived from the last change, but a general problem in v8 that I solved here, but Odoo has only applied on v9: https://github.com/odoo/odoo/pull/4505

[2015-09-15 10:14] pedrobaeza commented on #996
I reopen again because is not the same case to continue investigating

[2015-09-16 18:58] pedrobaeza commented on #994
The error is due to an outdated installation

[2015-09-17 15:30] oihane commented on #768
Parece que vuelve a pasar

[2015-09-17 16:50] pedrobaeza commented on #768
Pero el por defecto ése dónde se define. ¿Por qué no pone nombre de módulo?

[2015-09-17 16:50] oihane commented on #768
product_variants_types

[2015-09-17 16:51] oihane commented on #768
curioso en mi local ha funcionado, algo más debe haber que lo "bloquea" o "deshace"

[2015-09-17 16:52] pedrobaeza commented on #768
Eso te iba a decir. Ése no se ha tocado para nada. Lo que hay que hacer es acelerar la inclusión en OCA del set y tener todo con tests para evitar estas cosas.

[2015-09-17 17:42] cor9003 opened #998 "mrp_production_real_costs: Issue with average cost for incomming products ?"
Hello,
I'm checking this module and before to install, the standard odoo functionality, upgraded the product average cost by every incoming goods of those products were been bought through purchases orders. After install this module this estandard functionality is not working any more
I think If this module is to update cost for MO , should not stop this standard functionality for those products a

[2015-09-18 08:19] pedrobaeza commented on #998
This module doesn't change anything in average cost except a button for dumping the real cost to product. Please check again if your problem comes from this module.

[2015-09-18 09:10] cor9003 commented on #998
Hello Pedro,
I confirm you that with the mrp_production_real_costs installed, the products  are not updated the  cost price in the procurement tab when a incomming goods has been done. The checking done again has been:
1) Create a ne DB with the standard modules of purchaes, sales, accounting, warehouse and MRP
2) Create a single provider, and a material with costing method "average price" and cos

[2015-09-18 09:23] cor9003 commented on #998
Sorry Pedro,

After more detailed checking, I see that a variant has been created with a field named Variant Cost Price, that this values has been updated fine. But the the root cost price no.
When we create a purchase order the value that get the estimated prices still being 0€ because do not use the variant price cost.
Is correct the functionality ?

[2015-09-18 09:24] cor9003 commented on #998
Thanks for your support Pedro

[2015-09-18 09:26] pedrobaeza commented on #998
Prices are handled on variants, not on templates, so it's correct the behaviour. I close this.

[2015-09-18 09:26] #998 closed, assigned to nobody

[2015-09-18 20:38] cor9003 opened #1001 "[mrp_production_real_costs] No contabiliza nuevos productos consumidos"
Hola, Una vez se ha iniciado la orden de produccion, es posible consumir nuevos productos no planificados inicialmente antes de dar el producto por fabricado. Cuando se añaden esos productos, no se contabilizan, con lo que no calcula en los costes totales asociados a esa orden de facturacion.

[2015-09-18 21:13] anajuaristi commented on #1001
Hola David, gracias por reportarlo en el sitio correcto.
Lo miramos y te decimos algo a lo largo de la semana que viene.
Saludos!!

[2015-09-19 19:53] rdeheele opened #1002 "workflow error after procurement_mrp_no_confirm uninstalling"
Hello,

If you remove the addon `procurement_mrp_no_confirm`.
The `mrp.prod_trans_draft_picking` workflow transition contains yet the `not no_confirm` condition.
We need to update this data at uninstall.

[2015-09-20 20:59] #1002 closed, assigned to nobody

[2015-09-20 22:22] #993 closed, assigned to nobody

[2015-09-20 22:24] pedrobaeza commented on #993
The problem is that stock module doesn't know about sale module. The module _sale_stock_ is the one that communicates both, so I have made another glue module, _quality_control_sale_stock_, that fix the permission when _sale_stock_ is installed.

About the buttons visibility, it depends, because salesmen may want to see if there's any pending or failure quality inspections to tell their customers.

[2015-09-21 07:55] #996 closed, assigned to agaldona

[2015-09-21 12:36] agaldona commented on #1001
Buenas tardes,

Después de hacer varias pruebas he dado con el problema.
La forma de calcular los costes de productos consumidos se hace en una función llamada action_consume. Cuando se ejecuta esta función para un movimiento, comprueba que tenga valor en el campo raw_material_production_id, es decir, comprueba que este movimiento está asociado a una OF y que además es un producto que se va a cons

[2015-09-21 14:19] cor9003 commented on #1001
Hola Ainara,
La unica forma de añadir nuevas materias primas desde la OF es con el boton de fabricar y seleccionado el modo de "consumir unicamente", que entiendo es a lo que te refieres que no lleva informado el campo raw_material_production_id, y por consiguiente no contabiliza los costes.

No he visto otra manera de incluir materia prima en la OF como comentas.
Tengo instalados en V8 los modulo

[2015-09-21 15:10] agaldona commented on #1001
Buenas tardes David,

He comprobado que si que hay un módulo adicional que incluye este botón en la OF. Se llama, mrp_production_add_middle_stuff.

Espero que te sirva de ayuda.
Nosotros mientras tanto intentamos buscar la mejor solución para el caso que nos has reportado.
¡Muchisimas gracias!
Un saludo,
Ainara.

[2015-09-21 16:49] cor9003 commented on #1001
Hola Ainara,

He añadido el modulo que comentas y es un buen modulo, que facilita la operacion de insertar una materia prima. Es mejor para el usuario que tener que ir al boton de fabricar, eliminando así el riesgo a que le de a fabricar y no solo a consumir los materiales.
Pero ni  con este modulo me ha contabilizado analiticamente los nuevos materiales, unicamente contabiliza los que estaban pla

[2015-09-22 06:41] agaldona commented on #1001
Hola David,
El problema que puedes encontrar es que si metes una línea de componente nueva y no le asignas una workorder, te sale en un subapartado "indefinido" cuando vas a los costes de la OF. Puede ser esto lo que te este pasando?
Me dices algo,
Saludos,
Ainara.

[2015-09-22 07:24] jacksolutions opened #1004 "manufacturing for diamond"
i am not sure such a module is available that supports the diamond manufacturing process. manufacturing that comes with odoo doesnt handle this, i am not sure if any of the modules that is odoomrp supports that.

rough diamonds comes in a packet and lot and each diamond goes from a process rough to polished.
so it starts manufacturing from rough to polished and during that process it goes to vario

[2015-09-22 09:23] cor9003 commented on #1001
Hola,
He probado con ordenes de produccion con componentes que tienen y que no tienen workorder. Efectivamente cuando no tienen work order asignada el subapartado es "indefinido", y cuando tiene, sale dentro del subapartado de la work order, pero en ninguno de los casos crea el apunte analitico de costes del material añadido, y entiendo que deberia crearlo en ambos casos para imputar los costes de

[2015-09-22 13:02] agaldona commented on #1001
Buenas tardes David,

Voy a enseñarte un ejemplo mediante imágenes, ya que a mi al menos si me crea la línea analítica.

He creado una nueva OF de un producto con cuatro componentes.

![captura de pantalla de 2015-09-22 13 36 46](https://cloud.githubusercontent.com/assets/8297237/10018629/99133412-6138-11e5-8756-c1eba3615de3.png)

En la pestaña de productos planificados, pulso el botón Cargar Dato

[2015-09-22 21:20] anajuaristi commented on #1004
Yes. We could offer to you one possible solution with modules built for odoomrp.
Would you be available to speak by skype or hangouts this week?
Than you!!

[2015-09-23 06:15] jacksolutions commented on #1004
okay so you mean to say you already have a modules in odoomrp which supports above functionalities?

i have seen all the listed modules in odoomrp but none of them satisfy those funcationalities.!
can you please list down those modules here which can do the needful here? so that we can discuss further?

[2015-09-23 06:59] cor9003 commented on #1001
Hola Ainara, si son los pasos que sigo, pero solo me contabiliza los planificados en la Ldm, no los añadidos.
Te paso las pantallas
1) Creo una orden de produccion con 3 materiales asociados a 1 work order
![1](https://cloud.githubusercontent.com/assets/6442086/10039006/5d17740a-61ce-11e5-9dd6-6e340d2476d2.jpg)

Confirmo y me arrastra los componentes y los reservo
![2](https://cloud.githubusercont

[2015-09-23 07:14] agaldona commented on #1001
Buenos días David,

Solo hay dos condiciones para crear la imputación de coste. Uno que este asociado a una OF por el campo raw_material_id, eso ya veo que es así en tu caso. Y otro que el producto que está en el campo product_id de la línea tenga un cost_price > 0
Podría ser que bien, o no te esté metiendo el producto en el product_id(que es raro) o que el coste del producto lo tengas a 0?
Como t

[2015-09-23 07:25] anajuaristi commented on #1004
Yes. It's only the way you configure certain modules. Just a few clues:
You can manufacture by operations, so you have got your laser sawing, hand sawing, washing, polishing subprocesses covered.

On the other side, you only need to register a set of data like  its weight, its size, its shape, its color, its height.. on each step... you can use quality modules + trazeability for that.

It's quite

[2015-09-23 08:43] cor9003 commented on #1001
Ainara, perfecto era eso.
El "precio de coste (variante)", ha de estar informado, pero solo para los añadidos posteriormente. El modulo funciona de forma diferente para materiales añadidos que para los planificados. Me explico:
1) Cuando un material ya estaba planificado en la Ldm, para crear el apunte analitico de costes da igual que el "precio de coste (variante)" sea > 0, con el "precio de cost

[2015-09-23 09:08] agaldona commented on #1001
Buenas David,

Nosotros estamos aquí para ayudar en lo que podamos. Y que sepas que tendré en cuenta tu propuesta.

Respecto a lo que me comentas de costes. Acabo de darme cuenta de que en todo momento me he estado refiriendo a los costes reales de una OF. Pero es verdad que tenemos otro módulo que genera  los costes estimados de una OF cuando este se confirma.
Los costes reales siempre tienen en

[2015-09-23 11:22] #929 closed, assigned to agaldona

[2015-09-23 11:22] #750 closed, assigned to agaldona

[2015-09-23 11:36] pedrobaeza commented on #1001
Ainara, para tu información, en los próximos días, voy a darle una vuelta a eso del precio coste variante y demás, porque el interfaz es muy confuso, ya que no deberían aparecer datos discordantes de un sitio a otro para evitar estas confusiones. Básicamente será:
- Si pones un precio de coste en la ficha de producto, se lleva a las distintas variantes.
- En la variante, ocultar el precio de coste

[2015-09-24 16:56] cor9003 opened #1006 "[mrp_production_real_costs].Traspaso numero de ciclos de la ruta a la OF"
Hola,
El "numero de ciclos" que se define en una ruta de produccion no se traspasa a la orden de produccion, tanto en la ficticia como en la real. Al darle al boton de calcular datos de la orden de trabajo, lo calcula todo Ok excepto este valor, que siempre lo deja a 1.

Este valor, el modulo si lo utiliza para el calculo del coste estimado de la maquina, que es el "numero de ciclos" por "coste po

[2015-09-25 08:29] cor9003 opened #1007 "[mrp_operation_extension] Traspaso de materiales planificados de Ldm a OF"
Hola,
Cuando el mismo material se ha definido 2 veces en una Ldm porque participa en 2 operaciones diferentes, cuando se pulsa el boton de calcular datos en la OF para planificar los productos a consumir, esta los genera incorrectamente, pues si que crea 2 lineas de materiales a consumir con las cantidades correctas, pero deberia ser cada una con una operacion diferente y en cambio pone la misma o

[2015-09-28 13:11] anajuaristi opened #1008 "stock_invoicing_type doesn't group incoming pickings"
Hi

If module stock_invoicing_type is installed, system is always NOT GROUPING pickings, so creates as many invoices as picking number.

I think we should erase this module from repo and include in utils or even avanzosc preventing that someone could be using it.  I'm not sure but I think at this time it's causing more problems than the ones it solves.

@pedrobaeza @agaldona Opinion?

[2015-09-28 14:00] pedrobaeza commented on #1008
As far as I remember, that module is for configuring if you want to group or not, depending on your stock picking type configuration.

[2015-09-28 14:03] anajuaristi commented on #1008
Yes, it is... but standar way without this module is working pretty well now so ... I think we could avoid installing it on most of implementations

[2015-09-28 14:33] pedrobaeza commented on #1008
OK, that's was my initial intention (to not have an overlay module), but fix it on core, but I don't remember if you mention a use case that was not covered on standard.

[2015-09-28 15:57] anajuaristi commented on #1008
Problem in standar is that you must select "group" or "not group" with a checkbox on wizard.
Our module makes this check invisible and takes the date from the "group" check on invoicing type on customer form.

This way avoids the user the responsability of selecting a data that has been configured by now. The module is working in sales but it's not in purchases.
I don't know... maybe we should rep

[2015-09-28 16:04] pedrobaeza commented on #1008
We can inhibit this behaviour on purchases, and then put it on utils certainly.

[2015-09-29 20:13] anajuaristi opened #1010 "Bugs related to mrp_production_real_cost and mrp_production_stimated_cost"
Testing the last versions of those modules I could find the following errors on them

The button "upload cost" to product is uploading the price negative (-206.60) to product form. It should be positive (206.60)
Real cost is informing the fields avg_cost and manual_stimated_cost in analytic line. This is incorrect. They should be zero. Real cost must assing a value only in field amount on analytic

[2015-09-30 16:54] pedrobaeza commented on #1010
Check with current version to see if it's correct.

[2015-10-02 07:11] cor9003 opened #1013 "[mrp_production_real_costs]. ¿ Como y cuando se calculan los costes reales ?"
Hola,
No estoy muy seguro de entender como se calculas los costes reales de una OF. He realizado el calculo de los costes estimados y me los crea.Inicialmente pense que al iniciar la OF, conforme fuera consumiendo materiales en la OF, podria ver los costes reales de la OF mediante el boton Production Cost, pero no los veo . Tampoco los veo una vez he consumido todos los materiales, realizado todas

[2015-10-02 07:14] pedrobaeza commented on #1013
Pues yo sí que estoy viendo 2 importes de 703,86 € en tu desglose. Revisa que tienes bien puesto el coste de variante en todos tus productos.

[2015-10-02 07:14] #1013 closed, assigned to nobody

[2015-10-02 08:28] cor9003 commented on #1013
Hola Pedro,

De los 2 materiales que he puesto para probar (Silicona y Loctite) solo ha contabilizado los costes de 1 de ellos, el de Silicona, que son los 700€ que ves, que cuadran con el estimado. En cambio del otro que esta en la pantalla (Loctite), si que ha calculado bien los estimados pero no en cambio el real, que esta a cero.
Los 2 materiales tienen correctamente los costes, porque en caso

[2015-10-02 09:15] cor9003 commented on #1013
Hola, desconozco si al estar cerrado el issue lo que escribo aqui se mira, pero he seguido haciendo más pruebas y he encontrado la casuistica de cuando NO se imputan correctamente los costes de los materiales..

Como funciona bien:
Funciona correctamente el coste de los materiales cuando el consumo de materiales se realiza con boton fabricar de la OF y se elije la opcion de consumir y fabricar, en

[2015-10-02 13:44] anajuaristi opened #1015 "No se puede realizar inventario, ni movimientos para productos con stock negativo"
Probado en runbot: http://3116328-8-0-437424.runbot2.odoo-community.org/
Se reproduce en nuestro entorno demo

Al intentar validar un inventario, o confirmar un pedido de compra de un producto que tiene stock negativo da el error:
MissingError
One of the documents you are trying to access has been deleted, please try again after refreshing.

---

En runbot de OCA no se reproduce.
He intentado dete

[2015-10-02 17:48] cor9003 commented on #1007
Hola,
Simplemente con el animo de ayudar os comento que he realizado unos pequeños cambios en el codigo de la funcion get_workorder_in_product_lines para que funcione cuando se usa el mismo material en más de una operacion de una Ldm.

El codigo antiguo era:

[code]

El codigo que he probado y me funciona es:

[code]

Basicamente lo que he hecho es que cuando la OF planifique un material  desde la

[2015-10-04 00:25] pedrobaeza commented on #1013
Los costes se imputan solamente cuando se cierra la orden, así que hasta que no cierres la orden no tendrás ningún coste real. No se van imputando conforme consumes los materiales.

[2015-10-04 02:00] #981 closed, assigned to nobody

[2015-10-04 02:00] pedrobaeza commented on #981
Thanks for reporting!

[2015-10-04 02:06] pedrobaeza commented on #919
@mlopezgaldon, conseguiste reproducir la secuencia para que esto fallara? Si es así, ponla aquí para que podamos investigarlo, ya que como te comenté no consigo reproducirlo.

[2015-10-04 09:17] cor9003 commented on #1013
Hola Pedro,
Tampoco se imputan al cerrar la orden. No se si falta algun modulo o el motivo, pero las pantallas que he adjuntado arriba fijate que la orden ya esta cerrada y no se ha imputado los costes del material consumido en el tab de Productos a consumir. He realizado varias pruebas.

¿ Quieres que abra de nuevo explicandolo de manera más concisa ?

[2015-10-04 15:42] pedrobaeza commented on #1013
Comprueba que tienes la última versión y que todos los campos de coste en la variante de producto están rellenos. Le tenemos que dar una vuelta para que los campos no sean confusos, pero por lo demás, esto está funcionando.

[2015-10-04 16:16] anajuaristi commented on #1013
Solo comentar que los costes si que se deben imputar cada vez que se hace
un consumo de material o se cierra una ot o se imputan tiempos en una
tarea. No se imputan todos al cierre de la Of sino que se van añadiendo
durante la obra en curso.
No obstante estamos dando una vuelta y revisando el modulo punto a punto ya
que el cambio de enfoque de tener los costes en la plantilla a tenerlos en
el prod

[2015-10-04 16:29] pedrobaeza commented on #1007
Cualquiera de estos métodos sufre del mismo problema: el tener que reconstruir los datos a posteriori. He propuesto unos hooks que nos ayuden a poder hacer esto correctamente. Por favor, revisad y dad vuestro +1: https://github.com/odoo/odoo/pull/8885

[2015-10-04 16:31] pedrobaeza commented on #1013
Ana, ayer miré el código y veo que se hace en el cierre: https://github.com/odoomrp/odoomrp-wip/blob/8.0/mrp_production_real_costs/models/mrp_production.py#L54. ¿O es que el código está disperso por otros modelos?

[2015-10-04 17:29] anajuaristi opened #1016 "mrp_production_add_middle_stuff deja el move creado en estado NEW"
Cuando se crea el movimiento de material con el botón add middle stuff se debe dejar el movimiento en el siguiente estado "esperando material" o "reservado"
Para ello una vez creado el movimiento pulsar "process later" y "check availability",de otra forma  causa el bug de que aunque se pulse el botón de check availabiliity de la OF o de la OT, no asigna nada porque está en estado New.
Es bastante

[2015-10-04 18:06] anajuaristi commented on #1010
The button "upload cost" to product is uploading the price negative (-206.60) to product form. It should be positive (206.60) --> Still happens

---

There is another big bug. Pushing the button upload cost should only modify the specific selected variant price but it's modifying template cost and all variants cost. We are loosing previous values on variants.
This could be caused by changes define

[2015-10-04 18:16] pedrobaeza commented on #1010
The problem is the field variant cost price you introduced. As I said, it's not a good idea to duplicate one field if you have another that have the same purpose and override all processes that write/read this field. You should provide instead a transparent method to handle this at model level. I'll work on this part next week.

[2015-10-04 19:12] anajuaristi commented on #1010
The new field has absolutly nothing to see for real costs. The problem
comes from changing the avg cost field to variant and this one is
mandatory. It has been even changed on V9.
I think before to make any change will be necesary to write spec.
It's necesary taking in mind that odoo has got 3 different cost methods and
we need to act like core does

[2015-10-05 07:25] Daniel-CA commented on #1007
Correcto, eso ya lo contemplamos a la hora de hacer la asignación de operaciones a componentes, tal y como estaba definido el _bom_explode no permitía saber a que operación pertenecía el material si era del mismo tipo en dos operaciones diferentes.
Necesitaríamos las funciones hook que propone Pedro, a ver si los de Odoo le dan el visto bueno.

[2015-10-05 15:54] anajuaristi opened #1018 "purchase_landed_cost updates cost only on template"
purchase_landed_cost is correctly updating the amount cost but instead updating product cost is updating template cost, so it's causing several inconsistencies

On the other side it would be needed to be able to configure decimal precision on distribution cost field or at less it should be the product price decimal precision.

[2015-10-05 15:56] anajuaristi opened #1019 "quant cost decimal precision"
There is no way to change quant cost field precision.

It should be at less the same that is set for the product cost/price field.
I think this should be a patch for OCB branches and it should be reported to Odoo.

[2015-10-05 15:56] pedrobaeza commented on #1018
For the template cost part, this is why I say that we need to handle it transparently. I'm updating product.standard_price, not template.standard_price, but internally transfer this data to template. I'm taking care of it this week.

[2015-10-06 11:05] mlopezgaldon commented on #919
Al final no conseguí reproducirlo, partiendo de una instalación limpia funciona bien, la doy por cerrada.

[2015-10-06 11:05] #919 closed, assigned to pedrobaeza

[2015-10-06 15:04] #1016 closed, assigned to Daniel-CA

[2015-10-06 16:06] pedrobaeza commented on #1007
Me temo que no nos van a admitir los hooks en v8, aunque sí en v9 según dice @odony. Por lo tanto, necesitamos seguir buscando trucos como el que dice @cor9003 para salvar estos errores. Luego volveré a mirar posibilidades para hacerlo lo más elegante posible.

[2015-10-06 19:51] anajuaristi commented on #1007
¿Lo admitiría OCA en V8 OCB?

[2015-10-06 21:45] anajuaristi commented on #1015
@Daniel-CA @agaldona @alfredoavanzosc --> Este error es bastante crítico porque simplemente haciendo "forzar disponibilidad" en cualquier albarán de salida u orden de fabricación nos queda stock negativo y no hay forma de volver a ponerle stock positivo al producto. ¿Podría cualquiera de vosotros mirarlo de forma urgente? Al menos saber cual de los módulos está provocando el problema.
Debe venir d

[2015-10-06 23:02] pedrobaeza commented on #1015
Pero me tienes que decir los pasos para llegar a ese quant negativo.

[2015-10-06 23:05] anajuaristi commented on #1015
Cualquier quant negativo. Por ejemplo, haces un albarán de salida y fuerzas disponibilidad. O bien en fabricación, fuerzas disponibilidad
Luego intentas hacer inventario de cualquier producto que tenga stock negativo y te da el error.

También si intentas una compra o simplemente realizar un movimiento con ubicación origen virtual te da el mismo error

[2015-10-06 23:06] pedrobaeza commented on #1015
Ah, vale, ya te he entendido. Y qué error aparece?

[2015-10-06 23:06] anajuaristi commented on #1015
El genérico este de que se ha borrado algo...
MissingError
One of the documents you are trying to access has been deleted, please try again after refreshing.

[2015-10-06 23:07] pedrobaeza commented on #1007
No, Ana, porque eso significaría que hay un módulo que funciona en OCB y no en Odoo. Antes es más fácil/factible sobreescribir entero el método _bom_explode que eso.

[2015-10-06 23:08] pedrobaeza commented on #1015
Ya, claro, ahí te enmascara el resto de la traza... lo has podido reproducir en demo.odoomrp.com?

[2015-10-06 23:09] anajuaristi commented on #1015
Si. En demo se reproduce. Ahí fue donde nos salió en la bbdd septiembre_2015.
Yo creo que tiene algo que ver con los quants... pero no veo relación con ningún módulo. Ya te digo que en el runbot de la comunidad no da. Solo en nuestro wip. Supongo que habrá que debugear para pillarlo.
Espera que lo pruebo en utils y te digo

[2015-10-06 23:11] anajuaristi commented on #1015
En utils va bien. Es algo que está en wip y que se haya mergeado recientemente.

[2015-10-06 23:15] pedrobaeza commented on #1015
OK, si es reproducible en demo puedo mirar el log para ver la traza completa. Ahora lo pruebo y te cuento.

[2015-10-06 23:18] anajuaristi commented on #1015
Mira el inventario "Uno". Si le das validar, te sale el error en demo bbdd septiembre_2015. Digo para que no andes generando datos para la prueba.

[2015-10-06 23:32] pedrobaeza commented on #1015
Ésta es la traza completa:

[code]

En principio, no aparece ningún módulo personalizado implicado.

[2015-10-06 23:41] anajuaristi commented on #1015
¿Puede estar relacionado con los costes? Digo por esto, igual estamos heredando stock_account o algo. Por dar alguna pista... no sé.

[code]

[2015-10-06 23:44] pedrobaeza commented on #1015
Acaba de funcionarme cuando he reiniciado el servicio. Creo que era un bug del propio Odoo. Haz un rebuild en odoomrp-wip y prueba de nuevo.

[2015-10-07 00:01] anajuaristi commented on #1015
Ok. Lanzado rebuild.
Pruebo mañana :+1:

[2015-10-12 17:05] anajuaristi opened #1025 "Procurements and ranges variant"
We detected that using "range" type variants on sale is impacting with "make to order".
Steps to reproduce.

Define a product make to order including a "range" attribute and a couple of values on it.
Set correctly min-max range values from attribute-values menu

Sale the product
Set a custom value on configurator
Confirm the sale --> it correctly creates a procurement
Try to confirm the procuremen

[2015-10-13 09:10] anajuaristi commented on #1015
El error en runbot se sigue reproduciendo. Probado en:
http://3116882-8-0-503356.runbot1.odoo-community.org/

Con el producto [A2323] iPad Retina Display (16 GB, White, 2.4 GHz) que tiene 8 unidades negativas.
Directamente ir a la ficha de producto y tratando de ponerle más de cero unidades, se reproduce el error.

[2015-10-13 09:53] oihane commented on #1015
El modulo que crea los problemas es el `stock_inventory_import`

estoy con ello

[2015-10-13 10:49] cor9003 commented on #1013
Hola,
Ya he averiguado porque no se imputan los costes reales cuando se consume un material de una OF desde otro sitio que no sea el boton de fabricar. El módulo unicamente imputa costes cuando se pasa por la función action_consume (stock_move.py), pero cuando se consume el material de la OF desde otro sitio, como por ejemplo haciendo click en el propio material a consumir( desde el tab de product

[2015-10-13 15:55] pedrobaeza commented on #1013
Estupendo, gracias por investigar esto. Efectivamente, lo que propones es una mejora interesante. @agaldona, puedes tenerlo en cuenta?

[2015-10-14 11:43] oihane opened #1027 "[BUG] When creating manually a picking and mark it as todo"
While doing a test in OCA runbot

[code]

[2015-10-14 13:39] #1027 closed, assigned to nobody

[2015-10-14 15:33] oihane commented on #1015
Con una copia en local del runbot:

[code]

Resulta que el error se da exactamente en:

[code]

Si que devuelve un valor en quant.product_id, pero es el cost_method el que da MissingError y no sé porque a veces funciona con el debugger y otras no, pero sin él siempre falla.

Probé quitando el modulo **stock_inventory_import** y funciono, pero no veo que es lo que puede causar ese error. @Daniel-CA

[2015-10-14 20:39] anajuaristi commented on #1007
@pedrobaeza
Entonces, si técnicamente es correcto entiendo que hay que hacer un PR con el código de @cor9003 y validarlo funcionalmente.
Si es así, @Daniel-CA o @cor9003 ¿Podríais cualquiera de los dos hacer este PR para que podamos probarlo funcionalmente en runbot?

Gracias!!

[2015-10-22 15:49] CarlesAntoli opened #1035 "Account Treasury Forecast Inserción traducción faltante"
Hola, he visto que en el módulo no esta incluida la cadena final_amount, he modificado el archivo pot para incluirla, quería preguntaros que debo hacer con el archivo pot actualizado, ¿se debe subir el archivo en algún sitio o comunicar la incidencia al autor?. Gracias

[2015-10-22 16:14] pedrobaeza commented on #1035
Puedes traducirlo directamente en Transifex: https://www.transifex.com/oca/odoomrp-wip-8-0/dashboard/

[2015-10-22 16:14] #1035 closed, assigned to nobody

[2015-10-22 16:20] CarlesAntoli commented on #1035
Hola Pedro, En transifex pone que esta traducido el módulo al 100% la cadena que comento no está.

[2015-10-22 16:34] pedrobaeza commented on #1035
Entonces será porque esa cadena no es exportable. Dónde aparece?

[2015-10-22 16:37] CarlesAntoli commented on #1035
En Previsión de tesoreria->Previsión de tesorería-> Final amount ( debajo de Importe inicial). He revisado el .pot y no está incluida.

[2015-10-22 21:23] cor9003 opened #1036 "Precio de coste (variante)"
Hola,
Sin instalar modulos de odoomrp cuando el producto esta definido como "precio medio" las entradas de mercancia actualizan el valor del campo precio de coste del template, que es el campo que se utiliza como precio unidad al realizar un pedido de compras o en el calculo del inventario.
Al instalar el modulo de mrp_production_real_costs ( que instala otros modulosde dependencias como el produc

[2015-10-26 18:53] pedrobaeza commented on #1036
En este PR estamos trabajando en un módulo que gestione el coste por variante de manera transparente: https://github.com/OCA/product-variant/pull/14

[2015-10-27 23:07] pedrobaeza commented on #1035
He intentado que aparezca pero parece ser un bug de Odoo, ya que no hay forma de que lo exporte. Me temo que tendrás que realizar la traducción a mano.

[2015-10-29 02:11] spadae22 opened #1040 "Purchase Landed Cost - Price Update solution using historical cost"
Hi,
As I do use OCA modules I would like to post this. We have been live running purchase_landed_cost live for 5 months. Depending on how stock is received, used, negative quants, etc. I found the Update cost calc will create values that are not valid at all. Since odoo (v8) when average cost is set will update the standard cost on receipt of goods. Also updating the quant value at the same time,

[2015-10-30 00:29] pedrobaeza opened #1041 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] machine_purchase_asset
- [ ] procurement_mrp_no_confirm
- [ ] partner_control_fields_view
- [ ] purchase_order_allowed_product
- [ ] sale_order_allowed_product
- [ ] mrp_bom_through_attributes
- [ ] stock_move_purchase_price
- [ ] product_last_mrp_info
- [ ] stock_packaging_info
- [ ] quality_c

[2015-10-30 12:48] #1001 closed, assigned to agaldona

[2015-10-30 21:45] anajuaristi opened #1042 "Testing cost modules result. Sugestions and bugs."
Testing changes on cost module I see

Cost fields  on PRODUCT.TEMPLATE, we can see:
  .- Cost Price (field standar_price): 87.00
  .- Manual Standard Cost (field manual_standar_cost): 10.00

Cost fields on PRODUCT.PRODUCT, we can see:
  .- Cost Price (field standar_price): 10.00
  .- Manual Standard Cost (field manual_standar_cost) : 10.00 (IT's SHOWN on product but it is field related to template

[2015-10-31 10:37] pedrobaeza commented on #1042
I don't understand what are you quoting and what are your answers

[2015-11-04 10:21] davidperezgar opened #1046 "Does product_variant_default_code works with import CSV Products?"
Hello, the module product_variant_default_code does it works with Product CSV import?

[2015-11-04 11:52] pedrobaeza commented on #1046
We haven't tried that use case, but it can be, because the triggers are launched on create.

[2015-11-05 18:17] #1010 closed, assigned to agaldona

[2015-11-06 08:08] aitorbouzas opened #1049 "purchase_product_variants error"
Hello,

I'm having an issue when trying to access to a purchase.order.line with purchase_product_variants module installed:

`File "/opt/bitnami/apps/odoo/lib/odoo-8.0_a2115ef-py2.7.egg/openerp/addons/purchase_product_variants/models/purchase_order.py", line 187, in onchange_product_id
    state=state)
TypeError: onchange_product_id() takes at least 9 arguments (12 given)`

The error is in the cal

[2015-11-06 08:11] pedrobaeza commented on #1049
Do you have any custom module that also touches this method?

[2015-11-06 08:13] pedrobaeza commented on #1049
Try to reproduce the issue on runbot: https://runbot.odoo-community.org/runbot/repo/github-com-odoomrp-odoomrp-wip-188

[2015-11-06 08:18] aitorbouzas commented on #1049
Yes. warning module:

`def onchange_product_id(self,cr, uid, ids, pricelist, product, qty, uom,
            partner_id, date_order=False, fiscal_position_id=False, date_planned=False,
            name=False, price_unit=False, state='draft', notes=False, context=None):`

And the purchase itself:

`def onchange_product_id(self, cr, uid, ids, pricelist_id, product_id, qty, uom_id,
            partner

[2015-11-06 08:19] aitorbouzas commented on #1049
Also, we created the database with demo content, but that shouldn't interfere...

[2015-11-06 08:20] pedrobaeza commented on #1049
Please check it on runbot (with that module installed/not installed) to check if it happens.

[2015-11-06 08:29] aitorbouzas commented on #1049
Installing warning seems to stop this error... Maybe it should be added as a dependency?

[2015-11-06 08:30] aitorbouzas commented on #1049
Well, in runbot it's not happening even warning is not installed... But on my own odoo it does.

[2015-11-06 08:33] aitorbouzas commented on #1049
Just checked that in my own odoo it is still happening after I installed warning, but now instead of showing the error as you try to create a new line on a purchase, it shows it right after changing product_template field.

[2015-11-06 09:12] pedrobaeza commented on #1049
That's why I told you to check other custom modules in your side or maybe you have an obsolete version? Update Odoo code to check.

[2015-11-06 09:41] aitorbouzas commented on #1049
There's no custom modules installed in our side. Could you please tell how to update the code? Some guide or manual...

[2015-11-06 09:44] pedrobaeza commented on #1049
Download last code from git or daily build and put --update=all on the command line.

[2015-11-06 10:02] aitorbouzas commented on #1049
The problem is that this is a bitnami VM, so I don't know in which directory I should do "git pull" to update the code...

[2015-11-06 11:03] pedrobaeza commented on #1049
I understand that is a prebuilt image. I suggest you to download code from github.com/odoo/odoo instead and redirect the addons-path to the downloaded code.

[2015-11-06 16:55] JavierIniesta opened #1051 "[8.0][BUG] Manual Standard Cost is automatically updated."
**Impacted versions:**
- 8.0

**Current behavior**
- Manual Standard Cost is automatically updated.

**Expected behavior**
- Manual Standard Cost should be introduced manually.

[2015-11-06 16:56] JavierIniesta commented on #1051
cc @rafaelbn @JMODaERP

[2015-11-06 17:28] JavierIniesta opened #1052 "[8.0][BUG] Costing Method: Average Price. Cost Price is bad calculated"
When the warehouse is valued by method of the Average Weighted Price, this algorithm should be applied:

Average Price (Pm) = (Si \* Pma) + (E \* PC) / (Sf + E).

Where:
 Si = initial Stock (Before the movement of Entry).
Pma = average Price before the entry.
    Sf = End Stock (After  movement of Entry).
E: units of Entry (purchase or manufacture).
PC = Cost price of the Entry (It Will Be Purchas

[2015-11-06 17:29] JavierIniesta commented on #1052
cc @rafaelbn @JMODaERP

[2015-11-06 17:40] cor9003 opened #1053 "[mrp_subcontracting] Albaranes de envio al proveedor"
Hola,
Durante el proceso de confirmacion de una OF con una operacion subcontratada,  se crea correctamente  la orden de compra, y al confirmarse la orden de compra se genera el albaran de envio al proveedor, pero unicamente funciona cuando la solicitud de compra tiene una linea.
Cuando varias OF tienen operaciones externas con el mismo proveedor, si una OF genera una  solicitud de compra, y otra O

[2015-11-08 07:34] cor9003 commented on #1053
Hola,
Tambien falla cuando en una orden de fabricacion hay 2 operaciones de subcontratacion con el mismo proveedor. La orden de compra, los abastecimientos, la trazabilidad de los movimientos de existencias y los albaranes de entrada son correctos, unicamente falla en el albaran de envio.
El motivo es que cuando se crea el objeto purchase_order, aunque crea todas las operaciones de subcontratacion

[2015-11-08 08:27] anajuaristi commented on #1053
Hola David
Gracias por testearlo y reportarlo
Lo revisamos en cuanto tengamos un hueco

[2015-11-09 12:34] aitorbouzas commented on #1049
Ok, it seems to be a problem with the old coded. Just tried the module on a new and recently installed odoo and it worked perfect. Thanks!

[2015-11-09 12:39] pedrobaeza commented on #1049
Glad to hear that. I close the issue.

[2015-11-09 12:39] #1049 closed, assigned to nobody

[2015-11-09 13:34] davidperezgar commented on #1046
I can confirm you that it works for CSV import.

Thanks for your reply.
Regards.

[2015-11-10 19:41] ybofr opened #1054 "mrp_bom_component_change: Does not seem to work on demo.odoomrp.com"
Hi,

Don't know, if it is a feature or an issue. I made a test to change one component from multiple boms that was of type phantom, but the system did not find it.

steps to reproduce:
1. create a BOM with one line containing a product A
2. Save and activate the bomb
3. Go to the BOM component modification
4. Enter as old product the product A and replace it with product B
5. Run the replacement.

[2015-11-10 20:58] ybofr opened #1055 "mrp_bom_component_change : Variant changed but not template"
I noticed that sometimes the variant was changed but not the template. This may or may not be still a bug, but if it is, it would be great to have it corrected.

[2015-11-13 15:09] pedrobaeza commented on #1015
Esto está solucionado, no?

[2015-11-13 15:11] pedrobaeza commented on #1019
Quant doesn't have precision, so it's stored on DB without rounding. It's in view where it's rounded to by default 2 decimals. Change the quant view to get what you want (price precision for example).

[2015-11-13 17:57] anajuaristi commented on #1015
Si, validado que en wip ya no da.
:+1:
Lo único que sí sigue dando en nuestro entorno. Supongo que hace bastante que no actualizamos demo.

[2015-11-13 18:00] anajuaristi commented on #1019
This must be made with a module? Or it would be an OCB patch? I think it could be considered as an error since (IMHO) quant should take precision from product.

If it's not possible to build a patch, I think we should made an small module to fix it.

[2015-11-13 18:20] pedrobaeza commented on #1019
This should be in the module that add the cost in the quant view (I think it's _product_variant_cost_)

[2015-11-13 18:20] pedrobaeza commented on #1015
OK, cierro.

[2015-11-13 18:20] #1015 closed, assigned to Daniel-CA

[2015-11-13 20:18] anajuaristi opened #1059 "rangos de calidad, solo crean un bloque de muestra en la inspección"
Aunque se definan rangos con más de un bloque de preguntas de test en la inspección, siempre crea un único bloque

Pasos para reproducirlo:
1. Definir un rango de cantidades con más de un bloque
2. Asignar a una plantilla
3. Definir un disparador para albarán de compra
4. Hacer pedido con una cantidad de dicho producto que correspondería a más de un bloque
5. Confirmar el pedido y realizar la tran

[2015-11-13 21:14] pedrobaeza commented on #1007
Finalmente he optado por proveer esos hooks en un módulo aparte llamado hook, que sobreescribe totalmente el método _bom_explode, y proveer por nuestra cuenta de esos hooks. Ahora, todos los módulos que quieran usarlo, sólo tienen que depender de ese módulo. Por contra, estamos rompiendo la cadena de herencia, pero en este caso es justificable debido a las dificultades que ya hemos comentado.

Aqu

[2015-11-13 21:14] #1007 closed, assigned to Daniel-CA

[2015-11-14 10:27] pedrobaeza commented on #1059
Prueba en https://github.com/odoomrp/odoomrp-wip/pull/1060 si sigue ocurriendo

[2015-11-15 13:09] pedrobaeza commented on #1006
David, aunque los cálculos debería hacerlos correctamente, sí que es cierto que en el formulario emergente los valores no se mostraban correctamente. De todas formas, le he dado una revisión grande que culmina con en este PR: https://github.com/odoomrp/odoomrp-wip/pull/1061. Puedes por favor probarlo y decirme tu opinión?

[2015-11-15 15:52] cor9003 commented on #1006
Hola Pedro,
No conozco muy bien github y para probarlo lo que he hecho es borrar en mi sistema odoo todos los modulos de odoormp, descargarlos de nuevo de github en .zip, pasarlos a mi sistema y hacer un update all a toda la BD, pero he visto que no es asi, pues en lo que he bajado no estan todos los cambios que veo el PR  #1061 ( veo que se han modificado 10 ficheros ). Si que esta el nuevo hook

[2015-11-15 15:58] pedrobaeza commented on #1006
Entra en el enlace de runbot del propio PR: https://odoo-community.org/page/review

[2015-11-15 16:25] cor9003 commented on #1006
tested in: http://3119739-1061-1205f9.runbot2.odoo-community.org/web?db=3119739-1061-1205f9-all
Created routing named: BJ626147-B with 2 operations named "punzonado" and "preparation", Both have '5' as number of cycle value
Created ficticious MO named  FMO000002.  As you can see the number of cycles is '1' and should be '5' because these are the values created in  number of cycles fields for the o

[2015-11-15 17:23] anajuaristi commented on #1006
Hola David.
Estamos probando lo mismo... echa un vistazo por favor a mi último comentario aquí
https://github.com/odoomrp/odoomrp-wip/pull/1061

Una OF ficticia es exactamente igual que una real, lo único que tiene el flag activo a false. Por lo que lo que encuentres en ellas aplica también a las OFs normales y al revés.
Creo que el lío del número de ciclos se debe a una etiqueta que lleva a confu

[2015-11-15 17:45] cor9003 commented on #1006
Si, si , he visto el comentario y efectivamente el lio es debido a la etiqueta.
Iba a probar ahora que cuando en una lista de materiales se consume el mismo material en 2 operaciones diferentes funcione ahora con el hook_mrp. Si te acuerdas se hizo una correcion en el codigo (issue closed  #1007)  pero tenia el problema de que se recalculaba, y creo que el hook_mrp en parte era para evitar esto. L

[2015-11-15 18:41] JMODaERP opened #1062 "08 [IMP] Análisis de Costes"
Improvement
 
La estrategia del 85% de las empresas del tejido productivo español es la estrategia en costes. Es por ello que aquellas empresas que fabrican lo que venden y que tienen siempre presente aportar el máximo valor a sus inversores,  aportando asimismo más valor a sus clientes que sus competidoras, pongan gran énfasis en el análisis de costes de producción.
 
Creo que desde Odoo deberíam

[2015-11-15 21:02] anajuaristi commented on #1062
Estupendo análisis pero de todo esto que dices qué ves que falte?
No entiendo bien la solicitud

[2015-11-16 06:34] JMODaERP commented on #1062
Buenos días Ana, me das la luz que necesitaba para encender este
proyecto común que es Odoo, (parafraseo a Matia Bazar en su canción
Sólo Tú)

Necesito un informe, en Reporting  ==> Manufacturing ==> Análisis de
Costes de Producción que me agrupe por periodos, clientes, órdenes de
producción, centros de trabajo, productos o combinaciones de estas
dimensiones y con las medidas o hechos descritas en

[2015-11-16 08:04] anajuaristi commented on #1062
Pues estaremos encantados de revisar tus contribuciones tanto sean para la
construccion de los informes que necesita tu cliente como para los parches
que resuelvan posibles bugs

Muchas gracias
Ana
El 16/11/2015 7:34, "José Manuel Otero Dapena" notifications@github.com
escribió:

[2015-11-16 23:47] cvinh opened #1067 "[8.0] [purchase_secondary_unit] Procurement does not setup secondary unit UoP in purchase order lines"
Steps to reproduce :
- create a product with a secondary purchase unit (UoP)
- create a procurement for a given quantity of product (in UoM) and a "Buy" rule
- launch procurement
- the purchase order is created but the field product_uop is not setup to the UoP

Expected behaviour :
- the purchase order lines should have the secondary purchase unit setup

[2015-11-17 01:06] cvinh opened #1068 "[8.0] [purchase_secondary_unit] update quantity does not update secondary unit quantity (product_uop_qty)"
Steps to reproduce :
- create a product with a secondary purchase unit (UoP)
- create a purchase order with the product
- modify the quantities in purchase order
- the UoP quantity is not updated

Expected behaviour :
- like in sale orders, the UoP quantity should be updated

[2015-11-18 11:19] rafaelbn commented on #1062
@anajuaristi @pedrobaeza this issue must be opened here https://github.com/OCA/margin-analysis? or here https://github.com/OCA/manufacture? or here https://github.com/OCA/manufacture-reporting?

[2015-11-20 14:48] ejans opened #1075 "Location of quality_control module?"
Where did the quality_control module moved to?

I notice this is still a dependency for all the other quality_control_... modules.

Kind Regards,

Evert

[2015-11-20 14:53] pedrobaeza commented on #1075
It's being moved to https://github.com/OCA/manufacture, to be under the umbrella of OCA.

[2015-11-20 14:53] #1075 closed, assigned to nobody

[2015-11-20 15:00] ejans commented on #1075
Ok, thanks!

[2015-11-21 10:21] dhongu opened #1076 "[8.0][stock_picking_package_info] entirely package transfer"
In case of entirely package move field  result_package_id from stock_pack_operation is empty.

I propose the following changes stock_picking.py

[code]

[2015-11-23 12:33] ybofr opened #1081 "machine_manager: manufacturer cannot be entered manually"
I guess it was meant to be a feature, the fact that the manufacturer can only be entered in the product. It's only that if you create the machine manually, you may not necessarily associate it with a product and therefore would be nevertheless interested in having the manufacturer on it.

Thanks for your answer

eva P.

[2015-11-23 12:46] pedrobaeza commented on #1081
@anajuaristi, opinion? I see no problem at first sight.

[2015-11-23 22:04] anajuaristi commented on #1081
It's not a bug.
It has been designed like that after a heavy discussion we had on desing.

If we open the possibility of having manual manufacturer on machine, User has to assure the data integrity between product manufacturer and machine manufacturer so we think it's easier don't let that concern in users hand.
This way integrity will not be broken.

Usually a machine will be related to a product

[2015-11-23 22:19] pedrobaeza commented on #1081
OK, that makes sense, so I close it.

[2015-11-23 22:19] #1081 closed, assigned to nobody

[2015-11-24 16:27] vafonso commented on #998
Hello guys,
I started to use this module here and I figure out that if the root cost price is not updated, all Jornal Entries under Accounts have incorrect values.
Account module use the root cost price as basis

Vinicius from Brazil

[2015-11-24 20:50] anajuaristi commented on #998
If each variant has got its own cost it has nosense updating template cost
so to solve your issues on accounting moves you should make a patch to make
cost price to be taken from product.
Other solution would be not using variants or going through version 9 where
cost is on variant on odoo core so I think account move will be rigth on
that version.
El 24/11/2015 17:27, "vafonso" notifications@gith

[2015-11-24 23:16] vafonso commented on #998
Hi Ana, thanks a lot for the real fast answer.
Could you please be so kind to detail a bit more how to do this patch?
Which code part do you suggest to change ?

Unfortunately version 9 is far from Brazil due our accounts localization.

Thanks for your support.
Kind regards

[2015-11-25 11:15] vafonso commented on #998
What I have done so far was to change the odoo/addons/stock_account/stock_account.py file.
I've changed:
Under def _prepare_account_move_line
1. valuation_amount = cost if move.location_id.usage != 'internal' and move.location_dest_id.usage == 'internal' else move.product_id.standard_price TO valuation_amount = cost if move.location_id.usage != 'internal' and move.location_dest_id.usage == 'intern

[2015-11-25 11:34] anajuaristi commented on #998
Hi @vafonso

If you change directly odoo/addons/stock_account/stock_account.py file, you are forking the core so it will not be easy to mantain.

If you want to start developping Odoo I recomend to you to try a full technical training to learn how to use inheritance and other good practices tools.

[2015-11-25 11:45] pedrobaeza commented on #998
I have told in other occasions: with the module https://github.com/OCA/product-variant/pull/14 + adapting mrp_production_real_costs to this module, everything will be handled transparently. Next steps to do:
- Add tests to the PR to accept the module with enough guarantees.
- Adapt _mrp_production_project_estimated_cost_ to this new module.
- Adapt _mrp_production_real_costs_ to this new module.
-

[2015-11-25 12:48] vafonso commented on #998
Hi Ana, thanks for your feedback. You're right. I need first update my knowledge about odoo best pratices before start to change anything. The idea was just to find what module was taking care of this cost and check if the end result was ok.
I will try my best to make this more professional and in a correct way. And If I got it, I post it to you.

Kind regards

Vinicius

[2015-11-29 17:39] vafonso opened #1087 "Instalation mrp_production_real_costs problem"
Hi all,

This weekend  I did a pull to update my local repository from your odoomrp-wip and I did a completly new Odoo instalation.

After all done, when I tried to confirm a new worl order, I got the follwing error:

Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/od

[2015-11-29 17:59] pedrobaeza commented on #1087
Thanks for reporting. Fixed in https://github.com/odoomrp/odoomrp-wip/commit/a179b3360b5afc26f881775b0b03907f570f8301

[2015-11-29 21:38] vafonso commented on #1087
Hi Mr. Pedro, thank you for very fast fixing

Unfortunately, I've got now a new error:

Traceback (most recent call last):
  File "/opt/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/openerp/http.py", lin

[2015-11-30 00:18] pedrobaeza commented on #1087
That error is very strange and seems unrelated to the change. Please try to reproduce it on runbot instance: https://runbot.odoo-community.org/runbot/repo/github-com-odoomrp-odoomrp-wip-188

[2015-11-30 10:46] vafonso commented on #1087
Hi Mr. Pedro
I enter on http://3136231-8-0-a179b3.runbot2.odoo-community.org/web?debug=1#id=7&view_type=form&model=mrp.production&menu_id=410&action=543 and I created two itens: Componente A and Acabado A. They are component and finish good respectively
After, I created  MO00007 and when you try to confirm production, you get the following error:

Odoo Server Error
Traceback (most recent call last

[2015-12-01 09:22] davidperezgar commented on #1046
I've seen that the variable "Variant Reference Mask" has to be filled in order to put a default code for variants.
When I'm trying to import it it gets this error:
Unknown error during import: <class 'openerp.exceptions.except_orm'>: (u'Error', u'Found unrecognized attribute name in "Variant Reference Mask"') at row 2
Resolve other errors first

the variant mask in the CSV file is: A098849494 [Col

[2015-12-01 09:33] anajuaristi commented on #1046
Variant reference Mask is the "formula"/"mask" used to calculate the product.product default code so it must only be filled on template, never in variants.

The error is because of that.

I re-close the issue.

[2015-12-01 09:33] #1046 closed, assigned to nobody

[2015-12-01 09:50] davidperezgar commented on #1046
Hello Ana, It's imported in product not variants...

I use this first row:
product_variant_ids/attribute_line_ids/attribute_id,product_variant_ids/attribute_line_ids/value_ids, reference_mask

[2015-12-01 10:26] anajuaristi commented on #1046
Reference mask should have not a default code value but a "formula" related
to attributes. That's the error.

2015-12-01 10:50 GMT+01:00 David Perez notifications@github.com:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone / Tfono oficina:
(+34) 943 02 69 02
Ana Juaristi Olalde http://www.anajuaristi.com/: Personal phone: 677 93
42 59. User/usuario skype: Avanzosc
www.openerpsite.com

[2015-12-01 11:44] vafonso commented on #1087
Hi Pedro, how are you?

I've seen that today the instance  https://runbot.odoo-community.org/runbot/repo/github-com-odoomrp-odoomrp-wip-188 is working properly.
What should I do here to get the same behaviour? It was some wrong config that I did?
Thanks for your assistance

Kind regards
Vinicius

[2015-12-01 11:47] anajuaristi commented on #1087
@valfonso ups... sorry
It has been me.

I have just uninstalled the estimated_cost module to verify that error was caused by that module. So now it's working but... it should also work with module installed in any instance.

I have reported internally, so we will try to solve ASAP
@agaldona

Sorry for inconvenience.

[2015-12-01 11:56] davidperezgar commented on #1046
Ok Thanks

[2015-12-02 10:57] JMODaERP commented on #1062
cc @rafaelbn

[2015-12-04 19:45] aduijs opened #1092 "installation "product_variants_no_automatic_creation" error: "View inheritance may not use attribute 'string' as a selector.""
I am getting the following error when installing "product_variants_no_automatic_creation"

[code]

[2015-12-04 19:47] pedrobaeza commented on #1092
The module is not yet migrated to v9. That's the reason of the error.

[2015-12-04 19:47] #1092 closed, assigned to nobody

[2015-12-05 16:36] andhit-r opened #1094 "[8.0][Bug] mrp_project_link error on installation"
Hi,

I tried to install mrp_project_link on a fresh database (without demo). It raised an exception (see bellow).

Traceback (most recent call last):
  File "/opt/odoo/odoo/openerp/http.py", line 537, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoo/openerp/http.py", line 574, in dispatch
    result = self._call_function(*_self.params)

[2015-12-05 16:47] andhit-r commented on #1094
I think it's due project module is not installed. It should install project module, isn't it? But I do not find any dependency to project module.

I try to install project module then install mrp_project_link. Success.

[2015-12-06 19:31] #1094 closed, assigned to nobody

[2015-12-06 19:31] pedrobaeza commented on #1094
Thanks for reporting.

[2015-12-10 21:46] bistaray opened #1099 "[8.0] [Question] mrp_production_add_middle_stuff - when would you use this module?"
Hello.

In v8 (without this module) I can add raw materials to a MANUFACTURING ORDER (MO) on the popup when I click PRODUCE (it lists what I am supposed to consume, but I can change quantities and even add a brand new raw material on this list).  Whatever is changed on this popup is reflected in the CONSUMED PRODUCTS list on the MO, and additional stock moves are created from STOCK to PRODUCTION,

[2015-12-10 22:36] anajuaristi commented on #1099
No. The reason is that you may want to plan extra materials to be consumed after the mo is launched.
With this module you can check availability or any other action you need to do with materials on the mo. You don't need to wait until production wizard is launchex but you can prepare extra materials to be consumed when you know you will need them.

[2015-12-10 22:37] anajuaristi commented on #1099
No. The reason is that you may want to plan extra materials to be consumed after the mo is launched.
With this module you can check availability or any other action you need to do with materials on the mo. You don't need to wait until production wizard is launched but you can prepare extra materials to be consumed when you know you will need them.

[2015-12-10 22:44] bistaray commented on #1099
Thanks!!  So it is more flexible.  (1) Without the module you can add materials at the initial CONSUME stage, or at the final PRODUCE stage, but with this module you can do it anytime.  (2) It allows you to add the material without using it, so you can check availability first, and manage the addition in multiple steps -> add, scrap, add, consume.  Without this module you have to add and consume i

[2015-12-10 23:13] anajuaristi commented on #1099
Exactly. That's it :)

[2015-12-11 09:11] agaldona commented on #1087
Fixed on the last version of Odoomrp-wip

[2015-12-11 09:11] #1087 closed, assigned to agaldona

[2015-12-15 18:23] vafonso commented on #998
Hi Ana,
As I informed, I tried to study the variant cost code to try to have the average cost in root cost price (template price)
Please could you help me and analyze if I inheritance the def _store_average_cost_price and def product_price_update_before_done in stock_quant from product variant cost (or maybe ask for a pull request), inserting the following line: product.sudo().write({'standard_pri

[2015-12-16 09:56] EderO opened #1105 "[8.0][BUG?]Not total expense in picking lines"
So the problem i got, is that i have 3 lines of expenses. Each one 10k €. Total of 3 lines : 30k €.

But in picking lines only get the last line always, so just takes 10k €. In the field "Cost amount", so the  "New cost" it's wrong.

Thanks in advance.

[2015-12-16 10:00] pedrobaeza commented on #1105
Which module? Explain a bit more all the steps.

[2015-12-16 11:17] EderO commented on #1105
Purchase landed cost.

![down1](https://cloud.githubusercontent.com/assets/16318317/11839546/f2dcbbaa-a3ee-11e5-98d9-09112185476d.png)
![down2](https://cloud.githubusercontent.com/assets/16318317/11839547/f2de8d68-a3ee-11e5-8ce5-7f3b55b1aed2.png)

[2015-12-16 17:58] zamberjo opened #1107 "[8.0][mrp_operations_extension + mrp_subcontracting] Campo picking_type_id duplicado"
Si se instalan los módulos **mrp_operations_extension** y **mrp_subcontracting** aparece un campo duplicado en el modelo **mrp.routing.workcenter**. Las vistas son:
- _odoomrp_wip/mrp_operations_extension/views/mrp_routing_view.xml:63-65_
- _odoomrp_wip/mrp_subcontracting/views/mrp_routing_workcenter_view.xml:19-25_

[2015-12-16 20:39] levkar opened #1108 "*_pricelist_rules missing fields"
_pricelist_rules addons use supplier_ids and customer_ids fields on product.product model which is missing. when a pricelist version with base calculated from "supplier price", it crashes.

As far as I understand, there has to be another addon which adds these fields and it's best to add that addon as dependency to be safe.

[2015-12-17 07:09] pedrobaeza commented on #1108
You need the module _product_supplierinfo_for_customer_ for having this field. Can you point me which is the code line that mention this field?

[2015-12-17 10:04] levkar commented on #1108
I couldn't see that addon on odoomrp-wip. Probably deleted.

Example lines:

https://github.com/odoomrp/odoomrp-wip/blob/8.0/product_pricelist_rules/models/product_pricelist.py#L162

https://github.com/odoomrp/odoomrp-wip/blob/8.0/product_pricelist_rules/models/product_pricelist.py#L164

Thank you very much.

[2015-12-17 10:14] pedrobaeza commented on #1108
The module is in https://github.com/OCA/product-attribute/tree/8.0/product_supplierinfo_for_customer. Download and install it on your system.

The dependency has been fixed in https://github.com/odoomrp/odoomrp-wip/commit/bddc79d84e69dbdaf7ee91399ee77e93918a78bc

[2015-12-17 10:14] #1108 closed, assigned to nobody

[2015-12-17 10:19] levkar opened #1109 "pricelist rules total discount not carried to invoices"
When pricelist rules are used with multiple discounts, only first discount is carried to invoices. This logic is somewhat distributed into several methods and wizards in various modules. Following methods needs to be inherited and set the discount to correct value.

1) _prepare_invoice in sale.order model
2) _get_invoice_vals in stock.picking model
3) _make_invoice_by_partner in purchase.order.lin

[2015-12-17 10:21] pedrobaeza commented on #1109
@anajuaristi, this is one of your modules. Please check.

[2015-12-17 11:08] anajuaristi commented on #1109
I have just realized about this issue.
@levkar you are right. 3 discounts are shown in sales order/purchase order but there is a single discount field visible on invoice.
It means that there is no too much people using this feature, since we didn't realize about this behavior  until today and noone reported before.
It would be great if you could repair it and make us a PR.

About combining them...

[2015-12-17 11:20] levkar commented on #1109
Ana, I agree with you that we should show three discounts. That will remain as it is right now. Only we will use another field for discount1 instead of discount field and compute discount field out of three discount fields (discount1, discount2, discount3).

I'll do the fix today and we review it again.

[2015-12-17 11:22] anajuaristi commented on #1109
I see.. It could work.

On the other side I was speaking about the invoice.
We should translate the 3 discount to invoice. What do you think?

2015-12-17 12:20 GMT+01:00 Levent Karakaş notifications@github.com:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone / Tfono oficina:
(+34) 943 02 69 02
Ana Juaristi Olalde http://www.anajuaristi.com/: Personal phone: 677 93
42 59. User/usuario

[2015-12-17 11:32] levkar commented on #1109
it is possible but it is very hard. all invoice functions using discount should be made compatible. if you search discount on account.invoice model, there are many places to fix. One big problem is that some of them are big functions and needs to get parted by monkeypatching. I have seen pedro's mrp_hook addon and reasons behind creating that addon. we recently needed to monkeypatch half of the ac

[2015-12-17 21:48] levkar commented on #1109
I made this PR related to this discussion:

https://github.com/odoomrp/odoomrp-wip/pull/1111

Now discounts plays nicely with invoice discount.

I just want to point a few things that I came up while making the fix.

1) Offer system breaks the " amount \* quantity \* discount_factor = line_subtotal" formula and it has the same problem with the discount in an unsolvable manner. To my understanding

[2015-12-17 21:58] levkar commented on #1109
Regarding multiple discounts on invoice, it is possible to add three discounts on invoice calculating the actual discount. After that we can get three discounts feeded into invoice into above methods.

[2015-12-18 09:50] anajuaristi commented on #1099
Closing issue as it seems it have been answered
@bistaray if you have got any other concern, please open another issue.

[2015-12-18 09:50] #1099 closed, assigned to nobody

[2015-12-18 09:52] anajuaristi commented on #1076
I don't understand the problem. If you assing the correct packages on transfer lines, it works. So I don't see the need of adding new code.

@pedrobaeza opinion?

[2015-12-21 17:36] rdeheele opened #1112 "mrp_bom_through_attributes: _bom_explode crash"
Steps to reproduce:
- I set a product.template with:
  - a classic bom
  - several attributes including one attached with a raw product (this raw product is itself linked to a phantom bom)
- I create a sale order, confirm it, and run the scheduler, the next error occurs:

  File "/home/romain/machines/openerp_dev/parts/server/openerp/api.py", line 256, in wrapper
    return old_api(self, _args, *_

[2015-12-21 17:40] #1112 closed, assigned to nobody

[2015-12-21 17:40] pedrobaeza commented on #1112
Thanks for reporting and for the PR.

[2015-12-22 12:44] EderO commented on #1105
I am gonna try to, fix it by my self, and will send the files back to here.

[2015-12-28 03:11] pedrobaeza commented on #1076
I do, Ana. He's referring to the case when you are not packing something, but just using an already stored package. I see the patch correct.

[2015-12-28 03:20] pedrobaeza commented on #1107
Efectivamente, el campo sobra ya en mrp_subcontracting. Puedes hacer un PR quitándolo?

[2015-12-28 03:26] pedrobaeza commented on #1053
@anajuaristi, que no se olvide repasar esto

[2015-12-28 03:26] #1051 closed, assigned to nobody

[2015-12-28 03:28] pedrobaeza commented on #1055
We need concrete steps that leads to the error, or it can't be fixed then. Until then, I close the issue.

[2015-12-28 03:28] #1055 closed, assigned to nobody

[2015-12-28 03:29] pedrobaeza commented on #1006
El módulo quality_control forma ya parte de OCA en OCA/manufacture. Acerca de la etiqueta, no está corregido. @Daniel-CA o @agaldona, podéis encargaros de revisarlo y hacer el PR aquí y en OCA?

[2016-01-04 08:54] Daniel-CA commented on #1006
Lo único que esa etiqueta viene así definida de base en el módulo mrp, meto la modificación en el mrp_operations_extension?

[2016-01-05 20:14] pedrobaeza commented on #1006
Sí, y recuerda hacerlo también en el que está en OCA

[2016-01-06 15:33] burnout75 opened #1121 "[8.0][sale_product_variant] Attribute Price Extra"
The Attribute Price Extra is not based on sale order pricelist selected: need to be calculate.
The product price unit is wrong if pricelist include discount or a different currecy.

[2016-01-06 15:47] pedrobaeza commented on #1121
Module?

[2016-01-06 15:49] burnout75 commented on #1121
sale_product_variants on sale_order

[2016-01-06 17:01] pedrobaeza commented on #1121
We haven't found that problem from now (or we are not using that features in our customers). If you make a PR solving the issues, we will review it, but it's not something that we are going to fix for now.

[2016-01-07 11:12] JMODaERP commented on #1006
Feliz año a todos. Me gustaría comentar que en http://3138909-8-0-4bbf95.runbot1.odoo-community.org/web este error, que ya habíamos comprobado y reportado hace tiempo, está corregido  y el número de ciclos que aparece en la orden de producción (ejemplo MO00010) en la pestaña correspondiente a las órdenes de trabajo (bajo el texto número de ciclos) aparece, felizmente,  la división realizada entre

[2016-01-07 14:07] pedrobaeza commented on #1006
No hay posibilidad de errores, ya que los módulos tienen nombres distintos (uno en plural y el otro no). La idea será acabar eliminando estos módulos de aquí y dejar sólo los de OCA, migrando los clientes que los tengan instalados.

[2016-01-19 09:01] JGarcia-Panach opened #1124 "[8.0][product_variants_no_automatic_creation] "Use the category value" no traducido en el es.po"
Buenos días!

En la siguiente línea falta de traducir "use the category value"
https://github.com/slevenhagen/odoomrp-wip-npg/blob/052254398716e4f6ca7cf010d3b3f04d601b4412/product_variants_no_automatic_creation/i18n/es.po#L88

Propongo: Utilizar el valor de la categoría.

Si os parece bien hacemos el PR.

Un saludo y muchas gracias por vuestro trabajo!!

[2016-01-20 12:43] pedrobaeza commented on #1124
De acuerdo, gracias.

[2016-01-20 16:33] #1124 closed, assigned to nobody

[2016-01-22 00:23] nestoravalos commented on #410
Hola a todos, a ver si me pueden orientar con el siguiente detalle con la actualización del campo "Precio coste (standard_price)".

Mi configuración es la siguiente:
1. Valoración del inventario en tiempo real.
2. Método de coste: Precio medio.

Pero esté último nunca se actualiza durante las compras, lo que hace que todos los movimientos de contabilidad los haga con el Precio Coste que se le indi

[2016-01-22 00:30] pedrobaeza commented on #410
Este módulo no contempla por el momento la actualización contable, ya que en España no se hace. Habría que ampliar desarrollo para cubrirlo, lo que por el momento no está planeado.

[2016-01-22 15:39] nestoravalos commented on #410
Ok gracias Pedro.

Me pudieras orientas sobre cuales objetos o módulos se debe trabajar para que haga la actualización en la contabilidad?

De antemano gracias.

Saludos.

[2016-01-22 15:52] nestoravalos commented on #410
Otra pregunta, porqué cuando el Método de Coste es Precio Real si actualiza el Precio Coste (standard_price), por lo cual la contabilidad queda correcta.

Creo que si me pudieras orientar con el objeto que utilizan para realizar estás actualizaciones, sólo tendriamos que agregar el código para actualizar el Precio Coste cuando el Método de Coste es Precio Real, cómo ves Pedro?

Quedo a tu órdenes

[2016-01-22 19:25] pedrobaeza commented on #410
Hay que actualizar este módulo, pero es una cuestión de observar el código del módulo stock_account y cambiar este código en consecuencia.

[2016-01-26 17:00] maurochip opened #1134 "Duda en módulo mrp_production_add_middle_stuff_operations"
En este módulo la carpeta "models" no se está importando para su uso. Estoy buscando un módulo que me pueda asignar las ubicaciones de stock (de origen y/o destino) según la operación especificada del centro de producción. Este módulo, según el código fuente, parece que intenta hacerlo asignando las ubicaciones del tipo de albarán en la operación, pero parece que solo lo hará cuando se añada un pr

[2016-01-26 17:04] #1134 closed, assigned to nobody

[2016-01-26 17:06] maurochip opened #1135 "[8.0][mrp_production_add_middle_stuff_operations] Import models"
En este módulo la carpeta "models" no se está importando para su uso. Estoy buscando un módulo que me pueda asignar las ubicaciones de stock (de origen y/o destino) según la operación especificada del centro de producción. Este módulo, según el código fuente, parece que intenta hacerlo asignando las ubicaciones del tipo de albarán en la operación, pero parece que solo lo hará cuando se añada un pr

[2016-01-28 07:20] pedrobaeza commented on #1135
@Daniel-CA, puedes revisar?

[2016-01-28 08:48] Daniel-CA commented on #1135
Correcto, faltaba añadir el import de la carpeta models, se añadió código en el módulo para que en caso de que estuviera instalado el módulo de subcontrataciones permitiera añadirlas.
De todas formas @maurochip este módulo es solo un módulo puente para que funcionen los otros dos en caso de tenerlos instalados, el módulo en si no añade funcionalidad extra.

[2016-01-28 08:49] #1135 closed, assigned to nobody

[2016-01-28 08:52] #1107 closed, assigned to nobody

[2016-01-28 20:51] nestoravalos commented on #410
Ya realice los cambios Pedro, pero me surgio otra pregunta, porque cuando es una DEVOLUCIÓN DE COMPRA no  se actualiza el campo 'cost_price' del Quant, yo puedo tener una operación de compras/ventas sin devoluciones y esté campo se actualiza correctamente, pero al momento de realizar una devolución de compra, no lo actualiza, a ver si pudieras orientarme un poco con está parte. Saludos y gracias d

[2016-01-29 09:08] pedrobaeza commented on #410
Esa duda la tendrás que plantear con Odoo, ya que es cosa del estándar.

[2016-01-29 15:57] nestoravalos commented on #410
Ok gracias Pedro, saludos!

[2016-01-31 15:19] NL66278 opened #1141 "Module procurement_purchase_no_grouping not working"
Need this module to prevent merging purchase order lines. But does not work. Failing also on rununit tests:
2016-01-31 14:57:03,137 11694 INFO oerivldem80 openerp.addons.procurement_purchase_no_grouping.tests.test_procurement_purchase_no_grouping: test_procurement_no_grouping_line_purchase (openerp.addons.procurement_purchase_no_grouping.tests.test_procurement_purchase_no_grouping.TestProcurementP

[2016-01-31 16:42] NL66278 commented on #1141
On further analysis this seems due to an incompatibility with the procurement_jit module. This makes the procurement already runs in the setup method of the test, before giving procured_purchase_grouping another value than the default 'standard'.

[2016-01-31 16:43] pedrobaeza commented on #1141
It seems so... I can include the known incompatibility in the README or are you planning to improve the module with this compatibility? You can also take the occasion to move it to OCA.

[2016-01-31 18:28] NL66278 commented on #1141
Actually it are only the tests IMHO that need to be adopted, IRL products will have the right category before being procured/purchased. OK to move module to OCA. Would purchase-workflow be the right repository?

[2016-01-31 18:59] pedrobaeza commented on #1141
:+1: for purchase-workflow.

[2016-01-31 20:12] NL66278 commented on #1141
Is is now PR https://github.com/OCA/purchase-workflow/pull/209

[2016-01-31 23:49] #1141 closed, assigned to nobody

[2016-02-02 09:39] matthieujoossen opened #1144 "[8.0]sale_promotion_gift"
Error at installation on offer_id.
I think you should add your module sale_pricelist_rules in sale_promotion_gift dependencies.

[2016-02-02 10:26] pedrobaeza commented on #1144
Done in https://github.com/odoomrp/odoomrp-wip/commit/3800738ea2dd9ac66c14e6e01d184398223475ee

Thanks for reporting

[2016-02-02 10:26] #1144 closed, assigned to nobody

[2016-02-08 19:15] nestoravalos opened #1146 "Costo promedio trasladado a Producto Terminado"
Hola a todos!

Creo porque aún lo estoy probando, pero el módulo del MRP no traslada el costo de Producción en Proceso al Producto Terminado, alguien que me pueda orientar si si está probada está parte.

Ejemplificando con el tipo de Coste Promedio y Valuación del Inventario en Tiempo Real:

Producto Terminado: PT01 (Costo Promedio = 0) -> No se ha producido nada.
Insumo: Insumo01 (Costo Promedio

[2016-02-08 23:19] #1146 closed, assigned to nobody

[2016-02-09 08:55] JMODaERP commented on #1146
Imagino que ya lo has descubierto y por eso has cerrado la consulta, en otro caso te diré que si lo hace, y además bien. Debes tener un problema de configuración. Un saludo.

[2016-02-09 17:22] nestoravalos commented on #1146
Hola JMODaERP, si ya encontre el detalle, y si lo hace bien como comentas, era un detalle con un módulo.

Saludos.

[2016-02-17 16:44] rubencr7 opened #1154 "[8.0][mrp_operations_extension] Duda en número de operadores"
Hola, tengo la siguiente duda:
En la ruta de producción cuando se selecciona la operación para copiar sus datos en la linea de centros de trabajo, está cargando cada línea con datos respectivos a cada centro de trabajo de dicha operación. Está cargando en cada línea el número de operadores de la operación (mediante `onchange_operation()` en la clase `MrpRoutingWorkcenter`, se podría corregir de la

[2016-02-17 18:10] pedrobaeza commented on #1154
Buenas, Rubén, varios módulos de aquí están ya obsoletos al haber sido movidos a OCA/manufacture, entre ellos el que mencionas. Revisa allí si tienes el mismo problema, y si es así, pones un issue en ese proyecto.

[2016-02-17 18:10] #1154 closed, assigned to nobody

[2016-02-22 17:30] anajuaristi commented on #964
@Daniel-CA
Sigue sin estar bien, ya que ejecutando el botón de cerrar la orden manualmente desde la OF(SIN que entren para nada las operaciones) Sigue realizando los movimientos de consumo y producción.

Para que esté correcto, hay que CANCELAR los movimientos de consumo y producción que queden y dejar la orden en estado REALIZADO.
En producciones donde exista algún movimiento de producto final re

[2016-02-23 08:07] Daniel-CA commented on #964
Has probado este PR? https://github.com/OCA/manufacture/pull/79

[2016-02-24 20:40] ghost commented on #1105
@gs-clearcorp

[2016-03-05 12:53] roedeorm opened #1163 "[8.0][sale_product_variant_type] procurement does not accept range custom value"
Place a sales order with a manufacture/mto product which has attribute type range and enter a custom value. Example: Attribute 'length', min=10.0, max=50.0
Running the procurement yields below error eventhough the custom value has been entered within the range in the sale order line.

ValidateError
Error while validating constraint
Custom value for attribute 'length' must be between 10.0 and 50.0.

[2016-03-05 14:18] anajuaristi commented on #1163
Yes, this is a known error since longtime. We did not have time to solve it.
The problem is the custom value set on sales order line configurator is not filling the custom field on MO configurator. As this field is mandatory the MO can not be saved and you obtain the error.

We are quite busy but we will try to solve asap.
@oihane or @mikelarre please take care of it.

@roedeorm Thank you for make

[2016-03-05 14:42] roedeorm opened #1164 "[8.0][sale_product_variant_type] custom value lost on qty/uom update"
Small usability issue:
When chaning quantity or uom in sale order line, the custom value of a range attribute is lost, i.e. set to zero again. One has to manually enter it again.

Tested on
demo.odoomrp.com
db=September_2015_EN

P.S.: Big fan of the odoomrp work. Keep it up!

[2016-03-05 14:55] anajuaristi commented on #1164
@roedeorm Thank you :)

@oihane Could you please take a look to this?

[2016-03-05 16:07] roedeorm opened #1165 "[8.0] [product_attribute_types] domain on default and attribute values missing"
The field default in attribute values seams to lack a domain.

Go to Sales>Product Categories & Attributes>Attribute line values
In field "Default", attribute values from ALL attributes can be selected and saved, not only from the attribute in question.

Similarly, and in the same view, in field "Product Attribute Value", when clicking on "Add an item", attribute values from ALL attributes can be

[2016-03-05 19:53] roedeorm opened #1166 "[8.0][sale_product_variant_type] new attribue value from so line: missing constraint"
Place a product template on sale order line that has an attribute "A".
Write into field "Value" in the attribute table in the row or attribute "A" and click create. A window pops up.
The field attribute is empty instead of being prefilled with "A". It has to be filled manually and it is not constrained to "A". All other attribute are a possible selection. This can result in attribute value of a di

[2016-03-05 20:23] roedeorm opened #1167 "[8.0][purchase_product_variants_types] inconsistent behaviour manually vs. procurement"
Make a buy/mto-product with an attribute of type range.

When a attibute of type range is involved, a purchase order line behavious differently depending on if the po line is entered manually or if it is placed by procurement.

When the po line is placed manually, the attribute table is shown and the range custom value can be entered.

Now enter the product in a so line and fill out the custom val

[2016-03-05 20:34] roedeorm opened #1168 "[8.0][xxx_product_variants_types] small useability improvement"
Here's a suggestion for a small usability improvement for attribute of types range:

In the xxxxx_product_variant_types modules, where attribute range is min=max (i.e. where only one value is allowed), enter this value in the field custom value automatically.

Example on demo.odoomrp.com
Product LAMP has attribute size with attribute value 100 and attribute value 20 - 55.
Attribute value 20 - 55 o

[2016-03-06 21:32] roedeorm opened #1169 "[8.0][product_attribute_types] unfortunate naming of field attr_type"
module website_sale introduces field type with field lable "Type"
module product_attribute_types introduces field attr_type with field lable "Type"
That's an unfortunate double use of the word "Type".
It's quite confusing for user when both modules are installed.

[2016-03-06 22:41] roedeorm opened #1170 "[8.0][mrp_product_variants] Bill of Material Component view not adapted"
mrp_product_variants introduces product template on bom line.
When opening Bill or Material Component however there is no product template field, the product variant field is just empty.
I think mrp_product_variants should add a product template field to the view of Bill of Material Component.

[2016-03-06 23:08] roedeorm opened #1171 "[8.0][mrp_bom_version] bom line can be edited in Bill of Material Components"
mrp_bom_version prevents user from editing bom line in status active.
However, using the view Bill of Material Components the bom line can still be edited.

[2016-03-06 23:37] roedeorm opened #1172 "[8.0][not sure which odoomrp module] adding operators time to work order results in error"
take a work order, go to section Operators time, Add an item, create a task, save.

Results in:
...
  File "/opt/odoo/demo_odoomrp/core/addons/project_timesheet/project_timesheet.py", line 161, in create
    vals['hr_analytic_timesheet_id'] = self._create_analytic_entries(cr, uid, vals, context=context)
  File "/opt/odoo/demo_odoomrp/core/openerp/api.py", line 268, in wrapper
    return old_api(se

[2016-03-06 23:43] pedrobaeza commented on #1172
This module has been moved to OCA and improve, so it's going to be removed from here. Please see https://github.com/OCA/manufacture

[2016-03-06 23:43] #1172 closed, assigned to nobody

[2016-03-06 23:50] roedeorm opened #1173 "[8.0][mrp_wizzard_filter_task] Impute/Search imputation in task produces error"
Got to Manufatoring>Manufactoring>Impute/Search imputation in task

Opening results in
...
File "/opt/odoo/demo_odoomrp/odoomrp_addons/mrp_wizard_filter_task/wizard/wizard_filter_mrp_task.py", line 52, in task_onchange
    self.wk_order = self.task.wk_order.id or False
AttributeError: 'project.task' object has no attribute 'wk_order'

This can be clicked away.

Trying to add a task resuts in
...
F

[2016-03-07 00:00] pedrobaeza commented on #1173
This module is deprecated and not supported. See OCA/manufacture.

[2016-03-07 00:00] #1173 closed, assigned to nobody

[2016-03-08 22:25] anajuaristi opened #1178 "Operations extension con productos trazables"
Hay algo que sigue sin estar bien en el consumo de material de una operación, con materiales trazables.
Ejemplo en demo, bbdd septiembre

OF MO00201, fabricando mermelada granel.
Hay 3 operaciones. En la primera se consume la fruta que es trazable.
El quant trazable, con su lote está asignado.
Inicio primera operación y pulso el botón "consumir"
El wizard muestra el lote a consumir.
Sin cambiar na

[2016-03-10 08:01] Daniel-CA commented on #1178
Determinado que es por la función `check_tracking` del módulo `mrp` y la trazabilidad en producción.

[2016-03-10 18:44] anajuaristi commented on #1178
Me explayo un poquito más.

El tema es que parece que  hay un bug en el core, ya que si en un componente se activa la opción "trazabilidad en producción", lo que hace el check_tracking es mirar si el producto a producir (el padre) tiene asignado un lote. No tiene absolutamente ningún sentido mirar eso ya que lo que es trazable es el componente!!!.

En cualquier caso, es sencillo de saltárselo porq

[2016-03-10 18:44] #1178 closed, assigned to Daniel-CA

[2016-04-17 03:13] andhit-r opened #1193 "Glitch on odoomrp -> oca migration"
Hi,

On my server i clone both OCA modules and odoomrp modules. On last pull (saturday 16/04/2016 UTC+7) i noticed that **mrp_hook** has been migrated to oca/manufacture (with same module name). So the that module move from odoomrp-wip to manufacture on my server. **The thing is there are still mrp_hook folder on my odoomrp-wip that contains only .pyc files**. This will caused odoo to false read m

[2016-04-17 08:36] pedrobaeza commented on #1193
The solution is to put first in the addons path all the OCA addons instead odoomrp-wip, or instruct your server to not generate pyc files. I'm afraid there's no better solution.

[2016-04-17 08:36] #1193 closed, assigned to nobody

[2016-04-17 13:19] andhit-r commented on #1193
@pedrobaeza thank you for your advice

[2016-04-25 10:18] hugosantosred opened #1204 "[8.0][product_variants_no_automatic_creation] Incompatible with hr_timesheet_invoice"
The module product_variants_no_automatic_creation is not compatible with hr_timesheet_invoice because of the report_account_analytic_line_to_invoice report.

This report is grouping by product_id column without inform the related table of that column. So with the product_variants_no_automatic_creation installed this is throwing an exception, because this module adds a product_id column to product_

[2016-04-25 10:22] hugosantosred commented on #1204
Is already updated in OCB. So I close this issue

[2016-04-25 10:22] #1204 closed, assigned to nobody

[2016-05-02 15:28] pauloneda opened #1209 "sale_product_variant, does not allow to set custom value on range type attributes"
After updating product configurator
When chaning line sales order, the custom value of a range attribute is lost, ie set to zero again.
And price product maintains the initial product

[2016-05-04 03:58] LDNail opened #1212 "Work Center dropdown field Not Populating"
Bare Odoo 8 on patched Ubuntu 14.04.
Install MRP_Operations_Extension module
Logs confirm successful install.

Go to Manufacturing > Configuration > Work Centers > Create several Work Centers

Go to Manufacturing > Work Orders > Create a new Work Order

Select the Work Center field drop down and the Work Centers do not populate
<img width="859" alt="screen shot 2016-05-03 at 10 50 49 pm" src="http

[2016-05-04 09:19] pedrobaeza commented on #1212
I think this is because you need to enable routes and create a route that contains that work center.

[2016-05-04 11:53] LDNail commented on #1212
I enabled **Manage routings and work orders** & created some a few simple routing rules.. still no joy.

[2016-05-04 12:58] pedrobaeza commented on #1212
It can be a misconfiguration, but again, it's working on our side.

[2016-05-05 02:34] quintanapablo opened #1213 "No puedo instalar mrp_subcontracting en Odoo 9"
Hola Pedro/OdooMRP,

Encontré sus videos y el mrp_subcontracting es lo que necesitamos para agregar operaciones que son externas. Desafortunadamente no logro instalar el módulo de la versión 9.0. Después de habilitar “instalable=True” en **openerp**.py y tratar de instalar tengo el siguiente error cuando intento mrp_operations_extensions. Alguna razón por que la versión 9.0 no viene habilitada par

[2016-05-05 07:02] pedrobaeza commented on #1213
El módulo no está disponible en v9.

[2016-05-05 07:02] #1213 closed, assigned to nobody

[2016-05-08 21:07] andhit-r opened #1216 "Duplicate module with OCA/manufacture"
I noticed that several modules avalaible both on odoomrp-wip and oca/manufacture. Is it intentionally leave already migrated OCA modules in here? Or those module will be removed from odoomrp? If those modules will be removed may i help?

Many thanks

[2016-05-08 23:18] pedrobaeza commented on #1216
The idea is to remove them once we have migrated all the customers that are using them, but sometimes the process can be slow.

Which ones are you talking about?

[2016-05-09 03:37] yastri opened #1217 "[8.0][mrp_product_variants] Cannot Compute Data"
Hello,
After updating product configurator, there's and error when compute data in manufacturing order.

and there's error log when restart odoo module

thanks

[2016-05-09 04:12] yastri commented on #1217
Hello,

I've found the problem for compute data, the problem will be appear when there's no product variant defined in BOM.

Regards.

[2016-05-09 08:54] oihane commented on #1217
We are working on updating mrp_product_variants to the last changes in base module, it is not finished yet.

The PR is https://github.com/odoomrp/odoomrp-wip/pull/1208

[2016-05-09 14:12] oihane commented on #1171
You should report it to OCA/manufacture

[2016-05-09 14:13] #1171 closed, assigned to nobody

[2016-05-09 15:00] jaferrer opened #1219 "product_variants"
Hello,

After upgrading to the latest,  cannot create new product variants.

A constraint message appears 'Mixing apples and oranges: product.attribute.line(1,) - product.attribute(1,)'

Before it worked fine.

Now checking out '380b649230760107748f86970662ce4c2c699cb1' (the previous one) and works again !!

Traceback (most recent call last):
  File "/opt/apps/v8/odoo/openerp/http.py", line 539, i

[2016-05-09 15:02] pedrobaeza commented on #1219
You should have a mix of outdated modules, but it's working as expected on our side. Please check also on runbot.

[2016-05-09 15:02] #1219 closed, assigned to nobody

[2016-05-09 17:46] jaferrer commented on #1219
Same behaviour in runbot.

[2016-05-09 17:48] pedrobaeza commented on #1219
Please indicate the steps to get the error.

[2016-05-09 17:55] jaferrer commented on #1219
Go to runbot, install module "sale_product_variants"

In products - choose Ipad Mini
go to variants select "create them automatically" , add "color" attribute wtih value  "white", try to save changes
A constraint windows appears

[2016-05-10 15:56] yastri commented on #1217
Hi ..
Thanks for update.
After update PR #1208 , there's new error produce when create new packaging order

[2016-05-10 16:51] pedrobaeza commented on #1219
Fixed in https://github.com/odoomrp/odoomrp-wip/commit/c7eaa3e4aa128cbf2fe328782a6e9820a3c8f5be

[2016-05-11 07:27] oihane commented on #1217
yes I detected also minutes before you write this issue, I am fixing it in PR https://github.com/odoomrp/odoomrp-wip/pull/1220

[2016-05-11 10:42] #1217 closed, assigned to oihane

[2016-05-11 16:44] yastri commented on #1217
thanks

On 11/05/16 14:27, oihane wrote:

[2016-05-12 03:50] yastri opened #1223 "[8.0][mrp_packaging] Get Packages - cannot filter product variants"
Hi,

When we do "get packages," all packages include other packages owned by other products  will show.

Examples
product A with variant --> A.1, A.2, A.3.
product B with variant --> B.1, B.2.
product C with variant -->
- C.1 (that have material A.1),
- C.2 (that have material A.2),
- C.3 (that have material A.3),
- C.4 (that have material B.1),
- C.5 (that have material B.2).

We want to produce

[2016-05-12 06:07] andhit-r commented on #1216
hi @pedrobaeza , here are the list of modules that duplicate with OCA/manufacture:
1. mrp_operations_extension
2. mrp_operations_project
3. mrp_operations_time_control

If you confirm that those modules can be removed from odoomrp-wip, i could create a PR to remote them.

[2016-05-12 06:43] pedrobaeza commented on #1216
Indeed, they should be removed. @anajuaristi, have you finished migrating customers out of these modules?

[2016-05-12 11:42] pedrobaeza commented on #1216
@andhit-r, purge has started with https://github.com/odoomrp/odoomrp-wip/pull/1183

[2016-05-12 11:42] #1216 closed, assigned to nobody

[2016-05-12 12:04] andhit-r commented on #1216
Thanks @pedrobaeza

[2016-05-13 12:48] yastri commented on #1209
i have same problem :(

[2016-05-16 08:38] sandrafig opened #1226 "[8.0] [sale_order_allowed_products] [purchase_order_allowed_products] Attribute Error"
On an updated installation of Odoo, I cannot install these two modules, they raise the following errors:

**AttributeError: El campo `allowed_products` no existe**
Error de contexto:
Vista `purchase.order.allowed.form`
[view_id: 1910, xml_id: purchase_order_allowed_product.purchase_order_allowed_form_view, model: purchase.order, parent_id: 719]

**AttributeError: El campo `allowed_products` no exi

[2016-05-16 08:46] pedrobaeza commented on #1226
Remove by hand the implied views (IDs 1910 and 1912).

[2016-05-16 08:56] sandrafig commented on #1226
Thank you Pedro, it works now! :+1:

[2016-05-16 08:56] #1226 closed, assigned to nobody

[2016-05-16 13:37] anajuaristi opened #1229 "Integrity Error object with reference: owner_model - owner.model, executing procurement from sales to mrp"
Tested in runbot,
http://3147210-8-0-de2977.runbot1.odoo-community.org/web?db=3147210-8-0-de2977-base

Steps to reproduce
1. Sale the product pvariant (stockable, make to order, Manufacture, having dinamic BOM) selecting any atribute + values
2. Run asociated MTO procurement
3. You will obtain this Integrity Error:

Integrity Error

The operation cannot be completed, probably due to the following:

[2016-05-16 13:45] anajuaristi opened #1230 "Inherit check on mrp attributes doesn't work anymore"
Tested on runbot:
http://3147210-8-0-de2977.runbot1.odoo-community.org/web?db=3147210-8-0-de2977-base

Steps to reproduce:
1. Create a new manufacturing order, using product "pvariant", select any attribute value on configurator.
2. Go to scheduled products page
3. Push compute data

Expected behavior:
The component configurator for PC Assemble + Custom (PC on Demand), should have inherited the "c

[2016-05-16 13:47] anajuaristi commented on #1230
@pedrobaeza
Any clue about why is this happening today? Any recent change on variants code that could cause the problem?
This functionality has been working longtime and today I realized it's broken now.
I assign Mikel to take a look to it.

[2016-05-16 13:49] anajuaristi commented on #1229
@mikelarre
At the sametime, please take a look to procurements created for products having "custom" values, because I think it's not working yet.

Thank you

[2016-05-16 13:52] pedrobaeza commented on #1229
Solved in https://github.com/odoomrp/odoomrp-wip/commit/18f3a1a455b824e934c32fb3c3101eba9f1ab595 (custom values not tested).

[2016-05-16 13:52] #1229 closed, assigned to mikelarre

[2016-05-16 13:55] pedrobaeza commented on #1230
This hasn't been touched with the refactoring, so no idea for now. If you can't find it, let me know and I'll check, although I'm not using it.

[2016-05-16 13:56] anajuaristi commented on #1212
@LDNail
I think there is a misconfiguration

First one: You should not create manual workorders since they are automatically created from BOM configuration.
You should go on with this steps:
1. Create a bom
2. Create a routing
3. Assing routing to bom, and... very important --> Assign the routing step to be consumed on each material bom line.
4. Create an MO for this product/bom
5. Calculate data

[2016-05-16 13:56] #1212 closed, assigned to nobody

[2016-05-16 14:06] anajuaristi commented on #1209
Tested in http://3147210-8-0-de2977.runbot1.odoo-community.org/web?db=3147210-8-0-de2977-base

Steps to reproduce
1. Create a new sale quotation
2. Select product "pvariant" on sale line --> try to assign any value on "custom" field. it's impossible because it's disabled.

[2016-05-16 14:43] pedrobaeza commented on #1230
Fixed in https://github.com/odoomrp/odoomrp-wip/commit/a7ed4f70d54fa5e635f2b5362da2dc67b5ab554b

[2016-05-16 14:43] #1230 closed, assigned to mikelarre

[2016-05-16 15:02] anajuaristi commented on #1168
In that case Attribute value will not be range but numeric so you can set directly 100 on value.

I close the issue. Thank you for reporting

[2016-05-16 15:02] #1168 closed, assigned to nobody

[2016-05-16 15:04] pedrobaeza commented on #1168
Being more specific, you already have an attribute type called "Numeric", where you can enter directly an specific number for each attribute value.

[2016-05-16 15:05] pedrobaeza commented on #1209
Fixed in https://github.com/odoomrp/odoomrp-wip/commit/aef30ed0ee519f7ce556db6635a9b60f97011610

[2016-05-16 15:05] #1209 closed, assigned to mikelarre

[2016-05-16 15:07] #1062 closed, assigned to nobody

[2016-05-16 15:12] anajuaristi opened #1231 "Procurement confirm doesn't find bom related to product template"
Tested on http://3147214-8-0-18f3a1.runbot1.odoo-community.org/web?db=3147214-8-0-18f3a1-base

Steps to reproduce:
1. Create a sales order including a line with product "pvariant" (manufacture, make to order, stockable product, having attributes color and memory)
2. Confirm the sales order and procurement is correctly created
3. Confirm procurement

Expected behavior:
.- Create an MO based on prod

[2016-05-16 18:38] pauloneda opened #1234 "sale_product_variant Field price_extra not present on atributes line"
Tested in http://3147210-8-0-de2977.runbot1.odoo-community.org/web?db=3147210-8-0-de2977-base

Steps to reproduce

Create a new sale quotation

Select product "pvariant" on sale line (iPad Retina Display)
column attribute Price Exta not present, and product template price not is correct

[2016-05-27 14:30] thinkopen-pt opened #1243 "[quality_control_hr] Error when logging in"
The module quality_control_hr has a couple of security rule that assume the user has an associated employee, so they throw `ValueError: "tuple index out of range"` on login when a user doesn't have an employee.

The domain of the rules in question is:

`['|',('department','=',user.employee_ids[0].department_id.id),('department','=',False)]`

My suggestion would be to change it to:

`['|',('departm

[2016-05-27 14:30] #1243 closed, assigned to nobody

[2016-05-27 14:31] andreparames opened #1244 "[quality_control_hr] Error when logging in"
The module quality_control_hr has a couple of security rule that assume the user has an associated employee, so they throw `ValueError: "tuple index out of range"` on login when a user doesn't have an employee.

The domain of the rules in question is:

`['|',('department','=',user.employee_ids[0].department_id.id),('department','=',False)]`

My suggestion would be to change it to:

`['|',('departm

[2016-06-16 01:25] jaronemo opened #1246 "MRP Production manual close Question....About process"
This module can not understand how can it help in practice business processes?
In China and Taiwan manufacturing industry developed business logic point of view, this module does not match the actual business processes.
Consider whether you want to fix this business logic?

Production Order qty 100 .....Produce 95   other 5 don't want produce..So..need manual close this production order ...set sta

[2016-06-17 13:18] #1234 closed, assigned to nobody

[2016-06-27 14:22] burnout75 opened #1250 "[8.0][sale_product_variant] How to update from 8.0.1.0 to 8.0.2.1.0"
I like to update the module to fix the issue about tre attributes traslation but the script  migrations/8.0.2.0.0/pre-migration.py return an error during db update and I need to restore from the previus version.
Need some steps more? All local modules (sale, wharehouse, purchase, etc etc) are to 8.0.1.x.

[2016-06-27 14:49] pedrobaeza commented on #1250
What error?

[2016-06-27 21:09] burnout75 commented on #1250
From Configuration -> Local-Modules -> sale_product_variants -> Update the update not take effect.
From Configuration -> Updates -> Sale - Product variants 8.0.2.1.0 (8.0.1.0) the update take effect but when call Sale -> Product the error
`2016-06-27 20:55:54,139 5804 ERROR dt_gestionale_new openerp.sql_db: Programming error: column product_product.product_id does not exist
LINE 1: ...uct"."write_

[2016-06-27 21:12] pedrobaeza commented on #1250
You have to restart your server and update.

[2016-06-27 21:12] #1250 closed, assigned to nobody

[2016-06-28 08:39] Daniel-CA commented on #1246
I have a PR pending with this issue:

https://github.com/odoomrp/odoomrp-wip/pull/1160

[2016-07-05 07:25] #1170 closed, assigned to nobody

[2016-07-14 09:00] jaronemo opened #1261 "Procurement Plan MRP Issue..."
Dears:
When use the order lines low level button...will show this error....

![image](https://cloud.githubusercontent.com/assets/8476734/16833959/2bde2f7e-49e4-11e6-9c67-6c1c90340c15.png)
![image](https://cloud.githubusercontent.com/assets/8476734/16833988/5614a2be-49e4-11e6-83a8-7bf2ef74cfd9.png)
![image](https://cloud.githubusercontent.com/assets/8476734/16834007/665cde0c-49e4-11e6-8250-2a262a73

[2016-07-19 14:47] burnout75 opened #1266 "[8.0][sale_product_variants][product_variants_no_automatic_creation] Extra price in sale order"
On the order line form the column with "Attribute Extra Price" is missing and the module not sum the costs for the extra attribute costs.

To reply from fresh installation or from runbot
- Create new BD with sample data
- Install Sale module
- Install sale_product_variants and relative dependencies
- Create or update a product with Attribute and relative values
- Create or update a sale order

Att

[2016-07-21 13:42] bunhin opened #1267 "mass variant items add to purchase/sales lines"
Hi all,
need for support to be able add all variant into purchase or sales lines or receiving lines automatically with defined certain quantity composition (in a dozen for example) and total quantity off all variants to be purchased to calculate qty for each variants.

for example the product template is clothing or t-shirt, have 6 sizes as variant attribute value eg size XS, S, M, L, XL, XXL. The

[2016-07-29 20:10] rene-flores commented on #1146
Hola JMODaERP,
Tengo el mismo problema, puedes indicarme por favor como proceder.

Saludos,

[2016-07-30 13:35] burnout75 commented on #1266
With replacement of "mapped" function with standard cycles on "ProductConfigurator" and "ProductConfiguratorAttribute" classes the extra prices will be calculate again.

\product_variants_no_automatic_creation\models\product_configurator.py
@api.multi
    @api.depends('product_attribute_ids', 'product_attribute_ids.value_id')
    def _compute_price_extra(self):
        for record in self:

[2016-07-30 14:46] anajuaristi commented on #1266
@oihane @pedrobaeza
Please take a look to this.
Extra price for variants was properly working before the optimization. Maybe there is something missing from before.
@burnout75 thank you for contribution

[2016-08-22 07:24] bunhin opened #1284 "[V8] product_variant_default_code, when internal referrence product template in form id filled, i lines of variants missing attribute code"
Fill Internal Reference mask for variants code
Fill Internal Reference for product template
save to generate variants
1 line of variants (first line) the default code generated not according to the mask but take the internal reference for product template as variant code (internal reference)

if internal reference for product template not filled (empty), the default code of product template is sam

[2016-08-22 08:04] anajuaristi commented on #1284
That's not an error but the expected behavior. You need to set attribute
names on product template code field to obtai  different code names for
products. Otherwise all variants will have  same name
Example: mask = prefix_[color][size]Will code products as
prefix_whiteXL
prefix_blackXL
Plain text on mask will be taken as plain text on variants code

El 22/8/2016 9:24, "bunhin" notifications@github

[2016-08-22 12:16] bunhin commented on #1284
Dear Anajuaristi,
Thank you for your response, but i am sorry not get your point yet. Please let me explain in more detail:
Create new product template  : Name =  GW T-Shirt
Put in internal reference mask field  (for variants i expect) =  VGW151A-[Size]
Put in internal reference field (for template i expect)          =  GW151A
add attrivete Size with attribute value added = 95, 100, 110, 120, 130,

[2016-08-23 09:14] anajuaristi commented on #1284
Don't set internal reference field on product. Only "formula" on mask.
Module has got an utility allowing you to set values manually on variant
code. The variant you menction is probably the first one created for that
template. If you fill the code field manually it's probable the code
generator doesn't  update it.

El 22/8/2016 14:16, "bunhin" notifications@github.com escribió:

Dear Anajuaristi,

[2016-08-24 11:12] bunhin commented on #1284
Dear Anajuaristi,

Yes, if i do not fill the "internal reference" field in product template and only fill the "internal reference mask" field during creation, all variants have code generated correctly, but the display for the product template (list or form view) taking the first variant code   [first-variant-code] Product template name
something like
[VGW151A-100] GW T-Shirt
6 variants

instead,

[2016-08-24 11:25] anajuaristi commented on #1284
Yes. It is. Because template itself "doesn't" exist. The form view is
always showing a product and fields for both tables are mixed on it. It's
because of that you see the field filled.
Most of the times is not easy to identify the updated table when you change
a value.

El 24/8/2016 13:12, "bunhin" notifications@github.com escribió:

[2016-08-27 18:20] pedrobaeza commented on #1284
@anajuaristi, look at this issue that mentions something similar: https://github.com/odoomrp/odoomrp-wip/issues/761

[2016-09-07 11:26] sandrafig opened #1289 "[v8] [purchase_secondary_unit] Does not allow to select product in purchase order"
After the last commit, when I create a new purchase order, select the supplier and try to add a product, Odoo throws the following warning:

**ValueError
Mixing apples and oranges: 1 in account.tax(38,)**

**Error log:**

[2016-09-08 10:11] AntMoreno commented on #1289
I confirm this issue. To reproduce it the purchase price of the product has to be different from zero.

[2016-09-08 11:23] erwintwr2 opened #1290 "product_variants_no_automatic_creation - Variant Pricing not working"
hi there

i installed this module to an Odoo8 Version 8.0-20160829, on a clean DB.

when i create a product (with auto variant creation enabled), with variants and prices for variants, the correct variant price is not shown/calculated on the Product Variants tree view, or on the sales quotation.

please advise what i might be doing wrong?

thank you

erwin

[2016-09-09 06:27] anajuaristi commented on #1289
I also confirm it's happaning in our demo site.
@oihane could you take a look please?

[2016-09-17 00:26] roedeorm opened #1297 "[V8][Sale - Product variants] Packaging not selectable in SO-line when variant not yet created"
In a sale order line, the packaging can not be selected if the product variant has not been created yet.

This is how to replicate it: Create a product template with an attribute and two attribute values. Turn off automatic creation of product variants. Add a packaging to the product template. Manually create a product variant for one of the attribute values but do not create the product variant f

[2016-09-26 10:50] #1163 closed, assigned to oihane

[2016-10-03 21:48] burnout75 opened #1303 "[8.0][sale_product_variants] product_tmpl_id not match if sale_stock module is active"
If sale_stock module is active
![cattura](https://cloud.githubusercontent.com/assets/4042055/19055239/3a324884-89c3-11e6-8d9a-3bd1b815ed2b.PNG)

the product_tmpl_id fields in sale.order.line table are not populate
![cattura](https://cloud.githubusercontent.com/assets/4042055/19055305/88207b74-89c3-11e6-8521-bb7ed3ef2ce4.PNG)

This is a know issue?

[2016-10-03 23:15] pedrobaeza commented on #1303
Install sale_stock_product_variants module.

[2016-10-03 23:15] #1303 closed, assigned to nobody

[2016-10-05 13:20] lrmoreno007 opened #1304 "[v9] [mrp_operations_extension] Problem installing"
Hi all, I've a problem when install this module, the installation never finish and only I can cancel installation. If I change "'installable': False" to True, I receive this message:

Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 9.0\server.\openerp\http.py", line 648, in _handle_exception
  File "C:\Program Files (x86)\Odoo 9.0\server.\openerp\http.py",

[2016-10-05 18:20] lrmoreno007 commented on #1304
I activate Subproducts and now:

[code]

[2016-10-05 18:42] pedrobaeza commented on #1304
Modules are not migrated to v9. That's the reason why they don't work.

[2016-10-05 18:42] #1304 closed, assigned to nobody

[2016-10-05 19:03] lrmoreno007 commented on #1304
But I give it from v.9 branch.

v9 Branch isn't migrated to v9?

[2016-10-05 19:28] lrmoreno007 commented on #1304
OK, It's semi-working

1- Applying this Pull Request https://github.com/odoomrp/odoomrp-wip/pull/1253
2- Commenting in **openerp**.py line 48:  #"views/mrp_bom_view.xml",

This view fail to me: "Operation" field doesn't exist.

I'm working with a v9 database, it isn't migrated. Must be the problem.

Un saludo y gracias.

[2016-10-05 20:04] pedrobaeza commented on #1304
The branch is there as a host for the migration, but there's a reason for being not installable.

[2016-10-05 21:49] burnout75 commented on #1303
@pedrobaeza Maybe there are some other issue to fix.
![cattura](https://cloud.githubusercontent.com/assets/4042055/19132922/20b2417c-8b56-11e6-8dbb-924698b231b1.PNG)

This is a test from a blank installation with sample data. With a blank db I get the same result.
Where I can investigate?

[2016-10-05 21:52] pedrobaeza commented on #1303
No if you installed the mentioned module.

[2016-10-05 22:03] burnout75 commented on #1303
This is the modules installed in the blank db:
product_variants_no_automatic_creation
sale_product_variants
sale_stock
sale_stock_product_variants
stock_product_variants
And in the checked option in sales setting is "Trigger delivery orders automatically from sales orders" (this install sale_stock)

Before to write I make the same test  sample data db and on a blank db too with same result.

Odoo

[2016-10-05 22:15] pedrobaeza commented on #1303
Please try on runbot and you will see it's working: http://3155953-8-0-fd30e2.runbot1.odoo-community.org/web/login

[2016-10-05 22:41] burnout75 commented on #1303
Thanks for your support.

Work on runbot.
Maybe something is wrong on installation but I didn't get any message during process.

If I check the sale.order.line db model and I didn't found sale_stock_product_variants in the list of moduls instead of runbot where is present:
![cattura](https://cloud.githubusercontent.com/assets/4042055/19134259/43755b8e-8b5d-11e6-822d-3d9009f9f174.PNG)

Folder and f

[2016-10-05 22:48] pedrobaeza commented on #1303
It seems that he module is somehow not installed, but I can't say more.

[2016-10-06 15:54] burnout75 commented on #1303
Solved by a my semi-mistake.
If you filter sale_stock_product_variants from Configuration -> Apps the system retrive only one result from https://github.com/BADEP/addons.git#8.0 and, of course, is not the same.

I upload the right one manually and now it's work.

Need to change module name?

Thanks  @pedrobaeza  for your support again.

[2016-10-20 17:11] #1289 closed, assigned to nobody

[2016-10-20 17:12] sandrafig commented on #1289
Fixed in #1296

[2016-10-22 09:12] bunhin opened #1318 "[V8] Product_Variant_Default_Code Can not Duplicate Product Template with variants"
To speed up creating new product template with variants, in product form i use duplicate action in the "more" link to copy similar product which have same attribute and attribute value also same in other information then plan to do some edit on certain field only, but the duplicate function generate error message as below:
quote  Found unrecognized attribute name in "Variant Reference Mask"  end q

[2016-11-02 23:22] kkoci opened #1325 "ProgrammingError: can't adapt type 'stock.location'"
Hola, tengo un .csv , con code, location, y quantity

Pero al intentar importar me sale ésto:

Traceback (most recent call last):
  File "/home/kristian/odoov9/odoo-9.0/openerp/http.py", line 648, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/home/kristian/odoov9/odoo-9.0/openerp/http.py", line 685, in dispatch
    result = self._call_function(**sel

[2016-11-03 08:38] anajuaristi commented on #1325
Odoo v9.
Los módulos de odoomrp son para V8. Si lo quieres usar, tendrías que migrar el módulo como ya te dije en la lista de la comunidad.

[2016-11-03 12:20] kkoci commented on #1325
Ok, voy a arreglarlo entonces

Yo le había cambiado algunas cosas y se instaló correctamente, pero obviamente hay algo más que revisar

Gracias

[2016-11-03 13:07] kkoci commented on #1325
¿Puedo hacer pull requests?

[2016-11-03 13:44] kkoci commented on #1325
Ya lo arreglé, hice un pull request

Un saludo

[2016-11-03 15:34] anajuaristi commented on #1325
Te lo he mergeado.
Gracias por la contribución.

Cierro el issue

[2016-11-03 15:34] #1325 closed, assigned to nobody

[2016-11-17 03:37] cvinh opened #1333 "[8.0 sale_order_taxes] sale order amount_tax field should be computed like taxes"
Steps to reproduce :
- Install sale_order_taxes (v8.0)
- setup currency without decimals
- setup a 5% tax and a 13% tax
- make a quotation with qty=915 price_unit=150 taxes = 5%,13%
- compute totals
- we have 5% tax amount = 6863 (base =137250)
- we have 13% tax amount = 17843 (base = 137250)

Bad behaviour :
- amount_untaxed = 24705
- amount_total =161955
Good behaviour :
- amount_untaxed = 24706

[2016-11-17 03:45] cvinh commented on #1333
I did a PR [here](https://github.com/odoomrp/odoomrp-wip/pull/1334)

[2016-11-18 04:57] cvinh commented on #1333
@pedrobaeza By the way, I think tax_calculation_rounding_method parameter should be taken into account in sales orders... what do you think ?

[2016-11-18 08:23] pedrobaeza commented on #1333
@oihane, any opinion on this?

[2016-12-21 10:09] onduex opened #1341 "[8.0-migrated][mrp_subcontracting] WH/IN created not received when MO is closed. Used with serial number"
Hi sirs,
When we work with serial numbers, WH/IN is not transfered when we close the MO.
So, If we receive again, qty is duplicated.
I don't know if is a configuration issue or a bug.
Thanks,

[2017-01-11 20:04] cvinh commented on #1333
@pedrobaeza I think that issue is related to https://github.com/OCA/OCB/pull/576
If that PR is merged in odoo, It could be backport in v8... ?

[2017-01-14 11:06] pedrobaeza commented on #1333
I'm not sure that it's related, because taxes computation in v8 is different. Anyway, I'm not maintaining anymore this module. Let's see if @oihane can say anything.

[2017-02-06 06:53] jaronemo opened #1346 "Purchase_landed_cost ...update cost...price"
When use this module update product cost price to new ....stock quant  total price is error...
if product price ....on purchase is 22(unit)
new price use Cost distribution...to 25 (unit)
Totoal 15070 qty is 376,750.00 Amount Total

1 qty is 25 price ....is right
but...the module is write 25.10....i don't know why?

一、Cost distribution
![image](https://cloud.githubusercontent.com/assets/8476734/226

[2017-02-22 13:40] damdam-s opened #1350 "[9.0] migrating 'procurement_service'"
Hi there,

https://github.com/odoomrp/odoomrp-wip/tree/9.0/procurement_service

I plan to migrate this module to V9 but don't know what's your plans.
Do you mean to keep this module here or let it land on OCA repo ?

@pedrobaeza What do you prefer ?

Any advice welcomed :smile:

Thanks

[2017-02-23 14:13] Daniel-CA commented on #1290
Fixed in #1252

[2017-02-23 14:13] #1290 closed, assigned to nobody

[2017-02-23 14:23] Daniel-CA commented on #1246
Fixed in oca/manufacture#79