[2014-08-21 09:41] Daniel-CA opened #27 "Módulo carga Inventarios desde fichero CSV/ XLS"
Actualmente tenemos un módulo desarrollado para la 6.1 en el que definiendole un archivo csv te crea un inventario según los códigos de producto y cantidad.
Ahora teníamos pensado ampliarlo a archivos xls ademas de añadir un control en las lineas que se habían importado marcando las que se han importando correctamente y las que no.
Tenía pensado añadir un asistente para elegir el archivo y ampliar

[2014-08-21 09:54] pedrobaeza commented on #27
No hace falta la compatibilidad con XLS. Cualquier paquete ofimático tiene exportación a CSV. Aunque es cierto que trabajar con el formato "nativo" ofrece ventajas, es complicar el desarrollo y obligar a utilizar una librería externa (xlwt o similar) para el parseo.

[2014-08-21 09:56] pedrobaeza commented on #27
Por lo demás, adelante, pero debería ser al revés, que el asistente muestre y guarde en un archivo CSV las líneas NO importadas. Las importadas ya las verás en el propio inventario.

[2014-08-21 09:58] Daniel-CA commented on #27
Bien, entonces se puede hacer que en el log salgan solo las lineas no importadas y que desde ahí mediante un botón de la opción de guardarlo en un nuevo archivo.

[2014-08-21 10:07] anajuaristi commented on #27
Pedro, creo que Dani se refiere a las importadas desde el csv a la pantalla
de inventario.
Tenemos en 6.1 hecho una especie de modulo que podria ser generico (creo) y
que hemos utilizado en muchas cargas de datos diferentes para hacer
multiples cosas entre ellas primera carga de inventario proveniente de
otros sistemas o cargar excels con pedidos de venta y creacion de productos
desde ahi mismo.
L

[2014-08-21 10:11] anajuaristi commented on #27
No he entendido ni torta de esto. Os estais empezando a liar.
Una cosa es el botom importar lineas de inventario en el propio objeto
inventario.
Otra cosa es importar lineas de inventario desde un archivo. Y en esta no
hay export ni log ni nada
El 21/08/2014 11:58, "Daniel" notifications@github.com escribió:

[2014-08-21 10:22] Daniel-CA commented on #27
Yo según le he entendido a Pedro quiere que a la hora de hacer la importanción en el log salgan solo las lineas que no se han importado correctamente y que de la opción de guardarlas en un nuevo archivo csv para poder modificarlas y volver a cargarlas.
Las lineas que se han cargado correctamente se verán ya en el inventario.

[2014-08-21 10:42] pedrobaeza commented on #27
Efectivamente, eso justo es lo que quiero, Ana.

[2014-08-21 11:27] anajuaristi commented on #27
Pero no tiene sentido. Una vez cargada la linea en el sistema, puedes
permitir editar los campos y reprocesar simplificando la operativz del
usuario. Y el cargar solo incorrectas te quita visibilidad sobre lo que ha
pasado en la carga
No st. Como veais. A mi cuanto menos arriba y abajo con archivos, mejor
El 21/08/2014 12:42, "Pedro M. Baeza" notifications@github.com escribió:

[2014-08-21 11:32] Daniel-CA commented on #27
Me parece bien, que con el botón en vez de guardar en un archivo  te vuelva a cargar las lineas erroneas directamente.

[2014-08-21 11:49] anajuaristi commented on #27
Que no tiene que volver a cargar nada!!!
 El 21/08/2014 13:32, "Daniel" notifications@github.com escribió:

[2014-08-21 11:57] Daniel-CA commented on #27
Si, me refería a que procesaría de nuevo las lineas que no se han cargado del archivo pero ya directamente desde el log.

[2014-08-21 12:17] pedrobaeza commented on #27
Vale, @anajuaristi, ahora te entiendo. Lo que dices es como precargar las líneas en una pantalla, pero para corregirlas en la propia pantalla antes de cargarlas definitivamente. El único problema de este enfoque es que la corrección la tienes que hacer sí o sí en el momento antes de tener el inventario disponible. Sigue siendo un todo o un nada. Podrías eliminar las líneas conflictivas, pero luego

[2014-08-21 13:05] anajuaristi commented on #27
El proceso seria:
Carga lineas a modo informativo desde archivo a una tabla dummy nueva
Procesar lineas
Cada linea puede dar ok o error
Las ok yasta
Las error: lo corriges y reprocesas hasta que de ok

Tanto Alfredo como Aianara han utilizado esta base operativa para cargar
multitud de cosas incluso montar integraciones con otros sistemas. Como he
dicho antes el de carga de inventario es uno de lo

[2014-08-21 14:25] pedrobaeza commented on #27
Eso es como diseñar otro _base_import_, en complejidad y en alcance. No merece la pena hacerlo genérico, porque son demasiadas cosas a tener en cuenta. El nuevo _base_import_ ya permite hacer eso. ¿Lo has probado?

[2014-08-21 14:29] anajuaristi commented on #27
Si. Pero si no recuerdo mal base import no controla errores. Es todo o
nada. O sea si detecta algo mal hace rollback y no se puede reprocesar. Me
suena que era asi.
Pero ok. Igual es mas sencillo hacer diferentes modulos para cada cosa que
se necesite
El 21/08/2014 16:25, "Pedro M. Baeza" notifications@github.com escribió:

[2014-08-21 14:31] pedrobaeza commented on #27
En el nuevo te va indicando qué filas están incorrectas, aunque es cierto que hasta que no las corriges no puedes importar, pero todo se hace interactivo y visual. Échale un vistazo si no, a ver qué te parece, antes de seguir haciendo más trabajo. También podríamos ver si mejoramos el _base_import_ para permitir esa importación parcial.

[2014-08-21 14:39] anajuaristi commented on #27
Eso estaria bien. Lo vemos el finde si te parece. Llego mañana por la noche
a casa
 El 21/08/2014 16:31, "Pedro M. Baeza" notifications@github.com escribió:

[2014-08-25 10:09] Daniel-CA opened #30 "Módulo reparaciones-reclamaciones"
Hola según la tarea que tengo asignada nuestro módulo de 6.1:

El módulo que linka reclamaciones con albaranes y reparaciones,
de tal forma que visualizas en una reclamación los albaranes implicados.

El primero de envío de albarán, el segundo de devolución del cliente y
entrada a sat y el tercero si es necesario de devolución de sat a cliente

Pedro me comento que le echara un vistazo a los módul

[2014-08-25 10:48] Daniel-CA opened #31 "Listado extendido de trazabilidad"
Esta tarea la tengo como pendiente también, la añado aquí para que no se nos pase.

Necesitamos una gestión completa de la trazabilidad, es decir:
- Para la trazabilidad hacia adelante, debemos conocer en que productos (acabados, intermedios, reprocesados, ...) ha intervenido una determinada materia prima y llegar hasta el detalle de los movimientos (documentos de venta, devoluciones, ...) de cada

[2014-08-25 11:52] #27 closed, assigned to Daniel-CA

[2014-08-25 11:53] anajuaristi commented on #27
Se deja aparcado por ahora hasta que haya una solicitud específica

[2014-08-26 22:15] anajuaristi opened #33 "No genera test"
Prueba:
incluir un rango de muestra genérico
Crear presupuesto compra
Recepcionar todo
Ir a solapa test calidad: No se visualiza ningún test

Si se hace mediante la pantalla de código de barras, se crea test. Pero todos los campos relación quedan vacíos:
Producto, movimiento, categoría.. etc. lo cual luego impide buscar

[2014-08-26 22:16] anajuaristi opened #34 "Botón generate lines no funciona"
Generate lines del test, que debería crear más líneas de test, no funciona. No inserta líneas.

[2014-08-26 22:20] anajuaristi opened #35 "Mejora para test cualitativos"
En plantilla de test, en opciones de valores cualitativos, añadir un checkbox
Los valores "buenos" serán marcados y los "malos" se quedarán sin marcar.

Por defecto, al crear el test, en valores cualitativos el check Ok, nok será inicializado a false (actualmente le pone true, cuando aún no se ha evaluado)
Posteriormente, en el propio test, al seleccionar un valor cualitativo, se trae el valor que

[2014-08-26 22:22] anajuaristi opened #36 "Evaluación de opciones inmediata, onchange en test de calidad"
Pedro: Valorar si merece la pena o no hacer esto

Actualmente, se evalúan todos los valores metidos al grabar el test. Propongo que se evalúe cada opción, asignando ok, nok en el onchange del valor de la línea.

Además, sería muy visual si el OK fuese verde por ejemplo y el NOK rojo. Las que aún no se han evaluado (no tienen valor en los campos Qt o Ql, pueden quedarse en negro.

[2014-08-26 23:20] anajuaristi opened #37 "Traceback1"
Al seleccionar una acción en la solapa follow up
  File "/opt/odoo/odoomrp/odoo/openerp/api.py", line 234, in wrapper
    return old_api(self, _args, *_kwargs)
  File "/opt/odoo/odoomrp/avanzosc/crm_claim_corrective/models/crm_claim.py", line 144, in onchange_cause
    initial_cause = description['cause'][1]
NameError: global name 'description' is not defined

[2014-08-26 23:23] anajuaristi opened #38 "Traceback2"
Al seleccionar una decisión
  File "/opt/odoo/odoomrp/odoo/openerp/models.py", line 5613, in _onchange_eval
    method_res = getattr(self._model, method)(_args)
  File "/opt/odoo/odoomrp/odoo/openerp/api.py", line 234, in wrapper
    return old_api(self, *args, *_kwargs)
  File "/opt/odoo/odoomrp/avanzosc/crm_claim_corrective/models/crm_claim.py", line 88, in onchange_decision
    decision_inicial

[2014-08-26 23:32] anajuaristi opened #39 "Acciones correctivas de no conformidades no se ven"
Corrective Actions no es corrective actions, sino que es un número de no conformidad. La secuencia es un número de no conformidad.
Esta no conformidad, incluye varias acciones de solución, con un estado, responsable y demás.
Al abrir la no conformidad (para la que la secuencia se crea bien y todo), el one2many de las acciones correctivas no se visualiza en el form de la no conformidad.

El tree y

[2014-08-27 07:50] oihane commented on #34
:sweat_smile: Fallo en la vista, se me olvido poner el type

[2014-08-27 07:57] pedrobaeza commented on #36
Lo suyo sería eso, evaluar cada uno por separado, con un campo function boolean. Después, la evaluación global sería tan sencilla como recorrer ese campo para todos los registros. Sobre los colores, no está mal, aunque el rojo y el verde quedan siempre muy chillones. Se puede probar a ver.

[2014-08-27 08:27] pedrobaeza opened #40 "[Calidad] Sobre a qué tener efecto los tests"
En las plantillas de test, sólo se puede seleccionar un producto y/o una categoría.

Primero, habría que aclarar bien en pantalla (directamente con un texto de párrafo en la vista), diciendo que si selecciona un producto y una categoría, se hará el test para ambas cosas (y si éste no es el comportamiento, debería serlo).

Además, deberían cambiarse los campos a un many2many, para poder decir que u

[2014-08-27 08:37] oihane commented on #36
Actualmente funciona de la siguiente manera
Cada línea tiene un campo booleano denominado 'success', es un campo calculado que es True cuando el campo Qt o Ql es correcto según lo que se haya establecido. Si una línea no ha sido procesada o no es correcta este campo es False.
Cada test a su vez tiene un campo 'success' que cambia a True cuando todas sus líneas tienen el campo 'success' a True (ant

[2014-08-27 08:42] pedrobaeza commented on #36
Un campo no OK no haría falta, ya que es si el valor es False. Sí que habría que distinguir cuándo está procesada de cuándo no. Se podría determinar sin necesidad de un campo si la respuesta es vacía, ¿no?

[2014-08-27 08:47] oihane commented on #36
Si se puede, ya que hay dos campos que si no tienen valor es que no han sido procesados, pero a la hora de dar color, se podría hacer?

[2014-08-27 09:44] oihane commented on #39
El modulo que esta en nuestro repositorio es lo que he pasado, a no ser que tenga otro modulo adicional, eso que dices que no está migrado completo no lo entiendo.

[2014-08-27 09:49] oihane commented on #33
Corregido en #28

[2014-08-27 09:49] oihane commented on #37
Corregido en #29

[2014-08-27 09:50] oihane commented on #38
Corregido en #29

[2014-08-27 09:50] #38 closed, assigned to oihane

[2014-08-27 09:50] #37 closed, assigned to oihane

[2014-08-27 09:50] oihane commented on #34
Corregido en #28

[2014-08-27 09:50] #34 closed, assigned to oihane

[2014-08-27 11:15] anajuaristi commented on #40
Pues justamente eso han pedido hoy en la sesión y les he dicho que no, de
momento, que era complicado incluirlo en el alcance para diciembre, que
teniamos cosas más urgentes que esta por hacer pero sí, sería interesante.
¿Mismo proyecto o fase2?
Ya dirás

El 27 de agosto de 2014, 10:27, Pedro M. Baeza notifications@github.com
escribió:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone /

[2014-08-27 11:18] anajuaristi commented on #36
correcto que no hace falta.
Lo que yo decía es que ahora, la evaluación de cada línea la está haciendo
al grabar el registro. Es decir que cuando introduces un valor, no evalua
si es ok, nok
La modificación sería que grabar, evalúe el estado global del test, pero
meter un onchange en cada línea para ver su evaluación individual online,
no a posteriori. No sé si me explico.
Por defecto, no se ha re

[2014-08-27 11:18] pedrobaeza commented on #40
No es complicado de hacer, y lo veo básico. Cambiar dos tipos en los campos, y luego cambiar el search para buscar si afecta. Un = por un IN. Deberíamos hacerlo. Luego le dices que al final hemos sido buenos y lo hemos puesto :stuck_out_tongue:

[2014-08-27 11:20] pedrobaeza commented on #36
Ah, entendido. Buena idea. No sé si con los onchange de la nueva API valdría, o recurrir al onchange tradicional en el campo.

[2014-08-27 12:26] anajuaristi opened #42 "Extensión LM para control por operaciones"
Buenas...
Remito esta tarea que aún estando en mi cabeza parece que no estuviese escrita en las tareas de fabricación.

Continuando con el tema de maestro de operaciones y rutas requerimos:

**En el listado de materiales a consumir: un many2one a línea de ruta**

Adicionalmente como extensión del módulo by products lo mismo, en el listado de productos adicionales a producir: un many2one a línea de

[2014-08-27 12:30] anajuaristi opened #43 "Extensión para captura de tiempos en workorders"
A fin del control posterior de costes de fabricación, se requiere:

.- Crear una nueva tabla con los campos
Fecha/hora inicio
Fecha/hora fin
Operación
Tiempo

Cuando en una operación se pulsa el botón "iniciar" o "reanudar", se genera una nueva línea donde fecha/hora inicio, es la que se ha pulsado el botón.
Cuando se pulsan los botones parar/finalizar, se actualiza la fecha hora fin y se calcula/

[2014-08-27 15:12] anajuaristi commented on #39
Al meter el one2many en la acción correctiva, ahora se ve la tabla de acciones, pero, al crearse la acción correctiva, debería "copiar" de la acción introducida, las acciones correctoras por defecto asociadas a esa acción en la tabla.
Esto no lo hace.

Si en el sistema se ha establecido que el problema ha sido provocado por una causa y se ha "predefinido" que dicha causa se soluciona mediante cier

[2014-08-27 16:20] anajuaristi opened #44 "Proyecto interno, duplicar meetings (URGENTE)"
Necesitamos un procedimiento automático que realice la duplicación de un calendario de proyecto, en otro proyecto. Es decir, que duplique todos sus meetings

Propuesta:
Montar una acción en meetings, que me permita seleccionar uno o varios, que al pulsar muestre un wizard con los siguientes campos:
.- Combo de selección proyectos (requerido)
.- Fecha inicio sesiones del proyecto (no requerido)

Al

[2014-08-27 16:23] anajuaristi commented on #44
@mikelarre... necesito esto ANTES de lo del tiempo de los workorders.
Porfa, mañana cuando llegues ponte con ello.
Marcamos 2 fases de entrega:
1. copiar meetings de un proyecto en otro --> En cuanto lo tengas inmediatamente me lo instalais en odoomrp.
2. Lo de las fechas.

[2014-08-28 13:28] Daniel-CA commented on #42
He visto que la tarea de Maestros: Operaciones esta en diseño pero no en desarrollo, pego aquí lo que tiene definido y comentamos.

Se requiere un maestro de operaciones.
Cada operación deberá tener al menos un código y una descripción.

## Las operaciones podrán ser utilizadas para ser incluidas en un orden determinado en un proceso o ruta de fabricación o de proyectos.

Tareas a realizar:
Crear

[2014-08-28 16:18] anajuaristi commented on #44
Lo de las fechas de los meetings no funciona, bien porque la fórmula que yo puse no hace lo que creí que tenía que hacer, bien porque se ha programado de forma incorrecta.

Necesito un par de asistentes más para precisamente arreglar esto, por si nos equivocamos a la hora de meter los datos al Wizard de duplicar

Igual que se ha hecho este wizard, necesito otro, en el mismo objeto que muestre una

[2014-08-29 11:00] oihane commented on #39
Relacionado con PR #29

[2014-08-29 11:52] mikelarre commented on #44
esta hecho, he cambiado el nombre del modulo a "project_events_operations"

[2014-08-29 23:19] anajuaristi opened #46 "Warning al crear simulación"
You should save before the simulation, en todos los casos. Creo que es tema de la secuencia.

Y el mismo warning sale cuando metes una línea de coste manualmente. Esto provoca efecto colateral, ya que no ejecuta onchange del producto y por tanto no se trae ni la descripción, ni los importes de coste y venta a la línea.
En principio, no es para nada urgente ya que en la demo puedo evitar meter dato

[2014-08-29 23:21] anajuaristi opened #47 "Botones, unificar apariencia"
Los botones de estados y demás, se ven en el formato antiguo y abajo. Habría que modificar las vistas para que tengan imagen unificada.
Esto sí lo metería para la demo.

[2014-08-29 23:24] anajuaristi commented on #47
La solapa fuente de financiación, en vez de estar la última, que esté después de la de presupuesto, para ir en orden con el proceso

[2014-08-29 23:26] anajuaristi commented on #47
Pedidos de compra: De momento, "ocultar" el campo "tipo de compra" ya que en principio, esto estaba relacionado con el tipo de gasto (subcontratación, compra, material...) pero ahora mismo no aplica, aparte de que el tipo de letra sale enorme y no cabe en la casilla del combo y se ve un poco mal.
De momento, no quitamos funcionalidad, por si acaso, pero perfectamente se puede hacer invisible el ca

[2014-08-29 23:35] anajuaristi opened #48 "Cuentas contables"
Al confirmar un pedido de compra, me da un warning:
There is no income account defined for this product: "Ordenador" (id:18)

El ordenador tiene definidas las cuentas en su categoría, pero no lo está pillando.

Debe ser una solicitud específica de IACS. QUITAR, esta validación y dejar la standar de coger la cuenta de la categoría.

Off topic: Me ha salido un aviso  Amount Error. The amount of this

[2014-08-29 23:42] anajuaristi opened #49 "UPV4: Cantidad disponible duplicada"
El error de cantidad duplicada sigue ahí.
4. Hay un error en el cálculo del actualizado y este provoca el mismo error en el disponible. Está duplicando el importe. No atino a ver en pantalla qué está sumando de más. ¿qué fórmula está aplicando para calcular el actualizado?

[2014-08-29 23:43] anajuaristi opened #50 "El error de añadir padre proyecto o abrir form cuenta analítica sigue"
1. En proyectos, al añadir un padre de proyecto da este error (aunque el proyecto padre sí que lo crea). El error está relacionado con cuentas analíticas, ya que no permite abrir ninguna en modo formulario.
   File "/opt/odoo/v8/core/openerp/models.py", line 1656, in search
     return self._search(cr, user, args, offset=offset, limit=limit, order=order, context=context, count=count)
   File "/opt

[2014-08-29 23:44] anajuaristi opened #51 "En proyectos no enseña ninguna línea analítica, sigue sin enseñar (Proyecto Incorrecto)"

[2014-08-29 23:50] anajuaristi opened #52 "Mejora: Campos de proyecto en simulación"
Inicialmente en el simulador había una pantalla de "datos" que se hizo para CTA con estos campos que paso a continuación.
Se dijo de "ocultar" la solapa para Iacs pero la volvería a hacer visible para UVP ya que por ejemplo tipo de actividad, línea /sublínea, administración/convocatoria... están exactamente así en sus documentos de requerimientos. Pongo un \* al lado de los que NO hay que hacer vi

[2014-08-30 00:00] anajuaristi opened #53 "Al validar factura de compra, sale warning y no me deja"
Analytic Line NOT FOUND!

Analytic Line with expense_type MOVE_LINE not found

[2014-08-31 15:16] anajuaristi opened #54 "La edición de tareas en odoomrp "se queda""
Desde hace tiempo, en el entorno de odoomrp, no puedo editar la descripción de las tareas, ya que se queda "loading pad" y no vuelve. No pasa en el entorno de gestión de almetac.

[2014-08-31 15:21] anajuaristi opened #55 "'purchase_pricelist_rules' incompatible con purchase_discount"
Al instalar el módulo da este error:
Intenta instalar el módulo 'purchase_pricelist_rules' que depende del módulo 'purchase_discount'.
Este último módulo no está disponible en su sistema.

y en la descripción del módulo pone:
This module allows to apply product_pricelist_rules extended features to purchase order lines and gets the best pricelist rule automatically.

Warning: This module requires p

[2014-08-31 15:24] pedrobaeza commented on #55
Ana, es incompatible con _product_visible_discount_, no con _purchase_discount_.

[2014-08-31 15:26] anajuaristi commented on #55
Ahh, juer, tienes razón.
pues cambio el issue que sería: no tenemos purchase_discount disponible en el entorno para hacer las pruebas funcionales del nuevo módulo.

[2014-08-31 15:27] pedrobaeza commented on #55
Pues cambia el título entonces, con el botón edit de arriba :wink:

[2014-08-31 15:29] anajuaristi opened #56 "Unificar "autor" en todos los módulos de OdooMRP"
En algunos está puesto OdooMRP
En otros OdooMRP Team y en otros OdooMRP team por lo que al agrupar por autor, aparecen 3 autores. Esto es un problema de visibilidad en apps cuando publiquemos.

Igual con los de Avanzosc. Dijimos que la convención de nombre para todos los módulos Avanzosc, sería Avanzosc, S.L. Exactamente así, con puntos y todo. Revisad todos los que tenemos subidos para Odoo y pon

[2014-08-31 17:12] anajuaristi opened #57 "Módulo de Carlos Tipos de pedido no está completo."
La tarea no está terminada del todo.
En los tipos de pedido faltan los siguientes campos, que no sé si se habrán incluido en otro módulo. Igual sería lo suyo separarlo.

diario facturacion: many2one a diarios factura
diario rectificativa: many2one a diarios facturas rectificativas.

Por lo tanto, no puedo probar la siguiente funcionalidad:
Albaran incluir campo relacionado tipo de pedido por pedid

[2014-08-31 17:47] anajuaristi opened #58 "Tracebacks en purchase_requisition_ext"
Los 2 botones de crear presupuesto de compra desde el requisition, tanto el estándar como el que añadimos nosotros dan los 2 siguientes tracebacks

Una cosa que no entiendo es porqué el botón del módulo estándar llama a nuestra función, ya que son ambos totalmente independientes.
Revisar esto.

[code]

PR #74

[2014-08-31 21:26] anajuaristi opened #59 "Grupos en vista formulario purchase_type"
En la vista form, no se han incluido los 2 campos en grupo por lo que no se ven las etiquetas.
Se lo he añadido yo a pelo desde pantalla

[code]

PR #73

[2014-09-01 06:44] pedrobaeza commented on #54
Parece cosa del navegador, así que lo cierro.

[2014-09-01 06:44] #54 closed, assigned to nobody

[2014-09-01 10:27] oihane opened #61 "TRACEBACK"
[code]

[2014-09-01 10:59] #55 closed, assigned to nobody

[2014-09-01 11:10] Daniel-CA commented on #56
Se decide usar OdooMRP team al ser la que más número de apariciones tiene.

[2014-09-01 11:10] #56 closed, assigned to nobody

[2014-09-01 15:06] anajuaristi commented on #44
Viendo con Ibone la gestión de los asistentes al curso técnico, necesitamos la siguiente ampliación (nuevo módulo dependiente de event_subscription)
1. En proyectos, añadir un many2many a partner, sin ninguna restricción de domain ni nada.
2. En events/meetings añadir un nuevo asistente, además de los que ya se han hecho, que funcione de la siguiente forma:
Para cada meeting:
.- Si el meeting no t

[2014-09-01 15:42] anajuaristi opened #65 "Traceback en la instalación de almetac_receipts en nuestro server de la ofi"
OpenERP Server Error
Traceback (most recent call last):
  File "/opt/odoo/odoomrp/odoo/openerp/http.py", line 479, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/odoomrp/odoo/openerp/http.py", line 498, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/odoomrp/odoo/openerp/http.py", line 314, in _call_function

[2014-09-01 15:56] anajuaristi opened #66 "CL01: clientes relacionados traceback"
Dijimos de quitar el segundo one2many y que la relación se hiciera automáticamente por dentro para simular un many2many.

El one2many sigue ahí y además al intentar meter manualmente un dato da este traceback

[code]

[2014-09-02 06:40] #65 closed, assigned to oihane

[2014-09-02 10:43] Daniel-CA commented on #42
Tengo una duda a la hora de relacionar las Operaciones en las rutas.
Una misma operación se puede hacer en una misma ruta en diferente secuencia?
Es decir si yo tengo las operaciones OP1 - OP2 y los Work Center WC1 - WC2 - WC3 se puede dar el caso que en la ruta sea:
1. OP1 - WC1
2. OP2 - WC2
3. OP1 - WC3 (o en el WC1 por rizar más el rizo)

Si esto es así como relaciono las Work Orders con los Sc

[2014-09-02 10:46] pedrobaeza commented on #42
Sí, se debería poder permitir. El tema es que la referencia en Scheduled products no es al workcenter en si, si no a _mrp.production.workcenter.line_.

[2014-09-02 10:57] Daniel-CA commented on #42
Correcto, el tema es que hay una función cuando hace el calculo en la  OF que se llama bom_explode-
En esta función me calcula las lineas de producción de producto por un lado (mrp.production.product.line) y las Work Orders (mrp.production.workcenter.line).
Como se a que Work Order pertenece cada linea de producto a producir si la única referencia que tengo a la operación viene en el nombre de la

[2014-09-02 11:00] pedrobaeza commented on #42
En la LdM hay que poner la referencia a lo que tengas en _mrp.routing.workcenter_. Si ahí se han duplicado los workcenters, de esa forma se sabrá. Tú tienes el id de ese registro de _mrp.routing.workcenter_, además de los datos que dices (nombre y código), y así es como debes hacer el matching. Cualquier otra forma no es la adecuada.

[2014-09-02 11:23] Daniel-CA commented on #42
Ok, sabemos cada linea de Produccíon de producto (mrp.production.product.line) que mrp.routing.workcenter le corresponde según el producto que se va a consumir, el problema es relacionar esa linea de producción de producto con la Work Order (mrp.production.workcenter.line), ya que no tengo una referencia especifica en este objeto.
La Work Order no tiene una referencia clara a mrp.routing.workcente

[2014-09-02 12:02] anajuaristi commented on #42
Paramos un poco aquí a darle una pensada.
Este era un problema gordo en OpenMRP.

Premisas.
- Maestro de operaciones --> operation_id con link many2many a máquinas.
  Implica que una operación que puede estar en varias rutas es posible
  hacerlo en varias máquinas.
- En una ruta, una línea de operación SOLO me deja especificar una única
  máquina --> bippppp... error porque no cuadra el maestro co

[2014-09-04 21:53] anajuaristi opened #71 "almetac_supplierinfo debería ser de OdooMRP"
Existe requerimiento para añadir producto/cliente en OdooMRP por lo que este módulo creo que debería ser genérico tanto en nombre técnico como en descripción y ser incluido en OdooMRP en vez de en el proyecto de Almetac.

[2014-09-04 22:21] anajuaristi commented on #71
Mejor dicho, debería partirse en 2
Ya que la funcionalidad de añadir precios por volumen para clientes, al igual que para proveedores la pidieron en OdooMRP, pero en la tabla relación hay bastantes campos que son solo de almetac y no aplicarían en ningún sitio mas.
Propongo tener un supplierinfo con lo básico y su extensión almetac_supplierinfo
Las fechas en la linea de descuento por volumen las d

[2014-09-04 22:40] anajuaristi opened #72 "Extensión ajustes de inventario"
Caso:
Utilizando la pantalla de inventario "vacía" para leer con código de barras, la pantalla desaparece al pulsar start.
Los códigos que no se han podido mapear en el sistema no se ven, no se da feedback al usuario. Deberían mostrarse los que sí se pueden mapear en verde y los que no en rojo, por ejemplo y que la solapa no quede invisible ya que da información superválida al cliente, sobre produ

[2014-09-04 22:59] anajuaristi commented on #44
:+1: RFM
No os podéis hacer una idea de lo que nos va a mejorar este módulo la planificación interna de proyectos. A Ibone le va a encantar.
He creado y planificado un curso técnico fantasma en noviembre en un plis

[2014-09-04 23:02] anajuaristi commented on #57
Me habeis puesto la tarea en review pero no veo los cambios. Requeriría que mergeaseis el PR para probarlo.
Paso la tarea otra vez a desarrollo

[2014-09-06 11:31] anajuaristi opened #76 "En el entorno de gestión OdooMRP, ya no se ve proyecto y tarea"
Buenas...
Hace un tiempo en el entorno de gestión de OdooMRP, se podían asignar los claims a un proyecto y una tarea y nos permitía así categorizarlos. Ahora mismo no veo los 2 campos en claims y se necesitan

[2014-09-06 11:33] anajuaristi commented on #76
Por otro lado, he instalado el módulo que mete una secuencia en tasks de proyectos y al estar ya la lista de tareas creada, no muestra valor.
Necesito que se ejecute un update en la bbdd que asigne a los tasks el valor "TSK-" id interno de la tarea. Esto les dará una numeración correlativa en orden de creación.
Posteriormente, asignar siguiente número de secuencia a partir del último. Esto también

[2014-09-06 15:12] anajuaristi opened #77 "Modulo de calidad"
Si se da el caso de que no se encuentra ninguna plantilla para un producto/categoría y por tanto no puede generar un test -->NO DAR ESTE AVISO

Error Creación Test!
No test template found for product: Procesador core i5 2.70 GHz, category: Componentes

Simplemente no se crea el test y listo. O si se da el warning que permita continuar el proceso. No puede pararlo. Actualmente al procesar un albará

[2014-09-06 15:21] anajuaristi opened #78 "Mover paquetes de sitio"
Buenas...

En el wizard que salta en el botón transfer, me habeis incluido un one2many nuevo que permite mover paquetes de sitio, que está genial... pero... debería ponerse en un sitio aparte, no en este punto.
Es correcto que cuando estoy transfiriendo material, si lo quiero meter en un paquete lo meto. Pero luego, si quiero volver a empaquetar ese paquete, lo haría en principio en otro sitio (A

[2014-09-06 15:28] anajuaristi opened #79 "Traceback al abrir números de serie/lote en demo.odoomrp.com"
[code]

[2014-09-06 15:33] anajuaristi opened #80 "Traceback al confirmar pedido de compra"
Servidor de la ofi.

[code]

[2014-09-06 16:05] anajuaristi commented on #43
Mikel, no lo veo instalado en el servidor de la ofi, no tengo el nombre del módulo, no tengo info para testearlo y lo vi funcionando el viernes.
Por favor escribe aquí el nombre del módulo, instálamelo en la ofi y añade enlaces para que pueda probarlo.
REPITO: LEEROS EL MAIL DE LA METODOLOGIA que os envié. Vamos a intentar seguir los pasos.
Gracias

[2014-09-06 16:16] anajuaristi opened #81 "Claim: Recalcular precios en pedidos y presupuestos"
En demo.odoomrp.com en pedidos de venta hay un botón "recalcular" que se supone recalcula los precios del pedido si a mitad de estarlo haciendo, se cambia la tarifa, actualizando todos los precios en función de dicha tarifa.
Al pulsar el botón da el traceback que copypasteo.

Aparte... no tengo nombre del módulo y no sé si hay PR porque el claim es muy antiguo, de los primeros que se abrió. Apunta

[2014-09-07 17:42] oihane commented on #81
Pues el nombre del modulo es sale_order_recalculate_prices

[2014-09-08 15:23] mikelarre commented on #43
Esta subido e instalado, el modulo es "operation_time_control"

PR #75

[2014-09-09 10:24] oihane commented on #66
https://github.com/odoomrp/odoomrp-almetac/pull/14

[2014-09-09 10:24] #66 closed, assigned to oihane

[2014-09-09 10:25] oihane commented on #61
PR #13

[2014-09-09 11:07] oihane commented on #80
@anajuaristi ya no da el traceback (comprobado)

[2014-09-09 11:08] #80 closed, assigned to oihane

[2014-09-09 11:10] oihane commented on #56
El nombre Avanzosc, S.L. se usa en aquellos módulos que están en la rama https://github.com/avanzosc/avanzosc

[2014-09-09 11:16] oihane commented on #79
lo de remark es de un modulo antiguo, @anajuaristi vuelva a probar, pero he accedido yo y ya no lo daba.
Si en algún otro entorno te encuentras con el mismo error busca en los módulos instalados si hay alguno con "remark" en el nombre y desinstalalo ya que ahora no existen

[2014-09-09 11:16] #79 closed, assigned to oihane

[2014-09-09 12:44] #76 closed, assigned to oihane

[2014-09-09 12:45] #33 closed, assigned to oihane

[2014-09-09 14:15] oihane opened #83 "Error en instalación del modulo <sale_taxes_breakdown"
Relacionado con #62

[code]

El codigo es:

[code]

@pedrobaeza puedes indicarme si me he colado en algo al pasarlo a la nueva API

[2014-09-10 06:35] oihane commented on #81
@CsanchezC parece que el problema viene de que le pasas el context y como estas usando el nuevo API no es necesario.
Si sustituyes en la linea 40 del fichero `sale_order_recalculate_prices/models/sale_order.py` `line.write(res['value'], context=context)` por `line.write(res['value'])` creo que ya lo tienes solucionado

[2014-09-10 07:10] pedrobaeza commented on #83
No, en principio lo veo correcto. Pero esa versión no la tienes subida al PR. Por cierto, mejor llamarlo _order_id_, o según la nueva nomenclatura que hablamos, simplemente _sale_order_.

[2014-09-10 07:12] oihane commented on #83
Al final parece que en algún momento había creado la tabla sale_order_tax y venia de ahí el problema

[2014-09-10 07:12] #83 closed, assigned to pedrobaeza

[2014-09-10 07:39] pedrobaeza commented on #44
Cierro el issue por tanto.

[2014-09-10 07:39] #44 closed, assigned to mikelarre

[2014-09-10 08:04] pedrobaeza commented on #57
Está en principio completado. Revisar en el server.

[2014-09-10 08:04] #57 closed, assigned to nobody

[2014-09-12 13:06] Daniel-CA opened #87 "mrp_operations_project"
Creo este nuevo módulo para no recargar mas el de operaciones extendidas y dejarlo como finalizado.
Añado en este dependencia al operaciones extendida y algunas de las cosas que comento Ana y dejo la Issue por si se le ocurre alguna otra.
De momento:
Operaciones : Asociación many2many con "etapas"
Project.task: many2one a Workorder.

PR #89

[2014-09-12 13:28] anajuaristi commented on #87
Para no recargar no. Sera que como tiene dependencia con projects se pidio
especificamente que fuese otro modulo.
Repito que ¡¡ Hay que leer los requerimientos !!
Reviso el finde y os digo.
Gracias
El 12/09/2014 15:06, "Daniel" notifications@github.com escribió:

[2014-09-15 09:51] #81 closed, assigned to nobody

[2014-09-15 14:37] oihane commented on #58
Por alguna razón que desconozco se reescribe el `make_purchase_order` y por eso uno de los errores. Estoy intentando "depurar" el codigo para que no sea tanto :spaghetti: :wink:

[2014-09-15 15:38] anajuaristi commented on #71
La creación del menú para acceso directo a product_supplierinfo debería estar en el módulo general y no en el de Almetac.
Por otro lado, hoy en el servidor de la ofi he visto que los domains en los objetos siguen sin estar muy católicos. Debería ser que cuando marco customer, aparezcan solo partners cliente y cuando marco proveedor solo proveedores. Actualmente enseña cosas diferentes en función d

[2014-09-16 08:32] oihane commented on #58
:mag: Review Ready

[2014-09-17 11:03] #61 closed, assigned to mikelarre

[2014-09-17 11:15] #59 closed, assigned to oihane

[2014-09-17 11:16] #58 closed, assigned to oihane

[2014-09-17 11:33] oihane opened #94 "[QUESTION] sale_order_type y purchase_type"
Para @anajuaristi y @pedrobaeza

Existe un modulo llamado `sale_order_type` que hizo @CsanchezC en el que se crean "tipos de pedidos de venta" y se le añaden los datos:
- Nombre de tipología
- Almacen (requerido)
- Secuencia de entrada
- Diario de facturación
- Diario de facturación rectificativa
- Descripción
  además hace que en el pedido de venta haya que seleccionar un tipo de manera obligator

[2014-09-17 11:38] pedrobaeza commented on #94
Se podrían hacer equivalentes, teniendo en cuenta (para ambos módulos las siguientes cuestiones):
- Lo que dices de que si es obligatorio, se seleccione un tipo por defecto.
- Que los diarios de facturas y facturas rectificativas sean opcionales, de tal modo que si se rellenan, se coja ése, pero si no, se coja el que le toque.

[2014-09-17 20:14] anajuaristi commented on #59
Este módulo, de momento lo aparcaría.
Ni tiene los mismos campos que hemos puesto en los tipos de pedido de
ventas, que ha quedado muy bien, ni creo que tiene mucho sentido tal y como
está ahora.
En caso de que lo pidan de nuevo, lo retomamos pero lo haría aprovechando
el de ventas. Con la misma funcionalidad, si es necesario.

2014-09-17 13:15 GMT+02:00 oihane notifications@github.com:

##

CEO A

[2014-09-17 20:56] anajuaristi commented on #94
¿Merece la pena hacerlo para purchase_type?
En principio, esto se hizo para permitir en la agrupación de albaranes que se pudiera también crear facturas en función de tipo de pedido que se estuviera tratando para automatizar el tema de las diferentes líneas de facturación pero en compras no se hace en bloque sino factura por factura y ellos pueden seleccionar qué quieren hacer o contra qué diario

[2014-09-17 22:09] anajuaristi commented on #71
@oihane Te vuelvo a poner. Porque lo de los domains lo tienes tu y cambiar el menú de un módulo al otro, tampoco es complejo.
En pirincipio, que se pueda entrar a producto/cliente desde menú y que se visualice el one2many también en la ficha de cliente, lo pondría en el general.
El resto de cosas en el de almetac. Es copy paste de un módulo al otro y este creo que de todos los que hay es el que má

[2014-09-17 23:38] pedrobaeza commented on #94
Tienes razón que en compras no tiene tanto sentido. De todas formas, los comentarios anteriores siguen vigentes para ventas. ¿Está así, @oihane?

[2014-09-18 06:42] oihane commented on #94
Lo del tipo por defecto del `sale_order_type`, que ya está mergeado, lo tiene pendiente de hacer @mikelarre
Y por lo que veo en el código si que hace lo del segundo punto

P.D: Mikel, cuando hagas lo de seleccionar uno por defecto comprueba el fichero `account_invoice.py`, tiene un error tipografico

[2014-09-18 08:41] oihane commented on #71
Estaba asignado @pedrobaeza para que respondiese

[2014-09-18 11:00] anajuaristi commented on #71
Pero si no tiene nada!!!
O sea sacar el menú es super-genérico y vale para todo el mundo, igual que
mostrar la lista de productos en la ficha del cliente/proveedor. Es un paso
en usabilidad.
Solo dejamos en Almetac lo que sea de almetac

Y los domainsa que están mal, es un bug que hay que arreglar o sea que
también es genérico.
Por lo que no veo que lo tenga que tener Pedro asignado.

En marcha ;P

[2014-09-22 15:06] oihane commented on #71
@anajuaristi mergeado, cierro issue

[2014-09-22 15:06] #71 closed, assigned to oihane

[2014-09-24 10:59] oihane opened #103 "[review] Modulo caducidades"
Hay un modulo llamado **product_expiry_ext** que según @anajuaristi no hace lo que debe, pero los requerimientos exactos no se encuentran en la tarea. Por lo que he visto si que hace algunos cálculos, pero como desconozco que color y estado debe de aplicarse según las fechas, no puedo decir si es correcto.

Supongo que @mikelarre tendrá la misma duda. Ya que es el quien tiene ahora asignada la tar

[2014-09-24 11:42] anajuaristi commented on #103
Supongamos que un producto caduca el 1 de enero, entonces a partir de dicha
fecha la línea debe aparecer en rojo.
Hasta ahí correcto, pero yo no he conseguido que cambie de color aun
asignando fechas futuras o pasadas con respecto al día de hoy.

Luego, el lío se monta con los otros 3 campos que tiene el módulo expiry.
Están pensados para dar aviso al usuario de que le están venciendo
distintas co

[2014-09-24 12:06] oihane commented on #103
- Fecha 1 - **alert_date** : Alert Date (_Fecha de alerta_),
  This is the date on which an alert should be notified about the goods with this Serial Number.
- Fecha 2 - **removal_date** : Removal Date (_Fecha de eliminación_),
  This is the date on which the goods with this Serial Number should be removed from the stock.
- Fecha 3 - **use_date** : Best before Date (_Consumir preferentemente antes

[2014-09-24 22:04] anajuaristi commented on #36
Reasigno a @alfredoavanzosc ya que está tocando todo el tema de los test de calidad.
Alfredo: El tema es meter un on_change en los campos Qt y Ql, de tal forma que evalúe si la línea es Ok o Nok, en el momento que el usuario introduce un valor. Si es correcto pone la línea en verde, si no, la pone en rojo.
Sin más.

[2014-09-25 14:16] #94 closed, assigned to mikelarre

[2014-09-26 20:29] anajuaristi opened #114 "Product_variant_sale lo que faltaría"
Faltaría de hacer lo siguiente:
1. La descripción de la línea de pedido, si no se ha asociado producto, debería asignarse el nombre del templateId + la concatenación de todos los valores de atributos que ha seleccionado el usuario.
Así, si cojo templateId = Auricular y de valores de atributos cojo color rojo, micro "con micro", la descripción de la línea tendría que ser Auricular rojo con micro
2.

[2014-09-26 21:08] anajuaristi opened #115 "Product_variant_ext"
Las vistas que se han montado están correctas.

---

Modificaciones solicitadas:

En el objeto  product.attribute.value se requiere enlace a template_id. Hay un error conceptual en Odoo. Un atributo podría tener un precio extra diferente, dependiendo del template al que aplique.

Añadir campo template_id e incluir en vista tree del menú + one2many en template. El botón llevaría a precios de atribu

[2014-09-26 21:46] anajuaristi commented on #115
Cierro ESTE ISSUE y continúo discusión en el anterior que teniamos #86

[2014-09-26 21:46] #115 closed, assigned to nobody

[2014-09-28 16:55] anajuaristi opened #116 "product_variants_mrp modifica la introducción de datos en BOM y se pierde Operation"
Se pierde la operación del proceso en la que se consumen materiales.
Revisar herencia de vistas con el módulo operations extension

[2014-09-28 17:10] #51 closed, assigned to alfredoavanzosc

[2014-09-28 17:11] #50 closed, assigned to alfredoavanzosc

[2014-09-28 17:11] #49 closed, assigned to alfredoavanzosc

[2014-09-28 17:12] #53 closed, assigned to alfredoavanzosc

[2014-09-28 17:12] #48 closed, assigned to alfredoavanzosc

[2014-09-28 17:12] #47 closed, assigned to alfredoavanzosc

[2014-09-28 17:13] #46 closed, assigned to alfredoavanzosc

[2014-09-28 17:13] #52 closed, assigned to alfredoavanzosc

[2014-09-28 17:42] anajuaristi opened #117 "[IMP mrp_operation_with_quality_test] #108 No hay test generados y no permite finalizar la operación"
Controla incorrecto la existencia de test
Mirar MO34 en demo.
Hay test en las operaciones 3 y 4 de la ruta
Pero no me permite cerrar la primera operación
En las workorders no se visualizan los test, por lo que parece que tienen enlace a OF pero no a Workorder y la comprobación del cierre la está haciendo por OF en vez de por workorder.

Asignar correcto ID y modificar comprobación.
Gracias!!

[2014-09-28 21:11] anajuaristi opened #118 "Ultimo precio y fechas de venta y compra product_last_purchase_sale_info"
DUDA: No sé si la actualización de datos en la ficha debería hacerse al confirmar el pedido y no al guardar. Por otro lado, veo peligroso independizar la asignación de cliente de venta del importe de venta ya que podrías facturar antes algo que el pedido has enviado después.
Por mi parte voto porque el precio se ponga al confirmar la venta y ya está. Es un dato informativo temporal y lo veo más co

[2014-09-28 21:33] anajuaristi opened #119 "Captura datos en planta"
Botón fabricar en la workorder --> Casi no se ve. Está como escondido en cabecera, hay que fijarse. Subir arriba a la barra al lado de los de workflow
Aunque en el listado de material haya materiales, el one2many del botón aparece vacío.
Las pantallas siguen sin estar como comentamos de voz, aunque sí se ha unificado la apariencia
Deben ser de la siguiente forma dividido en solapas
Cabecera: Como

[2014-09-28 21:47] anajuaristi opened #120 "En demo traceback módulo warning o warning log"
En el onchange de producto en línea de pedido de compra, traceback de warning o warning log

[code]

[2014-09-28 22:24] anajuaristi opened #121 "Una máquina varios workcenters y no al revés"
En el maestro de máquinas hay un many2one a workcenters.
Debería ser al revés workcenter tendría un many2one a máquinas

[2014-09-30 06:57] oihane opened #129 "[ERROR] Quality control"
Al actualizar el modulo `quality_control` en el log se observa el siguiente error:

[code]

Aunque no es bloqueante conviene corregir

[2014-09-30 07:37] pedrobaeza commented on #129
Ese error lo corregí yo cuando puse el repositorio público. ¿Estás probando una versión antigua?

[2014-10-01 23:42] anajuaristi opened #132 "En workorders sin material a consumir, al iniciar operación"
response = f(_args, *_kw)
  File "/opt/odoo/server-v8/addons/web/controllers/main.py", line 948, in call_button
    action = self._call_kw(model, method, args, {})
  File "/opt/odoo/server-v8/addons/web/controllers/main.py", line 936, in _call_kw
    return getattr(request.registry.get(model), method)(request.cr, request.uid, _args, *_kwargs)
  File "/opt/odoo/server-v8/openerp/api.py", line 237,

[2014-10-02 06:13] oihane commented on #129
Parece que así era. Cierro

[2014-10-02 20:42] anajuaristi commented on #132
Mikel mira esto porfa.
No permite continuar ni cerrar la orden ni nada

[2014-10-03 08:49] mikelarre commented on #132
ya esta solucionado. Pero tengo que subir varios cambios sobre este wizard. Cuando lo termine lo subo

[2014-10-03 16:22] anajuaristi commented on #121
Dani... este para la semana que viene, como hemos hablado.

Aparte, vamos a hacer 2 módulos enlace, uno con compras (dependiente de compras) y otro con assets (account_asset)
1. purchase_machine: dependencia con maestro de máquinas + purchase

Hay que hacer:
Al confirmar una factura de compra, por cada línea de factura
Si existe máquina con producto = producto de la línea --> Crear máquina donde
-

[2014-10-03 17:23] anajuaristi opened #136 "product_variant_purchase"
[code]

En el server de la ofi. No sé si es que no está actualizado. Lo subo por si acaso.

[2014-10-04 01:50] pedrobaeza commented on #121
Me parece bien, aunque faltaría el nº de serie/lote de la máquina. En asset, como dices, los campos financieros que pasen a ser related del asset.

[2014-10-04 02:19] pedrobaeza opened #139 "Volver a hacer PR de partner_risk"
@Daniel-CA, necesito que vuelvas a hacer el PR de partner_risk, ya que como estaba vinculado a la rama master, ahora no puedo acceder a él.

[2014-10-04 03:06] pedrobaeza commented on #118
Aprovechando esto, yo le cambiaría el nombre a _product_last_price_info_.

[2014-10-04 03:13] pedrobaeza opened #140 "Hacer PR de project_partner_event_registration"
@mikelarre, el PR #69 se perdió con el renombramiento de la rama. Vuélvelo a hacer y realiza los cambios que te comentaba en él.

[2014-10-06 11:21] oihane commented on #136
Corregido en PR #142

[2014-10-06 11:55] #87 closed, assigned to Daniel-CA

[2014-10-06 11:57] #30 closed, assigned to pedrobaeza

[2014-10-06 11:57] pedrobaeza commented on #31
@Daniel-CA , indica en qué PR lo solucionas antes de cerrarlo.

[2014-10-06 11:59] Daniel-CA commented on #31
El módulo es mrp_production_traceability, no encuentro el PR.

[2014-10-06 12:25] anajuaristi commented on #31
Pues aquí está el lío que comentaba Oihane que hay 2 módulos que se llaman
igual.
Cuidado con esto.
El de Dani, hace una relación entre los lotes consumidos y producidos
(guarda esa relación cada vez que se consume o produce en la OF), el de
Oihane, asigna un lote automáticamente al producto "producido" asignándole
el mismo número que tiene la propia OF.
Ambos dos han sido solicitados y están en l

[2014-10-06 12:27] anajuaristi commented on #31
Por otro lado, no puede ser que no haya PR, Quizás es de los primeros módulos que se hizo al principio  del proyecto cuando no se utilizaba la metodología actual, pero ahora no tiene sentido que haya ningún módulo sin PR por lo que si no hay, crea uno y súbelo de la manera correcta antes de cerrar la solicitud.
Te la reabro.

[2014-10-06 13:31] oihane commented on #31
El PR #32 está aprobado y es el módulo de @Daniel-CA el otro no se cual es, pero no lo he encontrado con ese nombre.

[2014-10-07 06:14] #136 closed, assigned to oihane

[2014-10-07 06:17] oihane commented on #120
@anajuaristi creo que esto lo arregle yo, cierro

[2014-10-07 06:17] #120 closed, assigned to mikelarre

[2014-10-07 06:19] oihane commented on #103
PR #130

[2014-10-07 08:15] Daniel-CA commented on #139
Actualizando el módulo a la nueva API, en cuanto esté hago un PR.

[2014-10-07 20:49] anajuaristi commented on #121
Dani, pues adelante con los 2 módulos enlace.
Aparte, como comenta Pedro, sustituye el campo texto del maestro: Product Serial #, por un many2one a lotes, filtrado por el producto de compra asociado a la máquina.

[2014-10-07 20:50] anajuaristi commented on #118
@alfredoavanzosc creo que esto ya está hecho. Verifica si se ha incluido en algún PR y si es así, me dices den cual y cierra el Issue.

[2014-10-08 11:06] alfredoavanzosc commented on #118
A este módulo se le cambió el nombre, ahora se llama "product_last_price_info", se le cambió el nombre a petición de Pedro.

[2014-10-08 11:07] alfredoavanzosc commented on #118
Ana... a mi no me aparece para poder cerrar este issu.

[2014-10-08 11:30] Daniel-CA opened #146 "Tarifas de compra"
Copio pego la descripción de la tarea, en mi caso solo me aplica el punto 2.
Aun que en la tarea pone cargar tarifas, Ana definió que era una carga de precios de proveedor por lo que de momento está definido para que actualice los precios de los productos con los datos del archivo, si hay que enlazarlo con algún otro módulo a la hora de procesar las lineas expandir la definición aquí.
1. Módulo de

[2014-10-08 13:05] #118 closed, assigned to alfredoavanzosc

[2014-10-08 13:05] anajuaristi commented on #118
Ya está, cerrado

[2014-10-09 21:26] anajuaristi commented on #117
Arreglado, cierro

[2014-10-09 21:26] #117 closed, assigned to alfredoavanzosc

[2014-10-09 21:29] anajuaristi commented on #35
@alfredoavanzosc
Alfredo, recupero esta solicitud de mejora en los test de calidad para preguntas de tipo cualitativo. Es una mejora pequeñita pero que permite poner en el listado de valores "buenos" y "malos"
Actualmente, solo se pueden poner valores buenos, y hay un ok por defecto. De esta forma, si se selecciona uno malo, le pone nok y si se coge uno bueno le pone ok, lo cual da mucha más flexi

[2014-10-09 21:32] anajuaristi commented on #36
@alfredoavanzosc
Ya que hay que tocar los test de calidad para lo de los valores cualitativos, aprovechamos y metemos el onchange, que veo que aún no está incluido.

[2014-10-09 21:33] anajuaristi commented on #39
Cierro... se arregló hace tiempo ya.

[2014-10-09 21:33] #39 closed, assigned to oihane

[2014-10-09 21:38] anajuaristi commented on #40
@alfredoavanzosc
Otra solicitud de los módulos de calidad... Habría que modificar el many2one a producto y a categoría de las plantillas del test por un many2many.

Luego cuidado porque el módulo de muestras, tendría que buscar entre esos many2many. La búsqueda ya no sería directa.
ANTES de programar esto, ver impacto en la creación automática de tests. Creo que sólo afecta al módulo de muestreo y

[2014-10-09 21:40] anajuaristi commented on #42
Se solucionó hace bastante tiempo. Cierro issue.

[2014-10-09 21:40] #42 closed, assigned to Daniel-CA

[2014-10-09 21:40] anajuaristi commented on #43
Cierro issue. Está hecho e instalado hace tiempo ya.

[2014-10-09 21:40] #43 closed, assigned to mikelarre

[2014-10-09 21:43] anajuaristi commented on #72
@oihane ¿Porqué se asigna a Pedro a esta tarea?

Entiendo que el objeto / tabla donde se capturan los códigos en la ficha de inventario, es un objeto normal, no es un wizard ni nada. Entonces... ¿porque no hacer un write normal y no ocultar la solapa? Sin más, los productos que se consigan mapear, Ok, Los que no se pueden mapear, ya verá el usuario qué hacer con ellos, si los da de alta o ha sido

[2014-10-09 21:46] anajuaristi commented on #78
@mikelarre para la próxima semana...  mañana comentamos de voz lo que se pretende en esta tarea.

[2014-10-09 21:47] anajuaristi commented on #103
Cierro issue... en principio, estaría duplicado porque ya hay tarea.

[2014-10-09 21:47] #103 closed, assigned to mikelarre

[2014-10-09 21:48] anajuaristi commented on #77
@alfredoavanzosc No sé si este bug está sólo relacionado con el módulo de calidad de muestras, ni si está arreglado. ¿Lo miramos?

[2014-10-09 21:51] anajuaristi commented on #114
@oihane
No sé si habías visto este resumen de lo que faltaba en product_variant_sale. Echale un vistazo a ver. Muchos puntos ya están. Falta alguno, por ejemplo el 1 del primer bloque sigue sin hacerse.

[2014-10-09 21:54] anajuaristi commented on #116
@oihane
Sigue pasando esto.
Si instalo product_variants_mrp, la vista de lista de materiales pierde la operación y también se pierde el tree editable.
En BOM, no es necesario lanzar el configurador. Quita la vista que hereda y listo.

[2014-10-09 22:05] anajuaristi commented on #119
@mikelarre No veo nada instalado, no veo PR relacionado con esto. Las vistas sigo viéndolas igual que estaban.
Subir cambios en PR y revisar que está el requerimiento tal y como se solicita, incluyendo nuevo botón "consumir" en Operación, tal y como se pidió.

[2014-10-09 22:09] anajuaristi commented on #146
@Daniel-CA Pregunta... ¿Como puede procesar el módulo de carga 4 precios diferentes, si en la ficha de producto hay solo 1 precio?
Por otro lado, ¿como puede procesar correctamente, siendo precios de proveedor, si no aparece el proveedor por ningún sitio? ¿Qué hace el módulo? ¿Qué campo/s modifica?

Los precios de proveedor están en product.supplier.info ¿como esto lo puede hacer bien si no hay pr

[2014-10-09 22:10] pedrobaeza commented on #35
Yo no lo veo. Lo que habría que hacer es que no ponga el OK cuando no tiene ningún valor (sea bueno o malo). Pero un no ok te lo da el que no hayas seleccionado una de las respuestas admitidas.

[2014-10-09 22:10] anajuaristi commented on #140
@mikelarre ¿Se ha hecho esto?

[2014-10-09 22:11] anajuaristi commented on #132
@mikelarre entiendo que esto está relacionado con el issue de las operaciones que hay ya abierto. Cierro este por duplicado

[2014-10-09 22:11] #132 closed, assigned to mikelarre

[2014-10-09 22:14] anajuaristi commented on #35
@pedrobaeza
Si, eso es... no ok cuando no hay respuesta o la respuesta es "mala".
Ahora no hay opción a poner respuestas "malas", si respondes, ya te da ok directamente. Ese es el cambio que hay que hacer.

[2014-10-09 22:14] pedrobaeza commented on #40
La búsqueda se hace igual sobre many2many que sobre many2one, así que no debería haber demasiados problemas. Eso sí, no sé si el operador '=' valdría o habría que poner el operador 'in' (aunque resulte la expresión al revés - `('products', 'in', product_id)`).

Ahora que hablas de many2many, habría que aprovechar para colocar en la ficha de producto esa tabla many2many con los tests que se hayan a

[2014-10-09 22:16] pedrobaeza commented on #35
¿Seguro que no hay la posibilidad de respuestas válidas? Es que ya me confundo con el módulo de v7 que adapté yo. Habría que haber partido de ése...

[2014-10-09 23:07] anajuaristi commented on #35
No, no hay.
Cogimos el de 6.1 porque tenía una extensión bastante grande para el tema de las muestras por rangos de cantidad. El quality_extension

[2014-10-09 23:13] pedrobaeza commented on #35
Habría que quitar ese nombre y poner _quality_control_samples_ o algo así. Extension nunca.

Entonces sí, hay que ampliarlo para tener los valores válidos. El problema de ser con un check es que hay que poner una tabla one2many nueva... Otra opción es con many2many tags.

[2014-10-09 23:17] anajuaristi commented on #35
No.. no hace falta que el check esté en la relación pregunta / respuesta. Solo se añade en la opción "respuesta", se añade un campo ahí y listo.
Si un mismo válor es válido en un test e inválido en el otro, que seleccionen el que corresponda en la plantilla del test

[2014-10-09 23:21] pedrobaeza commented on #35
Pues a eso me refiero, que hace falta un one2many con:
- Boolean de válido o no.
- Many2one a respuesta.

[2014-10-09 23:25] anajuaristi commented on #35
No... pero no hace falta eso.
O sea, en la tabla "respuestas", en vez de un único campo pones 2 campos.
La relación pregunta/respuesta en plantilla no cambia
La relación test/pregunta en plantilla no cambia

En el nombre de la respuesta pones algo que lo diferencie rojo (check ok) y rojo \* (check nok)

Luego tanto en la pregunta en la plantilla seleccionas la que le toque de las dos.
Y al hacer e

[2014-10-09 23:26] pedrobaeza commented on #35
Pues a esa tabla me refiero, Ana, que ahora mismo es un many2many a secas.

[2014-10-09 23:27] anajuaristi commented on #35
Es que no veo que no tenga que seguir siendo un many2many a secas. ¿qué se me escapa?

[2014-10-09 23:28] anajuaristi commented on #35
en el combo de respuestas tienes
verde, rojo_, azul, morado_, morado....
Seleccionas uno de ellos y para verificar si es ok o nok, miras en su tabla. ¿qué cambia?

[2014-10-09 23:29] pedrobaeza commented on #35
Déjalo, Ana. Luego lo implementamos y ya está.

[2014-10-09 23:31] anajuaristi commented on #35
Pero no te líes a meter un one2many a un nuevo objeto con
check
many2one a respuesta porque NO hace falta para esto.

[2014-10-09 23:34] pedrobaeza commented on #35
Es que para algunas preguntas, "rojo" será correcto, y para otras, "rojo" no será correcto. Tal como estaba, las respuestas se pueden compartir. De ahí el one2many.

[2014-10-09 23:39] anajuaristi commented on #35
Yaaa... pero que para 2 únicos valores OK, Nok, no hace falta esta relación.
Se crean las 2 respuestas una con OK y otra con Nok en la tabla y ya está. De ahí el tema de marcar el nombre con y sin \* para que el usuario diferencie. O puede ser rojo bueno y rojo malo... como ellos vean.
Y cubre perfectametne y no tocamos ninguna estructura.

[2014-10-09 23:41] pedrobaeza commented on #35
Uf, la gente se va a confundir. Creo que lo que deberíamos hacer es que las respuestas no se compartan entre preguntas, y así, además reducimos la lista a seleccionar, porque cuando haya muchas preguntas y respuestas, es inmanejable.

[2014-10-09 23:43] anajuaristi commented on #35
No, no, no. no hagamos eso. Que obligas a configurar respuestas duplicadas y es más lío aún.
Y lo de las respuestas, que si se les explica, no es tan complicado. No tienen porqué liarse. Queda super-sencillo, no tocas nada y cubres el requerimiento, sin más.

[2014-10-09 23:46] pedrobaeza commented on #35
Ana, es súper rápido introducir posibles valores. Mejor que elegir entre una lista de 200 mil respuestas. Vamos a probar de esta manera y ya verás como es mejor.

[2014-10-10 00:12] anajuaristi commented on #35
Pedro... Coste beneficio.
Lo k dices es xambiar enfoque y estructura. No ganamos nada y se
desnormaliza el matenimiento de respuestas.
Lo k digo yo no rompe nada, no cambia nada y en 5m esta cubierto el
requerimiento.
Minimo producto viable. Para la criticidad que tiene y siendo mejora no
bug, de momento suficiente.

[2014-10-10 00:14] pedrobaeza commented on #35
Ana, eso lo implemento en 5 min yo también. No desnormaliza nada. Lo otro, follón auténtico para el usuario. Lo dicho, déjame hacerlo para que lo veas.

[2014-10-10 00:29] anajuaristi commented on #35
Como veas . Pero veras que lo tuyo tiene lio. Intenta meter en una
plantilla la misma pregunta con diferentes respuestas en cada plantilla.
Con un many2many como ahora es trivial. Con un one2many el lio esta montado.
No me parece mejora sino paso atras. Casi igual dejarlo como esta es hasta
mejor que eso

[2014-10-11 17:11] anajuaristi opened #153 "Quality control put valid dependencia con quality extension"
quality control put valid, debería ser totalmente aislado e independiente, solo dependiente de quality control.
Es necesario quitar dependencia.
Quality control extension, más que extension debería ser renombrado a "muestras", ya que lo que hace es crear N bloques de preguntas dentro de un test, en vez de una única, para el número de muestras epsecificado en la categoría o plantilla.
2 tareas:
.-q

[2014-10-11 22:29] pedrobaeza commented on #153
_quality_control_samples_ sería lo suyo.

[2014-10-12 20:10] anajuaristi opened #154 "Asegurar en una ruta que existe una operación con check descarga"
Al asignar una ruta en una LM, verificar que la ruta tiene una operación con el check descarga marcado. Si no tiene --> Mostrar warning al usuario "ruta incorrecta: no tiene operación para producir"
Esto impedirá que se creen OFs sobre esta LM, que no tengan operación de "producir".
@pedrobaeza valida
Si lo hacemos al grabar la ruta, mal, porque habrá un warning dando la lata al usuario. Hasta que

[2014-10-12 20:56] pedrobaeza commented on #154
No me termina de convencer, porque tras asignar la ruta a la LdM, puede ser que cambies la ruta y se quite la operación de producción. La única opción segura es cuando se confirme la orden de producción, que ya ha volcado los datos de operaciones ( y se supone que el check debe estar también incorporado en esa copia de las operaciones). Entonces es donde se debe bloquear la producción si no hay ni

[2014-10-12 21:01] anajuaristi opened #155 "stock_quant_shortcuts Error: (end) undefined as prefix"
Da error en pedido de compra (a continuación) y sigue sin salir en pedido de venta... reabro issue

Error: (end) undefined as prefix
http://demo.odoomrp.com/web/js/web.assets_backend/f195db1:2582

[2014-10-12 21:23] anajuaristi opened #156 "sale_variants (recálculo de precio en línea de pedido al seleccionar variantes)"
Al grabar la línea, una vez seleccionadas las variantes en el configurador, o bien con el botón recalcular precios, se debería tener en cuenta el incremento/decremento del precio variante.
Actualmente no lo tiene en cuenta.

[2014-10-12 21:31] anajuaristi opened #157 "bom_component_massive_change traceback"
Al crear nuevo cambio. NO DABA ANTES de incluir el campo reason. Da desde el pasado viernes que se tocó el módulo.

Odoo

[code]

[2014-10-13 06:55] pedrobaeza commented on #157
Eso da porque no has seleccionado componente antiguo. No debería llegarse a esa condición, porque el campo debería ser requerido. Lo cambio...

[2014-10-13 06:59] anajuaristi commented on #157
No... Pero da al pulsar el boton nuevo. Ahi aun no te ha dado tiempo a
seleccionar nada.
Despues del traceback se puede seguir y funciona

[2014-10-13 07:01] pedrobaeza commented on #157
OK, entendido, entonces es porque el onchange se ejecuta también al principio. Lo arreglo.

[2014-10-13 07:12] pedrobaeza commented on #157
Ya está arreglado, pero la vista está fatal. ¿Qué pintan los botones en medio? Lo suyo es que sigan aspecto v7, que son declarados en la cabecera con <header>. @Daniel-CA, este tipo de cosas a estas alturas ya no se pueden permitir así. Corrígelo.

[2014-10-13 13:49] pedrobaeza opened #159 "purchase_pricelist_rules: Vista de pedido de compra"
¿Cómo puede ser que con este módulo (y a lo mejor alguno más) el descuento aparezca tres veces, y la oferta dos en el pedido de compra?

[2014-10-14 07:45] oihane commented on #139
PR #152

[2014-10-14 07:45] #139 closed, assigned to Daniel-CA

[2014-10-14 08:13] Daniel-CA commented on #157
No sabía que todos los botones tienen que ir en el header, al final es algo puramente estético, lo cambio.

[2014-10-14 08:15] pedrobaeza commented on #157
Es más bien de funcionalidad, no estético. De todas formas, como principio general, los botones que actúan sobre todo el registro activo (como estos), van en header. Otros que sean sólo una sub-función, como el calcular datos de la pestaña de la orden de producción o el actualizar impuestos, sí que van situados contextualmente en el sitio donde está la parte que afecta.

[2014-10-15 07:13] Daniel-CA commented on #146
He añadido un campo para elegir el proveedor al que pertenece el archivo para que al procesar se asignen directamente y no desde el archivo.
El resto de precios no los he tratado ya que no se exactamente que hacer con ellos, se pueden añadir diferentes lineas de precios según cantidades, pero también deberían reflejarse en el archivo las cantidades, no se, lo que mejor os parezca.

[2014-10-15 15:36] oihane commented on #159
algo raro había hecho con las vistas, ya lo he cambiado

[2014-10-15 15:36] #159 closed, assigned to nobody

[2014-10-15 15:44] oihane commented on #129
En odoomrp.com cuando se hace update=all

[code]

[2014-10-15 15:59] pedrobaeza commented on #129
Eso se debe a los datos introducidos previos a poner ese constraint, que no lo cumplen. En una BD nueva no pasa.

[2014-10-16 05:45] #129 closed, assigned to pedrobaeza

[2014-10-17 00:17] anajuaristi opened #174 "Al confirmar una OF, traceback (antes no daba)"
Lo da operations extension. Error crítico, impide confirmar las órdenes de producción. Parece ser que lo da la última subida del operations_extension

[code]

[2014-10-17 07:47] anajuaristi commented on #153
Quality_control_extension genera un bug/traceback al calcular datos de una orden de producción
Shows not found

[2014-10-17 09:11] pedrobaeza commented on #174
Es un error del módulo _stock_invoicing_type_. @agaldona, ¿por qué sobreescribir el write del stock.move? Tiene que haber un método más efectivo, y que no impacte en todos los sitios, ya que stock.move se escriben desde muchos sitios.

[2014-10-17 09:29] agaldona commented on #174
No me acuerdo muy bien por que razón hice así. El objetivo del módulo era trasladar el invoicing_type a los albaranes desde los pedidos de venta. Y tenía problemas con enlazar el pedido y el albarán, ya que la creación de los movimientos es previo al albarán, y se me hacia difícil trasladar el dato desde las funciones donde se creaba. Creo que lo hice de esta forma, porque me pareció la más adecua

[2014-10-17 09:30] pedrobaeza commented on #174
Vale, pues mira de cambiarlo al lugar donde se crea ese stock.picking.

[2014-10-17 12:22] oihane opened #183 "[project_events_operations]"
Es un **warning** que muestra en el _log_

[code]

[2014-10-17 12:30] pedrobaeza commented on #183
Sería quitar esa clave de la llamada.

[2014-10-17 12:36] #183 closed, assigned to nobody

[2014-10-17 12:38] pedrobaeza commented on #183
¿Por qué lo cierras?

[2014-10-17 12:38] oihane commented on #183
porque he quitado el key2

[2014-10-17 12:39] pedrobaeza commented on #183
Vale, pues pon en el issue para histórico: resuelto en commit tal.

[2014-10-17 12:42] oihane commented on #183
Solved on https://github.com/odoomrp/odoomrp-wip/commit/96565a39a04c7ff3c6cd5fcf0275d0bbf3409d23

[2014-10-19 13:58] anajuaristi opened #184 "product_manufacturer"
En la última sesión se vio la necesidad de un módulo que permita gestionar fabricantes de producto.
En versiones anteriores teniamos:
https://www.odoo.com/apps/product_manufacturer/
y
https://www.odoo.com/apps/7.0/product_brand/

El primero era oficial y el otro de comunidad. No encuentro en la instalación ninguno de los 2. Sería necesario incluir uno de ellos en la instalación.

[2014-10-20 08:03] oihane commented on #116
PR #173

[2014-10-20 18:50] anajuaristi opened #190 "mrp_product_variants lo que falta para terminar"
Escribo lo que tenemos hasta ahora y lo que faltaría por hacer:

Cubrimos las siguientes casuisticas en el BOM: (BOM, ya está terminado)
BOM tipo NORMAL con líneas tipo NORMAL
1. Producto final específico (product_id) contiene componentes específicos (product_id) --> ESTANDAR ODOO
2. Producto final genérico (template_id) contiene componentes específicos (product_id) --> ESTANDAR ODOO
3. Producto f

[2014-10-20 23:25] pedrobaeza commented on #184
El primero se ha eliminado de la distribución oficial, aunque lo único que hacía era colocar tres campos más en el producto. ¿Es eso lo que se quiere? ¿No puede ser más interesante manejarlo con etiquetas?

[2014-10-21 07:55] oihane opened #191 "[sale_product_variants] accessed before being computed"
Como en las OF y lista de materiales:

[code]

Al abrir una línea que ya existe.

[2014-10-21 07:58] pedrobaeza commented on #191
Sí, esto está pendiente de que se resuelva el siguiente bug en el core:

https://github.com/odoo/odoo/issues/3205

Si mientras tanto te impide trabajar, comenta la correspondiente línea del domain.

[2014-10-21 15:55] Daniel-CA commented on #121
Donde dice:
Si existe máquina con producto = producto de la línea --> Crear máquina donde
- Producto = producto de la línea de factura

No entiendo muy bien esa frase. Hay que crear una máquina nueva si el producto está asignado a una máquina?

Actualmente las máquinas tienen un producto asignado y es único, relación 1-1, y el producto tiene el mismo nombre que la máquina. Esto se hizo así para qu

[2014-10-21 19:00] anajuaristi commented on #184
Es que la etiqueta es algo tan genérico que luego no se puede operar con ella.
Necesitan el fabricante como tal porque posteriormente quieren usarlo en la homologación de productos (tener productos homologados para un fabricante y no para otro, para evitar comprarlo a ese, o indicar expresamente al proveedor que no quieren un producto de dicho fabricante. Hay paises que dan muy poca calidad y a ve

[2014-10-21 19:06] anajuaristi commented on #121
¿Relación 1-1? Que va...
En la máquina hay un many2one a producto. Por lo tanto el mismo producto puede usarse para ser asociado a varias máquinas.
La identificación de una máquina concreta se hace de toda la vida con un número de serie/lote.
Si hay que enviar a reparar una máquina, se manda ese ID de máquina. ¿No puede tener una empresa 6 reactores, 4 microscopios y varios ordenadores iguales?

P

[2014-10-21 21:52] anajuaristi commented on #72
Esto se puede compaginar perfectamente con el de carga de inventario de @Daniel-CA
Es decir, tanto si se importan las líneas mediante archivo, como si se capturan por código de barras línea a línea... el proceso debería ser el mismo.
Capturar y procesar.
El check de "lista vacía" debería mostrar como hace ahora, la lista vacía y el procesar una vez capturadas las líneas debería ser exactamente el

[2014-10-21 21:55] anajuaristi commented on #153
@alfredoavanzosc
Me comentaste que esto estaba arreglado no? Si es así, porfa, indica PR en el que se subió el parche y cierra issue.

[2014-10-21 23:04] pedrobaeza commented on #72
Bueno, tal como está ahora mismo, son dos cosas aparte. Se podría utilizar el mismo asistente para una entrada manual con código de barras o por carga de CSV. El tema es que en su momento @oihane dijo que querías tener la lista ahí guardada con el inventario.

[2014-10-21 23:24] pedrobaeza commented on #184
Las etiquetas hacen el mismo funcionamiento que ese campo, porque ten en cuenta que ahora mismo la equivalencia es 1 producto = 1 fabricante con el módulo de la v7. No puedes establecer más de un fabricante, por lo que la funcionalidad de la homologación no se podría realizar de esa forma, pero ya hablamos que, por lo menos en DMC, se hacía por proveedor, que venía a ser equivalente para ellos.

[2014-10-22 07:07] anajuaristi commented on #72
@pedrobaeza Si, por eso digo. Por lo que vi en la carga desde archivo, también se graban todas las líneas y se marca en rojo las que no se pueden mapear y en verde las que entran bien.
Sería el mismo tratamiento en ambos y el listado donde se carga tanto por archivo como manualmente también quedaría el mismo. Simplificamos código no?

[2014-10-22 07:16] anajuaristi commented on #184
A mi no me gustan las etiquetas para estas cosas por ser demasiado genéricas.
¿Porqué no migrar manufacturers cambiando el many2one por un many2many contra fabricantes?

[2014-10-22 07:38] Daniel-CA commented on #121
Vale, de esta forma es más lógico. Hago una pequeña modificación en el maestro de máquinas para que se mantenga este enfoque.

[2014-10-22 08:02] anajuaristi opened #195 "OF: Onchange en template da traceback"
Buenas...
Instalada la nueva versión mrp_variants en demo, da este traceback

[code]

[2014-10-22 08:17] oihane commented on #195
Habría que actualizar el **core** de _odoo_, se ha hecho apaño a mano

[2014-10-22 08:17] Daniel-CA commented on #157
Este issue se puede cerrar, ya esta hecho el merge.

[2014-10-22 09:45] oihane opened #200 "[product_attribute_types]"
[code]

[2014-10-22 09:47] oihane commented on #200
He probado en local y no da este error pero tampoco entiendo a que se debe, parece como que no existiese la opción del `selection` que se le pasa pero eso no puede ser.
Tal vez se deba a algún cambio que hayan hecho en el `core`? No lo sé.

@pedrobaeza tienes alguna idea?

[2014-10-22 09:48] oihane commented on #200
Se me ha olvidado indicar que este error da al intentar _grabar_ un nuevo `attr_type` a los atributos

[2014-10-22 10:19] anajuaristi opened #201 "Traceback: Al asignar un tipo al atributo y grabar"
Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 499, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 516, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/v8/core/openerp/http.py", line 282, in _call_function
    return checked_call(self.db, *args,

[2014-10-22 10:20] oihane commented on #201
DUPLICADO #200, cierro

[2014-10-22 10:20] #201 closed, assigned to nobody

[2014-10-22 10:31] alfredoavanzosc commented on #153
quality_control_samples en PR odoomrp-quality_control_samples
quality_control_put_valid en PR odoomrp-quality_control_put_valid

Yo no puedo cerrar el issue.

[2014-10-22 10:36] #174 closed, assigned to agaldona

[2014-10-22 10:44] anajuaristi opened #202 "Al grabar una plantilla de test"
ValidateError

Error while validating constraint

maximum recursion depth exceeded while calling a Python object

[2014-10-22 12:09] anajuaristi opened #204 "Nueva versión de calcular datos en boms con template, se pierde id de workorder"
Buenas...
Hemos visto que el botón calcular datos, que asigna a los materiales workorder_id, pierde esta función cuando instalamos mrp_variants.
Creo que se está sobreeescribiendo la función.
Lo suyo sería, dejar que calcule, normal, como hace sin el módulo e iniciar luego el tratamiento de líneas con template y sin producto.

[2014-10-22 12:15] pedrobaeza commented on #200
El error se debe al campo related en _product.attribute.line_ con store=True. No se han indicado los posibles valores de ese campo con su etiqueta, y por eso da ese error. Se quita el error quitando el store=True. Tenlo en cuenta para otras veces.

Otra cosa, @oihane, hay que tener cuidado con los valores required y default para proveer mecanismos adecuados para:
- Evitar errores de usuario: un at

[2014-10-22 12:15] #200 closed, assigned to pedrobaeza

[2014-10-22 12:54] oihane commented on #204
El calculo NORMAL intenta buscar por product_id con lo cual si existen líneas que no lo tienen da un casque, por ello se reescribió la función ya que no se encontró otra forma de darle salida

[2014-10-22 13:03] anajuaristi commented on #121
OK

[2014-10-22 13:05] anajuaristi commented on #157
Verificado que se ha modificado la vista.
Off topic... queda mucho mejor ahora ;P
:+1: Cierro

[2014-10-22 13:05] #157 closed, assigned to Daniel-CA

[2014-10-22 13:40] anajuaristi opened #205 "Traceback en la instalación de quality samples"
Buenas... en un entorno donde previamente no se haya instalado quality ext, intentas instalar quality samples y da este traceback

[code]

[2014-10-22 14:23] anajuaristi opened #207 "Renombrar módulo y subir a wip"
Buenas...
Necesito tener disponible en el entorno wip, el módulo production_download_operation de alm

@pedrobaeza propone cambiar el nombre a
mrp_dump

[2014-10-22 14:28] pedrobaeza commented on #207
Es muy importante que en la descripción explique perfectamente qué hace y a qué tipo de industrias va dirigido.

[2014-10-22 14:47] pedrobaeza commented on #204
Habrá que encontrar una forma de convivir los dos módulos. Luego le doy una vuelta.

[2014-10-22 15:24] oihane commented on #207
Se ha cambiado e módulo de alm a wip, y se ha renombrado la carpeta (nombre técnico) a **mrp_dump**
La descripción no la he cambiado, pero no sabemos cual sería el **tipo de industria** a la que va dirigido

[2014-10-22 15:55] oihane commented on #205
sin más información... no puedo verificar por que da

[2014-10-22 15:56] pedrobaeza commented on #205
Te está diciendo que es al instalar el módulo. Prueba a instalarlo en un entorno local a ver si da.

[2014-10-22 15:57] oihane commented on #205
Es que en local no da, y mirando el codigo está correcto...

[2014-10-22 15:59] #153 closed, assigned to alfredoavanzosc

[2014-10-22 20:47] anajuaristi commented on #204
Es muy muy sencillo, porque no impactan uno con el otro.
El que hace operation_extension hay que hacerlo sí o sí.

Y posteriormente, la función de Oihane hace el tratamiento para las variantes, no llamando al botón calcular, sino simplemente recorriendo las líneas que ha hecho el botón calcular.

No me explico pero lo que quiero decir es:
función1: operation_extension que llama a calcular datos y

[2014-10-22 20:49] pedrobaeza commented on #204
Ana, no es tan sencillo como tú lo ves, porque no te va a devolver líneas, pero bueno, déjame que lo vea y ya está.

[2014-10-22 20:50] anajuaristi commented on #204
Ayyy... ya veo lo que quiere decir Oihane... ya... si...
En todo caso... si el módulo del operation_extension tuviese en cuenta que el bom puede llevar template_ids y asignase el workorder correctamente, ya estaría resuelto para la función2, no?
Porque ahí estamos sobreescribiendo seguro. Y el campo template_id, no lo añadimos nosotros, está en el standar, por lo que podría consultar el operation

[2014-10-22 20:55] anajuaristi commented on #207
Enfocado a industrias químicas, que realicen envasado de granel.

[2014-10-22 20:58] anajuaristi commented on #205
Me ha dado en ALM y como antes el módulo se llamaba quality_ext y la diferencia es que en wip estaba ese instalado y en alm, no.. pues he pensado que podía ser por eso. No sé.

[2014-10-22 20:59] pedrobaeza commented on #191
Ya está solucionado en a5a37d441b5647d0f67922f916aaaf490688b32e para sale_product_variants. Paso a aplicarlo al resto de módulos que utilizan el mismo sistema.

[2014-10-22 20:59] #191 closed, assigned to pedrobaeza

[2014-10-22 21:02] pedrobaeza commented on #205
Alm  no está actualizado. Hay que hacer una buena limpieza en él.

[2014-10-22 21:05] anajuaristi commented on #191
Jo que biennnnnn!!! :+1:

[2014-10-22 21:07] anajuaristi commented on #205
Ok. Pero @pedrobaeza a qué te refieres? Porque ayer estuve allí y creo que a primera hora @oihane actualizó el entorno.

[2014-10-22 21:09] pedrobaeza commented on #205
Si tiene el quality_control_ext pululando no está actualizado. De todas formas, como hemos renombrado módulos, hay que purgarlos como ha pasado con el entorno demo.

[2014-10-22 21:22] pedrobaeza commented on #190
Anoto aquí las cosas raras que he visto examinando el módulo más a fondo para rematarlo:
- En _mrp.production_, sigue habiendo dos onchange que buscan el product_id con código propio. ¿No se puede llamar a la función que hemos creado?
- Los domains que hay a nivel de mrp.bom.line son para los valores de los atributos, pero todos ahí como un batiburrillo, sin saber para qué atributo son. ¿Qué pasar

[2014-10-23 06:18] oihane commented on #205
Algo raro ha habido ya que se habían quedado carpetas pilladas. Yo en alm, instalé sin querer, a la primera.

[2014-10-23 06:32] oihane commented on #190
1.- Si te refieres a la función `_product_find()` si, pero aún no lo había cambiado
2.- Si no me equivoco esos valores son del producto o variable de producto de la cabecera, y si no se pone el dominio, podrías poner cualquiera que exista, haciendo que parte del BoM sea innecesaria.
3.- Si te refieres a que hago varias veces `self.loquesea = loquesea` entendía que ahora se hacia así.
4.- Hasta aho

[2014-10-23 08:32] Daniel-CA commented on #121
Respecto a lo que comentas:
Para hacerlo ya de nota, si la factura viene de un albarán de compra, en dicho albarán ha tenido que crearse el lote/número de serie de la máquina y habría que asignar ese en la ficha de la propia máquina.

Tengo el problema cuando en el albarán vienen varios productos, ya que hay varias opciones en este sentido que tienen tratamientos diferentes:
- Que todos los produc

[2014-10-23 09:59] oihane opened #210 "[warning_log] hace que el modulo warning de un error"
[code]

[2014-10-23 13:36] oihane commented on #190
@pedrobaeza creo que lo que comentas ya está hecho en el PR #197

[2014-10-23 18:05] pedrobaeza commented on #121
Es tan fácil como ir restringiendo y mostrar errores si no cumplen las condiciones que a ti te interesan. Cuando se recepciona un producto que sea máquina, y debe llevar nº de serie, no permitas que cantidad sea mayor de 1, y ya está.

[2014-10-24 07:10] oihane commented on #205
Parece que fue un error puntual, ya que en todas cuando he probado a instalar en nuevas db, ha funcionado.
Cierro issue

[2014-10-24 07:10] #205 closed, assigned to nobody

[2014-10-24 08:17] oihane commented on #155
PR #215

[2014-10-24 08:17] #155 closed, assigned to nobody

[2014-10-24 08:19] Daniel-CA commented on #121
Entiendo, la idea es recepcionar esos productos 1 por 1 y obligarle a que generé una linea por cada uno para que pueda enlazarla. :+1:

[2014-10-24 08:46] #116 closed, assigned to oihane

[2014-10-24 11:06] mikelarre commented on #207
Para la descripción de mrp_dump

This module provides an association between the bulk product and the way it must be packaged at the end of the bulk product manufacturing.

[2014-10-24 11:10] pedrobaeza commented on #207
Muy bien, me gusta la descripción. Añade luego: "Particularly suitable for chemical industries and others that produce liquid finished products." y marchando

[2014-10-24 12:03] oihane commented on #207
PR #216

[2014-10-24 12:03] #207 closed, assigned to mikelarre

[2014-10-24 12:10] anajuaristi opened #217 "Edit New issue [FIX quality_control_between_dates] #206"
Si instalo este módulo e intento hacer uso de él metiendo fechas en las plantillas no se puede grabar.
Da un warning que no se pueden meter 2 preguntas iguales en la misma fecha y es correcto pero el tema es que las 2 preguntas que estoy metiendo no son iguales.
Solo contempla las fechas y no la pregunta.
Por tanto, he desinstalado el módulo.

[2014-10-24 12:11] pedrobaeza commented on #121
No es necesario recepcionar uno por uno, pero sí que en cada línea haya un sólo elemento con su nº de serie. Es eso lo que quieres decir, ¿no?

[2014-10-24 12:16] Daniel-CA commented on #121
Si, me refería a un elemento por linea con su número de serie.

[2014-10-24 12:19] pedrobaeza commented on #217
Ana, acabo de probar y funciona perfectamente. Lo que no me gusta nada es el aspecto del módulo. Teníamos que haber partido del que yo hice para v7. Es más, estoy por cambiarlo, porque de verdad, ¡¡¿qué es eso de tener que definir una unidad de medida para poner una pregunta cualitativa?!! O los sinónimos que no valen para nada. O el tipo genérico o relacionado, que tampoco...

[2014-10-24 12:20] anajuaristi commented on #207
No es por tocar las narices, pero creo que quedaría mejor "... that produce liquid bottled / packed products"
;P

[2014-10-24 12:22] pedrobaeza commented on #207
Sí, cierto, lo ponemos así.

[2014-10-24 12:23] anajuaristi commented on #217
En demo? pues esta mañana he tenido que desinstalar el módulo porque todo el rato me daba el warning. Debe ser que no estaba actualizado

En lo de que sobran campos tienes razón. Pero se migró el básico en su momento. Se quitan esos campos y marchando como dices, no? El resto de extensiones ya funcionan bien con esta versión.

[2014-10-24 12:27] pedrobaeza commented on #217
No es sólo eso. También es un cambio de concepción de muchas cosas. Lo estudio y veo, porque al final la ventaja que me decías de los samples y demás se han puesto como módulos aparte.

Lo acabo de probar en local, no en demo, aunque se me acaba de ocurrir la razón y por eso no lo veías. Ya hay otra plantilla que tenga esa fecha para esa pregunta. ¿Esa condición debe ser así? Ahora lo pienso y te

[2014-10-24 12:27] pedrobaeza commented on #121
OK, pues estás tardando :wink:

[2014-10-24 12:32] pedrobaeza commented on #217
Sí, efectivamente es por eso. Habría que limitar la condición a la misma plantilla.

[2014-10-24 12:37] pedrobaeza commented on #217
Reparado. No me gustan nada tampoco las pantallas definidas...

[2014-10-24 13:45] anajuaristi commented on #202
arreglado cierro :+1:

[2014-10-24 13:45] #202 closed, assigned to alfredoavanzosc

[2014-10-24 13:49] anajuaristi commented on #217
@pedrobaeza
Cuidado con el cambio de concepción. La funcionalidad del módulo ha sido validada por los clientes. Me parece correcto elimiinar los campos que has mencionado y que están de sobra pero el resto es correcto.
En cuanto a los campos que añade el samples, no quites ninguno que luego se usan en otros sitios, para mostrar one2manys en diversos puntos de la fabricación, albaranes y demás...

[2014-10-24 13:53] pedrobaeza commented on #217
No voy a cambiar de concepción, pero si de los nombres de variables (que la pregunta sea proof_id...). Las pantallas están feísimas, y es por la manía de seguir utilizando colspan y compañía.

[2014-10-24 13:53] #217 closed, assigned to nobody

[2014-10-26 20:15] Bilbonet opened #218 "product_last_price_info: La vista no se muestra."
Creo que hay algún problema en la vista "product_last_price_info / views / product_view.xml".
No se me muestra en la ficha del articulo. Todo lo demás me funciona bien.

Tengo poca experiencia con Odoo y no he conseguido ver el problema. Pero pongo un par de cosas que no entiendo por si ayuda.
1. Hay una etiqueta <data></data> en medio de la definición de la vista que no se si es para algo.
2. Tod

[2014-10-27 09:31] clonedagain opened #219 "sale_delivery_date duplicates standard feature"
From a quick glance at the code, I think the features of https://github.com/odoomrp/odoomrp-wip/tree/8.0/sale_delivery_date are already implemented in https://github.com/odoo/odoo/tree/8.0/addons/sale_order_dates.
I humbly suggest you migrate to the standard module, and maybe propose improvements to it if they are needed.

[2014-10-27 09:37] pedrobaeza commented on #219
Thanks for the tip, Lionel. I will take a look and tell you, because I don't have now in mind the reason why we made it, but I think it's because a change in that module.

[2014-10-27 09:40] clonedagain commented on #219
I hope so - I tried to push most community requirements upstream for a
long time and it finally landed in v8.

[2014-10-27 14:19] oihane commented on #140
PR #222

[2014-10-27 14:19] #140 closed, assigned to mikelarre

[2014-10-27 15:42] oihane opened #223 "[QUESTION] <project_events_copy> vs. <project_events_operations>"
Los modulos:
- project_events_copy
- project_events_operations

tiene la misma función de copiar, parece que el `_operations` es una extensión del `_copy`. Además tenemos un modulo en https://github.com/avanzosc/avanzosc que se llama `project_events` que creo que deberían usar como dependencia... cuando puedas lo revisas please @pedrobaeza

[2014-10-27 17:17] anajuaristi opened #225 "Fechas de caducidad, constraint < en vez de <="
En fechas de caducidad de los lotes, se ha incluido un constraint que no permite guardar el lote con las 4 fechas iguales
Field(s) `alert_date, removal_date, use_date, life_date` failed against a constraint: Dates must be: Alert Date < Removal Date< Best Before Date < Expiry Date

Hay que poner <= que el anterior, ya que si no, obliga a cambiar y es un follón. Pueden existir productos que se quier

[2014-10-27 17:39] anajuaristi commented on #225
No es <=, sino que los campos a rellenar en la ficha de producto están al revés...
Hay que poner 120, 90, 60 y 30, en vez de 30, 60, 90. 120...

No hay bug..

Ahora bien, en el lote, los campos están bastante desordenados.
Habría que poner el form product_expiry.view_move_form_expiry así:

[code]

[2014-10-27 18:17] anajuaristi opened #226 "Añadir botón "chequear disponibilidad" en movimientos"
El botón chequear disponibilidad existe en albaranes, pero no existe directamente en el movimiento. Hay puntos del sistema en que será requerido chequear  una línea por lo que se solicita añadir este botón en la línea.

[2014-10-27 18:32] anajuaristi opened #227 "Añadir posibilidad de realizar asignación de lote manualmente en stock moves"
Se solicita poder realizar manualmente la asignación de un quant.
Para ello, desde un movimiento de stock, se podrá lanzar un wizard que muestre los quants disponibles para ese producto, en la ubicación origen del movimiento y un check de selección
Domain: Quants filtrados por:
.- Producto del movimiento
.- Ubicación del quant = ubicación origen del movimiento o hija de ubicación origen del movimi

[2014-10-27 18:40] pedrobaeza commented on #227
Tal como hemos dicho, no sería ubicación del quant igual a la del movimiento, sino ubicación del quant hija de ubicación origen del movimiento.

La validación de la cantidad total se hace en el propio asistente, no luego cuando la asignación, ya que una vez salgamos del asistente no podremos modificar esa lista.

[2014-10-27 19:02] anajuaristi commented on #227
Me refería al pulsar el botón confirmar en el asistente (antes de la asignación) pero sí, estamos diciendo lo mismo.
Modifico lo de la ubicación.
Listo para inciiar desarrollo

[2014-10-27 22:06] anajuaristi commented on #218
Los últimos precios aplican al producto en sí, no a la plantilla.
Ve a la solapa variants y en el arbolito pequeño que aparece a la derecha del todo, navega al producto. La solapa está ahí.
No tendría sentido mostrar últimos precios en una plantilla ya que de ella pueden surgir N variantes y cada una es un producto específico.
Gracias por reportarlo.

[2014-10-27 22:06] #218 closed, assigned to nobody

[2014-10-27 22:25] anajuaristi opened #228 "product_expiry_ext traceback"
Al abrir formulario de lotes:

[code]

[2014-10-27 23:00] anajuaristi commented on #31
@Daniel-CA tu módulo no crea ningún menú, ni ninguna vista en el objeto por lo que no puedo validar que esté correcto o incorrecto.
Por favor, incluye un menú y al menos una vista tree con los campos básicos que guardas en tu tabla en el nuevo objeto de trazabilidad en fabricación.

@oihane Me suena que el otro módulo que comentais es uno que actualmente está haciendo @alfredoavanzosc que asigna a

[2014-10-27 23:01] anajuaristi commented on #35
Cierro esto que ya está hecho

[2014-10-27 23:01] #35 closed, assigned to alfredoavanzosc

[2014-10-27 23:03] anajuaristi commented on #77
Cierro... está arreglado.

[2014-10-27 23:03] #77 closed, assigned to alfredoavanzosc

[2014-10-27 23:05] anajuaristi commented on #119
Esto ya está. Cierro

[2014-10-27 23:05] #119 closed, assigned to mikelarre

[2014-10-27 23:07] anajuaristi commented on #184
@pedrobaeza Al final qué hacemos con esto? Migramos manufacturers o brand y lo mejoramos?

[2014-10-27 23:10] anajuaristi commented on #190
Si. Hay que eliminar el configurador de las líneas de componentes del bom. Definitivamente no tienen sentido ahí.

[2014-10-27 23:18] anajuaristi opened #229 "Visualizar fecha límite en tree de reclamaciones"
En reclamaciones se visualiza la fecha de creación pero no la fecha límite.
Se solicta hacer visible la fecha límite y meter agrupación por fecha límite en listado de reclamaciones.

[2014-10-27 23:46] pedrobaeza commented on #229
Nota off-topic: En la v9 han metido el poder agrupar por cualquier campo, al igual que ya se hacía desde hace mucho con buscar por cualquier campo. ¡Por fin! No es fácil hacer un backport, pero dan ganas de ello. De esa forma, no haría falta estas solicitudes.

[2014-10-28 00:28] pedrobaeza commented on #228
Arreglado y pasado a nueva API ya de paso, simplificando mucho el código. Lo que no he comprobado es si funcionalmente tiene los colores bien. ¿El orden de fechas está claro? Es que en la pantalla de formulario la colocación no responde a ese orden. Tal vez el significado es otro.

[2014-10-28 00:28] #228 closed, assigned to nobody

[2014-10-28 07:03] Bilbonet commented on #218
Correcto :+1:
Tus comentarios me han aclarado cosas que desconocía.
Gracias a ti.

[2014-10-28 07:27] oihane commented on #225
Related to #103

[2014-10-28 07:35] oihane commented on #225
El módulo que dices de cambiar la vista no es el nuestro si no el de odoo

[2014-10-28 07:37] anajuaristi commented on #225
Si. La vista estandar. Estan desordenados y no se entiende
El 28/10/2014 08:35, "oihane" notifications@github.com escribió:

[2014-10-28 07:46] oihane commented on #225
PR #230

[2014-10-28 13:29] #225 closed, assigned to mikelarre

[2014-10-28 15:31] clonedagain opened #235 "product_last_price_info should change data only when PO are approved"
Currently product_last_price_info changes the last purchase price and supplier as soon as you confirm the purchase, but it the supplier could refuse it or impose different prices.
It would be best to change only when the state is "aproved".

[2014-10-28 18:15] pedrobaeza commented on #235
You are right.

@mikelarre, ¿puedes cambiar lo que dice Lionel? El flujo que tú has probado es sin pasar por aprobación, pero en muchos sitios se utiliza una aprobación intermedia. Para ello, tienes que marcar una opción en Configuración > Compras. Pruébalo y haces un PR con el cambio.

[2014-10-28 18:17] anajuaristi commented on #235
Depende de si hay o no ese estado en el pedido.
Si al confirmar va a pasar a validación es correcto lo que dice Lionel.
Pero si no es necesario que pase por ahí, tiene que llevarse el precio en
la propia confirmación.

El 28 de octubre de 2014, 19:15, Pedro M. Baeza notifications@github.com
escribió:

##

CEO Avanzosc, S.L http://www.avanzosc.es : Office phone / Tfono oficina:
(+34) 943 02 69 02
A

[2014-10-28 18:20] pedrobaeza commented on #235
Ana, pero si no hay aprobación, también pasa por el mismo método. Entonces se puede poner en un solo sitio y que valga para los dos.

[2014-10-28 22:34] anajuaristi commented on #228
OK. Pues en cuanto esté actualizado pruebo lo de los colores
Si. El orden de las fechas estaba cambiado. En la ficha de producto están bien, pero en el propio lote, estaban ordenados de forma rara. Ya levanté Issue solicitando que @oihane los coloque bien también en la vista de lote.

[2014-10-29 07:05] oihane commented on #228
Yo cambie la vista en el lote, y deberías de haber "modificado" esa versión. Aunque lo de la vista que a Ana no le gusta es de `product_expiry`

[2014-10-29 08:28] clonedagain opened #238 "product_last_price_info overlaps with OCA's last_sale_price"
OCA has just adopted a module that does the sale part of product_last_price_info:
   https://github.com/OCA/sale-workflow/tree/7.0/last_sale_price
It does the job with function fields, which I think is a bit better than intercepting workflow changes because it immediately fills in the last prices on databases that are already populated, and updates the prices if an order is canceled.

To be consis

[2014-10-29 10:30] oihane commented on #238
Thanks for the point @clonedagain. We will take a look, and let us know if you do the purchase part :wink:

[2014-10-29 13:29] pedrobaeza commented on #223
Respondido por chat.

[2014-10-29 13:29] #223 closed, assigned to pedrobaeza

[2014-10-29 13:42] oihane commented on #223
No esto no me dijiste nada definitivo. Si dependen de ese modulo hay que pasarlos a la rama de avanzosc, pero el caso es que parece que el operations integra el copy

[2014-10-29 13:43] pedrobaeza commented on #223
Te dije que los pasaras a la rama Avanzosc, eso es, y que uno es una extensión del otro.

[2014-10-29 13:46] oihane commented on #223
El copy copia eventos
el operations, tiene la opcion de copiar eventos

[2014-10-29 13:50] pedrobaeza commented on #223
Ya, pero los copiaba de forma distinta. No le demos muchas más vueltas y ya está. Son módulos accesorios.

[2014-10-29 14:09] anajuaristi opened #244 "Traceback al iniciar orden de fabricación"
Ainara...
Creo que es tu módulo de crear tareas desde fabricación (ejemplo en demo MO0062. Da un error Keycode,

[code]

[2014-10-29 15:28] anajuaristi opened #247 "Odoomrp mrp production project estimated cost NUEVAS LINEAS de coste"
En los requerimientos, no está específicamente puestos en la tarea, pero los siguientes costes también deberían ser tenidos en cuenta como estimados:
.- Preparación de máquina:
En la ficha workcenter el campo Horas de preparación (pasado a entero) sería la cantidad de la línea
Los campos coste estimado, medio y demás... serían los del producto asociado a la preparación

.- Post producción de máqui

[2014-10-29 15:34] anajuaristi opened #249 "reparaciones cuando es No facturar"
El otro día detectamos unas cosas rarísimas cuando la reparación es NO facturar.

La cuestión es que cambia la tarifa y me pone una de distribuidor. O_o
Posteriormente, cuando vas a seleccionar un producto da un error de tarifa y no se puede añadir línea.
No permite cambiar la tarifa porque es no editable.
Si se pone como "a facturar" tanto antes como después de la reparación va bien.

No he proba

[2014-10-29 15:40] alfredoavanzosc commented on #249
Ana, yo he hecho una prueba en mi ordenador local, y he creado una reparación que es NO facturar, y no he tenido ningún problema de los que has tenido tu. Un saludo.

[2014-10-29 19:59] anajuaristi commented on #249
Es muy curioso.
¿Tienes una tarifa aparte de la pública que esté en el listado de tarifas por delante de la tarifa pública?
Porque he borrado la tarifa distribución, a saco y la siguiente que tengo es una en dólares tarifa 20% y ahora coge esa.
Parece ser que si es no facturar, coge la primera tarifa de la lista de tarifas. Hasta que le pones el cliente. En ese caso, ya pone la tarifa correcta
Tam

[2014-10-30 09:47] oihane commented on #219
We need those fields just for filling them with some info, no calculation is required, that's why we created this module.

[2014-10-30 10:02] oihane commented on #226
Modulo mergeado cierro issue

[2014-10-30 10:02] #226 closed, assigned to Daniel-CA

[2014-10-30 10:05] oihane commented on #247
#245

[2014-10-30 10:51] clonedagain commented on #219
Le 30/10/2014 10:47, oihane a écrit :

[2014-10-30 10:53] pedrobaeza commented on #219
@oihane, maybe _sale_order_dates_ standard module adds several of these fields, and you can only need to add the dependency. Can you check it?

[2014-10-30 11:02] anajuaristi commented on #219
I don't think so.
Standar module is adding 3 data fields on sale order. All of them are
calculated depending on several parameters we don't really need.

I think is much easier, just install our module including 2 fields,
calculating nothing as demanded from our customers than trying to reuse and
inherit an standar module that we will need to touch anyway...
Customer could decide using standar or

[2014-10-30 12:05] agaldona commented on #244
Resuelto en #251.

[2014-10-30 15:05] pedrobaeza commented on #247
Tratar en otro PR distinto.

[2014-10-30 16:11] Daniel-CA opened #253 "Listado extendido de trazabilidad-2"
Añado reclamación pendiente:

Necesitamos una gestión completa de la trazabilidad, es decir:
- Para la trazabilidad hacia adelante, debemos conocer en que productos (acabados, intermedios, reprocesados, ...) ha intervenido una determinada materia prima y llegar hasta el detalle de los movimientos (documentos de venta, devoluciones, ...) de cada uno.
- Para la trazabilidad hacia atrás, debemos cono

[2014-10-31 08:40] Daniel-CA commented on #121
Una duda que tengo sobre estos dos requerimientos:

[code]

Estaba en la tarea de maestro de máquinas, pero hay que diferenciar con que debe ir el enlace de operarios por que el maestro de máquinas tal y como esta ahora tiene una relación many2one de Workcenter (mrp.workcenter) con máquina (mrp.machinery).
Por lo que los operarios deberían ir enlazados al workcenter, entonces lo más lógico sería a

[2014-10-31 08:47] anajuaristi commented on #121
Yo pondría enlace workcenter / Users many2many y efectivamente, un operario asociado a un workcenter podría realizar todas las operaciones que permita ese workcenter.
También es correcta la asociación con workcenter y no con machine si nos fijamos sólo en fabricación pero... ¿Y si no tienen fabricación instalado? Es decir... ¿Querriamos controlar que un determinado operador pueda manejar una máqui

[2014-10-31 09:05] anajuaristi commented on #121
@Daniel-CA  metemos 2 enlaces independientes
Uno en workorders, donde indica operadores asignados a la máquina
Uno en machines, donde indica operadores que están homologados para trabajar con la máquina.

Si en el enlace de machines, metemos fecha inicio y fecha fin, se indicaría periodo de homologación de ese operador con esa máquina.

En workcenters se podría incluir una automatización donde al

[2014-10-31 09:05] pedrobaeza commented on #121
Lo hablado por chat: cada módulo tiene su many2many a res.users independiente. Si instalas sólo machines o sólo fabricación, pues entonces puede poner los datos en su lado. Si instalas ambos, con un módulo auto_install, como entiendo que una machine está relacionada con un workcenter (y si no, se añade ese many2one), entonces se sincroniza la información en ambos.

[2014-10-31 10:11] Daniel-CA commented on #121
Entendido todo, lo único tal y como esta ahora el machine_manager es dependiente de mrp, ya que tengo que añadir la relación many2one con mrp.workcenter, si los queremos independientes tendría que añadir otro módulo especifico que la añada en caso de que los dos módulos se instalen (con el auto-install)

[2014-10-31 10:43] pedrobaeza commented on #121
Lo suyo, según quiere Ana, es que sea independiente un módulo del otro. La relación many2one habría que meterla precisamente en ese módulo puente.

[2014-10-31 10:54] Daniel-CA commented on #121
Vale, entonces tengo que mover la relación de user-workcenter a otro módulo, comentaba con @oihane  de moverla a mrp_operations_extension que ella estaba modificándolo actualmente.

[2014-10-31 10:54] oihane commented on #244
PR mergeado, cierro

[2014-10-31 10:55] oihane commented on #235
Change made, and PR merged, I close the issue

[2014-10-31 10:55] #235 closed, assigned to mikelarre

[2014-10-31 10:56] #195 closed, assigned to oihane

[2014-10-31 10:57] oihane commented on #204
Resuelto, cierro

[2014-10-31 10:57] #204 closed, assigned to oihane

[2014-10-31 11:10] pedrobaeza commented on #121
mrp_operations_extension tiene dependencia con el de máquinas? No debe ser así. Lo que buscamos es que puedas instalar mrp o machine_manager por separado.

[2014-10-31 11:13] Daniel-CA commented on #121
No, me refería a que la relación de operarios(users) con Workcenters ahora esta en el mrp_machine_manager, y deberá ir en otro módulo, me idea era meterla en mrp_operation_extension.

Por otra parte si el mrp_machine_manager ya no es dependiente de mrp, tiene lógica que lo lleve en el nombre del módulo así como los nombres de las clases?

[2014-10-31 11:15] pedrobaeza commented on #121
Lo del nombre, desde luego que sí: mrp_machine_manager debería ser machine_manager.

Lo de la relación de operarios, hay que meterlo donde tenga sentido utilizar esa relación, y para mí sería en mrp_project_link, que es donde asocia las OFs a proyectos, para meter esas horas, ¿no crees? Faltaría encajar el módulo de meter horas de Mikel: a ver de cuál depende y si necesita esa relación.

[2014-10-31 11:20] Daniel-CA commented on #121
Vale, añado la relación de operarios-workcenters en mrp_project_link, y hago un módulo intermedio que dependa para instalarse de mrp_project_link y machine_manager que relacionará los dos.
También cambio los nombres de módulo y clases del mrp_machine_manager para que no hagan referencia a mrp.

[2014-10-31 13:08] agaldona opened #256 "Bug: Se pierden enlaces entre workorders y productos a consumir"
Cuando creas una orden de fabricación, calculas los datos y lo confirmas. El sistema enlaza las workorders con los productos a consumir.
El tema es, que después de confirmar la orden de fabricación, el sistema permite actualizar la cantidad de productos a producir. Si se ejecuta esa acción, el enlace entre las workorders y los productos a consumir se pierde.
Para poder actualizar la cantidad de pr

[2014-11-02 09:31] anajuaristi commented on #244
Si está resuelto en el PR que dice @agaldona , falta actualizar entorno ya que al iniciar una op de fabricación me ha vuelto a dar. (He verificado que el T0036 no existe en el entorno demo)

[code]

[2014-11-02 09:51] anajuaristi opened #257 "Traceback estimated cost"
Pasos a seguir:
Definir un producto con abastecimiento contra pedido
Instalar Jit para la evaluación automática de abastecimientos
Indicar en el pedido una cuenta analítica
Confirmar --> La cuenta analítica no es arrastrada a la OF.

---

Hay varias cosas aquí: Si en el pedido de venta existen productos con abastecimiento a producir, contra pedido y el módulo de costes estimados de fabricación est

[2014-11-02 09:58] anajuaristi opened #258 "Traceback al iniciar una workorder con test asignado"
[code]

[2014-11-03 10:07] alfredoavanzosc commented on #247
Realizardo, el nuevo issue es el 259.

[2014-11-03 10:47] alfredoavanzosc commented on #257
He puesto el warning para que salte cuando no este definida una cuenta analítica en la OF. Esto esta comentado en un nuevo PR que solicitó Pedro que hiciera, el issue es https://github.com/odoomrp/odoomrp-wip/pull/259

[2014-11-03 11:18] alfredoavanzosc commented on #258
¿Me puedes decir por favor en que entorno, en que Bd, y en que OF?. Gracias.

[2014-11-03 15:11] agaldona commented on #244
@anajuaristi
Acabo de iniciar la MO00062 y no me ha dado ningún error. ¿Estás segura que lo probaste en el entorno demo? Me dice @oihane, que ella no ha actualizado nada, por lo que entiendo que ayer seguía estando la misma versión que hoy arriba.
Si te sigue dando el error, especificame cual es la MO, por favor.
Eskerrik asko.

[2014-11-03 15:19] anajuaristi commented on #244
inicio de OPERACION... o sea..WORKORDER, no la OF.

[2014-11-03 15:26] agaldona commented on #244
@anajuaristi
Acabo de iniciar una operación, y no me ha dado ningún problema tampoco. Dime cual es el que has intentado lanzar.

[2014-11-03 15:29] anajuaristi commented on #244
Claroooo...porque desinstalé project_link para hacer pruebas. Instálalo...

[2014-11-03 15:38] agaldona commented on #244
@anajuaristi  Ah vale, ya he visto. No está cogiendo la última versión, de hecho, incluso falta por cargar algunos campos que añadí en la última versión. Se lo he comentado a @oihane y me comenta que lo actualizará mañana a primera hora, ya que se ve que hay actividad en el servidor.

[2014-11-03 23:27] anajuaristi opened #263 "Traceback mrp_wizard_filter_task"
1. El combo de operaciones debería filtrar de base, las operaciones de la of que se han seleccionado en el primer combo.
2. Al pulsar confirmar da este traceback

[code]

---

En cualquier caso @pedrobaeza esto sería una especie de POC sobre una pantalla super-simple de imputación, sin tener que entrar a tareas, ni a ofs ni nada... es decir, la idea es lanzar esto desde  el menú y que al confirmar

[2014-11-04 09:35] Daniel-CA commented on #146
Merged módule product_pricelist_import #147. Cierro.

[2014-11-04 09:35] #146 closed, assigned to Daniel-CA

[2014-11-04 10:25] alfredoavanzosc commented on #263
Modificado el punto número 1, y arreglado el bug del punto número 2, subido el módulo, y mergeado.

[2014-11-04 14:13] oihane commented on #156
Cuando selecciona una variante (`product.product`) si esta tiene precio en la línea lo pone

y en el modo edición en el pedido de venta junto al TOTAL hay un enlace/botón `(actualizar)` que recalcula el valor de todas las líneas. También se ejecuta esto al guardar el pedido.

No entiendo a que te refieres

[2014-11-04 14:20] oihane commented on #244
@agaldona puedes probar a ver si te permite hacer lo que debe, ya he actualizado esta mañana el server :wink:

[2014-11-04 14:27] #256 closed, assigned to nobody

[2014-11-04 14:38] agaldona commented on #244
@oihane @anajuaristi
Comprobado, he hecho un par de pruebas, el módulo mrp_project_link está instaldo y no da errores al iniciar una orden de fabricación, ni al inicial una workorder.
De todas formas, cuando puedas le echas un vistazo Ana.

[2014-11-04 17:03] Daniel-CA commented on #31
Creados menus en Warehouse -> Traceability PR #270

[2014-11-04 22:48] anajuaristi commented on #31
Se ha incluido el menú y los campos incluidos son correctos pero no hay ningún campo de filtro ni agrupación sobre ellos por lo que cuando haya volumen será complicado intentar sacar algo de ahí.

Reabro con la solicitud para añadir filtro y agrupación sobre los 5 campos de la tabla

[2014-11-04 23:01] anajuaristi opened #271 "mrp_bom_version traceback"
Si instalo el módulo mrp_bom_version en bbdd demo en demo.odoomrp.com, al intentar abrir una LM en modo formulario, se obtiene el error adjunto. Si desinstalo el módulo, no da el error.

Uncaught Error: QWeb2 - template['ListView.rows']: Runtime Error: Error: QWeb2 - template['ListView.row']: Runtime Error: Error: Campo desconocido state en el dominio [["state","=","historical"]]
http://demo.odoom

[2014-11-04 23:45] anajuaristi opened #272 "mrp_variants"
He creado MO00063, que incluye plantilla con un componente sobre plantilla y un proceso productivo.

Le incluyo un componente, asociado a plantilla, sin producto (earphones) que tiene variantes y otro que no los tiene
Determino color "hereda de" = true en la plantilla earphones.

Al pulsar el botón "calcular datos" de la OF, la línea de componente del bom que lleva asociada solo la plantilla, no l

[2014-11-05 00:00] anajuaristi opened #273 "Onchange incorrecto en product_id en la OF mrp_product_variants"
Aparte del configurador encuentro estas cosas:

Onchange incorrecto en product_id en la OF
1. Asigno plantilla y el onchange se trae LM y proceso productivo. OK
2. Incluyo valores en tabla y encuentra un producto... parece ser que hay un onchange en product_id, que busca una LM asociada al producto específico y al ejecutarlo "limpia" el valor asignado en LM y proceso. --> BUG
Modificar onchange en

[2014-11-05 08:12] alfredoavanzosc commented on #271
He instalado el módulo en "demo.odoomrp.com", en la Bd demo, y para listas de materiales nuevas funciona perfectamente, te esta cascando porque este módulo mete un nuevo campo "state" en la listas de materiales, y lo que hace cascar son las listas de materiales viejas que tienen este campo vacio. Yo no puedo entrar a la Bd para dar valor a este campo.

[2014-11-05 08:12] anajuaristi commented on #253
Pero que picking?en ese objeto no hay picking ninguno. Hay 5 campos y no has incluido ningun campo de busqueda ni agrupacion

[2014-11-05 08:13] pedrobaeza commented on #271
Alfredo, para evitar estos casos en el futuro, puedes dar un valor por defecto a campos que requieran estar rellenos. Así, al instalarse en BDs con datos (que es lo habitual), no fallarán.

[2014-11-05 08:14] anajuaristi commented on #271
Igualmente sigue siendo un bug.
El modulo al ser instalado deberia inicializa a un valor las listas
existentes.

[2014-11-05 08:17] alfredoavanzosc commented on #271
En la definición del nuevo campo ya le tengo puesto el default, el campo esta definido de la siguiente manera:
    state = fields.Selection([('draft', 'Draft'),
                              ('active', 'Active'),
                              ('historical', 'Historical'),
                              ], string='Status', index=True, readonly=True,
                             default='draft', copy

[2014-11-05 08:18] pedrobaeza commented on #271
Sí, eso es correcto entonces, pero el traceback se debe deber a otra cosa entonces. De hecho, dice campo desconocido en domain. Ana, ¿puede ser que no estuviera actualizado el módulo?

[2014-11-05 08:19] alfredoavanzosc commented on #271
no. He instadlo el módulo, he ido al objeto "mrp.bom", y se ve perfectamente el campo "state".

[2014-11-05 08:20] Daniel-CA commented on #253
Correcto, en el nuevo objeto no hay ninguna columna picking, por lo que entiendo que los filtros los querías en los movimientos (stock.move), pero me he fijado que los movimientos de producción no tienen ningún picking asignado por lo que el segundo parrafo del requerimiento no me queda claro:

"Permitir agrupar y filtrar el listado por tipo de picking, origen, fechas y otros campos tal cual se de

[2014-11-05 08:32] anajuaristi commented on #253
No te lies. Todavia no hemos empezado con el listado en si.
De base... Al Meter un menu sobre un objeto hay que poner busquedas y
agrupaciones
El 05/11/2014 09:20, "Daniel" notifications@github.com escribió:

[2014-11-05 08:33] Daniel-CA commented on #253
:+1:  Añado los filtros en el nuevo objeto.

[2014-11-05 08:39] oihane commented on #272
![fireshot capture - productos - odoo_ - http___demo odoomrp com_web](https://cloud.githubusercontent.com/assets/2323616/4914759/04fe5b44-64c7-11e4-95c9-3940606edc7a.png)
¿Tiene algún sentido que se defina dos veces el ancho? Porque acabo de ver que el fallo al cargar los atributos (cuando dice que espera un singleton) se debe a esa configuración.

[2014-11-05 08:40] pedrobaeza commented on #272
Yo no le veo ningún sentido, y es más, debería prohibirse como constraint.

[2014-11-05 09:15] alfredoavanzosc commented on #271
Se ha corregido el bug, nuevo PR en https://github.com/odoomrp/odoomrp-wip/pull/275

[2014-11-05 09:27] oihane commented on #272
## En el caso del MO00063.

En la lista de materiales de "ACABADO 1" se definen:
- caja envasado (sin product)
- skndsdislisd - skndsdislisd
- Pintura final - Pintura final
- Apple In-Ear Headphones (sin product)

[code]

La parte de buscar por **template** si no hay **product_id** es mía, el resto es copia del de _mrp_.

La cosa es que **Apple In-Ear Headphones** tiene un BoM de tipo _"phantom"_

[2014-11-05 09:54] Daniel-CA commented on #31
Cierro esta issue y seguimos en #253

[2014-11-05 09:54] #31 closed, assigned to Daniel-CA

[2014-11-05 09:56] Daniel-CA opened #277 "Smartbutton Pedidos Venta/Compra ultimos precios"
Crear boton en pedido de compra y oferta de venta que muestre los ultimos precios de los articulos incluidos

En pedidos de venta añadir un smartbutton que al ser pulsado muestre líneas del resto de pedido de venta filtrando que se muestren únicamente los productos que se han incluido en el pedido de venta. En pedidos de compra añadir un smartbutton que al ser pulsado muestre líneas de pedido de c

[2014-11-05 11:32] oihane commented on #219
_sale_delivery_date_ creates three fields on sale.order, only one of them is of datetime type, others are functions. Maybe we can use this, but not sure if it will cause any problem in our other module.

[2014-11-05 12:36] Daniel-CA commented on #277
No sería conveniente añadir algún tipo de limitación de los productos a mostrar? Por ejemplo de las compras/ventas de solo el último mes o dos meses, por que al final en cuanto se tenga cierto volumen de datos las lineas que se muestren serán bastantes y la mayoría inútiles.
Que os parece, @anajuaristi  @pedrobaeza?

[2014-11-05 16:41] pedrobaeza commented on #277
Eso ya lo hace solo el sistema: te muestra los 80 primeros. Tú lo que te tienes que preocupar es que el dominio sea correcto. Si hay más, que pagine.

[2014-11-05 16:44] Daniel-CA commented on #277
Ya bueno, yo lo decía para no recargar a lo tonto el postgres, al final no es lo mismo recorrer los últimos pedidos de compra/venta que todos los pedidos de compra/venta.

[2014-11-05 16:56] pedrobaeza commented on #277
No lo recargas. El posgres ya es consultado con el LIMIT correspondiente. Lo que tienes que preocuparte es que el order sea el adecuado para lo que quieres mostrar (por fecha como dices o lo que sea).

[2014-11-05 18:13] anajuaristi commented on #272
Joe.. vaya lío tienen montado. Eso no es así, es mucho más simple.

Debería ser algo como:

[code]

Y ya esta... no hay tanto lío de true/falses ni nada...

[2014-11-05 18:20] anajuaristi commented on #156
En una plantilla hay un precio base y se permite un incremento/decremento de precio por variante.
En la plantilla, hay un acceso al lado del árbol de productos específicos, a una tabla donde se pueden marcar esos incrementos decrementos.
Al crear productos específicos, el sistema tiene en cuenta estos incrementos/decrementos cuando se lleva el producto a la línea de venta, pero el configurador cua

[2014-11-06 23:58] anajuaristi opened #286 "Bug en assets"
Parece ser que hay un bug en assets, en el base de Odoo. No sé si sería lo suyo reportarlo en la rama de Odoo.
Cuando se realiza una factura, con una línea asociada a categoría de asset, pero con cantidad >1, el sistema genera un único asset, poniendo en el campo valor bruto, el subtotal de la línea.
Debería generar un asset diferente por cada unidad, incluyendo en valor bruto, el precio unitario

[2014-11-07 01:02] pedrobaeza commented on #286
Como dices, podría ser algo específico de la localización española. Tendré que investigar luego.

[2014-11-07 08:03] Daniel-CA commented on #253
Módulo añadido a la rama, cierro el issue.

[2014-11-07 08:03] #253 closed, assigned to Daniel-CA

[2014-11-07 13:30] anajuaristi opened #287 "quality_control_between_dates traceback"
Si tengo este módulo instalado e intento crear un test desde plantilla, da este error. Si lo desinstalo no da.
Impacta en la creación de test desde fabricación también. Las operaciones que implican la creación de un test, no se pueden iniciar por el mismo traceback.

[code]

[2014-11-09 21:19] anajuaristi opened #289 "Traceback procurement_plan"
Cargando en demo líneas de abastecimiento entre finales de agosto y hoy, se importan varias líneas en estado confirmado.
Al ir a ejecutar aparece el traceback

[code]

[2014-11-09 21:22] anajuaristi commented on #289
Por otro lado, según la definición de la tarea, falta incluir One2 many a órdenes de fabricación, ya que los abastecimientos pueden crear tanto pedidos de compra como ofs.

[2014-11-09 21:41] anajuaristi opened #290 "mpr_bom_version no se pueden duplicar listas"
Hay 2 errores funcionales en el módulo
Por una parte, se ha duplicado el campo revisión, que ya existe uno "secuencia" que podía haberse utilizado para versionar las listas y se ha añadido un nuevo campo "revisión", que no haría falta.

independientemente de eso, se produce una problemática de que si intentamos duplicar una lista, por defecto le da número de revisión = 0 y si esta revisión existe

[2014-11-10 08:22] Daniel-CA commented on #277
Validado el módulo, cierro issue.

[2014-11-10 08:22] #277 closed, assigned to Daniel-CA

[2014-11-10 09:23] alfredoavanzosc commented on #290
Se ha quitado el campo "review", y se utiliza ahora el campo "sequence". Se ha hecho que al duplicar una lista de materiales, se le asigne automáticamente el número de secuencia que le corresponda, a la nueva lista de materiales resultante. Se ha hecho un nuevo PR, en: https://github.com/odoomrp/odoomrp-wip/pull/291

[2014-11-10 10:16] anajuaristi opened #292 "traceback al finalizar operación de fabricación mrp_production_real_costs"
[code]

[2014-11-10 11:13] alfredoavanzosc commented on #289
El fallo era por 2 módulo de Ainara, pero si que había un bug en este módulo a la hora de crear el pedido de compra.

Ahora viendo que funciona este módulo, hay que hacer otro nuevo, que dependa de este, para que les ponga el plan, a las OF que se generen.

[2014-11-10 11:14] alfredoavanzosc commented on #289
Se me olvidaba comentar que el nuevo PR para el arreglo del bug a la hora de crear el pedido de compra es el https://github.com/odoomrp/odoomrp-wip/pull/294

[2014-11-10 11:37] agaldona commented on #244
Creo que ahora si se puede cerrar, cualquier problema lo volvéis a abrir.

[2014-11-10 12:02] anajuaristi opened #295 "Traceback al confirmar OF"
[code]

[2014-11-10 12:11] agaldona commented on #295
Si que había un error en mis módulos, porque no le pasaba el parámetro autocommit en la función run de abastecimientos, de todas formas, ya he subido la corrección y me lo han mergeado. Habría que ver si sigue dando el error después de actualizar la instancia.

[2014-11-10 12:19] pedrobaeza commented on #295
Este traceback no tiene que ver con el merge que hemos hecho. Mira lo que te pone: can't adapt type 'mrp.routing.workcenter'. Esto normalmente se debe a que en el diccionario de un valor que se escribe se le pasa una instancia de un recordset, no el id. Revisa eso.

[2014-11-10 13:17] anajuaristi opened #296 "CLM0084 Mejora de referencia interna (product_variant_default_code)"
Varias cosillas en este módulo:

Lo que se pide es crear automáticamente la referencia de los productos que se crean desde una plantilla, concatenando en su código de referencia, el código de la plantilla y los valores de las variantes.
1. En las plantillasno se ve por defecto el campo default_code, sigue limitado a no tener atributos para verse.
2. Aunque lo hago visible por pantalla y asigno un

[2014-11-11 01:15] anajuaristi opened #297 "Traceback en mrp_dump_production_create_wizard"
Al pulsar el botón para crear las órdenes de envasado en MO000039

[code]

[2014-11-11 08:11] #244 closed, assigned to agaldona

[2014-11-11 11:09] oihane commented on #290
Merged

[2014-11-11 11:09] #290 closed, assigned to alfredoavanzosc

[2014-11-11 11:10] oihane commented on #289
Merged

[2014-11-11 11:10] #289 closed, assigned to alfredoavanzosc

[2014-11-11 11:10] oihane commented on #271
Merged

[2014-11-11 11:10] #271 closed, assigned to alfredoavanzosc

[2014-11-12 09:07] #292 closed, assigned to agaldona

[2014-11-12 09:07] #295 closed, assigned to agaldona

[2014-11-12 10:38] alfredoavanzosc commented on #287
Se ha corregido el error y se ha hecho un nuevo PR, https://github.com/odoomrp/odoomrp-wip/pull/308

[2014-11-12 13:59] alfredoavanzosc commented on #287
Ana... Pedro ya me ha hecho el MERGE de este módulo, ahora habrá que actualizarlo en el entorno correspondiente. Un saludo.

[2014-11-12 16:11] alfredoavanzosc commented on #296
Después de hablar con Ana, he modificado el módulo y he hecho un nuevo PR, está en el issue https://github.com/odoomrp/odoomrp-wip/pull/312

[2014-11-12 16:44] anajuaristi opened #313 "estimated cost, crea líneas analíticas sin enlace a of y workorder"
Verificando las líneas analíticas que crea el estimated_cost, he visto que las líneas que se crean, no llevan el id de la of, ni de la ot inicializados, por lo tanto, al intentar agrupar por estos campos no se puede porque están indefinidos en todas las líneas.

[2014-11-12 16:47] anajuaristi opened #314 "Nombre de diarios estimated cost"
A fin de facilitar luego la comparación de los costes estimados y reales, creo que los diarios analíticos que crea el estimated cost, no deberían llevar el nombre Estimated, sino solo Materiales, Maquinas y Operarios...
De esta forma, independientemente si el coste es estimado o real, se podrá seleccionar el mismo diario y en la agrupación se ve perfectamente el sumatorio y la comparativa.
Si le d

[2014-11-12 20:57] anajuaristi opened #317 "CLM0042: Filtrar por Día y Semana los Pedidos de Venta Mejora extensión sale_delivery_date"
En Ventas
Pedidos de Ventas
Crear un filtro (Agrupación) para que muestre los pedidos en función de la Fecha de Salida por Día y por Semana (Debe aparecer la Fecha de Entrega).

---

Enfoque técnico:
Añadir en pedidos de venta agrupación por semana y día basado en "fecha salida"
Añadir al tree de pedidos, los campos fecha salida y fecha estimada de entrega
Modificar directamente el módulo sale_del

[2014-11-12 22:24] anajuaristi opened #318 "Asignación de cuenta analítica del pedido a la OF (Enlaces1)"
Probando abastecimientos contra pedido --> No se puede generar OF, porque la cuenta analítica en la OF es requerida, pero no se arrastra desde el pedido según parece.

Por lo tanto, al intentar guardar la OF, le falta la cuenta y hace rollback de todo.

Posibles soluciones:
1. Dejar como está, arrastrar cuenta a la OF desde el pedido resolviendo el bug
2. Quitar la cuenta obligatoria en la OF pero

[2014-11-12 23:33] anajuaristi opened #319 "mrp_procurements_plan No consigo hacerlo funcionar"
La verdad no entiendo el funcionamiento de este módulo.
He probado de todas formas, con jit, sin jit, definiendo abastecmiento contra pedido, contra stock, con regla mínima, sin ella...
No hay forma que genere ni compras, ni ofs.

Aparte de que cuando lo lanzas una única vez ya se queda muerto. No deja hacer nada más, aunque salga un error y no acabe de ejecutarse, ya no hace nada. El plan se qued

[2014-11-12 23:45] anajuaristi commented on #319
Y acabo de ver lo de la cancelación de los moves en salida, que sigue ahí.
Se supone que el merge con esto arreglado es de hace días, por lo que debería estar ejecutando la última versión, pero no sé. Quizás basta con una nueva actualización del entorno por si acaso no estoy viendo los últimos merges.
De momento desinstalo el módulo hasta que le deis una vuelta.

[2014-11-13 07:47] pedrobaeza commented on #318
La 1 cuando se instala el módulo de costes, porque si no quieres cuenta analítica, no la pones en el pedido.

[2014-11-13 07:50] agaldona commented on #318
En principio, la cuenta se arrastra, ¿me podéis decir cual es el ejemplo que habéis utilizado? También veo necesario quitar la obligatoriedad del campo cuenta analítica en OF, ya que si no se especifica en pedidos, no se cargara en OF.

[2014-11-13 09:01] oihane commented on #297
Cierro ya que el PR se ha mergeado

[2014-11-13 09:01] #297 closed, assigned to mikelarre

[2014-11-13 09:54] alfredoavanzosc commented on #319
Ana... sobre esto que me estas comentado, no se que decirte, los MERGE están hechos, pero no creo que tienes actualizado el sistema, ya que el tema de la cancelación de los stock.move no está, y yo haciendo pruebas en mi local no tengo los problemas que tienes tú.
La prueba que yo ha realizado ha sido la siguiente:
1.- He creado un pedido de venta con un producto a producir
2.- He creado un plan,

[2014-11-13 10:40] anajuaristi opened #323 "procurements_plan"
Puntos de mejora
1. Borrar registros antes de ejecutar wizard importar
2. Tree editable para desenlazar procurement con plan

[2014-11-13 12:44] alfredoavanzosc commented on #323
Realizado, el PR esta en https://github.com/odoomrp/odoomrp-wip/pull/325

[2014-11-13 14:14] oihane opened #326 "[TRAVIS] ERROR no bloqueante"
Al ejecutar cualquiera de los travis, se ve que aparece en el server:

[code]

Resulta que los de **Odoo** lo han puesto como `installable: False` :smile:

[2014-11-13 14:22] pedrobaeza commented on #326
Y por qué depende de ese módulo? Mira a ver si se puede quitar la dependencia.

[2014-11-13 14:31] oihane commented on #326
Es un modulo hecho por @mikelarre y @agaldona que no se que hace ni para que sirve.

Se lo asigno a @agaldona por ser la última que lo ha modificado, y entiendo que sabrá de que va...

Please, begiratu Ainara

[2014-11-13 14:51] agaldona commented on #326
@oihane @mikelarre @pedrobaeza @anajuaristi
Espero que me explique bien, ya que he estado buscando, pero no encuentro las especificaciones.
Había un requerimiento, donde decían que en un cliente podías especificar un tipo de facturación, donde se decía, si se facturaba, factura en factura o en grupos. Luego ese dato se cargaba en pedidos de venta y así se trasladaba hasta los albaranes para que lu

[2014-11-13 15:09] pedrobaeza commented on #326
Ya recuerdo, pues habrá que esperar a ver qué hace Odoo con ese módulo y si lo rescatamos nosotros o qué. Por el momento, @oihane, ponlo en exclude en el Travis con commit para que no fastidie el resto de PRs.

[2014-11-13 15:15] oihane commented on #326
La verdad es que solo dice "unmet" y sigue adelante, pero lo pongo :wink:

[2014-11-13 15:26] alfredoavanzosc commented on #314
Se ha modificado el nombre de los diarios, el PR  es el https://github.com/odoomrp/odoomrp-wip/pull/327

[2014-11-13 15:27] pedrobaeza commented on #326
Ah, vale, si no da rojo Travis, entonces déjalo.

[2014-11-13 15:53] oihane commented on #326
:worried: ya lo he cambiado

[2014-11-14 10:10] oihane commented on #257
Como el PR está aceptado cierro

[2014-11-14 10:10] #257 closed, assigned to alfredoavanzosc

[2014-11-14 10:52] alfredoavanzosc commented on #313
Modificado el módulo, y subido en PR https://github.com/odoomrp/odoomrp-wip/pull/328

[2014-11-16 14:53] pedrobaeza commented on #238
See #321 for the work adapting standard module.

[2014-11-16 14:56] pedrobaeza commented on #184
Como te dije por el chat, dime los requisitos de cliente y te digo cuál es la mejor opción.

[2014-11-16 15:06] pedrobaeza commented on #210
Lo he comprobado y no me aparece el error. He corregido, eso sí, un pequeño error, pero que no impacta en esto. Lo cierro, y si vuelve a salir, intenta poner aquí la traza de pasos seguidos para dar con el error.

[2014-11-16 15:06] #210 closed, assigned to mikelarre

[2014-11-16 17:12] oihane commented on #238
@pedrobaeza You are wrong the related issue fixed in #321 is #219

[2014-11-16 17:15] pedrobaeza commented on #238
Sorry, I mispell the titles

[2014-11-17 08:59] alfredoavanzosc commented on #296
Pedro ya me ha hecho el merge, así que habría que actualizar el módulo en el entorno correspondiente.

[2014-11-17 09:34] oihane commented on #156
Creo que esto ya lo tienes para probar @anajuaristi

[2014-11-17 10:39] oihane commented on #229
La agrupación por fecha límite ya existe

[2014-11-17 10:58] anajuaristi opened #333 "Traceback en facturación albaranes de compra"
[code]

[2014-11-17 11:34] #229 closed, assigned to nobody

[2014-11-17 11:37] anajuaristi opened #334 "Expected singleton al hacer split en transfer de entrada"
Albarán de entrada con X cantidades
Botón transfer
Split la línea en 2
Asignar un lote a cada línea
procesas el albarán y da este error

[code]

[2014-11-17 12:30] anajuaristi opened #335 "landed cost: solicitan visualizar producto y cantidad en tree purchase.cost.distribution.line"
Lo dicho en el título
Mostrar producto y cantidad en el tree de ese objeto (están en el form)

[2014-11-17 12:38] pedrobaeza commented on #335
Justo los dos campos que dan problemas con los datos calculados... Por eso están quitados.

Intentaré ver cómo resolverlos.

[2014-11-17 22:49] anajuaristi opened #338 "variant_default_code varios traceback"
En ambos casos, al meter nuevo valor en un atributo de una plantilla y pulsar guardar el producto -->
1. Si el campo default_code de la plantilla está vacío da este traceback:

[code]

2, Y si meto un valor en default_code de la plantilla da este otro:

[code]

[2014-11-17 23:51] anajuaristi opened #339 "Precio atributos no se puede modificar"
En la vista de precios de variante, falta hacer el tree editable, de otra forma no se pueden modficar los precios ya que no existe vista form para este objeto.
product_variants_no_automatic_creation.attribute_price_tree_view

lo he dejado así:

[code]

[2014-11-18 00:40] pedrobaeza commented on #338
Ya está actualizado el código. Habría que hacer una actualización del módulo en cada BD que lo tenga para que surta efecto.

@alfredoavanzosc, otro tirón de orejas. Intenta empaparte de la forma de programación más óptima mirando lo que he hecho: https://github.com/odoomrp/odoomrp-wip/commit/6b97e17d52fcdefcba02b15ab9e6f40d9968dcfa
- Si está poniendo un campo en una tabla, no hace falta repetir el

[2014-11-18 00:40] #338 closed, assigned to nobody

[2014-11-18 08:17] agaldona commented on #334
@anajuaristi No se si has desisntalado algún módulo o he hecho yo algo mal. Pero en la base de datos demo, el albarán  WH/OUT/00005 me lo ha procesado bien. He hecho split, y le he asignado un lote distinto a cada línea.

[2014-11-18 08:57] oihane commented on #326
`sale_journal` otra vez instalable :wink:

[2014-11-18 14:57] alfredoavanzosc commented on #323
Ana, Pedro ya me ha hecho el merge, por lo que puedes descargar y actualizar el módulo en el entorno que corresponda.

[2014-11-18 14:59] alfredoavanzosc commented on #313
Ana... ya esta hecho el merge, puedes descargar e instalar el módulo en el entorno que corresponda.

[2014-11-18 15:37] #339 closed, assigned to oihane

[2014-11-18 15:38] #326 closed, assigned to agaldona

[2014-11-18 16:57] Daniel-CA opened #344 "Enlace a Product Variants"
Igual que en el módulo de ventas hay un MENU a 'productos' y otro a 'product variant', se debería añadir ambos menús en los módulos de compras y de almacén.
Además, habría que cambiarle las etiquetas ya que producen confusión, creo que lo más lógico sería que producto se etiquetara 'template' y que product variant, se etiquetara como 'productos'. He revisado los módulos de compras y almacén y en e

[2014-11-18 16:59] pedrobaeza commented on #344
En almacén es absurdo tenerlo. Ya se tiene productos. Alguien con perfil de almacén no va a manejar esa variantes.

Igualmente en compras.

[2014-11-18 16:59] #344 closed, assigned to nobody

[2014-11-18 17:11] Daniel-CA opened #345 "Vista de "productos a enviar""
En compras existe una entrada "productos a recibir" que filtra líneas de movimiento (con menos campos que la vista de movimientos normal) que no existe en ventas. Se solicita que se monte una entrada de menú similar en Ventas que muestre los movimientos en albaranes de salida, que aún no se han realizado, con un número de campos reducido como en el listado de productos a recibir de compras.
@anaju

[2014-11-18 17:14] pedrobaeza commented on #345
Tampoco tiene sentido en el mismo momento en que tu política de envío sea Pick + Pack, o la de tres movimientos. ¿Qué consideras para enviar? Por eso se ha eliminado, por una buena razón y debe seguir así.

No hay que tratar de replicar la funcionalidad de la v6.1/v7, porque con el nuevo WMS hay cosas que cambian.

:-1:

[2014-11-18 19:21] anajuaristi commented on #345
Pedro... Eso que dices no tiene sentido. Pick y pack son albaranes internos y exactamemte igual puedes tener una recepcion en 3 pasos. Pero el albaran de salida como tal o el de entrada son solo uno haya los pasos que haya.
No es replicar funcionalidad de 6.1. Es que hay cosas incoherentes. Si pones una funcionalidad necesaria en compras porque no en ventas?

[2014-11-18 19:23] pedrobaeza commented on #345
Es que para eso ya tienes el panel de almacén. En ventas no pinta nada. En compras tiene sentido porque se puede facturar desde ahí.

[2014-11-19 11:06] pedrobaeza commented on #335
Ya los he añadido utilizando campos calculados en lugar de related, que eran los que daban problemas.

[2014-11-19 11:06] #335 closed, assigned to pedrobaeza

[2014-11-19 18:18] anajuaristi commented on #334
Creo que fue un error puntual de alguna revisión. En BBDD nueva no he conseguido reproducirlo. De momento cierro issue

[2014-11-19 18:18] #334 closed, assigned to nobody

[2014-11-19 21:26] anajuaristi opened #350 "Cuenta analítica y proyecto"
Hay varios puntos del sistema que está mostrando los campos cuenta analítica y proyecto.
En la mayoría de ellos se ha marcado obligatoria la cuenta analíca por lo que el primer impulso es crear la cuenta y luego rellenar proyecto, incluso está antes el campo cuenta que el de proyecto por lo que se llama al error ya que esto puede causar inconsistencias de integridad

Propongo no mostrar nunca la c

[2014-11-19 21:41] anajuaristi commented on #313
Solucionado error :+1:  cierro issue

[2014-11-19 21:41] #313 closed, assigned to alfredoavanzosc

[2014-11-19 21:42] anajuaristi commented on #36
Cierro esto que ya está hecho hace bastante :+1:

[2014-11-19 21:42] #36 closed, assigned to alfredoavanzosc

[2014-11-19 21:45] anajuaristi commented on #114
@oihane @pedrobaeza
Esto se puede cerrar ya creo... releyendo por encima está todo. ¿Me verificais si es así?
:+1:

[2014-11-19 21:46] anajuaristi commented on #121
@Daniel-CA @pedrobaeza Cierro esto que ya está
:+1:

[2014-11-19 21:46] #121 closed, assigned to Daniel-CA

[2014-11-19 21:49] anajuaristi commented on #154
Esto ya está también...
El warning está causando problemas, ya que si por algún motivo la LM o la ruta no están bien configuradas para el producto, el scheduler al intentar confirmar la orden, no puede y falla.
Esto se arreglará cuando se termine el tema de interceptar la confirmación de la OF de forma automática por lo que por mi parte :+1: y cierro issue

[2014-11-19 21:49] #154 closed, assigned to nobody

[2014-11-19 22:03] anajuaristi commented on #156
Probado que:
1. Actualiza el precio variante directamente al asignar variantes en la línea
2. Cambiando tarifa en pedido, recalculate también calcula correcto en las líneas.
Por mi parte :+1: cierro issue

[2014-11-19 22:03] #156 closed, assigned to oihane

[2014-11-19 22:04] anajuaristi commented on #219
Revisado :+1: Cierro issue

[2014-11-19 22:04] #219 closed, assigned to nobody

[2014-11-19 22:29] anajuaristi commented on #247
Realiza correctamente imputaciones pre y post producción en cada operación
Aunque no he probado con calculadora, a simple vista también veo que asigna correcto los precios y las cantidades en pre y post estimados, por lo que por mi parte
Probado  :+1:
Cierro issue

[2014-11-19 22:29] #247 closed, assigned to alfredoavanzosc

[2014-11-19 22:32] anajuaristi commented on #249
@pedrobaeza ¿Qué hacemos? Cerramos esto dejándolo como está? Porque los problemas como digo en mi comentario anterior, se pueden sortear por configuración de la reparación.
Ya dirás

[2014-11-19 22:37] anajuaristi commented on #258
En la bbdd nueva no he podido reproducirlo por lo que cierro issue.
Si vuelve a salir, vuelvo a reabrir.
:+1: cierro

[2014-11-19 22:37] #258 closed, assigned to alfredoavanzosc

[2014-11-19 23:31] anajuaristi commented on #272
Veo que se han arreglado la mayoría de las cosas.

Hay algunos matices que paso a detallar:

A. ONCHANGE product_id en OF

.- Creo una nueva OF con un template que tiene una LM asociada, normal
.- Salta el configurador de producto final pero al asignar "variant" porque el producto específico ya existe, ejecuta un onchange y se "pierde" la lista de materiales. Queda el campo vacío.
Aquí el onchange

[2014-11-19 23:38] anajuaristi commented on #273
creo que he duplicado esto en un comentario aquí
 https://github.com/odoomrp/odoomrp-wip/issues/272
porque me ha vuelto a pasar

[2014-11-19 23:38] anajuaristi commented on #314
Verificado cambio :+1: Cierro

[2014-11-19 23:38] #314 closed, assigned to alfredoavanzosc

[2014-11-19 23:49] anajuaristi commented on #287
Probado con varias casuisticas de fechas en la plantilla, trae bien las líneas
:+1: Cierro issue

[2014-11-19 23:49] #287 closed, assigned to alfredoavanzosc

[2014-11-20 00:01] anajuaristi commented on #296
Probado el módulo funciona correctamente.
Una pequeña cosa... es que si el valor de variante tiene el campo código nulo, evidentemente la concatenación coge el campo vacio

En el ejemplo, he dejado a posta el código vacío en el color negro y he asignado BL en el blanco

[code]

Creo que si está vacío, podríamos coger las 2 primeras letras del nombre de variante, por ejemplo, así será raro que coin

[2014-11-20 07:24] oihane commented on #272
Has probado el punto **C** sin el modulo `mrp_product_variants`??
Ya que eso es parte del modulo `mrp_operations_extension`

[2014-11-20 07:36] #114 closed, assigned to anajuaristi

[2014-11-20 07:56] pedrobaeza commented on #296
Es que esa posibilidad no debería darse por dos mecanismos que pusimos: el campo required y que coja automáticamente para ese campo las dos primeras letras. No sé por qué no está funcionando. ¿Puedes revisarlo, @alfredoavanzosc?

[2014-11-20 08:32] alfredoavanzosc commented on #296
Hola, buenos días a los dos. Yo creo que es esto lo que está pasando. Para empezar el campo "attribute_code", NO es un campo requerido, lo que si hay es un onchange que se ejecuta cuando se cambia el nombre del valor del atributo, y automáticamente se cogen las 2 primeras posiciones de este nombre/descripción, y se las pasa al nuevo campo que le pusimos "attribute_code".
Todo esto me hace pensar q

[2014-11-20 08:36] anajuaristi commented on #296
Si. Estamos en una bbdd con datos de prueba.
No veo sencillo poner un default porque no interesa tener el mismo valor en
todos los atributos
el default como tal serian las 2 primeras letras y si esto ya esta en el
onchage y se informa al crear nuevos atributos por mi parte ok. Cerraria
issue
El 20/11/2014 09:32, "alfredoavanzosc" notifications@github.com escribió:

[2014-11-20 21:31] anajuaristi commented on #339
Cierro... :+1:

[2014-11-21 09:03] pedrobaeza commented on #350
Si algo está ahí en el estándar, hay que dejarlo, se llame cuenta o se llame proyecto. Se explica que son equivalentes y ya está, o a las malas se cambia esa traducción para el que no lo quiera así. Si un campo que añadamos nosotros es redundante, entonces sí que no hay que añadirlo.

[2014-11-21 09:09] anajuaristi commented on #350
Si, dejarlo sí, pero podemos ponerlo no editable y hacer que cuando
seleccionen el proyecto, se informe automáticamente la cuenta del objecto,
con la del proyecto asignado para evitar inconsistencias. A esto me refería.
Hay puntos que es mejor meter proyecto, ya que si creamos cuenta analítica
y después proyecto, la cuenta del proyecto vuelve a crearse y la
inconsistencia viene sola.

El 21 de nov

[2014-11-21 09:20] pedrobaeza commented on #350
Ah, vale, si lo que apunta es a project.project, entonces sí.

[2014-11-21 12:10] anajuaristi opened #360 "mrp_dump_production_create_wizard varios temas a tener en cuenta y modificar"
Acordado con Pedro vamos a hacer a este módulo las siguientes mejoras de usabilidad y cambios de enfoque:
1. En atributos de producto, añadiremos otro nuevo "tipo de atributo" que se denomine "envasado"
   A ese tipo de atributo, se le podrá asociar un "producto" en este caso, sería asociarle el producto que sea el envase vacío.
2. En la solapa de Download de la OF
   Meteremos un botón, que relle

[2014-11-21 12:22] pedrobaeza commented on #360
Bueno, pásalo, aunque ya sabes mis pegas.

[2014-11-21 13:18] mikelarre commented on #360
Una pregunta para calcular el fill no es mejor que rellenen la cantidad en el bom del producto final que en el campo numerico del atributo?

[2014-11-21 13:20] pedrobaeza commented on #360
Esa cantidad sería la capacidad del envase, por lo que no es lo mismo que la cantidad de envases que van a hacer.

[2014-11-21 13:28] anajuaristi commented on #360
No no... precisamente... el granel lo pones en el BOM del template. Ahí no
sabes qué cantidad necesita cada envasado.
Si lo tuviésemos que hacer como dices (que es como lo tienen el 100% de los
ERPs actuales) estarías obligado a definiri una LM especifica por cada tipo
de envasado en cada producto final envasado
Y es lo que tratamos de evitar porque ese dato NO es necesario hasta lanzar
la OF y se

[2014-11-21 13:32] anajuaristi commented on #360
Exactamente...
Y en la OF de granel indicas cantidad de envases a hacer y como el producto
final ya lleva qué cantidad necesita, el cálculo está hecho ya directamente

Ejemplo
Productos finales: Champu A 330, Champu A 500, Champu A 750

Todos llevan el mismo granel Champú A G --> Cuya lista de materiales
contiene, alcohol, aromas...etc... normal.. es igual para todos ellos.

La LM se definiría una

[2014-11-21 14:17] anajuaristi commented on #360
@mikelarre
Cuidado que hemos modificado y generalizado el enfoque de paso 3, que ahora pasa a ser este:

Paso3: Insertar líneas de productos existentes en atributos -->
NUEVA FUNCION que será añadida al "Calcular datos" --> Haremos una función que recorra todos los atributos del producto final, y para cada atributo que encuentre, que tenga un producto asociado, insertaremos una línea nueva en "pro

[2014-11-23 17:54] anajuaristi commented on #184
Requerimientos en CLM0080: Falta template y origen fabricante en homologación de proveedores. Te he enviado comentario. Cualquiera de las 2 opciones o hacer una tabla nueva valdría.

[2014-11-24 20:10] gaultp opened #364 "mrp_operations_extension : impossible to confirm a manufacturing order without no routing"
I cannot confirm any Manufacturing Order if there is no because of constraint: "At least one operation must have checked "Move produced quantity to stock"field"
Is it possible to disable this constraint in the case you don't need it?

[2014-11-24 20:17] pedrobaeza commented on #364
Hi, thanks for reporting.

You need to mark this check at operation level to indicate in which one final products are produced, because if there is no operation marked, produce move is not done. We should discuss internally if we can expand requirements to assume that if no operation is checked, the produce move is done at the end. I don't remember now if we reject this for some reason... What do

[2014-11-24 20:20] gaultp commented on #364
I understand the purpose. But in the case that there is no routing, there is no operation neither. So it is not possible to check at operation level, neither to confirm your manufacturing order.

[2014-11-24 20:46] pedrobaeza commented on #364
Then, for what do you need _mrp_operations_extension_?

[2014-11-24 20:53] gaultp commented on #364
Well, some MO have routing because I need to track operations, other MO don't need routing because I just transform my product without tracking operations.

[2014-11-24 20:55] pedrobaeza commented on #364
OK, I get it. We are going to check this condition. Thanks for reporting.

[2014-11-24 21:01] anajuaristi commented on #364
I agree with Gaultp
If one bom has no routing assigned, condition should not be considered.

Someone could want make MOs in standar way even if in some cases they want
to make MO by operations. I think we should accept it as bug and correct.

Thank you for reporting!!

[2014-11-24 21:04] pedrobaeza commented on #364
@Daniel-CA, tienes que revisar esta incidencia. El problema es que cuando no se define ruta, no deja confirmar la OF. Hay ciertas OFs que pueden ir sin ruta, y en esos casos, no debe ser necesario revisar si alguna de las operaciones (que no habrá ninguna) tiene marcado el check de producir. ¿Entendido?

[2014-11-24 21:14] gaultp commented on #364
Another suggestion, why don't you allow users to define the last operation by default in the routing configuration or to check directly in the MO form view what operation will be the last one.
These are just suggestions. Maybe it is going against the original purpose of your module?

[2014-11-24 21:51] anajuaristi commented on #364
Purpose is that de operation moving final products to stock or any other location, could not be the last operation.
Maybe you need cleaning the machine or execute some quality test after production and MO could be not finished but final product has been moved.

There is a kind of operations that would have the "move product to stock" check marked, so in any route where that operation is used, will

[2014-11-26 09:51] Daniel-CA opened #370 "Edicion Productos a Consumir"
Enfoque técnico:
Módulo1:
Añadir campo lote en "materiales planificados" en la OF. Al confirmar la OF, preasignar el lote indicado por el usuario, al movimiento correspondiente, siempre y cuando haya stock de dicho lote, en otro caso, dejar vacío.

Módulo2:
En "materiales planificados", añadir un check "adición" que significa "componente añadido una vez iniciada la orden" En la solapa "materiales

[2014-11-26 12:29] #364 closed, assigned to Daniel-CA

[2014-11-26 12:30] pedrobaeza commented on #364
The issue is solved is https://github.com/odoomrp/odoomrp-wip/commit/72653ca16a0ce9ea3b82e9a08a9eb69f877e3a4a

[2014-11-26 13:16] anajuaristi opened #374 "mrp_production_real_costs error en inicialización de campo"
Buenas...

Al imputar una línea analítica, este módulo está informando los campos de costes estimados de la línea con coste_medio y coste_standar.
Cuando se imputan tiempos reales, el valor en esos 2 campos debe ser cero siempre. Ya que si no se desvirtúan los datos, incrementando los costes estimados de la OF

[2014-11-26 18:47] anajuaristi commented on #370
@pedrobaeza
Sobre tu comentario

Módulo 2: El botón debe estar en 'Productos a consumir', no en 'Materiales planificados', ya que la pestaña de control ahora es ésa --> Tiene una pega y es que los movimientos en sí, en principio no están asociados a una workorder y los productos planificados sí lo están.

Entonces, dijimos de meterlos en productos planificados y que los que se añadan a posteriori

[2014-11-26 21:09] anajuaristi opened #377 "Traceback journal_id en costes_reales"
Al finalizar operación de fabricación(workorder), si el workcenter en que se hace la operación no tiene asociado un diario analítico da un traceback que no deja finalizar la operación.
El error se produce cuando intenta registrar la línea analítica del coste real de máquina por el tiempo que ha estado en marcha por lo que entiendo que lo está produciendo el módulo de costes reales.

Dado que la op

[2014-11-27 00:27] anajuaristi opened #378 "Cierre de operación con test pendientes"
@alfredoavanzosc

Hace tiempo ya se comentó que aunque una operación tuviese tests que no fuesen válidos, si estaban en estado incorrecto o correcto, la operación se podía cerrar.
Lo que no se permitía era que hubiese tests en borrador o pendientes de aprobación para cerrar. Había que realizarlos o borrarlos/cancelarlos.

El mensaje es :
Finalization Operation Error!
The Operation has quality test

[2014-11-27 00:32] pedrobaeza commented on #378
Mejor: `There are quality tests in draft or approval pending state for this operation. Please finish or cancel them.`

[2014-11-27 00:34] anajuaristi commented on #378
:+1: Mismamente...

[2014-11-27 00:45] anajuaristi opened #379 "Traceback "coercing to Unicode: need string or buffer, bool found""
En demo_noviembre2

Órden de producción MO00028 al intentar confirmar da este error. No le pillo dónde está el campo vacío.

[code]

[2014-11-27 00:52] anajuaristi opened #380 "Botón "crear test" en operación, crea test pero no lo enlaza a la OF ni a la op"
Aquí hay algo raro.
Si pulso el botón "crear test" en una op de calidad, crea perfectamente el test manualmente aplicando la plantilla.
El test, se visualiza bien en la pantalla, pero... si lo abro, los campos OF y OT no quedan enganchados, no se ven ni en el tree, ni en el form.
¿Como puede ser esto? Que en el tree de la workorder vea el test, pero en cambio el campo op del test no esté informado

[2014-11-27 00:56] anajuaristi opened #381 "Complicado realizar el test cuando lo abro desde operaciones"
Creo que esto, mejor que el one2many sería mejor tener un shorcut al test.
La cosa es que los test que están en los one2many de las Ofs y los que están en operaciones, si hago click encima, al salir la pantalla emergente, se hace muy complicado meter datos. Salen muchos scroll y se "montan" unos campos sobre otros, sobre todo si hay preguntas cualitativas.

Me pregunto, si no sería mejor quitar lo

[2014-11-27 01:13] anajuaristi opened #382 "Checks de "éxito" editables en módulo de tolerancias (Quality)"
He visto lo siguiente:
En un test con tolerancias, ya realiza correctamente el cálculo de las líneas y el combo.
Sale la línea en azul si está en el rango optimo y gold si está en rango admisible... ahora bien, al clickar el check para marcar si la línea es válida o no manualmente, no graba el valor. Graba inválido siempre.

En cualquier caso, pienso que se puede volver a poner no editable.  Por d

[2014-11-27 07:48] pedrobaeza commented on #370
Tal como acordamos anoche, el botón se puede quedar en la pestaña "Productos a consumir", aunque esa acción también tenga como efecto el añadir una línea en "Materiales planificados" con el check de "Añadido posteriormente".

El pasar los botones arriba se ha decidido de momento que no, para no confundir al usuario con su efecto principal.

[2014-11-27 09:47] Daniel-CA commented on #370
Módulo 1: Una duda sobre el control del material del lote.
Solo se podrán asignar lotes que tengan material disponible que se encuentre en la misma localización de la orden de producción desde el campo Raw Materials Location. Es decir si tengo lotes disponibles en otra localización que no es la definida en la orden de producción será como si no tuviera material disponible para ese lote. Eso es cor

[2014-11-27 12:06] alfredoavanzosc commented on #380
Faltaba por mover el ID de la producción, pero otra cosa.. .en el tree de test o en el formulario, no existe campo OT.

[2014-11-27 12:08] alfredoavanzosc commented on #381
Como vosotros digáiis

[2014-11-27 12:22] alfredoavanzosc commented on #382
Ana... ponte en contacto conmigo, porque el check de ok/no ok en mi sistema no esta editable, no entiendo nada de nada.

[2014-11-27 16:54] agaldona commented on #377
PR #386
Parece ser que se habían cambiado los códigos de diarios en el módulo de costes estimados, y no se habían hecho los cambios necesarios en mi módulo.

[2014-11-27 17:03] agaldona commented on #374
PR #386
He cambiado para que en el create de la línea, me cargue a cero esos campos.
De todas formas, he podido ver que en el módulo de costes estimados, hay un onchange, que al cambiar la cantidad te carga valores en ese campo. He pensado cambiarlo, pero no he sabido como diferencias una línea analítica de gastos reales, de otro tipo de líneas.
¿Alguna idea?  @anajuaristi @pedrobaeza

[2014-11-27 22:33] anajuaristi commented on #374
Una linea de estimado tendria los campos de gasto real a cero y los
estimados con importe diferente de cero
y una linea de Gasto real tendria los campos estimados a cero e importe
diferente de cero.

Solo en el caso de que un estimado se quiera llevar tambien a real llevaria
importe real pero un gasto real nunca debe llevar los estimados diferentes
de cero.
¿Porque existe un onchange en producto p

[2014-11-27 23:21] pedrobaeza commented on #370
Más que de disponibilidad en la ubicación de producción, sería en la ubicación origen (que en principio, si se selecciona la ubicación padre, sería en cualquiera). Después, cuando se hagan los stock.move de preparación, hay que hacer que ese lote se mueve ya a la ubicación de producción.

[2014-11-27 23:36] pedrobaeza commented on #381
Vale, pero el shorcut no va a inhibir que cuando se pulse sobre el resto de la línea se abra el formulario...

[2014-11-28 07:54] anajuaristi commented on #370
Seria en la ubicacion de materias primas que esta definida en la propia
orden.
En principio todod los movimientos se crean con esa ubicacion origen

[2014-11-28 07:57] anajuaristi commented on #381
Ya bueno. Eso si. Pero es una vez he navegado al test.
Habria que ponerle edit bottom a la linea de plantilla

[2014-11-28 08:18] agaldona commented on #374
En el producto no, el onchange es de la línea analítica.
De todas formas, con lo que me dices tampoco puedo asegurar cuales son las líneas reales y cuales no, quiero decir, el problema esta en que mete los gastos estimados en reales, y para evitar eso, no me puedo basar en los campos de gastos estimados. Y si me dices, que existe la posibilidad que se cargue el gasto real, en una línea de estimado

[2014-11-28 08:25] anajuaristi commented on #374
A ver... el módulo de costes reales, SIEMPRE los valores de la línea en costes estimados deben llevar cero.
Y en la línea analítica NO DEBE HABER ningún onchange en ningún sitio. El módulo de costes estimados, al insertar la línea debe coger los 2 campos estimados de la ficha e insertar la línea, pero sin más. No veo la necesidad del onchange
Por otro lado, SOLO el módulo de costes estimados debe

[2014-11-28 10:20] agaldona commented on #374
PR #387
He eliminado el código del onchange donde carga los valores estimados. He visto que en la creación de las líneas estimadas, ya les asigna valor.

[2014-11-28 11:19] anajuaristi opened #389 "Duplicar tareas da error de clave única"
Buenas...
El módulo de asignar secuencia a tareas de proyecto impide poder duplicar tareas y también está impactando en la delegación de tareas del standar, ya que esta funcionalidad utiliza a su vez la de duplicar.
Da un error de restricción de clave única.
Gracias.

[2014-11-28 13:52] anajuaristi opened #392 "procurements_plan"
Importar abastecimientos no hace nada.
Está mal el filtro.

Propuesta, quitar el filtro y traer todos los abastecimientos entre las 2 fechas del plan que no estén asignados previamente a ningún plan. Sin más.

---

Segundo problema, al pulsar el botón ejecutar, se queda colgado. No hace nada.

---

Tercero,

En principio, un abastecimiento, crea una única orden de fabricación (este Id se muestra e

[2014-11-28 13:55] anajuaristi commented on #392
@pedrobaeza necesitaría que le eches un vistazo al tema del plan.
Hoy comentando en la sesión y explicando los problemas que tiene, me han comentado que aun así sigue siendo útil como una herramienta de agrupación de abastecimientos y planificación semanal, por lo que he pensado darle otra vueltilla y acabar ya con ello.

La diferencia estaría en que el botón ejectutar, ejecuta planificadores. Y e

[2014-11-28 21:44] anajuaristi commented on #380
Cierto que no está visible en el tree y en el form. Quizás sí debería estar visible.
Pero existir sí que tiene que existir porque en las workorders hay un one2many a test y se ven perfectamente asociados, por lo que no es posible que no exista el campo en el test.
Si se crea un test manualmente desde un workorder, dicha workorder pertenece a una OF, por lo que el campo debería ser informado automá

[2014-11-29 13:48] pedrobaeza commented on #389
Ese módulo está en la rama de Avanzosc (https://github.com/avanzosc/avanzosc/tree/master/project_task_code), así que mueve el issue allí.

[2014-11-29 13:48] #389 closed, assigned to nobody

[2014-11-29 14:00] #374 closed, assigned to agaldona

[2014-11-29 14:53] anajuaristi commented on #389
Y no es mejor pasr el modulo a wip?
La numeracion de tareas me parece una funcionalidad supergenerica para que
no este en wip. Ya diras.

[2014-11-29 17:43] pedrobaeza commented on #389
Es una tarea que no tiene nada que ver con MRP. No debería estar aquí, aparte de por lo pequeño de su funcionalidad.

[2014-11-29 18:50] pedrobaeza opened #393 "Crear repositorio odoomrp-utils"
Para albergar todos los módulos con alguna pequeña funcionalidad, cambios en el interfaz, etc, y mover a ese repositorio varios de los módulos actuales, junto con varios PRs así indicados. Tareas:
- [x] Crear repositorio odoomrp-utils.
- [x] Poner Travis y demás.
- [x] Indicar en el README de odoomrp-wip la existencia de ese otro repositorio y su uso.
- [ ] Mover módulos ya puestos en odoomrp-wip

[2014-11-30 00:14] anajuaristi commented on #190
@pedrobaeza cierro issue porque toda la funcionalidad requerida ya se ha incluido en mrp_product_variants.
Solo falta una cosilla que levanto nuevo issue porque según dice @oihane lo estaría produciendo operations_extension.
https://github.com/odoomrp/odoomrp-wip/issues/394
Cuando en el BOM existe una línea con un producto tipo phantom, en la OF se sustituye correctamente el producto por sus compo

[2014-11-30 00:14] #190 closed, assigned to oihane

[2014-11-30 00:17] anajuaristi opened #394 "operations_extension y boms con componentes phantom"
Cuando en el BOM existe una línea con un producto tipo phantom, en la OF se sustituye correctamente el producto por sus componentes pero los componentes no quedan linkados a la operación especificada para su producto origen en el bom.

Ejemplo:
Producto prueba variante contiene una línea PC ensamblado SC234, de tipo phantom y lleva asociado "operación 4" de la ruta
A su vez PC ensamblado SC234 tie

[2014-11-30 00:20] anajuaristi commented on #238
Entiendo que esto ya está arreglado con el merge de #336 por lo que cierro. :+1:
@pedrobaeza si no es así, reopen

[2014-11-30 00:20] #238 closed, assigned to nobody

[2014-11-30 00:21] anajuaristi commented on #249
@pedrobaeza ¿Qué hacemos pues? Cierro directamente?

[2014-11-30 00:24] anajuaristi commented on #272
Cierro ya que el issue mencionado ya ha sido abierto aparte como bug en #394

[2014-11-30 00:24] #272 closed, assigned to oihane

[2014-11-30 00:33] anajuaristi commented on #273
@oihane pone merged pero sigue pasando por favor, revisa.

El on_change en product_id, en caso de tener que existir debería hacer lo siguiente:
.- Buscar un BOM específico para ese product_id, si existe lo asigna en bom, si no existe, si el campo BOM está vacío, busca el bom de la plantilla y si está asignado ya, no hace nada. (No deja el bom en blanco, deja el que estuviese)

En todos los casos,

[2014-11-30 00:39] anajuaristi commented on #286
Es que el traceback salta al instalar el módulo asset base de Odoo en ALM
En wip está todo instalado y no puedo probar.
Cierro este issue y te lo abro en la rama que toca,  no vaya a ser algo puntual del entorno.
En runbot no puedo probar tampoco porque también está instalado.

[2014-11-30 00:39] #286 closed, assigned to Daniel-CA

[2014-11-30 00:44] anajuaristi commented on #286
@pedrobaeza parece ser mirando ahora el error más en detalle que da al insertar el registro de prueba de datos demo. He posteado el traceback en el nuevo issue
#179 de ALM

[2014-11-30 00:50] anajuaristi commented on #296
El bug sigue existiendo ya que aunque ahora sí que asigna valor de código, cuando se da de alta desde la ficha de producto, pero solo coge una única letra/digíto y no 2 como estaba pedido.
Es decir para el valor AB, le asigna solo A

Además, si se renombra un código de variante directamente en la tabla de valores, el código de los productos asociados no se renombra, queda con el valor antiguo.

Ej

[2014-11-30 01:23] anajuaristi commented on #382
@alfredoavanzosc ... yo sí que a veces no entiendo nada.
Mira aquí https://github.com/odoomrp/odoomrp-wip/pull/237

Hace pocos días que hemos tenido esa conversación. No me puedo creer que no te acuerdes.

La cuestión... que al final tiene razón en lo que dice @pedrobaeza que no es necesario que se especifique ok/nok en cada línea, sino que es suficiente con que se marque válido el test entero
Y e

[2014-11-30 02:09] anajuaristi opened #395 "Campo nombre en numeración de workorders"
Actualmente las workorders, al crearse se nombran
"nombre operación" - "secuencia"

Siguiendo convenciones, sería más correcto nombrar "secuencia" - "nombre operación"
Lo ha comentado ALM en el issue CLM0056 Cambiar orden en nombre Orden de Trabajo

Ahora sale Pintar - 1, Soldar - 2 y solicitan que sea 1-pintar, 2-soldar
@pedrobaeza ¿Cambiamos la forma que se crea el nombre en operation_extension?

[2014-11-30 02:40] anajuaristi opened #396 "Creación automática de reclamaciones desde test erroneo"
Al aprobar un test de calidad, si es OK, se va a calidad correcta y si es NOK se va a calidad incorrecta.

Se solicita que si un test tiene líneas incorrectas, automáticamente se generen las reclamaciones correspondientes para dichas líneas (una reclamación por cada línea incorrecta, azules, gold o rojas), siempre que la plantilla en la que esté basada, lleve clickado "incidencias automáticas"

--

[2014-11-30 10:06] pedrobaeza commented on #395
Me parece correcto.

[2014-12-01 01:28] anajuaristi commented on #345
Esta vista, si se hace, debería ir también al nuevo repo de utilidades.
Sigo pensando que es necesaria. ya que te da a un vistazo y con los campos mínimos los productos que le "debes" a los clientes, al igual que la de compras te da los que te deben los proveedores.

En movimientos de almacén, se puede sacar la información pero estamos en la de siempre, si un comercial necesita ver esta informació

[2014-12-01 10:03] pedrobaeza commented on #396
Ana, sobre esta reclamación, pregúntame luego por chat.

[2014-12-01 11:16] anajuaristi commented on #381
Comentando con la gente de OdooMRP hoy, les ha gustado la idea de poner shorcuts y quitar los one2manys tanto de la OF como de Operaciones

El tema quedaría como sigue:
1. En OF : Actualmente hay 4 shorcuts que muestran los realizados, creados... etc... Habría que poner un solo shorcut con toda esa información en el mismo botón.
2. HAY un bug en algún sitio con los Ids. En principio, los test de c

[2014-12-01 12:47] anajuaristi opened #397 "TRACEBACK self.default_code NULO en repair_analytics"
[code]

[2014-12-01 22:12] gaultp opened #398 "[Quality_control] Traceback when I choose a template in a test."
Scenario:
In Quality control menu, I create a test and select a template already created.
Here is the traceback coming then:

[code]

[2014-12-02 00:00] anajuaristi commented on #398
Hi @gaultp

Could you write step by step the actions to obtain the error. I could not reproduce on our environment.
Thank you!!

[2014-12-02 09:53] clonedagain opened #400 "Question about machines and workcenters"
Hi,
I just noticed @anajuaristi linked the OCA requirements about machines to the module `machine_manager`.
Can you please explain why this needs to be a new distinct `Model` rather than extending the existing `mrp_workcenter` `Model` ?
I have some of these requirements too and I'd like to evaluate options before moving forward.

[2014-12-02 09:56] oihane commented on #393
#399

[2014-12-02 14:12] oihane commented on #389
https://github.com/avanzosc/avanzosc/pull/5

[2014-12-02 16:56] gaultp commented on #398
OK. I installed module quality_control_tolerance. I created a test template in Quality Control/Configuration/Test Template.
![test template odoo](https://cloud.githubusercontent.com/assets/7704085/5266663/1d2a8e38-7a19-11e4-8aca-331dfb8410ec.png)

Then I go to create a test.
First problem, when I add a Line, just few fields are editable.
![test odoo](https://cloud.githubusercontent.com/assets/7704

[2014-12-02 20:39] anajuaristi commented on #400
Hi:

It's needed because a company could need having registered their machines data even if this machines are not related to manufacturing

Take as example, computers, microscopes, measure takers and so on. Machine is much more generic than workcenter and could be used by any company even if they not produce theirselves.

We made 2 more modules to link machines with purchases and assets.

[2014-12-02 22:58] anajuaristi commented on #273
@oihane, está mejor pero no está niquelado. Acabamos de actualizar el entorno

En demo, prueba el template "PruebaVariantName"

Al cambiar el template, no trae la lista de materiales. Si se la pongo manualmente, al seleccionar un producto, ahí sí que ya no ejecuta limpiar la lista de materiales. Deja la que había.

Solo faltaría el onchange en el template.

[2014-12-03 00:05] anajuaristi opened #406 "CLM0117 Duplicacion de productos/plantillas en lineas de pedido"
@oihane

Al duplicar una línea de pedido que sea un artículo proveniente de una plantilla, debería de mostrar el configurador de producto para poder cambiar valores en los atributos.
En el desarrollo actual no muestra el configurador de producto al entrar en la línea del producto duplicado.

[2014-12-03 01:38] anajuaristi opened #407 "project_task_code desaparecido en entorno demo"
Buenas...
Creo que este módulo se ha movido al repositorio de Avanzosc, pero la rama avanzosc no se ha descargado en el entorno de OdooMRP
Este módulo estaba instalado de antes y no se desinstaló antes de quitarlo por lo que ahora da este traceback al entrar en proyectos o tareas:

  File "/opt/odoo/v8/core/addons/project/project.py", line 851, in fields_view_get
    res = super(task, self).fields

[2014-12-03 01:39] anajuaristi commented on #407
@oihane, necesito que actualices la rama avanzosc en el entorno demo antes de la sesión de mañana.

Gracias!!

[2014-12-03 08:23] oihane commented on #407
:+1:

[2014-12-03 09:02] pedrobaeza commented on #398
I'm refactoring full quality set of modules, so you will need to uninstall current set, install the new, and try again. I let you know when I have it.

[2014-12-03 11:59] #407 closed, assigned to oihane

[2014-12-03 12:00] oihane commented on #395
En realidad es una cosa de Alm... cierro

[2014-12-03 12:00] #395 closed, assigned to oihane

[2014-12-03 12:31] oihane commented on #406
Resulta que en su momento puse el atributo "copyable" pero parece que o me equivoque o lo han cambiado a "copy", se ha hecho el cambio en sale, purchase y mrp

[2014-12-03 14:10] anajuaristi opened #410 "Actualizar precio quant en purchase_landed_cost"
Se solicita que al modificar el precio medio del producto en su ficha, se modifique también el precio medio del quant que crea la línea de movimiento para evitar inconsistencias en ambos puntos.

[2014-12-03 14:19] anajuaristi opened #411 "Mostrar product_id en línea de pedido"
Nos han solicitado poder meter directamente el código de producto en la línea de pedido para poder buscarlo, sin utilizar el configurador cuando se saben el código.
Para esto, simplemente sería hacer visible el campo product_id.

Si os parece lo dejamos visible siempre y listo. @pedrobaeza ?

[2014-12-04 08:29] oihane commented on #406
Cierro, aún esta en el sistema de gestión

[2014-12-04 08:29] #406 closed, assigned to oihane

[2014-12-04 14:42] oihane commented on #393
Listado de módulos a mover:
- [x] purchase_products_sc
- [ ] base_partner_references
- [ ] crm_claim_corrective
- [ ] crm_claim_links
- [ ] mrp_bom_catch_product_code
- [ ] mrp_bom_component_change
- [ ] mrp_bom_notes
- [ ] mrp_bom_version
- [ ] mrp_product_variants_types
- [ ] mrp_production_editable_scheduled_products
- [ ] mrp_production_notes
- [x] mrp_stock_quant_shortcut
- [ ] mrp_wizard_fil

[2014-12-04 23:22] anajuaristi opened #415 "purchase_requisition_auto_rfq disponible en entornos"
He eliminado order generator de demo y la ofi. En alm no lo tienen instalado, por lo que podríamos proceder a instalar el de la comunidad (purchase_requisition_auto_rfq) + el nuevo purchase_requisition_display_order_line #361

@oihane Solicito por favor, que pongáis disponible el módulo purchase_requisition_auto_rfq en todos los entornos ya que aún no he podido probarlo, ni por tanto, tampoco la e

[2014-12-04 23:27] #400 closed, assigned to nobody

[2014-12-04 23:42] anajuaristi commented on #397
Arreglado el error del self.default_code pero... detecto un par de pequeñas cosillas en este módulo:
1. el diario en que se imputan las líneas de material de la reparación debe ser "materiales" y no timesheet
2. Las líneas se están creando con la parametrización 100%facturable, y deberían ser "no facturables", es decir, con el campo en blanco.
3. Si la cantidad de línea en la reparación es >1, no

[2014-12-05 07:58] oihane commented on #415
En el entorno de la Ofi ya estaba

[2014-12-05 08:04] #379 closed, assigned to alfredoavanzosc

[2014-12-08 21:16] anajuaristi opened #420 "mrp_packaging traceback"
Entorno de la ofi, bbdd ALM
OF 134

Al pulsar el botón de crear envasados, da este traceback

[code]

[2014-12-08 21:19] anajuaristi opened #421 "Mrp_packaging no busca por template, solo por producto"
Para buscar los posibles envasados de un producto granel, el sistema me obliga a meter todos los diferentes graneles de dicho envasado, es decir, si voy a envasar champú granel en 300, 330 y 500, tengo que meter los productos específicos champú granel rosa, champú granel verde en la lista de materiales del envasado.

Se solictó expresamente que fuese template contra template, es decir, envasado co

[2014-12-09 14:49] anajuaristi opened #423 "Purchase Requisition botón cambiar cantidad en líneas"
Al pulsar este botón y cambiar la cantidad, te lo hace en el campo "cantidad licitada" del one2many de líneas de compra.
No tiene sentido ya que la cantidad licitada está arriba y cuando se confirma la licitación, no se cambia. El wizard debería cambiar la cantidad de la línea de compra y no la cantidad licitada.

[2014-12-09 15:40] anajuaristi opened #425 "stock_quant_manual_assign Pequeñas mejoras funcionales"
Buenas... he pensado que podriamos meter estas 2 mejorillas funcionales en el módulo de asignación manual de stock:
1. En el tree, de lotes a seleccionar, añadir sumatorio abajo, para saber qué cantidad total llevo asignada en todos los lotes seleccionados
2. Abajo del tree, mostrar a modo informativo y no editable la cantidad que requiere el movimiento
3. Adicionalmente al clickar el check "selec

[2014-12-09 21:23] anajuaristi opened #428 "mrp_packaging lote OF envasado"
Una pequeña cosa que falta en la generación de la OF de envasado desde la orden base es asignar en el campo Lote de producción manual, el del granel.
El lote del envasado debe ser igual que el del granel a consumir.

[2014-12-09 22:29] anajuaristi opened #429 "Envasado dependiente de costes"
Cuando están instalados el módulo mpr_packaging de envasados y el de costes estimados y reales, que hacen obligatoria la cuenta analítica en la OF, al crearse las OFs de envasado, habría que asignarles a todas ellas, la misma cuenta analítica que la de granel.
Actualmente se crean con la cuenta vacía y hay que ponérsela manualmente a cada una.

[2014-12-09 22:30] anajuaristi commented on #429
Asigno a @agaldona por los módulos de costes, pero no sé si debería asignarse a @oihane por el de envasados...
Como veais.

[2014-12-09 22:55] anajuaristi commented on #425
:+1: RTM
probado en server ofi

[2014-12-09 23:07] anajuaristi commented on #421
Arreglado en mrp_packaging #426
Cierro

[2014-12-09 23:07] #421 closed, assigned to oihane

[2014-12-09 23:07] anajuaristi commented on #420
arreglado en #426 cierro

[2014-12-09 23:07] #420 closed, assigned to oihane

[2014-12-10 13:45] oihane commented on #428
Hecho y mergeado, actualizando bases de datos en Ofi

[2014-12-10 13:45] #428 closed, assigned to oihane

[2014-12-10 14:32] oihane commented on #415
@anajuaristi has comprobado si ya está? creo que ya lo incluí en todos, si no dime que entorno que lo pongo :wink:
En caso afirmativo, cerrar el issue

[2014-12-10 15:02] anajuaristi commented on #415
Si. He  visto que ya está en demo.
Cierro issue

[2014-12-10 15:02] #415 closed, assigned to oihane

[2014-12-11 10:57] agaldona commented on #397
El módulo es de @alfredoavanzosc creo que es más recomendable que lo mire el, si yo me "libro" antes de que lo haya podido mirar el, ya me pondré con esto.

[2014-12-11 12:06] bealdav opened #431 "module name"
Why some modules have plural form like mrp_production_notes, mrp_bom_notes, etc. ?

Ok there are several notes, but if you have done a module it's to manage several items.
And 'sale' module also have several sales.

Singular is easier in all cases. Module machine name should be singular and module display name could be plural as it in the image

![note](https://cloud.githubusercontent.com/assets/1

[2014-12-11 12:21] oihane commented on #425
@anajuaristi esto es un issue, no un pull request. Por lo que creo que ya esta mergeado, si lo puedes comprobar y cerrar el issue, estaría bien limpiar los issues

[2014-12-11 12:53] pedrobaeza commented on #431
Hi, David,

The general criteria used for naming modules is the following:
- **Name of area**: for example, mrp, or sale, purchase, etc.
- **Name of object inside the area**: In this case, production (which is already called as mrp.production inside Odoo).
- **Function or modification done**: This is the most irregular part of the name, because it depends a lot on the functionality of the module.

[2014-12-11 15:20] alfredoavanzosc commented on #423
Se ha realizado lo solicitado, el PR es el https://github.com/odoomrp/odoomrp-wip/pull/432

[2014-12-11 16:29] oihane opened #434 "Columna duplicada en "Productos consumidos" al instalar <mrp_lot_reserve>"
En las ordenes de producción, en la pestaña de productos consumidos, a la derecha se muestran la lista de movimientos que equivalen a los productos consumidos, si instalas el modulo <mrp_lot_reserve> se duplica la columna de lotes, ya que la vista del modulo <mrp> ya contiene esa columna aunque está oculta con los permisos.
No sé que opinará @pedrobaeza pero tal vez habría que tener en cuenta esto

[2014-12-11 17:07] Daniel-CA commented on #434
Yo creo que eso sería lo correcto si, añadir la otra columna de lote al grupo y quitar la que duplico.

[2014-12-11 23:30] anajuaristi opened #435 "No puedo confirmar OF"
Buenas...
Tengo un caso "raro" en el server de la ofi demo_noviembre2, donde una Of creada automáticamente desde abastecimientos, no me permite confirmar. No da ningún warning, ni traceback pero se queda ahí.
¿podeis mirar si hay algún error en el log?
MO00106

He visto que la of se crea sin que tenga asignado el template del producto, pero en principio, no haría falta y tampoco el producto vea qu

[2014-12-11 23:51] anajuaristi opened #436 "mrp_subcontracting Duplica abastecimientos de producto subcon"
Al confirmar una OF, con una operación de subcontratación, genera varios abastecimientos del producto a subcontratar. Debe generar únicamente 1 abastecimiento, con la cantidad que marque la orden.
Ejemplos en ordenes a partir de 104 en entorno ofi
Revisar

[2014-12-12 00:11] anajuaristi commented on #436
Probado el ciclo completo de las 2 formas de abastecimiento (creando albarán de salida y sin crearlo), este es el único problema detectado por lo que en cuanto esté solucionado:

RTM :+1: funcionalmente OK

[2014-12-12 09:14] oihane commented on #435
Pues, aunque no lo puedo asegurar, (a mi me falla solamente al intentar abrir un MO) hay que repasar los módulos que heredan quality_control, como por ejemplo `mrp_operations_with_quality_test`
ya que el `mrp_operations_time_control` lo usa y `mrp_production_real_cost` a su vez hereda el time_control.

[2014-12-12 10:47] oihane commented on #435
En el log no da ningún error, pero tienes razón, no lo deja confirmar parece algún problema al ejecutar el workflow

[2014-12-12 12:42] oihane opened #441 "[2014-12-12] To test"
Cosas para probar
- [x] que el proceso de fabricación con variantes funciona como debe ya que se ha dividido en dos el modulo `mrp_product_variants` de manera que se desvincula del módulo `mrp_operations_extension` #417

[2014-12-12 12:54] oihane commented on #441
@agaldona @Daniel-CA @alfredoavanzosc @mikelarre

He creado este issue para que pongamos aquellas cosas que queramos que pruebe @anajuaristi este fin de semana en el server de la oficina.

Para poner los checks hay que escribir `- [ ]` al inicio de la línea. De esa manera ella puede marcar los que haya validado :wink:

[2014-12-12 12:57] alfredoavanzosc commented on #436
Había un bug por crear mas de 1 abastecimiento, subido el módulo a nuestro server para pruebas de Ana.

[2014-12-12 12:58] Daniel-CA commented on #441
- [x] `mrp_production_add_middle_stuff`: Yo no se si el bug que reportó se ha arreglado o sigue igual, por que no estoy seguro de que fuera error de este módulo. #391 **mergeado**

[2014-12-12 13:00] mikelarre commented on #441
- [ ] `alm*_checks` Issue 181 de ALM
- [x] `product_expiry_ext`: colorea quants en base al lote que esta relacionado #438

[2014-12-12 13:58] agaldona commented on #441
- [ ] `di*_mrp_labelling_control`: Etiquetado por países
- [x] `procurement_sale_forecast`: MPS - la parte de ventas y abastecimientos #439
- [x] `procurement_purchase_forecast`: MPS - asistente de carga de líneas de compra #439

[2014-12-12 21:45] anajuaristi opened #445 "stock_quant_expiry_state_color no coge colores correctos"
stock_quant_expiry_state_color #433

Probado en server ofi, no trae los colores del quant.
Lote 0005 está en amarillo, y el quant relacionado aparece en verde
El campo state del quant aparece 2 veces en el tree y no se muestra en el form.

[2014-12-12 21:59] anajuaristi commented on #435
Me ha vuelto a pasar.
MO00121 demo_noviembre, server ofi

Es una OF creada desde un abastecimiento a fabricar. Por si puede servir de pista. Se ha quedado igual que la otra sin poderla confirmar. Sería cuestión de ver directamente en BBDD qué campos/relaciones tienen diferentes de las que se ejecutan correctamente, o si es tema de la configuración del producto/LM/proceso como tal. Intento sacar má

[2014-12-12 23:00] anajuaristi commented on #435
Definitivo, las ofs que se crean desde abastecimiento, son las que se quedan. He visto 2 cosas:
1. que se crean sin tener asociado template
2. que si el producto es un producto como tal (variante), al abrir la OF, no se ve el configurador.

No sé si puede estar relacionado con esto, que no tenga asignado valor en las variantes o algo. Pero en principio, si el producto está informado, no debería ne

[2014-12-15 08:46] oihane opened #446 "Error al instalar 'quality_control'"
[code]

Además de darlo al hacer un update all lo da al instalar

[2014-12-15 09:55] #434 closed, assigned to Daniel-CA

[2014-12-15 11:02] oihane commented on #445
Ese modulo se quito, se ha hecho en `product_expiry_ext`

[2014-12-15 15:03] #445 closed, assigned to mikelarre

[2014-12-15 15:03] oihane commented on #445
@anajuaristi da visto bueno tras comprobar que el modulo product_expiry_ext hace lo que se requeria

[2014-12-15 15:09] #360 closed, assigned to mikelarre

[2014-12-15 15:10] #227 closed, assigned to mikelarre

[2014-12-15 15:45] #377 closed, assigned to agaldona

[2014-12-15 15:47] #333 closed, assigned to agaldona

[2014-12-15 15:48] #318 closed, assigned to agaldona

[2014-12-15 18:24] pedrobaeza commented on #446
Parecen secuelas de los antiguos módulos. De todas formas, prueba a no utilizar el botón instalación inmediata para que el log sea más claro y dime en cuál de los módulos es. El problema está pasando al asignar un valor por defecto. Sólo veo como posible problema esta línea, por no ser un integer directamente, pero no creo: https://github.com/odoomrp/odoomrp-wip/blob/8.0/quality_control/models/qc_

[2014-12-16 10:39] oihane commented on #435
Arreglado, y mergeado, cierro

Si te da en algún sitio dime, que lo actualizo el la DB

[2014-12-16 10:39] #435 closed, assigned to oihane

[2014-12-16 10:40] oihane commented on #394
Esto lo tienes listo para testear

[2014-12-16 10:45] oihane opened #450 "[ERROR] Relacionado con <stock_quant_manual_assign>"
No es que sea bloqueante pero me sale este error de vez en cuando en el log

[code]

[2014-12-16 14:27] pedrobaeza commented on #450
Eso es porque en el asistente no se puso ondelete="cascade". @mikelarre, ponlo por favor.

[2014-12-16 14:30] pedrobaeza commented on #184
Ver https://github.com/OCA/product-attribute/pull/29

[2014-12-16 15:47] Daniel-CA commented on #370
En las especificaciones del módulo 3 sería una vez la Work Order ha sido iniciada? Por que ahora mismo ya existe la opción de añadir productos a la misma, lo único que no se crea linea de movimiento ni de producto planificado.

[2014-12-17 15:37] alfredoavanzosc commented on #296
Ok, ya he hecho para que coja 2 dígitos en vez de 1. Pero ahora tengo un problema con el tema de que al renombrar un codigo de variante, el código de los productos asociadosno se renombra. El problema es el siguiente:
1.- En la tabla "product.product" existe el campo attribute_value_ids, que es un many2many al objeto product.attribute. value
2.- En la tabla "product.attribute.value" existe el camp

[2014-12-17 18:15] pedrobaeza commented on #296
Recorrer no, simplemente buscar aquellos que tenga ese atributo, y regenerar la correspondiente referencia. Yo creo que nos va a tener más cuenta ponerlo como campo calculado y que dependa de cualquier de los campos que forman parte de esa referencia, y así lo haría automático.

[2014-12-19 00:43] jeffery9 opened #462 "[quality control] add test item, rase error report float divison by zero"
to reproduce this error.  create a test and add test item.

when click add an item, it raise the error.

becuase can not upload the picture, attached the log

[code]

[2014-12-19 02:04] jeffery9 commented on #462
the issue is caused by quality_control_tolerance

[2014-12-19 08:42] Daniel-CA commented on #370
Módulos en repositorio, cierro issue.

[2014-12-19 08:42] #370 closed, assigned to nobody

[2014-12-19 09:09] oihane opened #463 "[quality_control] Error"
Reportado por un cliente:

Cuando llegamos a la Etapa FABRICAR aparece esto en pantalla y no podemos seguir.

[code]

[2014-12-19 09:33] oihane commented on #463
`stock.move` tiene un campo llamado `lot_ids`

[2014-12-19 09:41] pedrobaeza commented on #463
Ha sido un error de typo.

[2014-12-19 12:52] pedrobaeza commented on #462
Yeah, quality_control_tolerance is still a WIP. Sorry for not informing correctly. I will work on it today.

[2014-12-19 14:02] jeffery9 commented on #462
is there have any documents about how to use quality control.
thanks,

On Fri, Dec 19, 2014 at 8:52 PM, Pedro M. Baeza notifications@github.com
wrote:

##

Jeffery        -kunshan

[2014-12-19 17:02] pedrobaeza commented on #462
No, sorry, but I can give you some hints:
- Define a test with its questions and answers.
- If you install stock or production, you will have some "triggers" at produc category, product or variant level to define on each picking type or at the end of the production.
- If you define one of these triggers to be attached to one test, when the move is done, a QC inspection is automatically created, an

[2014-12-20 07:33] jeffery9 commented on #462
we want to print inspection to fill the test data, when should you create the pdf report, thanks.

[2014-12-21 14:51] ccarly opened #465 "[8.0] mrp_manufacturing_order_sale_line"
Al filtrar las ordenes de producción por clientes emite error en el campo partner

[code]

[2014-12-21 15:11] ccarly commented on #465
Solución:

[code]

[2014-12-21 20:03] pedrobaeza commented on #462
I have push the completed quality_control_tolerance, so now you can fully use it without issues.

About printing a quality inspection report, for now is not on our scope, but if you want, you can contribute with this addition.

Thanks for the reporting.

Regards.

[2014-12-21 20:03] #462 closed, assigned to nobody

[2014-12-21 20:16] pedrobaeza commented on #465
Ya lo he solucionado en https://github.com/odoomrp/odoomrp-wip/commit/64254589b6c253ae0d740cf80797c2337a19c85c.

Gracias por avisar.

Un saludo.

[2014-12-21 20:16] #465 closed, assigned to nobody

[2014-12-21 23:25] anajuaristi opened #466 "sale variants onchange de product_id borra la descripción construida por el configurador"
Buenas..
He visto en ventas, que mientras vas seleccionando las variantes, la descripción se va montando correctamente.
Pero al final del todo, cuando encuentra el producto, se borra todo lo construido y se trae código y nombre, dejando la descripción limpia, como al principio.
Debería controlarse que si el producto tiene variantes, al final, el onchange del producto, no resetee la descripción. Co

[2014-12-21 23:26] anajuaristi opened #467 "expected singleton al crear nuevo presupuesto de venta"
En demo_noviembre2 al abrir cualquier presupuesto de venta da el error:
ValueError
Expected singleton: sale.order()

[2014-12-22 09:07] pedrobaeza commented on #467
Ya está solucionado. El problema es que el self.ensure_one(), también detecta cuando hay 0 registros, y usándose en un onchange al crear, ese caso ocurre. Haciendo antes un escape `if not self: return {}` evitas ese chequeo.

[2014-12-22 09:07] #467 closed, assigned to nobody

[2014-12-22 09:46] anajuaristi commented on #467
Gracias Pedro

[2014-12-22 10:45] anajuaristi opened #468 "Shorcuts a reglas tarifarias desde producto y desde template"
Buenas...
En la última sesión donde se trataron tarifas en moneda extranjera, vimos que la configuración standar de tarifas cubría lo requerido pero sí era complicado saber qué precios y en qué moneda se habían definido para el producto, ya que no hay navegación directa desde producto o template a reglas tarifarias.

Se solicita extender nuestro módulo odoomrp sale_pricelist_rules (mismo módulo do

[2014-12-22 13:09] sebastienbeau commented on #431
Hi Pedro,
Personnaly I prefers to use 'mrp_production_note' even if we can have several note as it's a paragraph. I think it's better to always use singular, so we don't have to ask ourself when updating a module if the module need a "s" or not, same when we add dependency, it's simplier to always use singular.
I will be great to have opinion of other people (let's send a tweet on this ;) )
Thanks

[2014-12-22 13:11] pedrobaeza commented on #431
OK, I don't have a strong opinion on this, because you know each mind goes on its way ;)

[2014-12-22 13:15] sebastienbeau commented on #431
Yes until we do not have real convention it's hard to have a name that fit with everyone, let's see what other think ;)

[2014-12-22 14:49] anajuaristi opened #470 "mrp_manufacturing_order_sale_line"
Da este traceback al entrar en ordenes de fabricación

Traceback (most recent call last):
  File "/opt/odoo/v8/core/openerp/http.py", line 517, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/opt/odoo/v8/core/openerp/http.py", line 538, in dispatch
    result = self._call_function(*_self.params)
  File "/opt/odoo/v8/core/openerp/http.py", line 294, in

[2014-12-22 14:51] pedrobaeza commented on #470
Arreglado, no hace falta nada más.

[2014-12-22 14:51] #470 closed, assigned to nobody

[2014-12-22 14:55] Daniel-CA commented on #468
Merge realizado en #469, se puede cerrar.

[2014-12-22 14:55] #468 closed, assigned to Daniel-CA

[2014-12-22 15:30] anajuaristi commented on #431
I vote notes instead note. Maybe on the rest of fields is better singular but just in note, I don't see note but notes... I don't know why

[2014-12-22 15:53] bealdav commented on #431
I'am ok than 'note' can appear weird, but consistency (and easy practices) seems to be more important than taste. 98% of the modules are in singular form and 99% of the 2% are in error (yes 'mrp_operations' you are in this case) if you consider the rule for main modules: purchase, sale, product, account, etc.
my 3 cents

[2014-12-23 23:16] anajuaristi opened #471 "Taxes breakdown no tiene en cuenta impuestos de precio fijo"
Configurando el punto verde, como impuesto fijo ( es decir debe calcular un precio fijo por unidad vendida/comprada y no por porcentaje), hemos visto que el standar lo hace correctamente pero taxes breakdown está aplicando siempre el impuesto en porcentaje.

Mirar pedido SO063 en demo, donde subtotal del pedido está correcto calculado (el punto verde es 0,02) pero en breakdown taxes aparece punto

[2014-12-24 20:41] pedrobaeza commented on #471
Rehecho el módulo completamente en https://github.com/odoomrp/odoomrp-wip/commit/2da279d078c7637dcd8e75f033c23bda033efbb3 y dividido en dos: _sale_order_taxes_ y _stock_picking_taxes_ para modularizar cada área.

**IMPORTANTE**: Hay que desinstalar el anterior antes de actualizar el repositorio.

[2014-12-24 20:41] #471 closed, assigned to oihane

[2014-12-29 07:18] #463 closed, assigned to nobody

[2014-12-29 08:20] #441 closed, assigned to anajuaristi

[2014-12-29 12:13] anajuaristi opened #474 "Restricción cambio unidades de medida en productos"
Este warning sale cuando has grabado un producto en una unidad y le quieres cambiar a posteriori. El warning debería únicamente saltar si existen movimientos de almacén de dicho producto. En otro caso no.

Es bastante molesto y hace trabajar absurdamente inactivando productos y volviéndolos a crear... debería quitarse la restricción general e incluirla únicamente si existen movimientos. Incluso en

[2014-12-29 12:29] anajuaristi opened #475 "Cambiar código de variante no modifica código de producto específico"
Siguiendo esta línea:
1. Crear producto nuevo
2. Crear nueva variante
3. Crear valores (el sistema sigue cogiendo un único carácter como código de atributo, se dijo mínimo 2)
4. Crear productos --> crea los códigos de artículo según la concatenación de prefijo y códigos de variante.
   Si modifico el prefijo en el template, actualiza los códigos de producto correctamente, pero si únicamente cambio

[2014-12-29 13:08] anajuaristi opened #476 "En lista de valores de atributo no se puede buscar por atributo"
En el listado de valores de atributo, entrada desde menú, no se ha incluido ningún filtro ni agrupación.

Al menos debería poderse buscar por atributo y poderse agrupar por atributo y tipo
Modificar directamente en módulo que añade los menús de atributos.

[2014-12-29 13:26] oihane commented on #476
No se puede modificar directamente el modulo, es el módulo:
**product**

[2014-12-29 13:47] anajuaristi commented on #476
¿Cual es el módulo que añadimos los menús nuevos de atributos? Pues en ese

[2014-12-29 14:09] anajuaristi opened #478 "mrp_bom_catch_product_code no informa correctamente la referencia de la LM"
En la descripción pone:
When the product template is selected, the internal code is brought to the reference in BoM list.

No lo hace. Lo deja en blanco
Tener en cuenta que ahora el código de plantilla cuando ésta tiene variantes, está en el campo Prefijo de la referencia y no en default_code. Mirar a ver si es esto.

[2014-12-29 14:33] pedrobaeza commented on #474
Pero eso es un bug a nivel de core, y habría que publicarlo ahí. Pasa además desde hace varias versiones (creo que desde la 6.1). Públicalo con el warranty en odoo.

Cierro este issue.

[2014-12-29 14:33] #474 closed, assigned to oihane

[2014-12-29 14:38] anajuaristi commented on #474
Hay este fix https://github.com/odoo/odoo/pull/3441 pero aún no han hecho merge

[2014-12-29 14:41] pedrobaeza commented on #474
Dale entonces también tu visto bueno como he hecho yo.

[2014-12-29 14:41] pedrobaeza commented on #474
Y aún así, lo reportaría como un issue con el warranty, apuntando a que el PR es la solución.

[2014-12-29 14:42] pedrobaeza commented on #476
Se soluciona en #477

[2014-12-29 14:42] #476 closed, assigned to oihane

[2014-12-29 14:45] anajuaristi commented on #474
Ya. El problema es que ya lo han puesto como enhancement y lo llevan sólo al trunk. No lo van a mergear en V8 :(

[2014-12-29 14:49] pedrobaeza commented on #474
Echa mano del warranty a ver y si no, al OCB.

[2014-12-29 14:50] pedrobaeza commented on #466
Se solucionará en #477

[2014-12-29 14:50] #466 closed, assigned to oihane

[2014-12-29 15:42] anajuaristi opened #479 "Botón producir de operación cicla con productos trazables"
En una operación con move products to stock marcado, debería hacer lo mismo que el botón "fabricar" de la OF es decir:
- Si la operación es de mover a stock, debería realizar el movimiento de producción y si el producto es trazable, funcionaría de la forma standar.
- Si el usuario asigna un lote manualmente, crearía un quant con dicho lote
- Si el usuario no asigna un lote --> mostraría el aviso q

[2014-12-29 16:04] anajuaristi opened #480 "Cálculo de cantidades de materiales a consumir en la orden de envasado"
Hay un bug tanto en las órdenes de envasado que vayan en unidades como en las que van en kg.

Hay 2 cosas que verificar
1. La cabecera de la orden: Si la unidad de la orden de envasado es igual que la de granel coger Fill, sino, coger quantity --> ESTO ESTA CORRECTO
1. Líneas al planificar la orden de envasado --> Si la unidad de la línea en el BOM es igual que la del granel coger FILL, sino, coge

[2014-12-30 01:34] anajuaristi opened #481 "Costes estimados de empleado"
Tenemos una pequeña cosa que nos falta para terminar de definir los costes estimados de una orden y es el coste estimado de los operadores que realizarán la fabricación.

Conceptualmente tenemos el número de personas que realizan habitualmente una operación (en el maestro de operaciones)
Y también tenemos el concepto en la relación línea de ruta / workcenter --> podemos poner cuántas personas real

[2014-12-30 01:38] pedrobaeza commented on #481
Todo correcto salvo que en compañía no se pondría un many2one a producto, si no directamente el coste como un float, ya que no aporta nada poner un producto "Coste medio de trabajador".

[2014-12-30 01:51] anajuaristi commented on #481
Es que el producto en analítica es requerido y he pensado que no era mala idea cogerlo de ahí.

[2014-12-30 01:53] pedrobaeza commented on #481
Qué va, no es requerido. Se puede rellenar (como en contabilidad general), pero no obligatorio.

[2014-12-30 01:55] anajuaristi commented on #481
O sea, me refiero a que en todo el resto de costes estimados que imputamos ponemos un producto, que luego vale para agrupar / categorizar esos costes. Al mismo precio prefiero que vaya con producto. No nos molesta ponerlo en la compañía y creo que da más juego.
Como veas.

[2014-12-30 01:56] pedrobaeza commented on #481
Pues yo casi prefiero sin producto, y así también se sabe que es porque no había ningún trabajador asignado en el workcenter.

[2014-12-30 12:38] oihane commented on #350
A ver... por lo que veo, en el caso de las ordenes de fabricación, el módulo `mrp_project_link`
Añade dos campos `project_id` y `account_analytic_id` (este segundo requerido en la vista)
Si el proyecto no se asigna, busca el que le corresponde a la cuenta analitica o si no existe lo crea, enlazándolo a la cuenta analítica. Entiendo que si lo que se quiere es eliminar o esconder la cuenta analítica

[2014-12-30 12:43] anajuaristi commented on #350
Si, exactamente.
La idea es unificar la forma de asignar un proyecto/cuenta analítica.
Lo que asignas a una OF siempre tiene que ser un proyecto. La cuenta analítica puede quedar oculta.

La cosa esa rara que se hace, no es necesario. El standar, cuando creas un poryecto ya te crea una cuenta analítica. Utilicemos esto.
Ahora bien, en el onchange del proyecto, sí hay que asignar la cuenta analític

[2014-12-30 15:06] oihane commented on #481
Por si acaso... la parte del BUG, ya la hemos solucionado

[2014-12-30 15:23] anajuaristi commented on #481
Eliminada del texto la parte de bug para no liar.

[2014-12-30 16:33] anajuaristi commented on #429
Según último cambio que acaba de hacer @oihane esto cambia y lo que hay que asignarles a las OF de envasado es el proyecto (que a su vez, en el onchange ya se asignará la cuenta)

[2014-12-30 16:35] oihane commented on #429
los módulos serian:
- mrp_packaging
- mrp_project_link

y con los cambios aún por mergear, hay que tener en cuenta que se le asigna proyecto y la cuenta analitica de este

[2014-12-31 12:57] ybofr opened #488 "Ambit on the machine: What does this mean"

[2014-12-31 12:57] ybofr opened #489 "Manufacture details"
The field manufacturer of the machine should be there also.

[2014-12-31 13:01] pedrobaeza commented on #489
What module? What screen or model?

[2014-12-31 13:01] pedrobaeza commented on #488
What module? What screen or model?

[2014-12-31 13:04] ybofr opened #490 "Machine users: This should be linked to hr and not to user"
Many machine users in producing companies are not using the ERPs. So to force to have a user created to assign a machine does not reflect the reality of the field.

To be able to use a HR employee instead would be more realistic.

Further, many pricing options are linked to the number of users. Therefore many companies will require to have the link to hr and not to user to not multiply the number

[2014-12-31 13:06] ybofr opened #491 "Preventive maintenance: very unclear"
Hello,

It's very unclear what is meant with the cycles and how it works.

Please provide some explanation for proper testing.